Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Update runAllTests.ts
  packages/test-harness/src/runAllTests.ts
Due: eslint

Update index.ts
  packages/test-harness/src/index.ts
Due: eslint

Delete dist/cursorless.nvim directory
  dist/cursorless.nvim/README.md
  dist/cursorless.nvim/assets/cursorless-snippets/.gitkeep
  dist/cursorless.nvim/lua/cursorless/cursorless.lua
  dist/cursorless.nvim/lua/cursorless/init.lua
  dist/cursorless.nvim/lua/cursorless/utils.lua
  dist/cursorless.nvim/node/command-server/command-server/out/index.cjs
  dist/cursorless.nvim/node/command-server/command-server/package.json
  dist/cursorless.nvim/node/command-server/out/index.cjs
  dist/cursorless.nvim/node/command-server/package.json
  dist/cursorless.nvim/node/cursorless-neovim/out/index.cjs
  dist/cursorless.nvim/node/cursorless-neovim/package.json
  dist/cursorless.nvim/node/test-harness/out/index.cjs
  dist/cursorless.nvim/node/test-harness/package.json
  dist/cursorless.nvim/vim/cursorless.vim
Due: none

Update populate-cursorless-nvim.sh
  packages/test-harness/scripts/populate-cursorless-nvim.sh
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Update package.json
  packages/cursorless-neovim/package.json
Due: none

Update launchNeovimAndRunTests.ts
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

Update init.lua
  cursorless.nvim/lua/cursorless/init.lua
Due: none

Updates
  data/fixtures/recorded/languages/c/clearFunk.yml
  data/fixtures/recorded/languages/cpp/takeFunk.yml
  data/fixtures/recorded/languages/cpp/takeFunk2.yml
  data/fixtures/scopes/c/name.argument.formal.scope
  data/fixtures/scopes/c/name.argument.formal2.scope
  data/fixtures/scopes/c/namedFunction.scope
  data/fixtures/scopes/c/namedFunction2.scope
  data/fixtures/scopes/c/value.variable.scope
  data/fixtures/scopes/cpp/name.argument.formal.scope
  data/fixtures/scopes/cpp/value.argument.formal.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/cpp.ts
  queries/c.scm
  queries/cpp.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added iteration
  data/fixtures/scopes/c/name.argument.formal.iteration.scope
  data/fixtures/scopes/c/name.argument.formal.iteration2.scope
  data/fixtures/scopes/c/value.argument.formal.iteration2.scope
  data/fixtures/scopes/cpp/name.argument.formal.iteration.scope
  data/fixtures/scopes/cpp/value.argument.formal.iteration.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/cpp.ts
  queries/c.scm
Due: eslint

Latex scope migration
  packages/cursorless-engine/src/languages/latex.ts
  queries/latex.scm
Due: eslint

clean up
  queries/latex.scm
Due: none

php scope migration
  packages/cursorless-engine/src/languages/php.ts
  queries/php.scm
Due: eslint

Ruby scope migration
  packages/cursorless-engine/src/languages/ruby.ts
  queries/ruby.scm
Due: eslint

try other node version
  .github/workflows/test.yml
Due: none

Rust scope migration
  packages/cursorless-engine/src/languages/rust.ts
  queries/rust.scm
Due: eslint

scala scope migration
  packages/cursorless-engine/src/languages/scala.ts
  queries/scala.scm
Due: eslint

migrate name
  data/fixtures/recorded/languages/scss/changeName2.yml
  packages/cursorless-engine/src/languages/scss.ts
  queries/css.scm
  queries/scss.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added try branch for java
  data/fixtures/scopes/java/branch.if.iteration.scope
  data/fixtures/scopes/java/branch.if.scope
  data/fixtures/scopes/java/branch.try.iteration.scope
  data/fixtures/scopes/java/branch.try.scope
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/java.scm
Due: eslint

csharp migrate classname
  data/fixtures/scopes/csharp/className.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/cursorless-engine/src/languages/csharp.ts
  queries/csharp.scm
Due: eslint

Cleanup
  queries/scala.scm
Due: none

Cleanup3#
  queries/rust.scm
Due: none

Cleanup
  queries/css.scm
  queries/scss.scm
Due: none

cleanup
  queries/c.scm
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
