Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Use phrasing hit instead of exit
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Update cursorless-talon/src/cheatsheet/sections/scopes.py
  cursorless-talon/src/cheatsheet/sections/scopes.py
Due: none

Update packages/cursorless-org-docs/src/docs/user/README.md
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Use containing scope stage in preferred scope stage (#2639)
  data/fixtures/recorded/modifiers/preferredScope/clearItem.yml
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added cheatsheet description for short block (#2644)
  cursorless-talon/src/cheatsheet/sections/scopes.py
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Added cheatsheet description for short block (#2644)
  src/cheatsheet/sections/scopes.py
Due: none

Support arbitrary scope and insertion delimiter for drop, float and puff
  data/fixtures/recorded/actions/insertEmptyLines/floatThis.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis10.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis2.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis3.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis4.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis5.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis6.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis7.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis8.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis9.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis10.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis11.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis19.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis2.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis20.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis3.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis4.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis5.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis6.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis7.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis8.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis9.yml
  packages/common/src/types/GeneralizedRange.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/InsertEmptyLines.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added token tests
  data/fixtures/recorded/actions/insertEmptyLines/dropToken.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatToken.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffToken.yml
Due: format-recorded-tests, check-recorded-test-marks

Added fallback for preferred scope
  cursorless-talon/src/fallback.py
Due: none

Added fallback for preferred scope (#2648)
  cursorless-talon/src/fallback.py
Due: none

Added fallback for preferred scope (#2648)
  src/fallback.py
Due: none

cursorless_everywhere_talon: add private_cursorless_talonjs_get_response
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  packages/cursorless-everywhere-talon-core/src/registerCommands.ts
  packages/cursorless-everywhere-talon-core/src/types/talon.types.ts
Due: eslint

rework
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  packages/cursorless-everywhere-talon-core/src/registerCommands.ts
  packages/cursorless-everywhere-talon-core/src/types/talon.types.ts
Due: eslint

work around lack of object conversion using JSON
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  packages/cursorless-everywhere-talon-core/src/registerCommands.ts
Due: eslint

fix tests
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  packages/cursorless-everywhere-talon-e2e/src/quickjsTest.ts
Due: eslint

code review
  packages/cursorless-everywhere-talon-core/src/registerCommands.ts
  packages/cursorless-everywhere-talon-core/src/types/talon.types.ts
  packages/cursorless-everywhere-talon-e2e/src/quickjsTest.ts
Due: eslint

Return promise immediately
  packages/cursorless-everywhere-talon-e2e/src/quickjsTest.ts
Due: eslint

restore
  packages/cursorless-everywhere-talon-e2e/src/quickjsTest.ts
Due: eslint

Clean up
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  cursorless-everywhere-talon/cursorless_everywhere_types.py
  packages/cursorless-everywhere-talon-core/src/registerCommands.ts
  packages/cursorless-everywhere-talon-core/src/types/talon.types.ts
  packages/cursorless-everywhere-talon-e2e/src/quickjsTest.ts
Due: eslint

Use correct return value
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
Due: none

Update description
  packages/cursorless-everywhere-talon-core/src/types/talon.types.ts
Due: eslint

cursorless everywhere: add the ability to asynchronous values from Python (#2649)
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  cursorless-everywhere-talon/cursorless_everywhere_types.py
  packages/cursorless-everywhere-talon-core/src/registerCommands.ts
  packages/cursorless-everywhere-talon-core/src/types/talon.types.ts
  packages/cursorless-everywhere-talon-e2e/src/quickjsTest.ts
Due: eslint

Added the ability to remove whitespaces with `join token`
  data/fixtures/recorded/actions/joinBatPastEach.yml
  data/fixtures/recorded/actions/joinThreeTokens.yml
  data/fixtures/recorded/actions/joinTokenBattPastEach.yml
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/JoinLines.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Change default head/tail scope to be line bounded by matching pairs
  data/fixtures/recorded/headTail/changeHead.yml
  data/fixtures/recorded/headTail/changeHead2.yml
  data/fixtures/recorded/headTail/changeTail.yml
  data/fixtures/recorded/headTail/changeTail2.yml
  data/fixtures/recorded/headTail/clearHeadLine.yml
  data/fixtures/recorded/headTail/clearTailLine.yml
  packages/cursorless-engine/src/processTargets/modifiers/HeadTailStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added changelog
  changelog/2024-08-boundedHeadTail.md
Due: none

Update changelog/2024-08-boundedHeadTail.md
  changelog/2024-08-boundedHeadTail.md
Due: none

Change default head/tail scope to be line bounded by matching pairs (#2652)
  changelog/2024-08-boundedHeadTail.md
  data/fixtures/recorded/headTail/changeHead.yml
  data/fixtures/recorded/headTail/changeHead2.yml
  data/fixtures/recorded/headTail/changeTail.yml
  data/fixtures/recorded/headTail/changeTail2.yml
  data/fixtures/recorded/headTail/clearHeadLine.yml
  data/fixtures/recorded/headTail/clearTailLine.yml
  packages/cursorless-engine/src/processTargets/modifiers/HeadTailStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Clean up
  packages/cursorless-engine/src/actions/JoinLines.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint

Added changelog
  changelog/2024-08-joinTokens.md
Due: none

Update changelog/2024-08-joinTokens.md
  changelog/2024-08-joinTokens.md
Due: none

Added the ability to remove whitespaces with `join token` (#2651)
  changelog/2024-08-joinTokens.md
  data/fixtures/recorded/actions/joinBatPastEach.yml
  data/fixtures/recorded/actions/joinThreeTokens.yml
  data/fixtures/recorded/actions/joinTokenBattPastEach.yml
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/JoinLines.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added changelog
  changelog/2024-08-supportArbitraryInsertionDelimiterIndrinkFloat.md
Due: none

rename file
  changelog/2024-08-supportArbitraryInsertionDelimiterDrinkFloat.md
Due: none

Update packages/cursorless-engine/src/actions/InsertEmptyLines.ts
  packages/cursorless-engine/src/actions/InsertEmptyLines.ts
Due: eslint

Update changelog/2024-08-supportArbitraryInsertionDelimiterDrinkFloat.md
  changelog/2024-08-supportArbitraryInsertionDelimiterDrinkFloat.md
Due: none

Update 2024-08-supportArbitraryInsertionDelimiterDrinkFloat.md
  changelog/2024-08-supportArbitraryInsertionDelimiterDrinkFloat.md
Due: none

Support arbitrary scope and insertion delimiter for drop, float and puff (#2646)
  changelog/2024-08-supportArbitraryInsertionDelimiterDrinkFloat.md
  data/fixtures/recorded/actions/insertEmptyLines/dropToken.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis10.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis2.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis3.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis4.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis5.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis6.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis7.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis8.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatThis9.yml
  data/fixtures/recorded/actions/insertEmptyLines/floatToken.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis10.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis11.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis19.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis2.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis20.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis3.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis4.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis5.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis6.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis7.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis8.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffThis9.yml
  data/fixtures/recorded/actions/insertEmptyLines/puffToken.yml
  packages/common/src/types/GeneralizedRange.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/InsertEmptyLines.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
