Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Exclude leading space on match value
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/clearEveryValue.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/clearValue.yml
  queries/talon.scm
Due: format-recorded-tests, check-recorded-test-marks

Added text document to mutable capture
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
Due: eslint

Fixed conflict
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
Due: eslint

Added leading and trailing ranges to argument
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
  queries/talon.scm
Due: eslint

tweak
  cursorless-talon/src/cursorless.talon
Due: none

typo
  cursorless-talon/src/actions/swap.py
  cursorless-talon/src/cursorless.talon
Due: none

Added insertion delimiter
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/changeLeadingArg.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/changeTrailingArg.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/pourArg.yml
  queries/talon.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

cheatsheet tweaks
  cursorless-talon/src/cheatsheet/sections/actions.py
Due: none

cheatsheet
  cursorless-talon/src/cheatsheet/sections/modifiers.py
Due: none

tweak
  cursorless-talon/src/modifiers/position.py
Due: none

typo
  cursorless-talon/src/command.py
Due: none

tweak typing; docstring
  cursorless-talon/src/command.py
Due: none

dumbass fix
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
Due: eslint

Fix CI
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
Due: eslint

Fix and cleanup launch config
  .vscode/launch.json
Due: none

Fix and cleanup launch config (#1727)
  .vscode/launch.json
Due: none

Use implicit destination
  cursorless-talon/src/actions/actions.py
Due: none

Renamed wrap actions
  cursorless-talon/src/actions/wrap.py
  cursorless-talon/src/cursorless.talon
Due: none

Renamed list for insertion mode before and after
  cursorless-talon/src/cheatsheet/sections/destinations.py
  cursorless-talon/src/modifiers/position.py
  cursorless-talon/src/targets/destination.py
Due: none

Update cursorless-talon/src/targets/range_target.py
  cursorless-talon/src/targets/range_target.py
Due: none

Added range target type literal
  cursorless-talon/src/targets/range_target.py
  cursorless-talon/src/targets/target_types.py
Due: none

Document disable legacy destination tag
  cursorless-talon-dev/src/cursorless_dev.talon
  docs/user/customization.md
Due: none

improve error message
  cursorless-talon/src/targets/destination.py
Due: none

Support updated tree-sitter-talon
  queries/talon.scm
Due: none

Update cheatsheet defaults
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Due: none

Test only unique spoken forms against Talon
  packages/cursorless-engine/src/test/spokenForms.talon.test.ts
Due: eslint

Use simple syntax node for mutable query captures
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
Due: eslint

fix
  queries/talon.scm
Due: none

revert
  queries/talon.scm
Due: none

omit positions from mutable capture node
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
Due: eslint

Add support for testing our Talon api; test "phones" and "format"
  .vscode/launch.json
  cursorless-talon-dev/src/cursorless_test.talon
  cursorless-talon-dev/src/spoken_form_test.py
  cursorless-talon/src/actions/get_text.py
  packages/cursorless-engine/src/test/fixtures/multiAction.fixture.ts
  packages/cursorless-engine/src/test/fixtures/spokenFormTest.ts
  packages/cursorless-engine/src/test/fixtures/synonymousSpokenForms.fixture.ts
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
  packages/cursorless-engine/src/test/spokenForms.talon.test.ts
Due: eslint

cheatsheet: Fix square corners extending past round corners
  packages/cheatsheet/src/lib/components/CheatsheetLegendComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetListComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetNotesComponent.tsx
Due: eslint

Add support for testing our Talon api; test "phones" and "format" (#1728)
  src/actions/get_text.py
Due: none

Add support for testing our Talon api; test "phones" and "format" (#1728)
  .vscode/launch.json
  cursorless-talon-dev/src/cursorless_test.talon
  cursorless-talon-dev/src/spoken_form_test.py
  cursorless-talon/src/actions/get_text.py
  packages/cursorless-engine/src/test/fixtures/multiAction.fixture.ts
  packages/cursorless-engine/src/test/fixtures/spokenFormTest.ts
  packages/cursorless-engine/src/test/fixtures/synonymousSpokenForms.fixture.ts
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
  packages/cursorless-engine/src/test/spokenForms.talon.test.ts
Due: eslint

cheatsheet: Fix square corners extending past round corners (#1736)
  packages/cheatsheet/src/lib/components/CheatsheetLegendComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetListComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetNotesComponent.tsx
Due: eslint

remove duplicate value implementation
  queries/talon.scm
Due: none

Reverted to wildcard iteration scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/clearEveryValue4.yml
  queries/talon.scm
Due: format-recorded-tests, check-recorded-test-marks

Added test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/clearEveryValue5.yml
  queries/talon.scm
Due: format-recorded-tests, check-recorded-test-marks

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
