Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm transform-recorded-tests --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

Add vscode api mocking support
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/createVscodeApi.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/VscodeFancyRangeHighlighter.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/VscodeFancyRangeHighlighterRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/createVscodeScopeVisualizer.ts
  packages/cursorless-vscode/tsconfig.json
  packages/vscode-common/src/getExtensionApi.ts
  packages/vscode-common/src/index.ts
  packages/vscode-common/src/vscode.ts
Due: eslint

more cleanup
  packages/cursorless-engine/src/CursorlessEngineApi.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/ScopeVisualizerColorConfig.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/VscodeFancyRangeHighlighterRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeIterationVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeTargetVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/blendRangeTypeColors.ts
Due: eslint

Fix bug with changing language id
  packages/cursorless-engine/src/ScopeVisualizer/EditorScopeVisualizer.ts
  packages/cursorless-engine/src/util/PerEditor.ts
Due: eslint

more cleanup
  packages/common/src/types/GeneralizedRange.test.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/createVscodeScopeVisualizer.ts
Due: eslint

clean up validation
  packages/common/src/index.ts
  packages/common/src/types/command/ActionDescriptor.ts
  packages/common/src/types/command/CommandV6.types.ts
  packages/common/src/types/command/command.types.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeTargets.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/checkMarks.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCase.ts
  packages/cursorless-engine/src/util/getPartialTargetDescriptors.1.ts
  packages/cursorless-engine/src/util/getPrimitiveTargets.ts
Due: eslint

Implemented sentence scope (#1595)
  cursorless-talon/src/modifiers/scopes.py
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/WordScopeHandler/WordScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/WordScopeHandler/WordTokenizer.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/index.ts
  packages/cursorless-engine/src/test/fixtures/sentenceSegmeter.fixture.ts
  packages/cursorless-engine/src/test/sentenceSegmenter.test.ts
  packages/cursorless-engine/src/test/subtoken.test.ts
  packages/cursorless-engine/src/util/rangeUtils.ts
  packages/cursorless-engine/src/util/regex.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/chuckSentence.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/clearEverySentence.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/clearEverySentenceFile.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/clearSentence.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/clearSentence2.yml
  pnpm-lock.yaml
Due: eslint, format-recorded-tests

Implemented sentence scope (#1595)
  src/modifiers/scopes.py
Due: none

Add text fragments
  packages/cursorless-engine/src/languages/go.ts
  queries/go.scm
Due: eslint

cleanup tests
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/injectFakes.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicMultilineContentTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runNestedMultilineContentTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runUpdateTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/scopeVisualizer.vscode.test.ts
Due: eslint

Delete ts cache on clean
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/meta-updater/src/updatePackageJson.ts
  packages/test-harness/package.json
  packages/vscode-common/package.json
Due: eslint

More testing
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicRemovalTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runUpdateTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/scopeVisualizer.vscode.test.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDifferentiatedRanges.ts
Due: eslint

stuff
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/checkMarks.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCase.ts
  packages/cursorless-engine/src/util/getPartialTargetDescriptors.1.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
Due: eslint

Remove provider test
  packages/cursorless-vscode-e2e/src/suite/scopeProvider.vscode.test.ts
Due: eslint

Delete ts cache on clean (#1604)
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/meta-updater/src/updatePackageJson.ts
  packages/test-harness/package.json
  packages/vscode-common/package.json
Due: eslint

Add light colors
  packages/cursorless-vscode/package.json
Due: none

tidy tidy
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/processTargets/TargetPipelineRunner.ts
  packages/cursorless-engine/src/processTargets/marks/TargetMarkStage.ts
Due: eslint

stuff
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/util/getPartialTargetDescriptors.1.ts
Due: eslint

stuff2
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-engine/src/typings/TargetDescriptor.ts
Due: eslint

clean
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint

Rough draft of inference on destinations
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/inferFullTargets.ts
Due: eslint

bring move swap is working
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-engine/src/actions/actions.types.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint

update
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
Due: eslint

more changes
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/Call.ts
  packages/cursorless-engine/src/actions/CallbackAction.ts
  packages/cursorless-engine/src/actions/ExecuteCommand.ts
  packages/cursorless-engine/src/actions/Replace.ts
  packages/cursorless-engine/src/actions/actions.types.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
Due: eslint

bug fixes
  packages/common/src/types/command/ActionDescriptor.ts
  packages/common/src/types/command/command.types.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/actions/actions.types.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-engine/src/util/getPartialTargetDescriptors.1.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
Due: eslint

stuff
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-engine/src/actions/Call.ts
  packages/cursorless-engine/src/actions/Highlight.ts
  packages/cursorless-engine/src/actions/actions.types.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-engine/src/util/getPartialTargetDescriptors.1.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
Due: eslint

update snippet
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/EditNew/EditNew.ts
  packages/cursorless-engine/src/actions/EditNew/runNotebookCellTargets.ts
  packages/cursorless-engine/src/actions/InsertSnippet.ts
  packages/cursorless-engine/src/actions/PasteFromClipboard.ts
  packages/cursorless-engine/src/actions/actions.types.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-engine/src/util/getPartialTargetDescriptors.1.ts
  packages/cursorless-engine/src/util/targetUtils.ts
Due: eslint

fix
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/EditNew/EditNew.ts
Due: eslint

update
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/giveAfterDot.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/giveBeforeDot.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/testCaseRecorder/takeHarp.yml
Due: eslint, format-recorded-tests

remove tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/positions/chuckAfterWhale.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/positions/chuckBeforeWhale.yml
Due: format-recorded-tests

stuff
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/Replace.ts
  packages/cursorless-engine/src/actions/Sort.ts
  packages/cursorless-engine/src/actions/actions.types.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellDestination.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellTarget.ts
  packages/cursorless-engine/src/processTargets/targets/index.ts
  packages/cursorless-engine/src/typings/target.types.ts
  packages/cursorless-engine/src/util/getPartialTargetDescriptors.1.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/positions/takeAfterWhale.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/positions/takeBeforeWhale.yml
Due: eslint, format-recorded-tests

stuff
  packages/cursorless-engine/src/core/inferFullTargets.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/clearJustThisPastEndOfToken.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/clearJustThisPastStartOfToken.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/clearPastEndOfToken.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/clearPastStartOfToken.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/clearThisPastEndOfToken.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/clearThisPastStartOfToken.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/positions/chuckPastEndOfLine.yml
Due: eslint, format-recorded-tests

Added vertical range target
  packages/cursorless-engine/src/processTargets/TargetPipelineRunner.ts
  packages/cursorless-engine/src/processTargets/targets/VerticalRangeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/index.ts
Due: eslint

stuff
  packages/cursorless-engine/src/actions/EditNew/runInsertLineAfterTargets.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellDestination.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint

remove
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/inference/takeAfterVestPastAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/inference/takeAfterVestPastBeforeAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/inference/takeVestPastBeforeAir.yml
Due: format-recorded-tests

blob
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-engine/src/util/getPartialTargetDescriptors.1.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
Due: eslint

Update the test case recorder tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/testCaseRecorder/takeHarp.yml
  packages/cursorless-vscode-e2e/src/suite/testCaseRecorder.vscode.test.ts
Due: eslint, format-recorded-tests

Updated type destination to primitive destination
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
Due: eslint

fix
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
Due: eslint

cleanup
  packages/cursorless-vscode-e2e/src/suite/testCaseRecorder.vscode.test.ts
Due: eslint
