Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

another test
  data/fixtures/scopes/textual/boundedParagraph4.scope
Due: none

More clean up
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
Due: eslint

Added iteration scope
  data/fixtures/scopes/textual/boundedNonWhitespaceSequence.iteration.scope
  data/fixtures/scopes/textual/boundedParagraph.iteration.scope
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/textualScopeSupportFacetInfos.ts
Due: eslint

more tests
  data/fixtures/scopes/textual/boundedNonWhitespaceSequence2.scope
  data/fixtures/scopes/textual/boundedNonWhitespaceSequence3.scope
Due: none

Short block domain all the way to start of line
  data/fixtures/scopes/textual/boundedParagraph.scope
  data/fixtures/scopes/textual/boundedParagraph2.scope
  data/fixtures/scopes/textual/boundedParagraph3.scope
  data/fixtures/scopes/textual/boundedParagraph4.scope
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
Due: eslint

clean up interior scope handler
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairInteriorScopeHandler.ts
Due: eslint

remove bounded paragraph
  data/fixtures/recorded/scopes/boundedParagraph/changeShortBlock.yml
  data/fixtures/recorded/scopes/boundedParagraph/chuckShortBlock.yml
  data/fixtures/scopes/textual/boundedParagraph.iteration.scope
  data/fixtures/scopes/textual/boundedParagraph.scope
  data/fixtures/scopes/textual/boundedParagraph2.scope
  data/fixtures/scopes/textual/boundedParagraph3.scope
  data/fixtures/scopes/textual/boundedParagraph4.scope
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/textualScopeSupportFacetInfos.ts
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update packages/common/src/ide/types/KeyValueStore.ts
  packages/common/src/ide/types/KeyValueStore.ts
Due: eslint

Update packages/cursorless-tutorial/src/loadTutorial.ts
  packages/cursorless-tutorial/src/loadTutorial.ts
Due: eslint

renin
  packages/common/src/ide/fake/FakeKeyValueStore.ts
  packages/cursorless-tutorial/src/loadTutorial.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeKeyValueStore.ts
  packages/neovim-common/src/ide/neovim/NeovimKeyValueStore.ts
Due: eslint

Update packages/cursorless-everywhere-talon-core/src/README.md
  packages/cursorless-everywhere-talon-core/src/README.md
Due: none

Update packages/cursorless-everywhere-talon-core/src/polyfill.ts
  packages/cursorless-everywhere-talon-core/src/polyfill.ts
Due: eslint

Renamed from changes to edit
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  cursorless-everywhere-talon/cursorless_everywhere_talon_win.py
  packages/cursorless-everywhere-talon-core/src/ide/talonJsPerformEdits.ts
  packages/cursorless-everywhere-talon-core/src/types/talon.types.ts
  packages/cursorless-everywhere-talon-core/src/types/types.ts
  packages/cursorless-everywhere-talon-e2e/src/talonMock.ts
Due: eslint

Added iteration scope
  queries/csharp.scm
Due: none

Update scopes
  data/fixtures/scopes/csharp/name.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/type.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/value.argument.formal.iteration.scope
Due: none

Re-add boundedParagraph
  data/fixtures/recorded/scopes/boundedParagraph/changeShortBlock.yml
  data/fixtures/recorded/scopes/boundedParagraph/chuckShortBlock.yml
  data/fixtures/scopes/textual/boundedParagraph.iteration.scope
  data/fixtures/scopes/textual/boundedParagraph.scope
  data/fixtures/scopes/textual/boundedParagraph2.scope
  data/fixtures/scopes/textual/boundedParagraph3.scope
  data/fixtures/scopes/textual/boundedParagraph4.scope
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/textualScopeSupportFacetInfos.ts
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Fix boundedParagraph
  data/fixtures/scopes/textual/boundedParagraph.iteration.scope
  data/fixtures/scopes/textual/boundedParagraph.scope
  data/fixtures/scopes/textual/boundedParagraph2.scope
  data/fixtures/scopes/textual/boundedParagraph4.scope
  data/fixtures/scopes/textual/boundedParagraph5.scope
  data/fixtures/scopes/textual/boundedParagraph6.scope
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/targets/BoundedParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/InteriorTarget.ts
  packages/cursorless-engine/src/processTargets/targets/index.ts
Due: eslint

add tests and spoken forms
  cursorless-talon/src/spoken_forms.json
  data/fixtures/recorded/scopes/boundedParagraph/changeThreeShortBlocks.yml
  data/fixtures/recorded/scopes/boundedParagraph/changeTwoShortBlocks.yml
  data/fixtures/recorded/scopes/boundedParagraph/changeTwoShortBlocks2.yml
  data/fixtures/recorded/scopes/boundedParagraph/chuckShortBlockBatPastHarp.yml
  data/fixtures/recorded/scopes/boundedParagraph/chuckThreeShortBlocks.yml
  data/fixtures/recorded/scopes/boundedParagraph/chuckTwoShortBlocks.yml
  data/fixtures/recorded/scopes/boundedParagraph/chuckTwoShortBlocks2.yml
Due: format-recorded-tests, check-recorded-test-marks

change order
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedScopeHandler.ts
Due: eslint

reset executable bit
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedScopeHandler.ts
Due: eslint

add docstrings
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  packages/cursorless-everywhere-talon-core/src/types/types.ts
Due: eslint

Migrate csharp scopes (#2469)
  data/fixtures/recorded/languages/csharp/chuckTypeSoon.yml
  data/fixtures/recorded/languages/csharp/chuckTypeSoon2.yml
  data/fixtures/recorded/languages/csharp/chuckValue.yml
  data/fixtures/recorded/languages/csharp/clearName.yml
  data/fixtures/recorded/languages/csharp/clearName2.yml
  data/fixtures/recorded/languages/csharp/clearName3.yml
  data/fixtures/recorded/languages/csharp/clearValue.yml
  data/fixtures/recorded/languages/csharp/clearValue2.yml
  data/fixtures/recorded/languages/csharp/clearValue3.yml
  data/fixtures/scopes/csharp/argument.actual.iteration.scope
  data/fixtures/scopes/csharp/argument.actual.scope
  data/fixtures/scopes/csharp/argument.formal.iteration.scope
  data/fixtures/scopes/csharp/argument.formal.scope
  data/fixtures/scopes/csharp/key.mapPair.iteration.scope
  data/fixtures/scopes/csharp/key.mapPair.scope
  data/fixtures/scopes/csharp/list.scope
  data/fixtures/scopes/csharp/map.scope
  data/fixtures/scopes/csharp/name.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/name.argument.formal.scope
  data/fixtures/scopes/csharp/name.assignment.scope
  data/fixtures/scopes/csharp/name.assignment2.scope
  data/fixtures/scopes/csharp/name.variable.scope
  data/fixtures/scopes/csharp/type.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/type.argument.formal.scope
  data/fixtures/scopes/csharp/type.variable.scope
  data/fixtures/scopes/csharp/value.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/value.argument.formal.scope
  data/fixtures/scopes/csharp/value.assignment.scope
  data/fixtures/scopes/csharp/value.mapPair.iteration.scope
  data/fixtures/scopes/csharp/value.mapPair.scope
  data/fixtures/scopes/csharp/value.variable.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/csharp.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  queries/csharp.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Rename `State` to `KeyValueStore` (#2535)
  packages/common/src/ide/PassthroughIDEBase.ts
  packages/common/src/ide/fake/FakeGlobalState.ts
  packages/common/src/ide/fake/FakeIDE.ts
  packages/common/src/ide/fake/FakeKeyValueStore.ts
  packages/common/src/ide/normalized/NormalizedIDE.ts
  packages/common/src/ide/types/KeyValueStore.ts
  packages/common/src/ide/types/ide.types.ts
  packages/common/src/index.ts
  packages/cursorless-tutorial/src/TutorialImpl.ts
  packages/cursorless-tutorial/src/loadTutorial.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeKeyValueStore.ts
  packages/neovim-common/src/ide/neovim/NeovimGlobalState.ts
  packages/neovim-common/src/ide/neovim/NeovimIDE.ts
  packages/neovim-common/src/ide/neovim/NeovimKeyValueStore.ts
  packages/neovim-common/src/index.ts
Due: eslint

Added `boundedNonWhitespaceSequence` scope handler (#2595)
  src/spoken_forms.json
Due: none

Added `boundedNonWhitespaceSequence` scope handler (#2595)
  cursorless-talon/src/spoken_forms.json
  data/fixtures/recorded/scopes/boundedNonWhitespaceSequence/changeNextShortPaint.yml
  data/fixtures/recorded/scopes/boundedParagraph/changeShortBlock.yml
  data/fixtures/recorded/scopes/boundedParagraph/changeThreeShortBlocks.yml
  data/fixtures/recorded/scopes/boundedParagraph/changeTwoShortBlocks.yml
  data/fixtures/recorded/scopes/boundedParagraph/changeTwoShortBlocks2.yml
  data/fixtures/recorded/scopes/boundedParagraph/chuckShortBlock.yml
  data/fixtures/recorded/scopes/boundedParagraph/chuckShortBlockBatPastHarp.yml
  data/fixtures/recorded/scopes/boundedParagraph/chuckThreeShortBlocks.yml
  data/fixtures/recorded/scopes/boundedParagraph/chuckTwoShortBlocks.yml
  data/fixtures/recorded/scopes/boundedParagraph/chuckTwoShortBlocks2.yml
  data/fixtures/scopes/textual/boundedNonWhitespaceSequence.iteration.scope
  data/fixtures/scopes/textual/boundedNonWhitespaceSequence.scope
  data/fixtures/scopes/textual/boundedNonWhitespaceSequence2.scope
  data/fixtures/scopes/textual/boundedNonWhitespaceSequence3.scope
  data/fixtures/scopes/textual/boundedParagraph.iteration.scope
  data/fixtures/scopes/textual/boundedParagraph.scope
  data/fixtures/scopes/textual/boundedParagraph2.scope
  data/fixtures/scopes/textual/boundedParagraph3.scope
  data/fixtures/scopes/textual/boundedParagraph4.scope
  data/fixtures/scopes/textual/boundedParagraph5.scope
  data/fixtures/scopes/textual/boundedParagraph6.scope
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/textualScopeSupportFacetInfos.ts
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairInteriorScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/index.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/BoundedNonWhitespaceStage.ts
  packages/cursorless-engine/src/processTargets/targets/BoundedParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/InteriorTarget.ts
  packages/cursorless-engine/src/processTargets/targets/index.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

merge
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsIDE.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsKeyValueStore.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsState.ts
Due: eslint

Switch delimiter side to enum
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getIndividualDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
Due: eslint

Initial work towards next-gen collectionItem
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/getCollectionItemOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterRegex.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
Due: eslint

Attempt to make tutorial test more robust
  packages/cursorless-vscode-e2e/src/suite/tutorial/tutorial.vscode.test.ts
Due: eslint

tutorial: Handle case where user has disabled a hat
  packages/cursorless-engine/src/index.ts
  packages/cursorless-tutorial/src/TutorialImpl.ts
  packages/cursorless-tutorial/src/TutorialStepParser.ts
  packages/cursorless-tutorial/src/loadTutorial.ts
  packages/cursorless-tutorial/src/stepComponentParsers/CursorlessCommandComponentParser.ts
  packages/cursorless-vscode/src/createTutorial.ts
  packages/cursorless-vscode/src/extension.ts
Due: eslint

Attempt to make tutorial test more robust (#2601)
  packages/cursorless-vscode-e2e/src/suite/tutorial/tutorial.vscode.test.ts
Due: eslint

tutorial: Handle case where user has disabled a hat (#2603)
  packages/cursorless-engine/src/index.ts
  packages/cursorless-tutorial/src/TutorialImpl.ts
  packages/cursorless-tutorial/src/TutorialStepParser.ts
  packages/cursorless-tutorial/src/loadTutorial.ts
  packages/cursorless-tutorial/src/stepComponentParsers/CursorlessCommandComponentParser.ts
  packages/cursorless-vscode/src/createTutorial.ts
  packages/cursorless-vscode/src/extension.ts
Due: eslint

Fix type
  packages/cursorless-everywhere-talon-e2e/src/types/std.d.ts
  packages/cursorless-everywhere-talon-e2e/tsconfig.json
Due: eslint

merge
  packages/cursorless-engine/src/actions/IndentLine.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsCapabilities.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsEditor.ts
Due: eslint

Clean up #2603
  packages/cursorless-tutorial/src/stepComponentParsers/CursorlessCommandComponentParser.ts
Due: eslint

Clean up #2603 (#2605)
  packages/cursorless-tutorial/src/stepComponentParsers/CursorlessCommandComponentParser.ts
Due: eslint

Fixes
  packages/cursorless-engine/src/core/HatAllocator.ts
  packages/cursorless-engine/src/core/HatTokenMapImpl.ts
  packages/cursorless-engine/src/util/allocateHats/allocateHats.ts
  packages/cursorless-engine/src/util/allocateHats/chooseTokenHat.ts
  packages/cursorless-engine/src/util/allocateHats/getHatRankingContext.ts
  packages/cursorless-engine/src/util/allocateHats/getRankedTokens.ts
Due: eslint

Make hat forcing more aggressive
  packages/common/src/types/HatTokenMap.ts
  packages/cursorless-engine/src/core/HatAllocator.ts
  packages/cursorless-engine/src/core/HatTokenMapImpl.ts
  packages/cursorless-engine/src/util/allocateHats/allocateHats.ts
  packages/cursorless-engine/src/util/allocateHats/chooseTokenHat.ts
  packages/cursorless-engine/src/util/allocateHats/getHatRankingContext.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
