Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/rwxcorp/pre-commit-lua.git
    rev: v1.0.0
    hooks:
      - id: stylua
      - id: luacheck

cleanup
  packages/cursorless-vscode-e2e/src/suite/serializeTargetRange.ts
Due: eslint

fix warnings in cursorless_spec.lua
  .vscode/settings.json
Due: none

add command-server readme
  cursorless.nvim/node/command-server/README.md
Due: none

fix: ignore lua playground files
  .vscode/settings.json
Due: none

fix: Remove lua warnings from playground
  data/playground/lua/lua.lua
Due: none

Update launch name
  .vscode/launch.json
Due: none

clean up
  packages/cursorless-everywhere-talon/src/types/Global.d.ts
Due: eslint

renamed context
  packages/cursorless-everywhere-talon-core/src/registerCommands.ts
  packages/cursorless-everywhere-talon-core/src/types/talon.types.ts
  packages/cursorless-everywhere-talon-e2e/src/talonMock.ts
  packages/cursorless-everywhere-talon/src/extension.ts
Due: eslint

fix name
  packages/cursorless-everywhere-talon-e2e/src/talonMock.ts
Due: eslint

Added failing test
  data/fixtures/recorded/surroundingPair/parseTree/changePair.yml
Due: format-recorded-tests, check-recorded-test-marks

fix: Add -r to rm commands in populate-dist.sh
  packages/cursorless-neovim/scripts/populate-dist.sh
Due: none

fix(nix): add pkgs to fix broken devshell
  flake.nix
Due: none

Improve deploy
  scripts/deploy-cursorless-nvim.sh
Due: none

Fix mac shortcut
  cursorless.nvim/lua/cursorless/config.lua
  cursorless.nvim/lua/cursorless/utils.lua
Due: none

readme
  cursorless.nvim/node/command-server/README.md
Due: none

REMOVE ME: Break things to see if CI catches it
  packages/neovim-common/src/ide/neovim/NeovimEdit.ts
Due: eslint

Switch all lint warnings to errors
  .eslintrc.json
Due: none

add ignore
  .eslintrc.json
Due: none

Revert "REMOVE ME: Break things to see if CI catches it"
  packages/neovim-common/src/ide/neovim/NeovimEdit.ts
Due: eslint

fix deploy
  scripts/deploy-cursorless-nvim.sh
Due: none

Add global pre-commit exclude for `data/playground`
  .pre-commit-config.yaml
Due: none

refactor: lint warnings
  packages/cursorless-neovim-e2e/src/suite/recorded.neovim.test.ts
  packages/neovim-common/src/ide/neovim/NeovimEdit.ts
  packages/neovim-common/src/ide/neovim/NeovimEvents.ts
  packages/neovim-common/src/ide/neovim/NeovimTextEditorImpl.ts
  packages/neovim-common/src/neovimHelpers.ts
  packages/neovim-common/src/testUtil/openNewEditor.ts
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

Switch all lint warnings to errors (#2580)
  .eslintrc.json
Due: none

Added is unknown boolean to delimiter map
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getIndividualDelimiters.ts
Due: eslint

Try to fix neovim deploy
  .github/workflows/deploy.yaml
Due: none

Try to fix neovim deploy (#2583)
  .github/workflows/deploy.yaml
Due: none

tweak tests
  data/fixtures/recorded/surroundingPair/parseTree/python/changePair.yml
  data/fixtures/recorded/surroundingPair/parseTree/python/changePair2.yml
Due: format-recorded-tests, check-recorded-test-marks

tweak
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
Due: eslint

tweak
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
Due: eslint

Cleanup
  packages/cursorless-engine/src/languages/TreeSitterQuery/isContainedInErrorNode.ts
Due: eslint

docstrings
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
Due: eslint

More tweaks
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getIndividualDelimiters.ts
Due: eslint

docs
  packages/cursorless-vscode-e2e/src/suite/serializeScopeFixture.ts
Due: eslint

make start indent more robust
  packages/cursorless-vscode-e2e/src/suite/serializeTargetRange.ts
Due: eslint

more robustness
  packages/cursorless-vscode-e2e/src/suite/serializeTargetRange.ts
Due: eslint

neovim: Another attempt to fix deploy
  .github/workflows/deploy.yaml
  scripts/deploy-cursorless-nvim.sh
Due: none

tweaks
  .github/workflows/deploy.yaml
  scripts/deploy-cursorless-nvim.sh
Due: none

neovim: Another attempt to fix deploy (#2585)
  .github/workflows/deploy.yaml
  scripts/deploy-cursorless-nvim.sh
Due: none

Change iteration scope to line
  data/fixtures/scopes/textual/surroundingPair.iteration.scope
  data/fixtures/scopes/textual/surroundingPair.iteration2.scope
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-vscode-e2e/src/suite/serializeTargetRange.ts
Due: eslint
