Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

Stop publishing API docs
  .gitignore
  packages/cursorless-org-docs/docusaurus.config.js
  packages/cursorless-org-docs/typedoc.js
Due: none

fix broken docs link
  docs/contributing/CONTRIBUTING.md
Due: none

Remove links to api docs
  docs/contributing/test-case-recorder.md
  packages/cursorless-engine/src/testCaseRecorder/RecordTestCaseCommandArg.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
Due: eslint

`RecordTestCaseCommandArg` => `RecordTestCaseCommandOptions`
  docs/contributing/test-case-recorder.md
  packages/cursorless-engine/src/testCaseRecorder/RecordTestCaseCommandOptions.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
Due: eslint

more tweaks
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
Due: eslint

Improve unsubscribe
  cursorless-talon/src/marks/mark.py
  cursorless-talon/src/spoken_forms.py
Due: none

Update tests
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
  packages/cursorless-engine/src/test/fixtures/sentenceSegmeter.fixture.ts
Due: eslint

change presentation mode for task
  .vscode/tasks.json
Due: none

Add task to edit subset file
  .vscode/tasks.json
Due: none

Updates
  cursorless-talon/src/marks/mark.py
  cursorless-talon/src/spoken_forms.json
  cursorless-talon/src/spoken_forms.py
Due: none

Added issue comment
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
Due: eslint

Stop publishing API docs (#1750)
  .gitignore
  docs/contributing/CONTRIBUTING.md
  docs/contributing/test-case-recorder.md
  packages/cursorless-engine/src/testCaseRecorder/RecordTestCaseCommandOptions.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
  packages/cursorless-org-docs/docusaurus.config.js
  packages/cursorless-org-docs/typedoc.js
Due: eslint

update comment
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
Due: eslint

upp
  cursorless-talon/src/paired_delimiter.py
  cursorless-talon/src/spoken_forms.json
  cursorless-talon/src/spoken_forms.py
Due: none

cleanup
  cursorless-talon/src/actions/wrap.py
  cursorless-talon/src/modifiers/surrounding_pair.py
  cursorless-talon/src/paired_delimiter.py
Due: none

support comments in empty Go maps/lists
  data/playground/go/maps_and_lists.go
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListCap2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeMapCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeMapCap2.yml
  queries/go.scm
Due: format-recorded-tests, check-recorded-test-marks

migrate Go func, func name, and lambda to treesitter
  data/playground/go/funcs.go
  packages/cursorless-engine/src/languages/go.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkBat2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkFine2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkFine3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkGust.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkNameBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkNameBat2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkNameFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeLambdaFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeLambdaSun.yml
  queries/go.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

fix tests
  packages/cursorless-engine/src/core/IndividualHatMap.ts
  packages/cursorless-vscode-e2e/src/suite/breakpoints.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/hatTokenMap/takeEach.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/testCaseRecorder/takeEach.yml
  packages/cursorless-vscode-e2e/src/suite/intraCellSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/pourAcrossSplit.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/testCaseRecorder.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/wrapWithSnippetAcrossSplit.vscode.test.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Try to be fancy with csv
  cursorless-talon/src/spoken_forms.json
  cursorless-talon/src/spoken_forms.py
Due: none

tweak
  cursorless-talon/src/spoken_forms.py
Due: none

whoops
  cursorless-talon/src/spoken_forms.py
Due: none

Run `pnpm dedupe` (#1746)
  pnpm-lock.yaml
Due: none

Bump docusaurus to `3.0.0-alpha.0`
  package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org-docs/tsconfig.json
  packages/meta-updater/package.json
  packages/meta-updater/src/updateTSConfig.ts
  pnpm-lock.yaml
Due: eslint

docstring
  cursorless-talon/src/spoken_forms.py
Due: none

Try to be fancy with csv (#1757)
  cursorless-talon/src/spoken_forms.json
  cursorless-talon/src/spoken_forms.py
Due: none

Bump docusaurus to `3.0.0-alpha.0` (#1745)
  package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org-docs/tsconfig.json
  packages/meta-updater/package.json
  packages/meta-updater/src/updateTSConfig.ts
  pnpm-lock.yaml
Due: eslint

Move default spoken forms to json file (#1738)
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/actions_callback.py
  cursorless-talon/src/actions/actions_custom.py
  cursorless-talon/src/actions/actions_simple.py
  cursorless-talon/src/actions/wrap.py
  cursorless-talon/src/connective.py
  cursorless-talon/src/marks/lines_number.py
  cursorless-talon/src/marks/mark.py
  cursorless-talon/src/modifiers/head_tail.py
  cursorless-talon/src/modifiers/interior.py
  cursorless-talon/src/modifiers/modifiers.py
  cursorless-talon/src/modifiers/ordinal_scope.py
  cursorless-talon/src/modifiers/position.py
  cursorless-talon/src/modifiers/relative_scope.py
  cursorless-talon/src/modifiers/scopes.py
  cursorless-talon/src/modifiers/simple_scope_modifier.py
  cursorless-talon/src/modifiers/surrounding_pair.py
  cursorless-talon/src/paired_delimiter.py
  cursorless-talon/src/scope_visualizer.py
  cursorless-talon/src/snippets.py
  cursorless-talon/src/spoken_forms.json
  cursorless-talon/src/spoken_forms.py
  cursorless-talon/src/targets/range_type.py
Due: none

Move default spoken forms to json file (#1738)
  src/actions/actions.py
  src/actions/actions_callback.py
  src/actions/actions_custom.py
  src/actions/actions_simple.py
  src/actions/wrap.py
  src/connective.py
  src/marks/lines_number.py
  src/marks/mark.py
  src/modifiers/head_tail.py
  src/modifiers/interior.py
  src/modifiers/modifiers.py
  src/modifiers/ordinal_scope.py
  src/modifiers/position.py
  src/modifiers/relative_scope.py
  src/modifiers/scopes.py
  src/modifiers/simple_scope_modifier.py
  src/modifiers/surrounding_pair.py
  src/paired_delimiter.py
  src/scope_visualizer.py
  src/snippets.py
  src/spoken_forms.json
  src/spoken_forms.py
  src/targets/range_type.py
Due: none

Update comment
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
Due: eslint

Update tests#
  packages/cursorless-engine/src/test/fixtures/sentenceSegmeter.fixture.ts
Due: eslint

Remove typedoc dependencies
  packages/cursorless-org-docs/package.json
  pnpm-lock.yaml
Due: none

Break sentence scope on [.!?] (#1747)
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
  packages/cursorless-engine/src/test/fixtures/sentenceSegmeter.fixture.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/changeEverySentence.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Remove typedoc dependencies (#1758)
  packages/cursorless-org-docs/package.json
  pnpm-lock.yaml
Due: none

bump pnpm to 8.6.12
  package.json
Due: none

Add `--update` arg to `init-launch-sandbox`
  docs/contributing/CONTRIBUTING.md
  packages/cursorless-vscode/src/scripts/initLaunchSandbox.ts
Due: eslint

upgrade typescript to 5.1.6
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Due: none

Refactored decorated marks into separate file
  cursorless-talon/src/marks/decorated_mark.py
  cursorless-talon/src/marks/mark.py
  cursorless-talon/src/spoken_forms.py
Due: none

create capture
  cursorless-talon/src/marks/mark.py
Due: none

reformat
  cursorless-talon/src/marks/mark.py
Due: none

upgrade typescript to 5.1.6 (#1761)
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Due: none
