Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

Show keys pressed
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModalLayer.ts
Due: eslint

cleanup
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
Due: eslint

migrate typescript argument
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/ItemStage.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  queries/javascript.core.scm
  queries/markdown.scm
Due: eslint

Added the comment
  queries/javascript.core.scm
Due: none

Added comments
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
Due: eslint

Exclude comments
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeEveryArg.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeEveryArg2.yml
  queries/javascript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Use trie
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModalLayer.ts
  packages/cursorless-vscode/src/keyboard/buildSuffixTrie.test.ts
  packages/cursorless-vscode/src/keyboard/buildSuffixTrie.ts
  pnpm-lock.yaml
Due: eslint

Added tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/cloneItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/cloneUpItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/drinkItem2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/pourItem3.yml
Due: format-recorded-tests, check-recorded-test-marks

Introduced insertion range
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/typings/target.types.ts
  queries/markdown.scm
  queries/yaml.scm
Due: eslint

Update docs/user/customization.md
  docs/user/customization.md
Due: none

Add railroad to website
  packages/cursorless-vscode/package.json
  scripts/build-and-assemble-website.sh
Due: none

tweak
  packages/cursorless-vscode/package.json
  scripts/build-and-assemble-website.sh
Due: none

rename
  packages/cursorless-vscode/src/keyboard/KeyboardCommandHandler.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

improve WorkQueue
  packages/cursorless-vscode/src/keyboard/grammar/WorkQueue.ts
Due: eslint

Use uniqWithHash
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/util/uniqWithHash.test.ts
  packages/common/src/util/uniqWithHash.ts
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/processTargets/TargetPipelineRunner.ts
  packages/cursorless-engine/src/util/setSelectionsAndFocusEditor.ts
  packages/cursorless-vscode/src/keyboard/grammar/getAcceptableTokenTypes.ts
  pnpm-lock.yaml
Due: eslint

use `|`
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
Due: eslint

relative => nextPrev
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
  packages/cursorless-vscode/src/keyboard/grammar/grammar.test.ts
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: eslint

Fix mark down and yaml it them removal range
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/DelimitedSequenceInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/changeLeadingItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/changeTrailingItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/chuckItem3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/chuckItem4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/chuckItem5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/yaml/changeLeadingItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/yaml/changeTrailingItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/yaml/chuckItem10.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/yaml/chuckItem11.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/yaml/chuckItem9.yml
  queries/markdown.scm
  queries/yaml.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Use proper sentinel values
  packages/cursorless-vscode/src/keyboard/grammar/CommandRulePostProcessor.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/getAcceptableTokenTypes.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
  packages/cursorless-vscode/src/keyboard/grammar/grammarHelpers.ts
Due: eslint

docs
  packages/cursorless-vscode/src/keyboard/grammar/grammarHelpers.ts
Due: eslint

more cleanup
  packages/cursorless-vscode/src/keyboard/grammar/lexer.ts
Due: eslint

lexer => keyboardLexer
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
  packages/cursorless-vscode/src/keyboard/grammar/keyboardLexer.ts
Due: eslint

Remove defaultKeyMap as we have no current use case
  packages/cursorless-vscode/src/keyboard/KeyboardConfig.ts
  packages/cursorless-vscode/src/keyboard/TokenTypeHelpers.ts
  packages/cursorless-vscode/src/keyboard/defaultKeymaps.ts
Due: eslint

improve clarity
  packages/cursorless-vscode/src/keyboard/KeyboardConfig.ts
Due: eslint

Remove `getSingularSectionEntry`
  packages/cursorless-vscode/src/keyboard/KeyboardConfig.ts
  packages/cursorless-vscode/src/keyboard/TokenTypeHelpers.ts
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.test.ts
Due: eslint

Make config sections singular
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/keyboard/KeyboardConfig.ts
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
Due: eslint

Fix dependency spec
  packages/cursorless-vscode/package.json
  pnpm-lock.yaml
Due: none

Tweaks
  packages/cursorless-vscode/src/keyboard/KeyboardConfig.ts
Due: eslint

Cache layers
  packages/common/src/util/CompositeKeyMap.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/buildSuffixTrie.ts
Due: eslint

Finish plural => singular
  docs/user/experimental/keyboard/modal.md
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: none

Update doc
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
Due: eslint

Change insertion range to extended content range
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/DelimitedSequenceInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/typings/target.types.ts
  queries/markdown.scm
  queries/yaml.scm
Due: eslint

One more test
  packages/cursorless-vscode/src/keyboard/buildSuffixTrie.test.ts
Due: eslint

Support `/` on windows for fixtures grep (#2049)
  packages/common/src/testUtil/getFixturePaths.ts
Due: eslint

Remove jsx attribute from item scope (#2039)
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/html.ts
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/html/clearEveryItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/html/clearItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/jsx/changeEveryItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/jsx/changeItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearEveryItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearItem4.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/everyScope/changeEveryLine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/modifiers/everyScope/clearEveryLine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/selectionTypes/takeEveryLine.yml
Due: format-recorded-tests, check-recorded-test-marks
