Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Migrate python collection item scope (#2450)
  data/fixtures/recorded/languages/python/chuckItem.yml
  data/fixtures/recorded/languages/python/clearEveryItem.yml
  data/fixtures/recorded/languages/python/clearEveryItem2.yml
  data/fixtures/scopes/python/collectionItem.unenclosed.iteration.scope
  data/fixtures/scopes/python/collectionItem.unenclosed.iteration2.scope
  data/fixtures/scopes/python/collectionItem.unenclosed.iteration3.scope
  data/fixtures/scopes/python/collectionItem.unenclosed.scope
  data/fixtures/scopes/python/collectionItem.unenclosed2.scope
  data/fixtures/scopes/python/collectionItem.unenclosed3.scope
  data/fixtures/scopes/python/collectionItem.unenclosed4.scope
  data/fixtures/scopes/python/collectionItem.unenclosed5.scope
  data/fixtures/scopes/python/collectionItem.unenclosed6.scope
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/python.ts
  queries/python.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Make arguments to engine optional
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/ShowParseTree.ts
  packages/cursorless-engine/src/core/Debug.ts
  packages/cursorless-engine/src/core/HatTokenMapImpl.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/getCommandFallback.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/nodeCommon/TalonSpokenFormsJsonReader.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/LegacyContainingSyntaxScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/index.ts
  packages/cursorless-engine/src/runCommand.ts
  packages/cursorless-engine/src/runIntegrationTests.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
  packages/cursorless-vscode/src/extension.ts
  packages/vscode-common/src/getExtensionApi.ts
Due: eslint

clean up
  packages/cursorless-engine/src/core/Debug.ts
Due: eslint

Fix
  packages/cursorless-engine/src/core/Debug.ts
Due: eslint

clean up
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/index.ts
Due: eslint

Pass snippets as argument to engine
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/InsertSnippet.ts
  packages/cursorless-engine/src/actions/WrapWithSnippet.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/core/Snippets.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-engine/src/runCommand.ts
  packages/cursorless-vscode/src/VscodeSnippets.ts
  packages/cursorless-vscode/src/extension.ts
Due: eslint

Refactor command history to remove node dependencies from engine
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
  packages/cursorless-engine/src/asyncIteratorToList.ts
  packages/cursorless-vscode/src/VscodeCommandHistory.ts
  packages/cursorless-vscode/src/analyzeVscodeCommandHistory.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

Replace path with pathe
  packages/common/package.json
  packages/common/src/testUtil/getFixturePaths.ts
  packages/common/src/util/walkAsync.ts
  packages/common/src/util/walkSync.ts
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/ScopeTestRecorder.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/openNewSnippetFile.ts
  packages/cursorless-engine/src/actions/ShowParseTree.ts
  packages/cursorless-engine/src/core/Cheatsheet.ts
  packages/cursorless-engine/src/core/Snippets.ts
  packages/cursorless-engine/src/generateCommandHistoryEntries.ts
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/nodeCommon/TalonSpokenFormsJsonReader.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/moveFile.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFileSystem.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
  packages/cursorless-vscode/src/scripts/populateDist/populateDist.ts
  packages/cursorless-vscode/src/scripts/preprocessSvgHats.ts
  packages/test-harness/package.json
  packages/test-harness/src/launchVscodeAndRunTests.ts
  packages/test-harness/src/runAllTests.ts
  packages/test-harness/src/scripts/runTestsCI.ts
  packages/test-harness/src/testSubset.ts
  pnpm-lock.yaml
Due: eslint

Extract cheatsheet into separate package
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-cheatsheet/src/Cheatsheet.ts
  packages/cursorless-cheatsheet/src/index.ts
  packages/cursorless-cheatsheet/tsconfig.json
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/index.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/registerCommands.ts
  pnpm-lock.yaml
  tsconfig.json
Due: eslint

meta updater
  packages/cursorless-vscode/tsconfig.json
  tsconfig.json
Due: none

Rename
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

Added support for python pattern list as collection item
  data/fixtures/scopes/python/collectionItem.unenclosed.iteration4.scope
  data/fixtures/scopes/python/collectionItem.unenclosed7.scope
  queries/python.scm
Due: none

Update tests
  data/fixtures/scopes/python/collectionItem.unenclosed.iteration4.scope
  data/fixtures/scopes/python/collectionItem.unenclosed7.scope
Due: none

Restructure
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-engine/src/nodeCommon/README.md
  packages/cursorless-engine/src/scopeProviders/TalonSpokenForms.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/tsconfig.json
  packages/node-common/package.json
  packages/node-common/src/TalonSpokenFormsJsonReader.ts
  packages/node-common/src/index.ts
  packages/node-common/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint

create vscode Talon spoken forms
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTalonSpokenForms.ts
  packages/cursorless-vscode/tsconfig.json
  packages/node-common/package.json
  packages/node-common/src/index.ts
  packages/node-common/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint

Added support for python pattern list as collection item (#2483)
  data/fixtures/scopes/python/collectionItem.unenclosed.iteration4.scope
  data/fixtures/scopes/python/collectionItem.unenclosed7.scope
  queries/python.scm
Due: none

Added file system package
  packages/cursorless-vscode/package.json
  packages/file-system-common/package.json
  packages/file-system-common/src/index.ts
  packages/file-system-common/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint

fix
  packages/file-system-common/package.json
  packages/file-system-common/tsconfig.json
Due: none

cleanup
  packages/cursorless-cheatsheet/tsconfig.json
Due: none

pnpm dedupe
  pnpm-lock.yaml
Due: none

restore
  pnpm-lock.yaml
Due: none

install
  pnpm-lock.yaml
Due: none

Added file system package (#2485)
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/tsconfig.json
  packages/file-system-common/package.json
  packages/file-system-common/src/index.ts
  packages/file-system-common/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint

fix
  packages/common/src/ide/types/CommandHistoryStorage.ts
  packages/common/src/index.ts
  packages/cursorless-engine/src/CommandHistory.ts
Due: eslint

Move implementation to file system package
  packages/common/src/ide/types/CommandHistoryStorage.ts
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
  packages/cursorless-vscode/src/VscodeCommandHistory.ts
  packages/cursorless-vscode/src/analyzeVscodeCommandHistory.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/registerCommands.ts
  packages/file-system-common/package.json
  packages/file-system-common/src/FileSystemCommandHistoryStorage.ts
  packages/file-system-common/src/index.ts
  pnpm-lock.yaml
Due: eslint

fix
  packages/cursorless-vscode/src/extension.ts
  packages/file-system-common/src/FileSystemCommandHistoryStorage.ts
Due: eslint

clean
  packages/file-system-common/src/FileSystemCommandHistoryStorage.ts
Due: eslint

Moved to file system package
  packages/cursorless-vscode/src/extension.ts
  packages/file-system-common/package.json
  packages/file-system-common/src/FileSystemTalonSpokenForms.ts
  packages/file-system-common/src/index.ts
  packages/file-system-common/tsconfig.json
  pnpm-lock.yaml
Due: eslint

Moved to disabled dir
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/disabledComponents/DisabledTalonSpokenForms.ts
  packages/cursorless-engine/src/scopeProviders/TalonSpokenForms.ts
Due: eslint

docstring
  packages/common/src/ide/types/CommandHistoryStorage.ts
Due: eslint

refactor
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/InsertSnippet.ts
  packages/cursorless-engine/src/actions/WrapWithSnippet.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/disabledComponents/DisabledSnippets.ts
  packages/cursorless-engine/src/runCommand.ts
Due: eslint

fix
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/openNewSnippetFile.ts
  packages/cursorless-engine/src/core/Snippets.ts
  packages/cursorless-engine/src/disabledComponents/DisabledSnippets.ts
  packages/cursorless-vscode/src/VscodeSnippets.ts
Due: eslint

Support no custom spoken forms
  packages/cursorless-engine/src/disabledComponents/DisabledTalonSpokenForms.ts
  packages/cursorless-engine/src/scopeProviders/TalonSpokenForms.ts
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
Due: eslint

Update lock file
  pnpm-lock.yaml
Due: none

Refactor command history to remove node dependencies from engine (#2479)
  packages/common/src/ide/types/CommandHistoryStorage.ts
  packages/common/src/index.ts
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
  packages/cursorless-engine/src/asyncIteratorToList.ts
  packages/cursorless-engine/src/generateCommandHistoryEntries.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/registerCommands.ts
  packages/file-system-common/package.json
  packages/file-system-common/src/FileSystemCommandHistoryStorage.ts
  packages/file-system-common/src/index.ts
  pnpm-lock.yaml
Due: eslint

Update packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
Due: eslint

lodashes
  packages/cursorless-vscode/src/VscodeSnippets.ts
Due: eslint

update lock
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
