Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Update dependency versions (#3110)
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/cheatsheet/src/lib/cheatsheet.tsx
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/processTargets/modifiers/commonContainingScopeIfUntypedModifiers.ts
  packages/cursorless-engine/src/typings/target.types.ts
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org-docs/src/docs/components/ScopeVisualizer.tsx
  packages/cursorless-org/package.json
  packages/cursorless-org/src/components/Layout.tsx
  packages/cursorless-org/src/pages/index.tsx
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode-tutorial-webview/src/ProgressBar.tsx
  packages/cursorless-vscode-tutorial-webview/src/TutorialStep.tsx
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: eslint

Switching to defineConfig()
  eslint.config.mts
  package.json
  packages/common/eslint.config.mts
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/eslint.config.mts
  packages/cursorless-engine/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org/eslint.config.mts
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode/eslint.config.mts
  packages/neovim-common/package.json
  pnpm-lock.yaml
Due: none

Add first zig scope facet
  data/fixtures/scopes/zig/namedFunction.scope
  data/playground/zig.zig
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  packages/common/src/scopeSupportFacets/zig.ts
  queries/zig.scm
Due: eslint

Fix lint issues
  eslint.config.mts
  packages/cursorless-org/eslint.config.mts
Due: none

Replace eslint config() with defineConfig() (#3112)
  eslint.config.mts
  package.json
  packages/common/eslint.config.mts
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/eslint.config.mts
  packages/cursorless-engine/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org/eslint.config.mts
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode/eslint.config.mts
  packages/neovim-common/package.json
  pnpm-lock.yaml
Due: none

Update queries/zig.scm
  queries/zig.scm
Due: none

Update packages/common/src/scopeSupportFacets/zig.ts
  packages/common/src/scopeSupportFacets/zig.ts
Due: eslint

Apply suggestion from @AndreasArvidsson
  packages/common/src/scopeSupportFacets/zig.ts
Due: eslint

Update esversion targets in tsconfig.json files
  eslint.config.mts
  packages/cheatsheet-local/tsconfig.json
  packages/cursorless-engine/tsconfig.json
  packages/cursorless-everywhere-talon-core/tsconfig.json
  packages/cursorless-everywhere-talon-e2e/tsconfig.json
  packages/cursorless-everywhere-talon/tsconfig.json
  packages/cursorless-org-docs/tsconfig.json
  packages/cursorless-org/tsconfig.json
  packages/meta-updater/tsconfig.json
  packages/vscode-common/tsconfig.json
Due: none

Update dependency versions
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  pnpm-lock.yaml
Due: none

add more scopes and scope tests
  data/fixtures/scopes/zig/argument.actual.singleLine.scope
  data/fixtures/scopes/zig/argument.formal.singleLine.scope
  data/fixtures/scopes/zig/argumentList.actual.singleLine.scope
  data/fixtures/scopes/zig/argumentList.formal.singleLine.scope
  data/fixtures/scopes/zig/functionCall.scope
  data/fixtures/scopes/zig/functionCallee.scope
  data/fixtures/scopes/zig/statement.assignment.scope
  packages/common/src/scopeSupportFacets/zig.ts
  queries/zig.scm
Due: eslint

Ran prettier
  .prettierignore
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/typings/updateSelections.ts
  packages/node-common/src/FileSystemRawTreeSitterQueryProvider.ts
  packages/node-common/src/FileSystemTutorialContentProvider.ts
Due: eslint

Update dependency versions (#3114)
  .prettierignore
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/typings/updateSelections.ts
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/node-common/src/FileSystemRawTreeSitterQueryProvider.ts
  packages/node-common/src/FileSystemTutorialContentProvider.ts
  pnpm-lock.yaml
Due: eslint

wip: improving zig scm
  data/playground/zig.zig
  queries/zig.scm
Due: none

wip: improve Zig scm
  queries/zig.scm
Due: none

feat: respect CURSORLESS_VSCODE_COMMAND in generateTestSubsetFile script
  packages/test-harness/src/scripts/generateTestSubsetFile.ts
Due: eslint

build: Update nix flake
  flake.lock
  flake.nix
Due: none

fix: missing lua lsp alias
  flake.nix
Due: none

restore pre-commit
  flake.nix
Due: none

Use es2022 as the target version in all tsconfig.json files.
  packages/cheatsheet-local/tsconfig.json
  packages/cursorless-engine/tsconfig.json
  packages/cursorless-everywhere-talon-core/tsconfig.json
  packages/cursorless-everywhere-talon-e2e/tsconfig.json
  packages/cursorless-everywhere-talon/tsconfig.json
  packages/cursorless-vscode/tsconfig.json
  packages/meta-updater/tsconfig.json
  packages/vscode-common/tsconfig.json
  tsconfig.base.json
Due: none

update lint ecmaVersion
  eslint.config.mts
Due: none

More clean up
  packages/cheatsheet/tsconfig.json
  packages/cursorless-vscode-tutorial-webview/tsconfig.json
  packages/meta-updater/tsconfig.json
Due: none

Improve scm examples
  queries/zig.scm
Due: none

Update arg list test
  data/fixtures/scopes/zig/argumentList.formal.singleLine.scope
Due: none

wip: add more scope tests
  data/fixtures/scopes/zig/argument.actual.iteration.scope
  data/fixtures/scopes/zig/argument.actual.multiLine.scope
  data/fixtures/scopes/zig/argument.actual.singleLine.scope
  data/fixtures/scopes/zig/argument.formal.iteration.scope
  data/fixtures/scopes/zig/argument.formal.multiLine.scope
  data/fixtures/scopes/zig/argument.formal.singleLine.scope
  data/fixtures/scopes/zig/argumentList.actual.empty.scope
  data/fixtures/scopes/zig/argumentList.actual.multiLine.scope
  data/fixtures/scopes/zig/argumentList.actual.singleLine.scope
  data/fixtures/scopes/zig/argumentList.formal.empty.scope
  data/fixtures/scopes/zig/argumentList.formal.multiLine.scope
  data/fixtures/scopes/zig/functionCallee.scope
  data/fixtures/scopes/zig/name.argument.formal.scope
  data/fixtures/scopes/zig/name.assignment.scope
  data/fixtures/scopes/zig/name.function.scope
  data/fixtures/scopes/zig/type.argument.formal.iteration.scope
  data/fixtures/scopes/zig/type.argument.formal.scope
  data/fixtures/scopes/zig/type.return.scope
  data/fixtures/scopes/zig/type.variable.scope
  data/fixtures/scopes/zig/value.assignment.scope
  data/playground/zig.zig
  packages/common/src/scopeSupportFacets/zig.ts
  queries/zig.scm
Due: eslint

feat: respect CURSORLESS_VSCODE_COMMAND in generateTestSubsetFile script (#3115)
  packages/test-harness/src/scripts/generateTestSubsetFile.ts
Due: eslint

Update es target version in tsconfig.json files (#3113)
  eslint.config.mts
  packages/cheatsheet-local/tsconfig.json
  packages/cheatsheet/tsconfig.json
  packages/cursorless-engine/tsconfig.json
  packages/cursorless-everywhere-talon-core/tsconfig.json
  packages/cursorless-everywhere-talon-e2e/tsconfig.json
  packages/cursorless-everywhere-talon/tsconfig.json
  packages/cursorless-org-docs/tsconfig.json
  packages/cursorless-org/tsconfig.json
  packages/cursorless-vscode-tutorial-webview/tsconfig.json
  packages/cursorless-vscode/tsconfig.json
  packages/meta-updater/tsconfig.json
  packages/vscode-common/tsconfig.json
  tsconfig.base.json
Due: none

build: Update nix flake (#3116)
  flake.lock
  flake.nix
Due: none

Re-enable latex tests for vscode versions >= 1.107.0
  packages/cursorless-vscode-e2e/src/suite/shouldSkipTest.ts
Due: eslint

ran prettier
  packages/cursorless-vscode-e2e/src/suite/shouldSkipTest.ts
Due: eslint

Re-enable latex tests for vscode versions >= 1.107.0 (#3118)
  packages/cursorless-vscode-e2e/src/suite/shouldSkipTest.ts
Due: eslint

Migrate prettier config to javascript
  .prettierrc
  eslint.config.mts
  prettier.config.cjs
Due: none

Migrate prettier config to javascript (#3121)
  .prettierrc
  eslint.config.mts
  prettier.config.cjs
Due: none

Utilize interior in relative scope modifier
  data/fixtures/recorded/relativeScopes/changeNextState.yml
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added additional test
  data/fixtures/recorded/relativeScopes/changeNextState2.yml
Due: format-recorded-tests, check-recorded-test-marks

Add backwards tests
  data/fixtures/recorded/relativeScopes/changePreviousState.yml
  data/fixtures/recorded/relativeScopes/changePreviousState2.yml
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update names
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint

More cleanup
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
