Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Use get editor state command
  cursorless-everywhere-talon/cursorless_everywhere_talon_browser.py
Due: none

Use id instead of type
  cursorless-everywhere-talon/cursorless_everywhere_talon_browser.py
Due: none

Update check community message
  cursorless-talon/src/check_community_repo.py
Due: none

Update message
  cursorless-talon/src/check_community_repo.py
Due: none

Add the type to module export
  cursorless-everywhere-talon/cursorless_everywhere_talon_win.py
Due: none

Add empty line in ExecuteCommand (#2702)
  packages/cursorless-engine/src/actions/ExecuteCommand.ts
Due: eslint

cursorless-talon: Create PULL_REQUEST_TEMPLATE.md (#2703)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

cursorless-talon: Create PULL_REQUEST_TEMPLATE.md (#2703)
  cursorless-talon/.github/PULL_REQUEST_TEMPLATE.md
Due: none

Update packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/RangeLookupList.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/RangeLookupList.ts
Due: eslint

Merge
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/LanguageDefinitionCache.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/OneWayRangeFinder.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/RangeLookupTree.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
Due: eslint

Update packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/RangeLookupTree.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/RangeLookupTree.ts
Due: eslint

Update check community message (#2708)
  src/check_community_repo.py
Due: none

Update check community message (#2708)
  cursorless-talon/src/check_community_repo.py
Due: none

typo
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/RangeLookupTree.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
Due: eslint

Rename
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/OneWayNestedRangeFinder.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
Due: eslint

Remove debug prints
  cursorless-everywhere-talon/cursorless_everywhere_talon_win.py
Due: none

Update packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
Due: eslint

Added tests
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/OneWayNestedRangeFinder.test.ts
Due: eslint

Added comment
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
Due: eslint

Re add failing test
  data/fixtures/recorded/surroundingPair/parseTree/python/changePair2.yml
Due: format-recorded-tests, check-recorded-test-marks

Fix surrounding pair performance (#2700)
  data/fixtures/recorded/surroundingPair/textual/changePair2.yml
  data/fixtures/recorded/surroundingPair/textual/changePair3.yml
  packages/common/src/index.ts
  packages/common/src/util/regex.ts
  packages/cursorless-engine/src/actions/ExecuteCommand.ts
  packages/cursorless-engine/src/disabledComponents/DisabledLanguageDefinitions.ts
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/LanguageDefinitionCache.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/OneWayNestedRangeFinder.test.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/OneWayNestedRangeFinder.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/OneWayRangeFinder.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
  packages/cursorless-engine/src/runCommand.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added support for browser rpc (#2704)
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  cursorless-everywhere-talon/cursorless_everywhere_talon_browser.py
Due: none

Added performance tests (#2697)
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Merge with main
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/RangeIterator.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/RangeNode.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/createRangeTree.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/getInteriorRanges.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/OneWayNestedRangeFinder.test.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/OneWayNestedRangeFinder.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/OneWayRangeFinder.ts
Due: eslint

Use parse tree
  cursorless-talon/src/spoken_forms.py
  data/fixtures/scopes/python/pairDelimiter.scope
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterRegex.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getIndividualDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  queries/python.scm
Due: eslint

Update test
  data/fixtures/recorded/surroundingPair/parseTree/typescript/changePair.yml
Due: format-recorded-tests, check-recorded-test-marks

Pass individual changes to browser extension
  cursorless-everywhere-talon/cursorless_everywhere_talon_browser.py
Due: none

Change add to append
  cursorless-talon/src/spoken_forms.json
  data/fixtures/recorded/actions/appendPostWhale.yml
  data/fixtures/recorded/actions/appendPreWhale.yml
  data/fixtures/recorded/actions/appendWhale.yml
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

jetbrains: use "go to declaration" for "follow" command
  packages/cursorless-jetbrains/src/ide/JetbrainsEditor.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsHats.ts
Due: eslint

improve editable editor support - add editable state
  packages/cursorless-jetbrains/src/ide/JetbrainsEditor.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsHats.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsIDE.ts
  packages/cursorless-jetbrains/src/types/types.ts
Due: eslint

Added Tree sitter query cache
  packages/cursorless-engine/src/disabledComponents/DisabledLanguageDefinitions.ts
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/LanguageDefinitionCache.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/treeSitterQueryCache.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/runCommand.ts
Due: eslint

Update packages/cursorless-org-docs/src/docs/user/README.md
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Cleanup
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/treeSitterQueryCache.ts
Due: eslint

Added Tree sitter query cache (#2711)
  packages/cursorless-engine/src/disabledComponents/DisabledLanguageDefinitions.ts
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/LanguageDefinitionCache.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/treeSitterQueryCache.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/runCommand.ts
Due: eslint

Add action to select new targets (#2707)
  cursorless-talon/src/spoken_forms.json
  data/fixtures/recorded/actions/appendPostWhale.yml
  data/fixtures/recorded/actions/appendPreWhale.yml
  data/fixtures/recorded/actions/appendWhale.yml
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/SetSelection.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  packages/cursorless-org-docs/src/docs/user/README.md
Due: eslint, format-recorded-tests, check-recorded-test-marks

Add action to select new targets (#2707)
  src/spoken_forms.json
Due: none

Properly compare positions for cache validation
  packages/cursorless-engine/src/languages/TreeSitterQuery/treeSitterQueryCache.ts
Due: eslint

Increase performance for Tree sitter matches
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/normalizeCaptureName.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/positionToPoint.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
