Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/rwxcorp/pre-commit-lua.git
    rev: v1.0.0
    hooks:
      - id: stylua
      - id: luacheck

Normalize forced hats
  packages/cursorless-engine/src/core/HatAllocator.ts
Due: eslint

Tweaks
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
Due: eslint

tweaks
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
Due: eslint

Added test
  data/fixtures/recorded/actions/dedentLine.yml
  data/fixtures/recorded/actions/indentLine.yml
Due: format-recorded-tests, check-recorded-test-marks

cleanup
  packages/common/src/util/splitKey.ts
Due: eslint

attempt to get rid of typescript version warning by bumping deps
  package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Due: none

exclude test
  packages/cursorless-neovim-e2e/src/shouldRunTest.ts
Due: eslint

change type
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
Due: eslint

Updates
  packages/cursorless-tutorial/src/TutorialImpl.ts
  packages/cursorless-vscode/src/ide/vscode/hats/FakeFontMeasurements.ts
  packages/cursorless-vscode/src/ide/vscode/hats/FontMeasurements.ts
  packages/cursorless-vscode/src/ide/vscode/hats/FontMeasurementsImpl.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Update lint config
  .eslintrc.json
Due: none

Try to fix CI by bumping `@vscode/test-electron`
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: none

fix lock
  pnpm-lock.yaml
Due: none

Add comment
  packages/cursorless-engine/src/actions/ShowParseTree.ts
Due: eslint

tweaks
  packages/cursorless-tutorial/src/TutorialImpl.ts
Due: eslint

Fixes
  packages/cursorless-vscode/src/ide/vscode/hats/FontMeasurementsImpl.ts
Due: eslint

Tweaks
  packages/cursorless-vscode/src/keyboard/KeyboardCommandHandler.ts
Due: eslint

More tweaks
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
Due: eslint

tweaks
  packages/cursorless-vscode/src/keyboard/KeyboardCommandHandler.ts
  packages/cursorless-vscode/src/keyboard/KeyboardHandler.ts
Due: eslint

More tweaks
  packages/cursorless-vscode/src/VscodeTutorial.ts
Due: eslint

Tweaks
  packages/test-case-recorder/src/TestCaseRecorder.ts
Due: eslint

cleanup lint ignores
  .eslintrc.json
Due: none

tweak ignore
  .eslintrc.json
Due: none

fix overrides
  .eslintrc.json
Due: none

Fix relative links
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-scope.md
  packages/cursorless-org-docs/src/docs/contributing/cheatsheet.md
  packages/cursorless-org-docs/src/docs/contributing/documentation-search.md
  packages/cursorless-org-docs/src/docs/contributing/test-case-recorder.md
  packages/cursorless-org-docs/src/docs/contributing/tree-sitter-query-syntax.md
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Improve README
  packages/cursorless-org-docs/src/docs/user/languages/README.md
Due: none

Make hat forcing more aggressive (#2602)
  packages/common/src/types/HatTokenMap.ts
  packages/cursorless-engine/src/core/HatAllocator.ts
  packages/cursorless-engine/src/core/HatTokenMapImpl.ts
  packages/cursorless-engine/src/util/allocateHats/allocateHats.ts
  packages/cursorless-engine/src/util/allocateHats/chooseTokenHat.ts
  packages/cursorless-engine/src/util/allocateHats/getRankedTokens.ts
Due: eslint

Try to fix CI by bumping `@vscode/test-electron` (#2607)
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: none

Text edit based indent (#2518)
  data/fixtures/recorded/actions/dedentLine.yml
  data/fixtures/recorded/actions/indentLine.yml
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/IndentLine.ts
  packages/cursorless-engine/src/actions/SimpleIdeCommandActions.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsCapabilities.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsEditor.ts
  packages/cursorless-neovim-e2e/src/shouldRunTest.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added more information to command history analyzer (#2495)
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
Due: eslint

fix keyboard tests
  packages/cursorless-vscode/src/keyboard/KeyboardHandler.ts
Due: eslint

docstring
  packages/common/src/ide/types/Capabilities.ts
Due: eslint

refactor
  packages/cursorless-engine/src/actions/PasteFromClipboard.ts
  packages/cursorless-engine/src/actions/PasteFromClipboardDirectly.ts
  packages/cursorless-engine/src/actions/PasteFromClipboardUsingCommand.ts
Due: eslint

docs
  packages/cursorless-engine/src/actions/CopyToClipboard.ts
  packages/cursorless-engine/src/actions/PasteFromClipboardDirectly.ts
  packages/cursorless-engine/src/actions/PasteFromClipboardUsingCommand.ts
Due: eslint

Edit based copy and paste (#2536)
  packages/common/src/ide/fake/FakeCapabilities.ts
  packages/common/src/ide/types/Capabilities.ts
  packages/common/src/index.ts
  packages/common/src/types/TextEditor.ts
  packages/common/src/util/zipStrict.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/CopyToClipboard.ts
  packages/cursorless-engine/src/actions/PasteFromClipboard.ts
  packages/cursorless-engine/src/actions/PasteFromClipboardDirectly.ts
  packages/cursorless-engine/src/actions/PasteFromClipboardUsingCommand.ts
  packages/cursorless-engine/src/actions/SimpleIdeCommandActions.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsCapabilities.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeCapabilities.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
  packages/neovim-common/src/ide/neovim/NeovimCapabilities.ts
  packages/neovim-common/src/ide/neovim/NeovimTextEditorImpl.ts
Due: eslint

feat: Add lua-language-server to pre-commit hooks
  .github/workflows/pre-commit.yml
  .luarc.json
  .pre-commit-config.yaml
  .vscode/settings.json
  flake.nix
  scripts/lint-lua.sh
Due: none
