Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

bump pnpm to 8.6.12 (#1759)
  package.json
Due: none

split special mark
  cursorless-talon/src/marks/mark.py
  cursorless-talon/src/marks/special_mark.py
Due: none

Fix `"item"` fallback for next-gen scope handlers
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/EveryScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/ItemStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/LegacyContainingSyntaxScopeStage.ts
Due: eslint

Upgrade webpack
  packages/cheatsheet-local/package.json
  pnpm-lock.yaml
Due: none

Rename special marks to simple marks
  cursorless-talon/src/marks/mark.py
  cursorless-talon/src/marks/simple_mark.py
Due: none

bump other webpack deps
  packages/cheatsheet-local/package.json
  pnpm-lock.yaml
Due: none

rename in json
  cursorless-talon/src/spoken_forms.json
Due: none

Fix `"item"` fallback for next-gen scope handlers (#1763)
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/EveryScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/ItemStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/LegacyContainingSyntaxScopeStage.ts
Due: eslint

Tweak flags
  docs/contributing/CONTRIBUTING.md
  packages/cursorless-vscode/src/scripts/initLaunchSandbox.ts
Due: eslint

Upgrade webpack (#1764)
  packages/cheatsheet-local/package.json
  pnpm-lock.yaml
Due: none

cleanup
  cursorless-talon/src/marks/mark.py
Due: none

Add `--update` arg to `init-launch-sandbox` (#1760)
  docs/contributing/CONTRIBUTING.md
  packages/cursorless-vscode/src/scripts/initLaunchSandbox.ts
Due: eslint

Ran formatter on scm files
  .vscode/settings.json
  queries/javascript.core.scm
  queries/ruby.scm
  queries/typescript.scm
Due: none

act on some @josharian feedback
  docs/user/guide-intermediate.md
Due: none

more updates
  queries/javascript.core.scm
Due: none

Refactored decorated marks into separate file (#1762)
  cursorless-talon/src/marks/decorated_mark.py
  cursorless-talon/src/marks/mark.py
  cursorless-talon/src/marks/simple_mark.py
  cursorless-talon/src/spoken_forms.json
  cursorless-talon/src/spoken_forms.py
Due: none

Refactored decorated marks into separate file (#1762)
  src/marks/decorated_mark.py
  src/marks/mark.py
  src/marks/simple_mark.py
  src/spoken_forms.json
  src/spoken_forms.py
Due: none

try yet again
  .gitignore
  .vscode/tasks.json
  cursorless-talon-dev/src/cursorless_dev_vscode.talon
  docs/contributing/CONTRIBUTING.md
  packages/common/src/testUtil/runTestSubset.ts
  packages/common/src/testUtil/testSubsetGrep.tmpl
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/scripts/generateTestSubsetFile/generateTestSubsetFile.ts
Due: eslint

simplify a bit
  packages/cursorless-engine/src/scripts/generateTestSubsetFile/generateTestSubsetFile.ts
Due: eslint

fix inside, improve and add tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkBat2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkFine3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkNameBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkNameFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeFunkTrap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeInsideFunk.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeInsideFunkBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeInsideFunkBrace.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeInsideFunkFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeInsideLambda.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeInsideLambdaBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeLambdaBat.yml
  queries/go.scm
Due: format-recorded-tests, check-recorded-test-marks

add tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeEveryMapFile.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeEveryMapFile2.yml
Due: format-recorded-tests, check-recorded-test-marks

#643, document `"give"`
  docs/user/README.md
Due: none

doc `"drink"` and `"pour"` can do more than lines
  docs/user/README.md
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Due: none

Set default Talon formatter
  .vscode/settings.json
Due: none

Fixed bug with line number inference
  packages/cursorless-engine/src/core/inferFullTargetDescriptor.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/inference/bringAirToEndOfRowTwoAndRowThree.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update packages/cursorless-engine/src/core/inferFullTargetDescriptor.ts
  packages/cursorless-engine/src/core/inferFullTargetDescriptor.ts
Due: eslint

fix
  packages/cursorless-engine/src/core/inferFullTargetDescriptor.ts
Due: eslint

Fixed bug with line number inference (#1774)
  packages/cursorless-engine/src/core/inferFullTargetDescriptor.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/inference/bringAirToEndOfRowTwoAndRowThree.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Tweaks
  .vscode/tasks.json
  cursorless-talon-dev/src/cursorless_dev_vscode.talon
  docs/contributing/CONTRIBUTING.md
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/scripts/generateTestSubsetFile/generateTestSubsetFile.ts
Due: eslint

start consolidating
  packages/cursorless-engine/package.json
  packages/test-harness/package.json
  packages/test-harness/src/scripts/generateTestSubsetFile.ts
Due: eslint

Added additional recommended extensions
  .vscode/extensions.json
Due: none

Move everything into test-harness
  .gitignore
  .vscode/tasks.json
  cursorless-talon-dev/src/cursorless_dev_vscode.talon
  packages/common/src/index.ts
  packages/test-harness/src/launchVscodeAndRunTests.ts
  packages/test-harness/src/runAllTests.ts
  packages/test-harness/src/runners/extensionTests.ts
  packages/test-harness/src/scripts/generateTestSubsetFile.ts
  packages/test-harness/src/scripts/runTalonTests.ts
  packages/test-harness/src/scripts/runTestsCI.ts
  packages/test-harness/src/scripts/runUnitTestsOnly.ts
  packages/test-harness/src/testSubset.ts
Due: eslint

tweak wording
  docs/contributing/CONTRIBUTING.md
Due: none

tweak generate args
  packages/test-harness/package.json
  packages/test-harness/src/scripts/generateTestSubsetFile.ts
Due: eslint

Ran formatter on scm files (#1765)
  .vscode/extensions.json
  .vscode/settings.json
  queries/javascript.core.scm
  queries/ruby.scm
  queries/typescript.scm
Due: none

pokey suggestion for `move`
  docs/user/guide-intermediate.md
Due: none

pokey suggestion for quick fix
  docs/user/guide-intermediate.md
Due: none

pokey suggestion for arg and item
  docs/user/guide-intermediate.md
Due: none

pokey suggestion for `next` example
  docs/user/guide-intermediate.md
Due: none

pokey suggestion
  docs/user/README.md
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
