Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

update test
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.test.ts
Due: eslint

cleanup
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

update comment
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

update name
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.test.ts
Due: eslint

added test
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.test.ts
Due: eslint

Cleanup
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

Added analyze history command
  cursorless-talon/src/cursorless.py
  cursorless-talon/src/cursorless.talon
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-engine/src/util/getScopeType.ts
  packages/cursorless-vscode/src/CommandHistoryAnalyzer.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

meta updater
  packages/cursorless-vscode/package.json
Due: none

Attempt at regex for validation
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

Added number
  packages/cursorless-vscode/src/CommandHistoryAnalyzer.ts
Due: eslint

Update test
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.test.ts
Due: eslint

more tests
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.test.ts
Due: eslint

Added documentation
  docs/user/localStatistics.md
Due: none

Tweak docs
  docs/user/localCommandHIstory.md
  docs/user/localStatistics.md
Due: none

Tweaks
  packages/common/src/types/commandHistory.ts
  packages/cursorless-vscode/src/CommandHistory.ts
Due: eslint

tweak verbiage
  packages/cursorless-vscode/package.json
Due: none

tweak tests
  packages/cursorless-vscode-e2e/src/suite/commandHistory.vscode.test.ts
Due: eslint

fix
  cursorless-talon/src/snippets.py
Due: none

Switch api to be private for now
  changelog/2023-08-expanded-talon-api.md
  cursorless-talon/src/private_api/extract_decorated_marks.py
  cursorless-talon/src/private_api/private_api.py
Due: none

fix typing
  cursorless-talon/src/private_api/extract_decorated_marks.py
Due: none

Bump Python version
  pyproject.toml
Due: none

Snake case variable name
  cursorless-talon/src/snippets.py
Due: none

Add api tests
  cursorless-talon-dev/src/cursorless_test.talon
  cursorless-talon-dev/src/spoken_form_test.py
  cursorless-talon/src/private_api/private_api.py
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
Due: eslint

Revert "[pre-commit.ci lite] apply automatic fixes"
  cursorless-talon-dev/src/spoken_form_test.py
  cursorless-talon/src/actions/get_text.py
  cursorless-talon/src/csv_overrides.py
  cursorless-talon/src/snippets.py
  cursorless-talon/src/targets/destination.py
  cursorless-talon/src/targets/range_target.py
  cursorless-talon/src/targets/target.py
  cursorless-talon/src/targets/target_types.py
Due: none

Disable UP007
  pyproject.toml
Due: none

Target Python 3.11 (Talon 0.4) (#1880)
  pyproject.toml
Due: none

Remove analyze action
  cursorless-talon/src/cursorless.py
  cursorless-talon/src/cursorless.talon
Due: none

Added proper find in document implementation (#2143)
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/find.py
  cursorless-talon/src/apps/cursorless_vscode.py
  cursorless-talon/src/spoken_forms.json
  packages/common/src/ide/PassthroughIDEBase.ts
  packages/common/src/ide/fake/FakeIDE.ts
  packages/common/src/ide/types/ide.types.ts
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/Find.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/findVest.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/getTextAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/scoutAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/scoutAllAir.yml
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added proper find in document implementation (#2143)
  src/actions/actions.py
  src/actions/find.py
  src/apps/cursorless_vscode.py
  src/spoken_forms.json
Due: none

Added grand scope (#2130)
  changelog/2023-12.addedGrandScopeModifier.md
  cursorless-talon/src/cheatsheet/sections/modifiers.py
  cursorless-talon/src/modifiers/simple_scope_modifier.py
  cursorless-talon/src/spoken_forms.json
  docs/user/README.md
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/processTargets/modifiers/getContainingScopeTarget.ts
  packages/cursorless-engine/src/spokenForms/SpokenFormType.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/containingScope/changeGrandState.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/containingScope/changeGrandState2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/containingScope/changeGrandState3.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added grand scope (#2130)
  src/cheatsheet/sections/modifiers.py
  src/modifiers/simple_scope_modifier.py
  src/spoken_forms.json
Due: none

Added iteration scope for js statements (#2144)
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/testUtil/getFixturePaths.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/statement.iteration.block.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/statement.iteration.document.scope
  queries/javascript.core.scm
Due: eslint

Tweaks
  cursorless-talon/src/actions/get_text.py
  cursorless-talon/src/actions/homophones.py
  cursorless-talon/src/actions/reformat.py
  cursorless-talon/src/apps/cursorless_vscode.py
Due: none

fixes
  cursorless-talon/src/actions/get_text.py
Due: none

fix
  cursorless-talon/src/actions/get_text.py
Due: none

Fix talon tests
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
Due: eslint

docs
  docs/user/customization.md
Due: none
