Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Tweaks
  packages/cursorless-vscode/src/ide/vscode/VscodeConfiguration.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Fix value scope nesting in Typescript
  queries/javascript.core.scm
Due: none

Add test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeNextValue.yml
Due: format-recorded-tests, check-recorded-test-marks

Split path into section and field
  packages/cursorless-vscode/src/ide/vscode/VscodeConfiguration.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Fix value scope nesting in Typescript (#1929)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeNextValue.yml
  queries/javascript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Include `@` in `name` for `scm` language (#1927)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/changeEveryName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/changeName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/changeName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/changeName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/chuckName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/chuckName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearEveryName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearEveryName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearEveryName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearName4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearName5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearName6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearName7.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/drinkName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/pourName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/pourName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/takeName.yml
  queries/scm.name.scm
Due: format-recorded-tests, check-recorded-test-marks

fix lock file
  pnpm-lock.yaml
Due: none

Fix zod
  packages/cursorless-engine/src/languages/TreeSitterQuery/PredicateOperatorSchemaTypes.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryPredicateOperator.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/constructZodErrorMessages.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/operatorArgumentSchemaTypes.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
Due: eslint

Wordsmithing
  packages/cursorless-org/src/content/enablement-group.mdx
Due: none

Fancy callout boxes
  packages/cursorless-org/src/components/Layout.tsx
  packages/cursorless-org/src/content/enablement-group.mdx
Due: eslint

Added support for user home variable in settings (#1916)
  packages/cursorless-vscode/src/ide/vscode/VscodeConfiguration.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Tweak callout boxes
  packages/cursorless-org/src/components/Layout.tsx
Due: eslint

Bump postcss
  pnpm-lock.yaml
Due: none

Move types dependency to dev dependencies
  packages/cursorless-vscode/package.json
Due: none

Update lock file
  pnpm-lock.yaml
Due: none

Fix pnpm lock
  pnpm-lock.yaml
Due: none

Move types dependency to dev dependencies (#1936)
  packages/cursorless-vscode/package.json
  pnpm-lock.yaml
Due: none

Bump next.js to 13.5.4
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Due: none

Tweak
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runCustomRegexScopeInfoTest.ts
Due: eslint

Migrate ScopeProvider type to cursorless common
  packages/common/src/index.ts
  packages/common/src/types/ScopeProvider.ts
  packages/common/src/types/SpokenForm.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/scopeProviders/ScopeRangeProvider.ts
  packages/cursorless-engine/src/scopeProviders/ScopeRangeWatcher.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportChecker.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportWatcher.ts
  packages/cursorless-engine/src/scopeProviders/getIterationScopeRanges.ts
  packages/cursorless-engine/src/scopeProviders/getScopeRanges.ts
  packages/cursorless-engine/src/scopeProviders/getTargetRanges.ts
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeIterationScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeTargetVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/createVscodeScopeVisualizer.ts
  packages/vscode-common/src/getExtensionApi.ts
Due: eslint

Fixes
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
Due: eslint

simplify icon
  images/icon.svg
Due: none

Add sidebar view
  cursorless-talon/src/apps/cursorless_vscode.py
  cursorless-talon/src/cursorless.py
  cursorless-talon/src/cursorless.talon
  images/icon.svg
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/scripts/populateDist/assets.ts
Due: eslint

Fixes; support custom regex spoken forms
  .vscode/launch.json
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.test.ts
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/customRegex/clearWhite.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/ordinalScopes/clearFirstPaint.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/ordinalScopes/clearFirstPaint2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/ordinalScopes/clearLastPaint.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/ordinalScopes/clearLastPaint2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/selectionTypes/clearCustomRegex.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/selectionTypes/clearEveryCustomRegex.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Fix spoken forms bug
  cursorless-talon/src/spoken_forms.py
Due: none

Remove TODO
  packages/cursorless-engine/src/CustomSpokenForms.ts
Due: eslint

More fixes
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ScopeSupportTreeProvider.ts
Due: eslint

Initial working tests
  packages/common/src/ide/normalized/NormalizedIDE.ts
  packages/cursorless-engine/src/scopeProviders/ScopeRangeWatcher.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportWatcher.ts
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/assertCalledWithScopeInfo.ts
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runBasicScopeInfoTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/scopeProvider.vscode.test.ts
Due: eslint

Cleanup
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/assertCalledWithScopeInfo.ts
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runCustomRegexScopeInfoTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runCustomSpokenFormScopeInfoTest.ts
Due: eslint

more stuff
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/scopeProviders/getSpokenFormEntries.ts
Due: eslint

Tweaks
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Fix custom regexes
  packages/cursorless-engine/src/CustomSpokenForms.ts
  packages/cursorless-engine/src/DefaultSpokenFormMap.ts
Due: eslint

Rename
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeGlobalState.ts
  packages/meta-updater/src/getCursorlessVscodeFields.ts
  packages/vscode-common/src/cursorlessSideBarIds.ts
  packages/vscode-common/src/index.ts
Due: eslint

More sophisticated custom spoken forms
  cursorless-talon/src/cursorless.py
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/CustomSpokenForms.ts
  packages/cursorless-engine/src/DefaultSpokenFormMap.ts
  packages/cursorless-engine/src/SpokenFormMap.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
  packages/cursorless-engine/src/generateSpokenForm/GeneratorSpokenFormMap.ts
  packages/cursorless-engine/src/generateSpokenForm/NoSpokenFormError.ts
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.test.ts
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/scopeProviders/getSpokenFormEntries.ts
  packages/cursorless-vscode/src/ScopeSupportTreeProvider.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeGlobalState.ts
Due: eslint

tweak typing
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
Due: eslint

Remove some debouncing
  packages/cursorless-engine/src/scopeProviders/ScopeRangeWatcher.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportWatcher.ts
Due: eslint

Add icons
  packages/cursorless-vscode/src/ScopeSupportTreeProvider.ts
Due: eslint

Use code icons for language specific scopes
  packages/cursorless-vscode/src/ScopeSupportTreeProvider.ts
Due: eslint

Add tree view to indicate scope support
  cursorless-talon/src/csv_overrides.py
  cursorless-talon/src/marks/decorated_mark.py
  cursorless-talon/src/spoken_forms.py
  cursorless-talon/src/spoken_forms_output.py
  packages/common/src/ide/types/FileSystem.types.ts
  packages/common/src/index.ts
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/common/src/util/Disposer.ts
  packages/common/src/util/camelCaseToAllDown.ts
  packages/cursorless-engine/src/CustomSpokenForms.ts
  packages/cursorless-engine/src/DefaultSpokenFormMap.ts
  packages/cursorless-engine/src/SpokenFormMap.ts
  packages/cursorless-engine/src/api/ScopeProvider.ts
  packages/cursorless-engine/src/core/Debouncer.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/generateSpokenForm/GeneratorSpokenFormMap.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/modifiers.ts
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.test.ts
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/scopeProviders/ScopeRangeProvider.ts
  packages/cursorless-engine/src/scopeProviders/ScopeRangeWatcher.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportChecker.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportWatcher.ts
  packages/cursorless-engine/src/scopeProviders/getIterationRange.ts
  packages/cursorless-engine/src/scopeProviders/getIterationScopeRanges.ts
  packages/cursorless-engine/src/scopeProviders/getScopeRanges.ts
  packages/cursorless-engine/src/scopeProviders/getSpokenFormEntries.ts
  packages/cursorless-engine/src/scopeProviders/getTargetRanges.ts
  packages/cursorless-engine/src/scopeProviders/scopeTypeToString.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ScopeSupportTreeProvider.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFileSystem.ts
  typings/object.d.ts
Due: eslint

Tweaks
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/extension.ts
  packages/vscode-common/src/getExtensionApi.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
