Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

Fix branch interior and add more branch tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeBranch3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeBranch4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeBranch5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeBranch6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeEveryBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeInsideBranch3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeInsideBranch4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeInsideBranch5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeInsideBranch6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeInsideBranch7.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeInsideEveryBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeInsideEveryBranch2.yml
  queries/shellscript.scm
Due: format-recorded-tests, check-recorded-test-marks

Expand switch case support
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeBranch7.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeCondition3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeInsideBranch8.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeInsideEveryBranch3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/chuckInsideBranch.yml
  queries/shellscript.scm
Due: format-recorded-tests, check-recorded-test-marks

Add better string interpolation support
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeArg5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeArgBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeArgRed.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeEveryArgInsideFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeEveryArgInsideFine2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/chuckArgZip.yml
  queries/shellscript.scm
Due: format-recorded-tests, check-recorded-test-marks

Highlight instanceReference
  packages/common/src/StoredTargetKey.ts
  packages/common/src/index.ts
  packages/cursorless-engine/src/core/StoredTargets.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/storedTargetHighlighter.ts
  packages/cursorless-vscode/src/usingSetting.ts
Due: eslint

Add keyboard special target
  packages/common/src/StoredTargetKey.ts
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.ts
  packages/cursorless-vscode/src/storedTargetHighlighter.ts
Due: eslint

Add `implicit` special target
  cursorless-talon/src/spoken_forms.py
  packages/common/src/StoredTargetKey.ts
  packages/common/src/testUtil/TestCaseSnapshot.ts
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/SetSpecialTarget.ts
  packages/cursorless-engine/src/actions/actions.types.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/inferFullTargetDescriptor.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-engine/src/processTargets/MarkStageFactory.ts
  packages/cursorless-engine/src/processTargets/MarkStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/TargetPipelineRunner.ts
  packages/cursorless-engine/src/processTargets/marks/ImplicitMarkStage.ts
  packages/cursorless-engine/src/processTargets/marks/RangeMarkStage.ts
  packages/cursorless-engine/src/processTargets/marks/StoredTargetStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/InstanceStage.ts
  packages/cursorless-engine/src/testUtil/takeSnapshot.ts
  packages/cursorless-engine/src/typings/TargetDescriptor.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/activeLine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/activeThis.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/changeNextInstanceChar.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/changePreviousChar.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/fromThis.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/marks/swapTokenWithNextToken.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/modifiers/instance/changeEveryInstance.yml
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/storedTargetHighlighter.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Add "and" support to keyboard
  packages/cursorless-vscode/src/keyboard/KeyboardCommandHandler.ts
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
Due: eslint

add tests for keyboard every
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
Due: eslint

Add three funks to keyboard
  packages/cursorless-vscode/src/keyboard/KeyboardCommandHandler.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
Due: eslint

add tests for three funks
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
Due: eslint

Add every keyboard interface
  packages/cursorless-vscode/src/keyboard/KeyboardCommandHandler.ts
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: eslint

Add paired delimiters to keyboard
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
Due: eslint

add tests for "and"
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: eslint

add tests for paired delimiters
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: eslint

keyboard hacky attempt at pair wrap
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/modifiers.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/surroundingPairsDelimiters.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandHandler.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
Due: eslint

add pair wrap keyboard tests
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: eslint

tweaks
  packages/cursorless-engine/src/core/StoredTargets.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
Due: eslint

add "tail"/"head" support to keyboard
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandHandler.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: eslint

Add regex, and better nested statement support
  queries/shellscript.scm
Due: none

Better statement support and tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeCommand.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeConditionEach.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeRegexZero.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeState2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeState3.yml
  queries/shellscript.scm
Due: format-recorded-tests, check-recorded-test-marks

Better support for c-style for loops
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeConditionFive.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeValueOne.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/chuckNameGreenSit.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/chuckValueOne.yml
  queries/shellscript.scm
Due: format-recorded-tests, check-recorded-test-marks

Initial files for scope facets
  packages/common/src/scopeSupportFacets/getLanguageScopeSupport.ts
  packages/common/src/scopeSupportFacets/shellscript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/shellscript/value.assignment.scope
Due: eslint

Fixes to keyboard special target
  packages/cursorless-engine/src/actions/actions.types.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/processTargets/marks/ImplicitMarkStage.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
Due: eslint

Added command id
  packages/common/src/types/commandHistory.ts
  packages/cursorless-engine/src/CommandHistory.ts
Due: eslint

start parsing things from the extension side
  cursorless-talon/src/tutorial.py
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-engine/src/core/Tutorial.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

pre-commit: Update ruff to v0.1.11
  .pre-commit-config.yaml
Due: none

Remove command analyzer
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-engine/src/util/getScopeType.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/registerCommands.ts
  pnpm-lock.yaml
Due: eslint

Add sanitization tests
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-e2e/src/suite/commandHistory.vscode.test.ts
  pnpm-lock.yaml
Due: eslint

Added command history (#2115)
  docs/user/localCommandHIstory.md
  packages/common/src/ide/PassthroughIDEBase.ts
  packages/common/src/ide/fake/FakeIDE.ts
  packages/common/src/ide/types/Configuration.ts
  packages/common/src/ide/types/FileSystem.types.ts
  packages/common/src/ide/types/ide.types.ts
  packages/common/src/index.ts
  packages/common/src/types/commandHistory.ts
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-e2e/src/suite/commandHistory.vscode.test.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFileSystem.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
  packages/vscode-common/src/TestHelpers.ts
  pnpm-lock.yaml
Due: eslint

Add "value" support for Python `with`
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resourceManagement.scope
  queries/python.scm
Due: eslint

Fixes
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resourceManagement.iteration.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resourceManagement.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resourceManagement2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resourceManagement3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resourceManagement.iteration.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resourceManagement2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resourceManagement3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resourceManagement4.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resourceManagement5.scope
  queries/python.scm
Due: eslint

Add simple command history analyzer
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-engine/src/util/getScopeType.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/registerCommands.ts
  pnpm-lock.yaml
Due: eslint

pre-commit: Update Python linters (#2158)
  .pre-commit-config.yaml
Due: none

refactor and parse literalStep
  cursorless-talon/src/tutorial.py
  packages/cursorless-engine/src/core/Tutorial.ts
Due: eslint

finished converting all the spoken forms
  cursorless-talon/src/tutorial.py
  packages/cursorless-engine/src/core/Tutorial.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/tutorial/unit-2-basic-coding/script.json
Due: eslint

add keyboard test for past/makeRange
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
Due: eslint

steal comma for and/makeList
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: eslint

move definition of which actions exit cursorless mode to the config
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/keyboard/KeyboardActionType.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandHandler.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: eslint

document functions and use a tutorial directory directly in the assets
  cursorless-talon/src/tutorial.py
  packages/cursorless-engine/src/core/Tutorial.ts
  packages/cursorless-vscode/src/scripts/populateDist/assets.ts
Due: eslint

Add key/value support and fix some edge interpolation edge cases
  data/playground/shellscript/shellscript.sh
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/containingScope/changeGrandState.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/containingScope/changeGrandState2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/containingScope/changeGrandState3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeEveryArgInsideTrap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeEveryArgInsideTrap2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeKeyCrunch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/shellscript/changeValueVest.yml
  queries/shellscript.scm
Due: format-recorded-tests, check-recorded-test-marks
