Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

feat: use talon.nvim select_range function
  packages/cursorless-neovim/src/neovimUtil.ts
Due: eslint

cleanup: renaming, moving stuff
  packages/cursorless-neovim/TODO.md
  packages/cursorless-neovim/src/extension.ts
  packages/cursorless-neovim/src/ide/neovim/InMemoryTextEditorImpl.ts
  packages/cursorless-neovim/src/index.ts
  packages/cursorless-neovim/src/neovimApi.ts
  packages/cursorless-neovim/src/registerCommands.ts
Due: eslint

switch @dummy to @_dummy to see if addresses errors, and to match other .scm files
  queries/lua.scm
Due: none

docs: non fatal revealRange() and focus() methods
  packages/cursorless-neovim/src/ide/neovim/InMemoryTextEditorImpl.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

docs: todo
  packages/cursorless-neovim/TODO.md
Due: none

refactor: cleanup set selection in text editor class
  packages/common/src/types/TextEditor.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-neovim/src/ide/neovim/InMemoryTextEditorImpl.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimTextEditorImpl.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeInsertSnippets.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

refactor: neovim apis and helpers. Also removed the old text editor and line and document implementations
  packages/cursorless-neovim/TODO.md
  packages/cursorless-neovim/src/extension.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimTextDocumentImpl.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimTextEditorImpl.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimTextLineImpl.ts
  packages/cursorless-neovim/src/index.ts
  packages/cursorless-neovim/src/neovimApi.ts
  packages/cursorless-neovim/src/neovimHelpers.ts
  packages/cursorless-neovim/src/registerCommands.ts
  packages/cursorless-neovim/src/types/BufferManager.ts
Due: eslint

refactor: rename in memory classes to neovim classes
  packages/cursorless-neovim/TODO.md
  packages/cursorless-neovim/src/ide/neovim/NeovimIDE.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimTextDocumentImpl.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimTextEditorImpl.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimTextLineImpl.ts
  packages/cursorless-neovim/src/types/BufferManager.ts
Due: eslint

Add a page about visual impairments to the docs (#2258)
  docs/user/README.md
  docs/user/visualAccessibility.md
Due: none

pyright init
  pyproject.toml
Due: none

docs: todo list
  packages/cursorless-neovim/TODO.md
Due: none

refactor: disabled comments
  packages/cursorless-neovim/src/neovimApi.ts
Due: eslint

add pyright
  .github/workflows/test.yml
Due: none

fix: await setSelectionsWithoutFocusingEditor()
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-engine/src/actions/CallbackAction.ts
  packages/cursorless-engine/src/actions/Deselect.ts
  packages/cursorless-engine/src/actions/InsertCopy.ts
  packages/cursorless-engine/src/actions/InsertEmptyLines.ts
  packages/cursorless-engine/src/actions/PasteFromClipboard.ts
  packages/cursorless-engine/src/actions/Wrap.ts
  packages/cursorless-engine/src/util/setSelectionsAndFocusEditor.ts
Due: eslint

feat: Cursorless "copy" action
  packages/cursorless-neovim/src/ide/neovim/NeovimCapabilities.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimTextEditorImpl.ts
  packages/cursorless-neovim/src/neovimApi.ts
  packages/cursorless-neovim/src/neovimHelpers.ts
Due: eslint

feat: make text editor selections setter async in preparation for neovim
  packages/common/src/types/TextEditor.ts
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-engine/src/actions/CallbackAction.ts
  packages/cursorless-engine/src/actions/Deselect.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/actions/InsertCopy.ts
  packages/cursorless-engine/src/actions/InsertEmptyLines.ts
  packages/cursorless-engine/src/actions/PasteFromClipboard.ts
  packages/cursorless-engine/src/actions/Wrap.ts
  packages/cursorless-engine/src/util/setSelectionsAndFocusEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeInsertSnippets.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

add release notes
  changelog/2024-03-fallBackToTalonActions.md
Due: none

fix: missing call
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

fix: wrong use of set selections
  packages/common/src/types/TextEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
Due: eslint

Fallback to Talon actions when focus is not on the text editor (#2235)
  changelog/2024-03-fallBackToTalonActions.md
  cursorless-talon/src/command.py
  cursorless-talon/src/fallback.py
  cursorless-talon/src/versions.py
  packages/common/src/FakeCommandServerApi.ts
  packages/common/src/getFakeCommandServerApi.ts
  packages/common/src/index.ts
  packages/common/src/testUtil/serializeTestFixture.ts
  packages/common/src/types/CommandServerApi.ts
  packages/common/src/types/TestCaseFixture.ts
  packages/common/src/types/command/CommandV7.types.ts
  packages/common/src/types/command/command.types.ts
  packages/common/src/util/clientSupportsFallback.ts
  packages/cursorless-engine/src/CommandRunner.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV6ToV7.ts
  packages/cursorless-engine/src/core/getCommandFallback.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/generateSpokenForm/getHatMapCommand.ts
  packages/cursorless-engine/src/runCommand.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCase.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/bringFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/bringFine2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/chuckFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/chuckFine2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/moveFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/takeThis.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/takeToken.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/testCaseRecorder/takeHarp.yml
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/extension.ts
  packages/vscode-common/src/TestHelpers.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Fallback to Talon actions when focus is not on the text editor (#2235)
  src/command.py
  src/fallback.py
  src/versions.py
Due: none

update scope test fixtures
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/branch.if.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/functionCallee.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/map.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/name.assignment.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/name.variable.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/namedFunction.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/value.assignment.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/value.variable.scope
Due: none

Add changelog entry for #1962
  changelog/2024-03-addLuaSupport.md
Due: none

restore selections property
  packages/common/src/types/TextEditor.ts
Due: eslint

fix: restore selections property
  packages/common/src/types/TextEditor.ts
Due: eslint

fix: new way to import the fake command server api after merge
  packages/cursorless-neovim/src/extension.ts
Due: eslint

fix: copy/take any target work in all modes except terminal mode
  packages/cursorless-neovim/src/ide/neovim/NeovimTextDocumentImpl.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimTextLineImpl.ts
  packages/cursorless-neovim/src/neovimApi.ts
  packages/cursorless-neovim/src/neovimHelpers.ts
Due: eslint

feat: make CommandServerApi.getFocusedElementType async (for neovim)
  packages/common/src/FakeCommandServerApi.ts
  packages/common/src/types/CommandServerApi.ts
  packages/cursorless-engine/src/core/getCommandFallback.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
Due: eslint

feat: CommandServerApi implementation for neovim
  packages/cursorless-neovim/src/NeovimCommandServerApi.ts
  packages/cursorless-neovim/src/extension.ts
Due: eslint

docs: neovim terminology vs cursorless terminology
  packages/cursorless-neovim/TERMINOLOGY.md
  packages/cursorless-neovim/src/types/BufferManager.ts
Due: eslint

refactor: make the text editor edit() interface better for neovim
  packages/common/src/index.ts
  packages/common/src/types/Edit.ts
  packages/common/src/types/TextEditor.ts
  packages/cursorless-engine/src/actions/BreakLine.ts
  packages/cursorless-engine/src/actions/JoinLines.ts
  packages/cursorless-engine/src/actions/Wrap.ts
  packages/cursorless-engine/src/core/updateSelections/RangeUpdater.ts
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
  packages/cursorless-engine/src/typings/Types.ts
  packages/cursorless-engine/src/util/performDocumentEdits.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeEdit.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

fix: missing await on text editor setSelections()
  packages/cursorless-vscode/src/ide/vscode/VscodeInsertSnippets.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

missing setSelections await
  packages/cursorless-vscode/src/ide/vscode/VscodeInsertSnippets.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

feat: text editor edit() -> delete() implementation
  packages/cursorless-neovim/src/ide/neovim/NeovimEdit.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimTextEditorImpl.ts
Due: eslint

refactor: neovim edit()
  packages/cursorless-neovim/src/ide/neovim/NeovimEdit.ts
Due: eslint
