Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

Add support for `yield` statements for `"value"` in Python (#2215)
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.yield.scope
  queries/python.scm
Due: eslint

Bump black to 24.1.1
  .pre-commit-config.yaml
Due: none

Bump CI node version to 20
  .github/workflows/codeql.yml
  .github/workflows/deploy.yaml
  .github/workflows/pre-commit.yml
  .github/workflows/test-docs.yml
  .github/workflows/test.yml
  .nvmrc
  cursorless-talon/.github/workflows/black.yml
Due: none

cleanup name / value
  queries/lua.scm
Due: none

Update tests
  packages/common/src/scopeSupportFacets/lua.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/lua/changeMap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/name.assignment.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/name.variable.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/value.variable.scope
Due: eslint, format-recorded-tests, check-recorded-test-marks

remove lint warnings
  packages/common/src/scopeSupportFacets/lua.ts
Due: eslint

better callee test
  packages/common/src/scopeSupportFacets/lua.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/lua/changeCallee.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/functionCallee.scope
Due: eslint, format-recorded-tests, check-recorded-test-marks

more test improvements
  packages/common/src/scopeSupportFacets/lua.ts
  packages/cursorless-engine/src/scopeProviders/getTargetRanges.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/lua/changeCharInsideMap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/map.scope
Due: eslint, format-recorded-tests, check-recorded-test-marks

more scope test fix
  packages/cursorless-engine/src/scopeProviders/getTargetRanges.ts
Due: eslint

More test cleanup
  packages/common/src/scopeSupportFacets/lua.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/lua/changeBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/lua/changeBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/lua/changeBranch3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/lua/changeInsideBranchPit.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/lua/changeInsideBranchQuench.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/lua/changeInsideBranchRed.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/branch.if.scope
Due: eslint, format-recorded-tests, check-recorded-test-marks

more test cleanup
  packages/common/src/scopeSupportFacets/lua.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/lua/changeFunk.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/lua/changeInsideFunk.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/namedFunction.scope
Due: eslint, format-recorded-tests, check-recorded-test-marks

fix
  queries/lua.scm
Due: none

more cleanup
  queries/lua.scm
Due: none

Fix interior scope tests
  packages/cursorless-engine/src/scopeProviders/getTargetRanges.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/html/element.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/element.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/talon/command.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/textual/document.scope
Due: eslint

Add name.variable and value.variable
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
Due: eslint

more tweaks
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.assignment.pattern.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.assignment.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.variable.pattern.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.variable.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.assignment.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.variable.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.variable.scope
Due: eslint

whoops
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/lua/value.variable.scope
Due: eslint

fix
  packages/common/src/scopeSupportFacets/javascript.ts
Due: eslint

Add "paste" how-to guide
  docs/user/how-to.md
  docs/user/reference/destinations.md
Due: none

switch admonition
  docs/user/how-to.md
Due: none

remove unnecessary collectionItem implementation
  packages/cursorless-engine/src/languages/elm.ts
Due: eslint

PR feedback
  docs/user/how-to.md
  docs/user/reference/destinations.md
Due: none

update test
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/textual/document.scope
Due: none

Fix interior scope tests (#2218)
  packages/cursorless-engine/src/scopeProviders/getTargetRanges.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/html/element.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/element.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/talon/command.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/textual/document.scope
Due: eslint

Proposal for nesting query predicate operator
  queries/nix.scm
Due: none

make most current tests pass with scm queries
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  queries/elm.scm
Due: eslint

annotate lambda correctly
  queries/elm.scm
Due: none

Add name.variable and value.variable (#2219)
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.assignment.pattern.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.assignment.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.variable.pattern.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.variable.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.assignment.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.variable.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.variable.scope
Due: eslint

add queries for branches and types
  queries/elm.scm
Due: none

make one more type test pass
  queries/elm.scm
Due: none

attempt to solve pattern problem with multiple matches of query
  queries/elm.scm
Due: none

Bump black to 24.1.1 (#2216)
  .pre-commit-config.yaml
  cursorless-talon/src/number_small.py
  cursorless-talon/src/terms.py
Due: none

Bump black to 24.1.1 (#2216)
  src/number_small.py
  src/terms.py
Due: none

Move font measurements script into a file.
  packages/cursorless-vscode/resources/font_measurements.js
  packages/cursorless-vscode/src/ide/vscode/hats/FontMeasurementsImpl.ts
  packages/cursorless-vscode/src/scripts/populateDist/assets.ts
Due: eslint

Fix font measurement code
  packages/cursorless-vscode/src/ide/vscode/hats/FontMeasurementsImpl.ts
  packages/cursorless-vscode/src/scripts/populateDist/assets.ts
Due: eslint

Add head tags.
  packages/cursorless-vscode/src/ide/vscode/hats/FontMeasurementsImpl.ts
Due: eslint

add simple head/tail modifiers
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: eslint

Update enablement-group.mdx
  packages/cursorless-org/src/content/enablement-group.mdx
Due: none

bump maintenance badge
  README.md
Due: none
