Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

c/cpp
  data/fixtures/scopes/c/class.scope
  data/fixtures/scopes/c/class2.scope
  data/fixtures/scopes/c/class3.scope
  data/fixtures/scopes/c/name.iteration.class.scope
  data/fixtures/scopes/c/name.iteration.class2.scope
  data/fixtures/scopes/c/value.iteration.block.scope
  data/fixtures/scopes/c/value.iteration.block2.scope
  data/fixtures/scopes/c/value.iteration.class.scope
  data/fixtures/scopes/c/value.iteration.class2.scope
  data/fixtures/scopes/c/value.iteration.document.scope
  data/fixtures/scopes/cpp/class.scope
  data/fixtures/scopes/cpp/class2.scope
  data/fixtures/scopes/cpp/name.iteration.class.scope
  data/fixtures/scopes/cpp/value.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/cpp/value.argument.formal.iteration.scope
  data/fixtures/scopes/cpp/value.argument.formal.method.iteration.scope
  data/fixtures/scopes/cpp/value.iteration.class.scope
  packages/common/src/scopeSupportFacets/c.ts
  queries/c.scm
Due: eslint

javascript
  data/fixtures/scopes/javascript.core/name.iteration.block3.scope
  data/fixtures/scopes/javascript.core/name.iteration.class.scope
  data/fixtures/scopes/javascript.core/value.iteration.block.scope
  data/fixtures/scopes/javascript.core/value.iteration.block2.scope
  data/fixtures/scopes/javascript.core/value.iteration.block3.scope
  data/fixtures/scopes/javascript.core/value.iteration.class.scope
  data/fixtures/scopes/javascript.core/value.iteration.document.scope
  data/fixtures/scopes/typescript.core/name.iteration.class.scope
  data/fixtures/scopes/typescript.core/type.cast.scope
  data/fixtures/scopes/typescript.core/type.cast2.scope
  data/fixtures/scopes/typescript.core/type.class.scope
  data/fixtures/scopes/typescript.core/type.enum.scope
  data/fixtures/scopes/typescript.core/type.enum2.scope
  data/fixtures/scopes/typescript.core/type.interface.scope
  data/fixtures/scopes/typescript.core/value.iteration.class.scope
  packages/common/src/scopeSupportFacets/javascript.ts
  queries/javascript.core.scm
Due: eslint

js statement
  data/fixtures/scopes/javascript.core/statement.iteration.block.scope
  data/fixtures/scopes/javascript.core/statement.iteration.block2.scope
  data/fixtures/scopes/javascript.core/statement.iteration.block3.scope
  data/fixtures/scopes/javascript.core/statement.iteration.block4.scope
Due: none

csharp
  data/fixtures/scopes/csharp/interior.lambda.block.scope
  data/fixtures/scopes/csharp/interior.while.scope
  data/fixtures/scopes/csharp/name.iteration.block3.scope
  data/fixtures/scopes/csharp/name.iteration.block4.scope
  data/fixtures/scopes/csharp/name.iteration.class.scope
  data/fixtures/scopes/csharp/statement.iteration.block.scope
  data/fixtures/scopes/csharp/statement.iteration.block2.scope
  data/fixtures/scopes/csharp/statement.iteration.block3.scope
  data/fixtures/scopes/csharp/statement.iteration.block4.scope
  data/fixtures/scopes/csharp/value.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/csharp/value.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/value.argument.formal.method.iteration.scope
  data/fixtures/scopes/csharp/value.iteration.block.scope
  data/fixtures/scopes/csharp/value.iteration.block2.scope
  data/fixtures/scopes/csharp/value.iteration.block3.scope
  data/fixtures/scopes/csharp/value.iteration.block4.scope
  data/fixtures/scopes/csharp/value.iteration.class.scope
  data/fixtures/scopes/csharp/value.iteration.document.scope
  data/fixtures/scopes/csharp/value.mapPair.iteration.scope
  data/fixtures/scopes/javascript.core/statement.iteration.block.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
  queries/javascript.core.scm
  queries/typescript.core.scm
Due: eslint

More csharp
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/scm.ts
  packages/common/src/scopeSupportFacets/xml.ts
  packages/common/src/scopeSupportFacets/yaml.ts
  queries/csharp.scm
Due: eslint

css
  packages/common/src/scopeSupportFacets/css.ts
  packages/common/src/scopeSupportFacets/json.ts
Due: eslint

talon
  data/fixtures/scopes/talon/name.iteration.block.scope
  data/fixtures/scopes/talon/name.iteration.block2.scope
  data/fixtures/scopes/talon/name.iteration.block3.scope
  data/fixtures/scopes/talon/name.iteration.document.scope
  data/fixtures/scopes/talon/value.iteration.block.scope
  data/fixtures/scopes/talon/value.iteration.block2.scope
  data/fixtures/scopes/talon/value.iteration.block3.scope
  data/fixtures/scopes/talon/value.iteration.document.scope
  packages/common/src/scopeSupportFacets/talon.ts
  queries/talon.scm
Due: eslint

talon test
  data/fixtures/recorded/languages/talon/clearEveryValue5.yml
Due: format-recorded-tests, check-recorded-test-marks

java
  data/fixtures/scopes/java/name.iteration.block2.scope
  data/fixtures/scopes/java/name.iteration.block3.scope
  data/fixtures/scopes/java/name.iteration.block4.scope
  data/fixtures/scopes/java/name.iteration.class.scope
  data/fixtures/scopes/java/name.iteration.class2.scope
  data/fixtures/scopes/java/statement.iteration.block.scope
  data/fixtures/scopes/java/statement.iteration.block2.scope
  data/fixtures/scopes/java/statement.iteration.block3.scope
  data/fixtures/scopes/java/statement.iteration.block4.scope
  data/fixtures/scopes/java/statement.iteration.document.scope
  data/fixtures/scopes/java/value.iteration.block.scope
  data/fixtures/scopes/java/value.iteration.block2.scope
  data/fixtures/scopes/java/value.iteration.block3.scope
  data/fixtures/scopes/java/value.iteration.block4.scope
  data/fixtures/scopes/java/value.iteration.class.scope
  data/fixtures/scopes/java/value.iteration.class2.scope
  data/fixtures/scopes/java/value.iteration.document.scope
  packages/common/src/scopeSupportFacets/java.ts
  queries/java.scm
Due: eslint

python
  data/fixtures/scopes/python/name.iteration.block2.scope
  data/fixtures/scopes/python/name.iteration.block3.scope
  data/fixtures/scopes/python/name.iteration.block4.scope
  data/fixtures/scopes/python/name.iteration.class.scope
  data/fixtures/scopes/python/statement.iteration.block.scope
  data/fixtures/scopes/python/statement.iteration.block2.scope
  data/fixtures/scopes/python/statement.iteration.block3.scope
  data/fixtures/scopes/python/statement.iteration.block4.scope
  data/fixtures/scopes/python/statement.iteration.document.scope
  data/fixtures/scopes/python/value.iteration.block.scope
  data/fixtures/scopes/python/value.iteration.block2.scope
  data/fixtures/scopes/python/value.iteration.block3.scope
  data/fixtures/scopes/python/value.iteration.block4.scope
  data/fixtures/scopes/python/value.iteration.class.scope
  data/fixtures/scopes/python/value.iteration.document.scope
  packages/common/src/scopeSupportFacets/python.ts
Due: eslint

Update class tests
  data/fixtures/scopes/c/class.scope
  data/fixtures/scopes/c/class2.scope
  data/fixtures/scopes/c/class3.scope
  data/fixtures/scopes/c/class4.scope
  data/fixtures/scopes/c/class5.scope
  data/fixtures/scopes/c/class6.scope
Due: none

rename
  data/fixtures/scopes/c/class4.scope
  data/fixtures/scopes/c/class5.scope
  data/fixtures/scopes/c/class6.scope
Due: none

reorder
  queries/c.scm
Due: none

c
  data/fixtures/scopes/c/name.iteration.block.scope
  data/fixtures/scopes/c/name.iteration.block3.scope
  data/fixtures/scopes/c/name.iteration.block4.scope
  data/fixtures/scopes/c/statement.iteration.block.scope
  data/fixtures/scopes/c/statement.iteration.block3.scope
  data/fixtures/scopes/c/statement.iteration.block4.scope
  data/fixtures/scopes/c/statement.iteration.class.scope
  data/fixtures/scopes/c/statement.iteration.class2.scope
  data/fixtures/scopes/c/type.argument.formal.iteration.scope
  data/fixtures/scopes/c/type.field.iteration.scope
  data/fixtures/scopes/c/type.iteration.block2.scope
  data/fixtures/scopes/c/type.iteration.block3.scope
  data/fixtures/scopes/c/type.iteration.block4.scope
  data/fixtures/scopes/c/type.iteration.class.scope
  data/fixtures/scopes/c/type.iteration.class2.scope
  data/fixtures/scopes/c/type.iteration.document.scope
  data/fixtures/scopes/c/value.iteration.block.scope
  data/fixtures/scopes/c/value.iteration.block3.scope
  data/fixtures/scopes/c/value.iteration.block4.scope
  data/fixtures/scopes/typescript.core/type.field.iteration.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/css.ts
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/json.ts
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/r.ts
  packages/common/src/scopeSupportFacets/scm.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/talon.ts
  packages/common/src/scopeSupportFacets/xml.ts
  packages/common/src/scopeSupportFacets/yaml.ts
  queries/c.scm
Due: eslint

Scope support
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/typescript.ts
Due: eslint

csharp
  data/fixtures/scopes/cpp/statement.iteration.class.scope
  data/fixtures/scopes/cpp/type.iteration.class.scope
  data/fixtures/scopes/csharp/statement.iteration.class.scope
  data/fixtures/scopes/csharp/statement.iteration.document.scope
  data/fixtures/scopes/csharp/type.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/csharp/type.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/type.argument.formal.method.iteration.scope
  data/fixtures/scopes/csharp/type.field.iteration.scope
  data/fixtures/scopes/csharp/type.iteration.block.scope
  data/fixtures/scopes/csharp/type.iteration.block2.scope
  data/fixtures/scopes/csharp/type.iteration.block3.scope
  data/fixtures/scopes/csharp/type.iteration.block4.scope
  data/fixtures/scopes/csharp/type.iteration.class.scope
  data/fixtures/scopes/csharp/type.iteration.document.scope
  data/fixtures/scopes/csharp/type.typeArgument.iteration.scope
  data/fixtures/scopes/csharp/value.iteration.document.scope
  queries/csharp.scm
Due: none

java
  data/fixtures/scopes/java/name.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/java/name.argument.formal.constructor.scope
  data/fixtures/scopes/java/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/java/name.argument.formal.method.scope
  data/fixtures/scopes/java/statement.iteration.class.scope
  data/fixtures/scopes/java/statement.iteration.class2.scope
  data/fixtures/scopes/java/type.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/java/type.argument.formal.constructor.scope
  data/fixtures/scopes/java/type.argument.formal.method.iteration.scope
  data/fixtures/scopes/java/type.argument.formal.method.scope
  data/fixtures/scopes/java/type.field.iteration.scope
  data/fixtures/scopes/java/type.iteration.block.scope
  data/fixtures/scopes/java/type.iteration.block2.scope
  data/fixtures/scopes/java/type.iteration.block3.scope
  data/fixtures/scopes/java/type.iteration.block4.scope
  data/fixtures/scopes/java/type.iteration.class.scope
  data/fixtures/scopes/java/type.iteration.class2.scope
  data/fixtures/scopes/java/type.iteration.document.scope
  data/fixtures/scopes/java/type.typeArgument.iteration.scope
  queries/java.scm
Due: none

python
  data/fixtures/scopes/python/name.argument.actual.iteration.scope
  data/fixtures/scopes/python/statement.iteration.class.scope
  data/fixtures/scopes/python/type.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/python/type.argument.formal.iteration.scope
  data/fixtures/scopes/python/type.argument.formal.method.iteration.scope
  data/fixtures/scopes/python/type.field.iteration.scope
  data/fixtures/scopes/python/type.iteration.block.scope
  data/fixtures/scopes/python/type.iteration.block2.scope
  data/fixtures/scopes/python/type.iteration.block3.scope
  data/fixtures/scopes/python/type.iteration.block4.scope
  data/fixtures/scopes/python/type.iteration.class.scope
  data/fixtures/scopes/python/type.iteration.document.scope
  data/fixtures/scopes/python/type.typeArgument.iteration.scope
  data/fixtures/scopes/python/value.argument.actual.iteration.scope
  queries/python.scm
Due: none

js
  data/fixtures/scopes/javascript.core/statement.iteration.class.scope
  data/fixtures/scopes/typescript.core/type.iteration.block.scope
  data/fixtures/scopes/typescript.core/type.iteration.block2.scope
  data/fixtures/scopes/typescript.core/type.iteration.block3.scope
  data/fixtures/scopes/typescript.core/type.iteration.block4.scope
  data/fixtures/scopes/typescript.core/type.iteration.class.scope
  data/fixtures/scopes/typescript.core/type.iteration.document.scope
Due: none

cpp tests
  data/fixtures/scopes/cpp/type.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/cpp/type.argument.formal.method.iteration.scope
  data/fixtures/scopes/cpp/type.typeArgument.iteration.scope
Due: none

scm scss
  data/fixtures/scopes/scm/argument.actual.multiLine.scope
  data/fixtures/scopes/scss/argument.actual.multiLine.scope
  data/fixtures/scopes/scss/name.argument.formal.iteration.scope
  data/fixtures/scopes/scss/value.argument.formal.iteration.scope
  queries/scm.scm
  queries/scss.scm
Due: none

java tests
  data/fixtures/scopes/java/anonymousFunction.scope
  data/fixtures/scopes/java/anonymousFunction2.scope
  data/fixtures/scopes/java/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/java/argument.actual.iteration.scope
  data/fixtures/scopes/java/argument.actual.method.iteration.scope
  data/fixtures/scopes/java/argument.actual.multiLine.scope
  data/fixtures/scopes/java/argument.actual.singleLine.scope
  data/fixtures/scopes/java/argument.formal.constructor.iteration.scope
  data/fixtures/scopes/java/argument.formal.constructor.multiLine.scope
  data/fixtures/scopes/java/argument.formal.constructor.singleLine.scope
  data/fixtures/scopes/java/argument.formal.lambda.iteration.scope
  data/fixtures/scopes/java/argument.formal.lambda.multiLine.scope
  data/fixtures/scopes/java/argument.formal.lambda.singleLine.scope
  data/fixtures/scopes/java/argument.formal.method.iteration.scope
  data/fixtures/scopes/java/argument.formal.method.multiLine.scope
  data/fixtures/scopes/java/argument.formal.method.singleLine.scope
Due: none

Up dit
  packages/common/src/scopeSupportFacets/scss.ts
Due: eslint

python
  data/fixtures/scopes/python/branch.if.elif.else.scope
  queries/python.scm
Due: none

lua
  data/fixtures/scopes/lua/branch.if.elif.else.scope
  data/fixtures/scopes/lua/branch.if.else.scope
  data/fixtures/scopes/lua/branch.if.iteration.scope
  data/fixtures/scopes/lua/branch.if.scope
  data/fixtures/scopes/lua/condition.if.scope
  data/fixtures/scopes/lua/ifStatement.scope
  packages/common/src/scopeSupportFacets/lua.ts
  queries/lua.scm
  queries/scss.scm
Due: eslint

Added more interface facets
  data/fixtures/scopes/csharp/interior.interface.scope
  data/fixtures/scopes/csharp/name.class.scope
  data/fixtures/scopes/csharp/name.interface.scope
  data/fixtures/scopes/csharp/name.iteration.interface.scope
  data/fixtures/scopes/csharp/statement.class.scope
  data/fixtures/scopes/csharp/statement.interface.scope
  data/fixtures/scopes/csharp/statement.iteration.interface.scope
  data/fixtures/scopes/csharp/type.class.scope
  data/fixtures/scopes/csharp/type.iteration.interface.scope
  data/fixtures/scopes/csharp/value.iteration.interface.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/common/src/scopeSupportFacets/css.ts
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/json.ts
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/scm.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/talon.ts
  packages/common/src/scopeSupportFacets/xml.ts
  packages/common/src/scopeSupportFacets/yaml.ts
  queries/csharp.scm
Due: eslint

Sort language ids in scope tests
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
Due: eslint

update
  data/fixtures/scopes/cpp/statement.class.scope
  data/fixtures/scopes/cpp/statement.class2.scope
  data/fixtures/scopes/csharp/name.field.class.scope
  data/fixtures/scopes/csharp/type.field.class.scope
  data/fixtures/scopes/csharp/value.field.class.scope
Due: none

not applicable
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/json.ts
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/scm.ts
  packages/common/src/scopeSupportFacets/talon.ts
  packages/common/src/scopeSupportFacets/xml.ts
  packages/common/src/scopeSupportFacets/yaml.ts
Due: eslint

Sort language ids in scope tests (#3005)
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
Due: eslint

csharp
  data/fixtures/scopes/csharp/name.field.interface.scope
  data/fixtures/scopes/csharp/statement.field.class.scope
  data/fixtures/scopes/csharp/statement.field.interface.scope
  data/fixtures/scopes/csharp/type.field.interface.scope
  packages/common/src/scopeSupportFacets/csharp.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
