Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/rwxcorp/pre-commit-lua.git
    rev: v1.0.0
    hooks:
      - id: stylua
      - id: luacheck

Added eol offset
  packages/cursorless-talon-js/src/ide/TalonJsTextDocument.ts
Due: eslint

Removed debug log
  packages/cursorless-talon-js/src/ide/TalonJsTextDocument.ts
Due: eslint

Update ts config
  packages/cursorless-talon-js/tsconfig.json
Due: none

restore snippet parser
  packages/cursorless-engine/src/snippets/vendor/vscodeSnippet/snippetParser.ts
Due: none

Restore slip at parser
  packages/cursorless-engine/src/snippets/vendor/vscodeSnippet/snippetParser.ts
Due: none

Added padding
  packages/cursorless-talon-js/package.json
Due: none

Extend capabilities
  packages/common/src/ide/fake/FakeCapabilities.ts
  packages/common/src/ide/types/Capabilities.ts
  packages/common/src/types/TextEditor.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeCapabilities.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

fix: restore working version on Windows
  .vscode/tasks.json
Due: none

fix: support Windows for loading workspace init.lua (see #2510)
  .vscode/tasks.json
  docs/contributing/cursorless-in-neovim.md
  packages/cursorless-neovim/scripts/debug-neovim.bat
Due: none

Allow whitespace lines when calculating edit indentation
  data/fixtures/recorded/actions/drinkLine2.yml
  data/fixtures/recorded/actions/pourLine2.yml
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

update
  packages/common/src/ide/types/Capabilities.ts
  packages/common/src/ide/types/CommandId.ts
  packages/common/src/types/TextEditor.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/EditNew/runInsertLineAfterTargets.ts
  packages/cursorless-engine/src/actions/IndentLine.ts
  packages/cursorless-engine/src/actions/SimpleIdeCommandActions.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeCapabilities.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

Fix esbuild warning. Not totally sure what it's about but this fix makes the warnings go away and doesn't break anything
  packages/test-harness/package.json
Due: none

Restore capabilities
  packages/common/src/ide/types/CommandId.ts
  packages/cursorless-engine/src/actions/SimpleIdeCommandActions.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
Due: eslint

cleanup
  packages/common/src/ide/fake/FakeCapabilities.ts
  packages/cursorless-talon-js/src/ide/TalonJsCapabilities.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeCapabilities.ts
Due: eslint

Moved takeSnapshot into test-case-recorder package
  packages/common/src/index.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/test-case-recorder/src/TestCase.ts
  packages/test-case-recorder/src/TestCaseRecorder.ts
  packages/test-case-recorder/src/index.ts
  packages/test-case-recorder/src/takeSnapshot.ts
  packages/test-case-recorder/src/timeUtils.ts
Due: eslint

Fix esbuild warning (#2513)
  packages/test-harness/package.json
Due: none

Moved takeSnapshot into test-case-recorder package (#2514)
  packages/common/src/index.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/test-case-recorder/src/TestCase.ts
  packages/test-case-recorder/src/TestCaseRecorder.ts
  packages/test-case-recorder/src/index.ts
  packages/test-case-recorder/src/takeSnapshot.ts
  packages/test-case-recorder/src/timeUtils.ts
Due: eslint

Restore time utils
  packages/test-case-recorder/src/timeUtils.ts
Due: eslint

tweaks
  packages/cursorless-engine/src/actions/EditNew/EditNew.ts
  packages/cursorless-engine/src/actions/EditNew/runEditTargets.ts
  packages/cursorless-engine/src/actions/EditNew/runInsertLineAfterTargets.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
Due: eslint

clean up
  packages/cursorless-talon-js/esbuild.sh
Due: none

refactor: removed unused code
  packages/cursorless-engine/src/core/updateSelections/RangeUpdater.ts
Due: eslint

refactor: remove unnecessary "sync" keywords
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

fix: also use workspace init.lua for running tests locally
  .vscode/tasks.json
Due: none

re tweak
  packages/cursorless-engine/src/actions/EditNew/EditNew.ts
  packages/cursorless-engine/src/actions/EditNew/runEditTargets.ts
  packages/cursorless-engine/src/actions/EditNew/runInsertLineAfterTargets.ts
Due: eslint

Added es build meta script
  .gitignore
  packages/cursorless-talon-js/package.json
Due: none

Clean up after merge
  packages/common/src/ide/normalized/NormalizedIDE.ts
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim-e2e/src/suite/recorded.neovim.test.ts
  packages/cursorless-neovim-e2e/tsconfig.json
  packages/cursorless-neovim/package.json
  packages/cursorless-neovim/src/constructTestHelpers.ts
  packages/cursorless-neovim/src/extension.ts
  packages/cursorless-neovim/tsconfig.json
  packages/neovim-common/src/TestHelpers.ts
  packages/neovim-common/src/ide/neovim/NeovimFileSystem.ts
  packages/neovim-common/src/ide/neovim/NeovimTextDocumentImpl.ts
  packages/neovim-common/src/ide/neovim/NeovimTextEditorImpl.ts
  packages/neovim-common/src/ide/neovim/hats/NeovimHats.ts
  pnpm-lock.yaml
Due: eslint

Exception for single line
  data/fixtures/recorded/actions/pourFunk.yml
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

refactor: minor fixes needed after merge
  packages/cursorless-neovim/src/registerCommands.ts
  packages/neovim-common/src/index.ts
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

Remove sbd dependency
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
  packages/cursorless-engine/tsconfig.json
  packages/sentence-parser/package.json
  packages/sentence-parser/src/Match.ts
  packages/sentence-parser/src/index.ts
  packages/sentence-parser/src/stringHelper.ts
  packages/sentence-parser/src/test/abbr.test.ts
  packages/sentence-parser/src/test/empty.test.ts
  packages/sentence-parser/src/test/html.js
  packages/sentence-parser/src/test/lists.test.ts
  packages/sentence-parser/src/test/multiple_sentences.test.ts
  packages/sentence-parser/src/test/newline.test.ts
  packages/sentence-parser/src/test/preserve_whitespace.test.ts
  packages/sentence-parser/src/test/single_sentence.test.ts
  packages/sentence-parser/src/test/symbols.test.ts
  packages/sentence-parser/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint

Remove todo
  packages/sentence-parser/src/Match.ts
Due: eslint

refactor
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
  packages/sentence-parser/src/index.ts
  packages/sentence-parser/src/sbd.ts
Due: eslint

Update scripts
  packages/cursorless-talon-js/esbuild.sh
  packages/cursorless-talon-js/package.json
Due: none

Added log
  packages/cursorless-talon-js/src/extension.ts
Due: eslint

tmp: test on CI
  packages/cursorless-neovim/scripts/populate-dist.sh
Due: none

Tweak adding new language docs
  docs/contributing/adding-a-new-language.md
  docs/contributing/adding-a-new-scope.md
Due: none
