Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/|^data/playground/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

Update docs
  packages/cursorless-org-docs/src/docs/contributing/CONTRIBUTING.md
  packages/cursorless-org-docs/src/docs/contributing/parse-tree-patterns.md
Due: none

Update link
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-language.md
Due: none

Update how links are resolved
  packages/cursorless-org-docs/docusaurus.config.mts
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-language.md
  packages/cursorless-org-docs/src/docs/contributing/architecture/neovim-test-infrastructure.md
Due: none

Cleanup
  packages/cursorless-org-docs/docusaurus.config.mts
Due: none

Elaborate on comment
  packages/cursorless-org-docs/docusaurus.config.mts
Due: none

Clean up
  packages/cursorless-org-docs/docusaurus.config.mts
Due: none

Throw unbroken anchors
  packages/cursorless-org-docs/docusaurus.config.mts
Due: none

Remove unused imports
  packages/cursorless-engine/src/processTargets/ModifierStageFactory.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportChecker.ts
Due: eslint

Fix missing argument
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
Due: eslint

Remove unused options argument
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
Due: eslint

Only rewrite folders
  packages/cursorless-org-docs/docusaurus.config.mts
Due: none

Update dependency versions
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/neovim-common/package.json
  packages/node-common/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: none

Add React.jsx imports
  packages/cheatsheet/src/lib/components/CheatsheetLegendComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetListComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetNotesComponent.tsx
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupport.tsx
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupportForLevel.tsx
Due: eslint

dedupe
  pnpm-lock.yaml
Due: none

Remove trie search id field
  packages/cursorless-vscode/src/keyboard/buildSuffixTrie.test.ts
Due: eslint

Update dependency versions (#2957)
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/cheatsheet/src/lib/components/CheatsheetLegendComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetListComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetNotesComponent.tsx
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupport.tsx
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupportForLevel.tsx
  packages/cursorless-org/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/keyboard/buildSuffixTrie.test.ts
  packages/meta-updater/package.json
  packages/neovim-common/package.json
  packages/node-common/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: eslint

Updated contributor docs with info about adding language.mdx (#2955)
  packages/cursorless-org-docs/docusaurus.config.mts
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-language.md
  packages/cursorless-org-docs/src/docs/contributing/architecture/neovim-test-infrastructure.md
Due: none

Sort fields in package json
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-core/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/meta-updater/src/updatePackageJson.ts
  packages/neovim-common/package.json
  packages/neovim-registry/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  packages/vscode-common/package.json
Due: eslint

Sort dependencies alphabetically
  packages/meta-updater/src/updatePackageJson.ts
Due: eslint

reorder pnpm field
  package.json
  packages/meta-updater/src/updatePackageJson.ts
Due: eslint

Reorder
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-core/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/meta-updater/src/updatePackageJson.ts
  packages/neovim-common/package.json
  packages/neovim-registry/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  packages/vscode-common/package.json
Due: eslint

Sort fields in package json (#2959)
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-core/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/meta-updater/src/updatePackageJson.ts
  packages/neovim-common/package.json
  packages/neovim-registry/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  packages/vscode-common/package.json
Due: eslint

Increase performance test threshold
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Increase performance test threshold (#2961)
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Add missing scope facets to C and C++
  data/fixtures/scopes/c/argument.actual.iteration.scope
  data/fixtures/scopes/c/argument.actual.method.iteration.scope
  data/fixtures/scopes/c/argument.actual.method.scope
  data/fixtures/scopes/c/argument.actual.method2.scope
  data/fixtures/scopes/c/argument.actual.scope
  data/fixtures/scopes/c/argument.actual2.scope
  data/fixtures/scopes/c/argument.formal.iteration.scope
  data/fixtures/scopes/c/argument.formal.scope
  data/fixtures/scopes/c/argument.formal2.scope
  data/fixtures/scopes/c/functionCall.scope
  data/fixtures/scopes/c/functionCallee.scope
  data/fixtures/scopes/c/list.scope
  data/fixtures/scopes/c/statement.scope
  data/fixtures/scopes/cpp/attribute.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/cpp.ts
Due: eslint

Type scope
  data/fixtures/scopes/c/type.argument.formal.scope
  data/fixtures/scopes/c/type.cast.scope
  data/fixtures/scopes/c/type.enum.scope
  data/fixtures/scopes/c/type.return.scope
  data/fixtures/scopes/c/type.variable.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/cpp.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  queries/c.scm
Due: eslint

cpp facets
  data/fixtures/scopes/cpp/anonymousFunction.scope
  data/fixtures/scopes/cpp/functionName.constructor.scope
  data/fixtures/scopes/cpp/functionName.method.scope
  data/fixtures/scopes/cpp/name.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/cpp/name.argument.formal.constructor.scope
  data/fixtures/scopes/cpp/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/cpp/name.argument.formal.method.scope
  data/fixtures/scopes/cpp/namedFunction.constructor.scope
  data/fixtures/scopes/cpp/namedFunction.method.scope
  data/fixtures/scopes/cpp/type.argument.formal.constructor.scope
  data/fixtures/scopes/cpp/type.argument.formal.method.scope
  data/fixtures/scopes/cpp/type.foreach.scope
  data/fixtures/scopes/cpp/value.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/cpp/value.argument.formal.constructor.scope
  data/fixtures/scopes/cpp/value.argument.formal.method.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/cpp.ts
Due: eslint

Add missing test
  data/fixtures/scopes/cpp/value.argument.formal.method.iteration.scope
Due: none

Clean up
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
Due: eslint

More clean up
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/cpp.ts
Due: eslint

More tests
  data/fixtures/scopes/cpp/functionName.constructor2.scope
  data/fixtures/scopes/cpp/namedFunction.constructor2.scope
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.ts
Due: eslint

Update
  packages/common/src/scopeSupportFacets/c.ts
Due: eslint

Remove legacy scope support
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
Due: eslint

Clean up
  packages/common/src/types/ScopeProvider.ts
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupport.tsx
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeVisualizer.ts
Due: eslint

Add missing scope definitions
  data/fixtures/recorded/languages/cpp/clearSubject2.yml
  packages/common/src/scopeSupportFacets/c.ts
  queries/c.scm
  queries/java.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Recorded more scope tests
  data/fixtures/scopes/c/argumentList.actual.method.empty.scope
  data/fixtures/scopes/c/argumentList.actual.method.multiLine.scope
  data/fixtures/scopes/c/argumentList.actual.method.singleLine.scope
  data/fixtures/scopes/cpp/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/cpp/argument.actual.constructor.scope
  data/fixtures/scopes/cpp/argument.formal.constructor.iteration.scope
  data/fixtures/scopes/cpp/argument.formal.constructor.scope
  data/fixtures/scopes/cpp/argument.formal.lambda.iteration.scope
  data/fixtures/scopes/cpp/argument.formal.lambda.scope
  data/fixtures/scopes/cpp/argument.formal.method.iteration.scope
  data/fixtures/scopes/cpp/argument.formal.method.scope
  data/fixtures/scopes/cpp/argumentList.actual.constructor.empty.scope
  data/fixtures/scopes/cpp/argumentList.actual.constructor.multiLine.scope
  data/fixtures/scopes/cpp/argumentList.actual.constructor.singleLine.scope
  data/fixtures/scopes/cpp/argumentList.formal.constructor.empty.scope
  data/fixtures/scopes/cpp/argumentList.formal.constructor.multiLine.scope
  data/fixtures/scopes/cpp/argumentList.formal.constructor.singleLine.scope
  data/fixtures/scopes/cpp/argumentList.formal.lambda.empty.scope
  data/fixtures/scopes/cpp/argumentList.formal.lambda.multiLine.scope
  data/fixtures/scopes/cpp/argumentList.formal.lambda.singleLine.scope
  data/fixtures/scopes/cpp/argumentList.formal.method.empty.scope
  data/fixtures/scopes/cpp/argumentList.formal.method.multiLine.scope
  data/fixtures/scopes/cpp/argumentList.formal.method.singleLine.scope
  data/fixtures/scopes/cpp/name.constructor.scope
  data/fixtures/scopes/cpp/name.constructor2.scope
  data/fixtures/scopes/cpp/name.method.scope
  data/fixtures/scopes/cpp/switchStatementSubject.scope
  data/fixtures/scopes/cpp/type.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/cpp/type.argument.formal.method.iteration.scope
  data/fixtures/scopes/cpp/value.return.lambda.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/cpp.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  queries/c.scm
  queries/cpp.scm
Due: eslint

Added missing scope implementations
  data/fixtures/scopes/cpp/branch.try.iteration.scope
  data/fixtures/scopes/cpp/branch.try.scope
  data/fixtures/scopes/cpp/functionCall.constructor.scope
  data/fixtures/scopes/cpp/functionCallee.constructor.scope
  data/fixtures/scopes/cpp/functionName.method.iteration.class.scope
  data/fixtures/scopes/cpp/name.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/cpp/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/cpp/name.field.scope
  data/fixtures/scopes/cpp/name.foreach.scope
  data/fixtures/scopes/cpp/namedFunction.method.iteration.class.scope
  data/fixtures/scopes/cpp/type.field.scope
  data/fixtures/scopes/cpp/type.typeArgument.iteration.scope
  data/fixtures/scopes/cpp/type.typeArgument.scope
  data/fixtures/scopes/cpp/value.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/cpp/value.argument.formal.method.iteration.scope
  data/fixtures/scopes/cpp/value.field.scope
  data/fixtures/scopes/cpp/value.foreach.scope
  queries/c.scm
  queries/cpp.scm
Due: none
