Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Revert debug print
  packages/test-harness/src/launchVscodeAndRunTests.ts
Due: eslint

Trying to fix ci crash (#2871)
  packages/test-harness/src/launchVscodeAndRunTests.ts
Due: eslint

eol
  CLAUDE.md
Due: none

Document `"puff"`, `"float"` and `"drop"` (#2877)
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Add initial CLAUDE.md (#2876)
  CLAUDE.md
Due: none

Clean up release notes for 1.0 release
  packages/cursorless-org-docs/src/docs/user/release-notes/1.0.md
Due: none

Update version to 1.0.0 in release notes
  packages/cursorless-org-docs/src/docs/user/release-notes/1.0.md
Due: none

Add 1.0.0 release notes file
  packages/cursorless-org-docs/src/docs/user/release-notes/1.0.0.md
Due: none

Add PR links to 1.0.0 release notes
  packages/cursorless-org-docs/src/docs/user/release-notes/1.0.0.md
Due: none

Some cleanup
  packages/cursorless-org-docs/src/docs/user/release-notes/1.0.0.md
Due: none

Changed version to 1.0.0
  packages/cursorless-org-docs/src/docs/user/release-notes/1.0.0.md
Due: none

Remove take before/after examples from docs
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Remove take before/after examples from docs (#2880)
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Show languages in the docs sidebar (#2859)
  changelog/2025-02-addedLanguagesToDocs.md
  packages/common/src/index.ts
  packages/common/src/util/capitalize.ts
  packages/cursorless-org-docs/src/css/custom.css
  packages/cursorless-org-docs/src/docs/user/languages/ScopeSupport.tsx
  packages/cursorless-org-docs/src/docs/user/languages/_category_.json
  packages/cursorless-org-docs/src/docs/user/languages/c.mdx
  packages/cursorless-org-docs/src/docs/user/languages/clojure.mdx
  packages/cursorless-org-docs/src/docs/user/languages/components/Language.tsx
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupport.tsx
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupportForLevel.tsx
  packages/cursorless-org-docs/src/docs/user/languages/cpp.mdx
  packages/cursorless-org-docs/src/docs/user/languages/csharp.mdx
  packages/cursorless-org-docs/src/docs/user/languages/css.mdx
  packages/cursorless-org-docs/src/docs/user/languages/dart.mdx
  packages/cursorless-org-docs/src/docs/user/languages/go.mdx
  packages/cursorless-org-docs/src/docs/user/languages/html.mdx
  packages/cursorless-org-docs/src/docs/user/languages/java.mdx
  packages/cursorless-org-docs/src/docs/user/languages/javascript.mdx
  packages/cursorless-org-docs/src/docs/user/languages/javascriptreact.mdx
  packages/cursorless-org-docs/src/docs/user/languages/json.mdx
  packages/cursorless-org-docs/src/docs/user/languages/jsonc.mdx
  packages/cursorless-org-docs/src/docs/user/languages/jsonl.mdx
  packages/cursorless-org-docs/src/docs/user/languages/latex.mdx
  packages/cursorless-org-docs/src/docs/user/languages/lua.mdx
  packages/cursorless-org-docs/src/docs/user/languages/markdown.mdx
  packages/cursorless-org-docs/src/docs/user/languages/php.mdx
  packages/cursorless-org-docs/src/docs/user/languages/python.mdx
  packages/cursorless-org-docs/src/docs/user/languages/ruby.mdx
  packages/cursorless-org-docs/src/docs/user/languages/rust.mdx
  packages/cursorless-org-docs/src/docs/user/languages/scala.mdx
  packages/cursorless-org-docs/src/docs/user/languages/scm.mdx
  packages/cursorless-org-docs/src/docs/user/languages/scss.mdx
  packages/cursorless-org-docs/src/docs/user/languages/talon.mdx
  packages/cursorless-org-docs/src/docs/user/languages/typescript.mdx
  packages/cursorless-org-docs/src/docs/user/languages/typescriptreact.mdx
  packages/cursorless-org-docs/src/docs/user/languages/xml.mdx
  packages/cursorless-org-docs/src/docs/user/languages/yaml.mdx
  packages/meta-updater/src/updateLanguageScopeSupportConfig.ts
  packages/test-case-recorder/src/TestCaseRecorder.ts
Due: eslint

Don't discard nodes with non adjacent error siblings (#2860)
  data/fixtures/recorded/surroundingPair/changePair.yml
  packages/cursorless-engine/src/languages/TreeSitterQuery/isContainedInErrorNode.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Implementing missing java scopes
  data/fixtures/scopes/java/class.iteration.block.scope
  data/fixtures/scopes/java/class.iteration.document.scope
  data/fixtures/scopes/java/className.iteration.block.scope
  data/fixtures/scopes/java/className.iteration.document.scope
  packages/common/src/scopeSupportFacets/java.ts
  queries/java.scm
Due: eslint

Added branch.loop
  data/fixtures/scopes/java/branch.loop.scope
  data/fixtures/scopes/java/branch.loop2.scope
  data/fixtures/scopes/java/branch.loop3.scope
  data/fixtures/scopes/java/branch.loop4.scope
  packages/common/src/scopeSupportFacets/java.ts
  queries/java.scm
Due: eslint

named function iteration scope
  data/fixtures/scopes/java/functionName.method.iteration.class.scope
  data/fixtures/scopes/java/namedFunction.method.iteration.class.scope
  packages/common/src/scopeSupportFacets/java.ts
  queries/java.scm
Due: eslint

Name iteration
  data/fixtures/scopes/java/class.iteration.block.scope
  data/fixtures/scopes/java/className.iteration.block.scope
  data/fixtures/scopes/java/name.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/java/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/java/name.iteration.block.scope
  data/fixtures/scopes/java/name.iteration.document.scope
  packages/common/src/scopeSupportFacets/java.ts
  queries/java.scm
Due: eslint

Add resources
  data/fixtures/scopes/java/name.resource.scope
  data/fixtures/scopes/java/type.resource.scope
  data/fixtures/scopes/java/value.resource.scope
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/java.scm
Due: eslint

Multiline string
  data/fixtures/scopes/java/string.multiLine.scope
  data/fixtures/scopes/java/textFragment.string.multiLine.scope
  packages/common/src/scopeSupportFacets/java.ts
  queries/java.scm
Due: eslint

Hide private scopes
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupportForLevel.tsx
Due: eslint

Statement iteration
  data/fixtures/scopes/java/statement.iteration.block.scope
  data/fixtures/scopes/java/statement.iteration.document.scope
  packages/common/src/scopeSupportFacets/java.ts
  queries/java.scm
Due: eslint

Hide card if no scope types
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupportForLevel.tsx
Due: eslint

type argument iteration
  data/fixtures/scopes/java/type.formal.constructor.iteration.scope
  data/fixtures/scopes/java/type.formal.method.iteration.scope
  packages/common/src/scopeSupportFacets/java.ts
  queries/java.scm
Due: eslint

More types
  data/fixtures/scopes/java/type.argument.formal.constructor.scope
  data/fixtures/scopes/java/type.argument.formal.method.scope
  data/fixtures/scopes/java/type.cast.scope
  data/fixtures/scopes/java/type.class.scope
  data/fixtures/scopes/java/type.enum.scope
  data/fixtures/scopes/java/type.field.scope
  data/fixtures/scopes/java/type.interface.scope
  data/fixtures/scopes/java/type.return.scope
  data/fixtures/scopes/java/type.typeArgument.scope
  packages/common/src/scopeSupportFacets/java.ts
  queries/java.scm
Due: eslint

Updates tests
  data/fixtures/scopes/java/type.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/java/type.argument.formal.method.iteration.scope
  data/fixtures/scopes/java/type.formal.constructor.iteration.scope
  data/fixtures/scopes/java/type.formal.method.iteration.scope
Due: none

Update version of luarocks workflow action
  .github/actions/test-neovim-lua/action.yml
  .github/workflows/pre-commit.yml
Due: none

Lots of tweaks
  packages/cursorless-org-docs/src/docs/user/release-notes/1.0.0.md
Due: none

Update 1.0.0.md
  packages/cursorless-org-docs/src/docs/user/release-notes/1.0.0.md
Due: none

Update browsers-list db
  pnpm-lock.yaml
Due: none

Update browsers-list db (#2885)
  pnpm-lock.yaml
Due: none

Update version of luarocks workflow action (#2884)
  .github/actions/test-neovim-lua/action.yml
  .github/workflows/pre-commit.yml
Due: none

Release 1.0.0 (#2870)
  packages/cursorless-org-docs/src/docs/user/release-notes/1.0.0.md
  packages/cursorless-vscode/package.json
Due: none

Update iteration
  data/fixtures/scopes/java/class.iteration.block.scope
  data/fixtures/scopes/java/class.iteration.document.scope
  data/fixtures/scopes/java/className.iteration.block.scope
  data/fixtures/scopes/java/className.iteration.document.scope
  queries/java.scm
Due: none

Cast removal
  data/fixtures/scopes/java/type.cast.scope
  queries/java.scm
Due: none

Add missing Java scopes (#2882)
  data/fixtures/scopes/java/branch.loop.scope
  data/fixtures/scopes/java/branch.loop2.scope
  data/fixtures/scopes/java/branch.loop3.scope
  data/fixtures/scopes/java/branch.loop4.scope
  data/fixtures/scopes/java/class.iteration.block.scope
  data/fixtures/scopes/java/class.iteration.document.scope
  data/fixtures/scopes/java/className.iteration.block.scope
  data/fixtures/scopes/java/className.iteration.document.scope
  data/fixtures/scopes/java/functionName.method.iteration.class.scope
  data/fixtures/scopes/java/name.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/java/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/java/name.iteration.block.scope
  data/fixtures/scopes/java/name.iteration.document.scope
  data/fixtures/scopes/java/name.resource.scope
  data/fixtures/scopes/java/namedFunction.method.iteration.class.scope
  data/fixtures/scopes/java/statement.iteration.block.scope
  data/fixtures/scopes/java/statement.iteration.document.scope
  data/fixtures/scopes/java/string.multiLine.scope
  data/fixtures/scopes/java/textFragment.string.multiLine.scope
  data/fixtures/scopes/java/type.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/java/type.argument.formal.constructor.scope
  data/fixtures/scopes/java/type.argument.formal.method.iteration.scope
  data/fixtures/scopes/java/type.argument.formal.method.scope
  data/fixtures/scopes/java/type.cast.scope
  data/fixtures/scopes/java/type.class.scope
  data/fixtures/scopes/java/type.enum.scope
  data/fixtures/scopes/java/type.field.scope
  data/fixtures/scopes/java/type.interface.scope
  data/fixtures/scopes/java/type.resource.scope
  data/fixtures/scopes/java/type.return.scope
  data/fixtures/scopes/java/type.typeArgument.scope
  data/fixtures/scopes/java/value.resource.scope
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupportForLevel.tsx
  queries/java.scm
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
