Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

More fixes
  packages/cursorless-engine/src/processTargets/modifiers/InstanceStage.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint

Clean up
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ImplicitTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/RawSelectionTarget.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint

More fixes
  packages/cursorless-engine/src/actions/CutToClipboard.ts
  packages/cursorless-engine/src/actions/EditNew/EditNew.ts
  packages/cursorless-engine/src/actions/Highlight.ts
  packages/cursorless-engine/src/actions/InsertEmptyLines.ts
  packages/cursorless-engine/src/actions/ToggleBreakpoint.ts
  packages/cursorless-engine/src/processTargets/createContinuousRangeTarget.ts
  packages/cursorless-engine/src/processTargets/marks/CursorStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/InstanceStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/PositionStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CharacterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/BoundedParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
  packages/cursorless-engine/src/processTargets/targets/HeadTailTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ImplicitTarget.ts
  packages/cursorless-engine/src/processTargets/targets/InteriorTarget.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/RawSelectionTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SurroundingPairTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
  packages/cursorless-engine/src/processTargets/targets/UntypedTarget.ts
  packages/cursorless-engine/src/scopeProviders/getTargetRanges.ts
  packages/cursorless-engine/src/typings/target.types.ts
  packages/cursorless-engine/src/util/targetUtils.ts
Due: eslint

fix
  packages/cursorless-engine/src/processTargets/targets/BoundedParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ImplicitTarget.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/RawSelectionTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
Due: eslint

Use generalized ranges in breakpoint action
  packages/common/src/types/TextEditor.ts
  packages/cursorless-engine/src/actions/ToggleBreakpoint.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeToggleBreakpoint.ts
  packages/neovim-common/src/ide/neovim/NeovimTextEditorImpl.ts
Due: eslint

Rename
  packages/cursorless-vscode/src/ide/vscode/VscodeToggleBreakpoint.ts
Due: eslint

rename
  packages/cursorless-vscode/src/ide/vscode/VscodeToggleBreakpoint.ts
Due: eslint

Exclude binary operator from Talon name and value scopes
  queries/talon.scm
Due: none

Added tests
  data/fixtures/scopes/talon/name.field.scope
  data/fixtures/scopes/talon/value.field.scope
  packages/common/src/scopeSupportFacets/talon.ts
Due: eslint

Fix bug with `"every token inside"`
  data/fixtures/recorded/everyScope/changeEveryTokenInside.yml
  packages/cursorless-engine/src/processTargets/modifiers/EveryScopeStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update tests
  data/fixtures/recorded/everyScope/changeLastTokenInside.yml
Due: format-recorded-tests, check-recorded-test-marks

Support tagged templates strings in JavaScript
  data/fixtures/scopes/javascript.core/pairDelimiter.scope
  packages/common/src/scopeSupportFacets/javascript.ts
  queries/javascript.core.scm
Due: eslint

Merge branch 'main' into migrateSnippets
  data/fixtures/recorded/languages/markdown/changeEverySection.yml
  data/fixtures/scopes/markdown/section.iteration.document.scope
  data/fixtures/scopes/markdown/section.iteration.parent.scope
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/markdown.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added pair to the scope section of the cheatsheet
  cursorless-talon/src/cheatsheet/sections/scopes.py
Due: none

Add type scope support for typescript enum
  data/fixtures/scopes/typescript.core/type.enum.scope
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/typescript.ts
  queries/typescript.core.scm
Due: eslint

cleanup
  queries/typescript.core.scm
Due: none

Added const enum test
  data/fixtures/scopes/typescript.core/type.enum2.scope
Due: none

Support grand grand scope
  cursorless-talon/src/modifiers/simple_scope_modifier.py
  data/fixtures/recorded/containingScope/changeGrandGrandState.yml
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update docs
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

typo
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Added triple backtics matching pair to markdown language
  data/fixtures/recorded/languages/markdown/changePair.yml
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/surroundingPairsDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

update to newest cursorless reduce logging.
  packages/cursorless-jetbrains/src/ide/JetbrainsEditor.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsEvents.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsHats.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsIDE.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsTreeSitter.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsTreeSitterQueryProvider.ts
  packages/cursorless-jetbrains/src/ide/createTextEditor.ts
  packages/cursorless-jetbrains/src/ide/setSelections.ts
  packages/cursorless-jetbrains/src/settimeout-polyfill.ts
Due: eslint

More migrations
  data/fixtures/scopes/latex/element.scope
  data/fixtures/scopes/latex/environment.scope
  data/fixtures/scopes/latex/interior.element.scope
  data/fixtures/scopes/lua/branch.if.scope
  data/fixtures/scopes/lua/interior.branch.scope
  data/fixtures/scopes/lua/interior.function.scope
  data/fixtures/scopes/lua/map.scope
  data/fixtures/scopes/lua/namedFunction.scope
  packages/common/src/scopeSupportFacets/latex.ts
  packages/common/src/scopeSupportFacets/lua.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/lua.scm
Due: eslint

Added test
  data/fixtures/recorded/modifiers/changeInside.yml
Due: format-recorded-tests, check-recorded-test-marks

change default runmode to production
  packages/cursorless-jetbrains/src/ide/JetbrainsIDE.ts
Due: eslint

Fixes
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/InteriorStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint

Changed to main
  queries/javascript.jsx.scm
Due: none

Clean up
  queries/javascript.jsx.scm
Due: none

Use interior target
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
Due: eslint

More testing
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/FallbackScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/LegacyContainingSyntaxScopeStage.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
Due: eslint

Exclude binary operator from Talon name and value scopes (#2767)
  data/fixtures/scopes/talon/name.field.scope
  data/fixtures/scopes/talon/value.field.scope
  packages/common/src/scopeSupportFacets/talon.ts
  queries/talon.scm
Due: eslint

Update query
  queries/javascript.jsx.scm
Due: none

update tests
  data/fixtures/scopes/latex/interior.element.scope
  data/fixtures/scopes/lua/interior.branch.scope
  data/fixtures/scopes/lua/interior.function.scope
  data/fixtures/scopes/markdown/interior.cell.scope
  data/fixtures/scopes/python/interior.class.scope
  data/fixtures/scopes/python/interior.function.scope
  data/fixtures/scopes/python/interior.function2.scope
  data/fixtures/scopes/python/interior.lambda.scope
  data/fixtures/scopes/python/interior.lambda2.scope
  data/fixtures/scopes/talon/interior.command.scope
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/cursorless-engine/src/processTargets/targets/InteriorTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/util/createContinuousRange.ts
Due: eslint

Rename
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/InteriorStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint

Clean up
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
Due: eslint

Update ranges for markdown item
  data/fixtures/recorded/languages/markdown/changeLeadingItem.yml
  data/fixtures/recorded/languages/markdown/chuckItem4.yml
  data/fixtures/recorded/languages/markdown/roundWrapItemAir.yml
  data/fixtures/scopes/markdown/collectionItem.unenclosed.scope
  packages/common/src/scopeSupportFacets/markdown.ts
  queries/markdown.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

New version of snippet lib
  packages/cursorless-vscode/src/migrateSnippets.ts
  pnpm-lock.yaml
Due: eslint

Added triple backtics matching pair to markdown language (#2775)
  data/fixtures/recorded/languages/markdown/changePair.yml
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/surroundingPairsDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update ranges for markdown item (#2778)
  data/fixtures/recorded/languages/markdown/changeLeadingItem.yml
  data/fixtures/recorded/languages/markdown/chuckItem4.yml
  data/fixtures/recorded/languages/markdown/roundWrapItemAir.yml
  data/fixtures/scopes/markdown/collectionItem.unenclosed.scope
  packages/common/src/scopeSupportFacets/markdown.ts
  queries/markdown.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
