Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/|^data/playground/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

Implement pnpm overrides
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-core/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/meta-updater/src/updatePackageJson.ts
  packages/neovim-common/package.json
  packages/neovim-registry/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  packages/vscode-common/package.json
  pnpm-lock.yaml
Due: eslint

Update dependency versions
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: none

Update dependency versions (#2976)
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: none

Update tail wind version
  packages/cheatsheet-local/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org-docs/postcss.config.cjs
  packages/cursorless-org/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  pnpm-lock.yaml
Due: none

Update lock
  pnpm-lock.yaml
Due: none

Restore version
  packages/cursorless-org-docs/package.json
  pnpm-lock.yaml
Due: none

Update Tailwind version (#2977)
  packages/cheatsheet-local/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org-docs/postcss.config.cjs
  packages/cursorless-org/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  pnpm-lock.yaml
Due: none

Added contributer docs components to show missing language scopes
  packages/cursorless-org-docs/src/docs/contributing/MissingLanguageScopes.tsx
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-language.md
  packages/cursorless-org-docs/src/docs/contributing/missing_language_scopes.mdx
  packages/cursorless-org-docs/src/docs/user/languages/c.mdx
  packages/cursorless-org-docs/src/docs/user/languages/clojure.mdx
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupport.tsx
  packages/cursorless-org-docs/src/docs/user/languages/cpp.mdx
  packages/cursorless-org-docs/src/docs/user/languages/csharp.mdx
  packages/cursorless-org-docs/src/docs/user/languages/css.mdx
  packages/cursorless-org-docs/src/docs/user/languages/dart.mdx
  packages/cursorless-org-docs/src/docs/user/languages/go.mdx
  packages/cursorless-org-docs/src/docs/user/languages/html.mdx
  packages/cursorless-org-docs/src/docs/user/languages/java.mdx
  packages/cursorless-org-docs/src/docs/user/languages/javascript.mdx
  packages/cursorless-org-docs/src/docs/user/languages/javascriptreact.mdx
  packages/cursorless-org-docs/src/docs/user/languages/json.mdx
  packages/cursorless-org-docs/src/docs/user/languages/jsonc.mdx
  packages/cursorless-org-docs/src/docs/user/languages/jsonl.mdx
  packages/cursorless-org-docs/src/docs/user/languages/latex.mdx
  packages/cursorless-org-docs/src/docs/user/languages/lua.mdx
  packages/cursorless-org-docs/src/docs/user/languages/markdown.mdx
  packages/cursorless-org-docs/src/docs/user/languages/php.mdx
  packages/cursorless-org-docs/src/docs/user/languages/python.mdx
  packages/cursorless-org-docs/src/docs/user/languages/r.mdx
  packages/cursorless-org-docs/src/docs/user/languages/ruby.mdx
  packages/cursorless-org-docs/src/docs/user/languages/rust.mdx
  packages/cursorless-org-docs/src/docs/user/languages/scala.mdx
  packages/cursorless-org-docs/src/docs/user/languages/scm.mdx
  packages/cursorless-org-docs/src/docs/user/languages/scss.mdx
  packages/cursorless-org-docs/src/docs/user/languages/talon.mdx
  packages/cursorless-org-docs/src/docs/user/languages/typescript.mdx
  packages/cursorless-org-docs/src/docs/user/languages/typescriptreact.mdx
  packages/cursorless-org-docs/src/docs/user/languages/xml.mdx
  packages/cursorless-org-docs/src/docs/user/languages/yaml.mdx
Due: eslint

Allow snippet insertion with a language unsupported by VSCode
  cursorless-talon/src/snippets/snippets.py
Due: none

Restore
  .github/workflows/test.yml
Due: none

luaRocksVersion: "3.12.0"
  .github/actions/test-neovim-lua/action.yml
Due: none

Restore neovim lua tests (#2982)
  .github/actions/test-neovim-lua/action.yml
  .github/workflows/test.yml
Due: none

Update README.md
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Migrate rust scope implementations (#2950)
  data/fixtures/recorded/languages/rust/changeArgBlueAir.yml
  data/fixtures/recorded/languages/rust/changeArgSun.yml
  data/fixtures/recorded/languages/rust/changeArgTrap.yml
  data/fixtures/recorded/languages/rust/changeArgTrapAndBlueTrap.yml
  data/fixtures/recorded/languages/rust/changeNameDrum2.yml
  data/fixtures/recorded/languages/rust/changeNameDrum3.yml
  data/fixtures/recorded/languages/rust/changeNameJury.yml
  data/fixtures/recorded/languages/rust/changeNameLook.yml
  data/fixtures/recorded/languages/rust/changeTypeTrap.yml
  data/fixtures/recorded/languages/rust/changeTypeTrap3.yml
  data/fixtures/recorded/languages/rust/chuckArgAir.yml
  data/fixtures/recorded/languages/rust/chuckArgBlueAir.yml
  data/fixtures/recorded/languages/rust/chuckArgSun2.yml
  data/fixtures/recorded/languages/rust/chuckArgTrap.yml
  data/fixtures/recorded/languages/rust/chuckNameFine.yml
  data/fixtures/recorded/languages/rust/chuckNameJury.yml
  data/fixtures/recorded/languages/rust/clearValue3.yml
  data/fixtures/recorded/languages/rust/clearValue6.yml
  data/fixtures/recorded/languages/rust/clearValue8.yml
  data/fixtures/recorded/languages/rust/clearValue9.yml
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/rust.ts
  queries/rust.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added contributer docs component to show missing language scopes (#2978)
  packages/cursorless-org-docs/src/docs/contributing/MissingLanguageScopes.tsx
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-language.md
  packages/cursorless-org-docs/src/docs/contributing/missing_language_scopes.mdx
  packages/cursorless-org-docs/src/docs/user/languages/c.mdx
  packages/cursorless-org-docs/src/docs/user/languages/clojure.mdx
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupport.tsx
  packages/cursorless-org-docs/src/docs/user/languages/cpp.mdx
  packages/cursorless-org-docs/src/docs/user/languages/csharp.mdx
  packages/cursorless-org-docs/src/docs/user/languages/css.mdx
  packages/cursorless-org-docs/src/docs/user/languages/dart.mdx
  packages/cursorless-org-docs/src/docs/user/languages/go.mdx
  packages/cursorless-org-docs/src/docs/user/languages/html.mdx
  packages/cursorless-org-docs/src/docs/user/languages/java.mdx
  packages/cursorless-org-docs/src/docs/user/languages/javascript.mdx
  packages/cursorless-org-docs/src/docs/user/languages/javascriptreact.mdx
  packages/cursorless-org-docs/src/docs/user/languages/json.mdx
  packages/cursorless-org-docs/src/docs/user/languages/jsonc.mdx
  packages/cursorless-org-docs/src/docs/user/languages/jsonl.mdx
  packages/cursorless-org-docs/src/docs/user/languages/latex.mdx
  packages/cursorless-org-docs/src/docs/user/languages/lua.mdx
  packages/cursorless-org-docs/src/docs/user/languages/markdown.mdx
  packages/cursorless-org-docs/src/docs/user/languages/php.mdx
  packages/cursorless-org-docs/src/docs/user/languages/python.mdx
  packages/cursorless-org-docs/src/docs/user/languages/r.mdx
  packages/cursorless-org-docs/src/docs/user/languages/ruby.mdx
  packages/cursorless-org-docs/src/docs/user/languages/rust.mdx
  packages/cursorless-org-docs/src/docs/user/languages/scala.mdx
  packages/cursorless-org-docs/src/docs/user/languages/scm.mdx
  packages/cursorless-org-docs/src/docs/user/languages/scss.mdx
  packages/cursorless-org-docs/src/docs/user/languages/talon.mdx
  packages/cursorless-org-docs/src/docs/user/languages/typescript.mdx
  packages/cursorless-org-docs/src/docs/user/languages/typescriptreact.mdx
  packages/cursorless-org-docs/src/docs/user/languages/xml.mdx
  packages/cursorless-org-docs/src/docs/user/languages/yaml.mdx
Due: eslint

Update README.md (#2983)
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Removed legacy language machinery (#2956)
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/types/ScopeProvider.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/getNodeRange.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/makeRangeFromPositions.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/elseIfExtractor.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactory.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/EveryScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/LegacyContainingSyntaxScopeStage.ts
  packages/cursorless-engine/src/runIntegrationTests.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportChecker.ts
  packages/cursorless-engine/src/util/nodeFinders.ts
  packages/cursorless-engine/src/util/nodeMatchers.ts
  packages/cursorless-engine/src/util/nodeSelectors.ts
  packages/cursorless-neovim/src/constructTestHelpers.ts
  packages/cursorless-neovim/src/extension.ts
  packages/cursorless-org-docs/src/docs/contributing/CONTRIBUTING.md
  packages/cursorless-org-docs/src/docs/contributing/parse-tree-patterns.md
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupport.tsx
  packages/cursorless-vscode-e2e/src/suite/cursorlessEngineIntegration.vscode.test.ts
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeVisualizer.ts
  packages/neovim-common/src/TestHelpers.ts
  packages/vscode-common/src/TestHelpers.ts
Due: eslint

Added fallback language to list snippets
  cursorless-talon/src/check_community_repo.py
  cursorless-talon/src/snippets/snippet_types.py
  cursorless-talon/src/snippets/snippets.py
  cursorless-talon/src/snippets/snippets_get.py
  data/fixtures/recorded/actions/snippets/ifWrapAir.yml
  data/fixtures/recorded/actions/snippets/ifWrapAir2.yml
  data/fixtures/recorded/actions/snippets/snipIf2.yml
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/core/getPreferredSnippet.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update test version
  data/fixtures/recorded/actions/snippets/ifWrapAir.yml
  data/fixtures/recorded/actions/snippets/ifWrapAir2.yml
Due: format-recorded-tests, check-recorded-test-marks

Clean up
  packages/common/src/types/snippet.types.ts
  packages/cursorless-engine/src/core/compareSnippetDefinitions.ts
  packages/cursorless-engine/src/core/getPreferredSnippet.ts
Due: eslint

Added tests
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/core/getPreferredSnippet.test.ts
Due: eslint

Update tests
  packages/cursorless-engine/src/core/getPreferredSnippet.test.ts
Due: eslint

Added fallback language to list snippets (#2984)
  cursorless-talon/src/check_community_repo.py
  cursorless-talon/src/snippets/snippet_types.py
  cursorless-talon/src/snippets/snippets.py
  cursorless-talon/src/snippets/snippets_get.py
  data/fixtures/recorded/actions/snippets/ifWrapAir.yml
  data/fixtures/recorded/actions/snippets/ifWrapAir2.yml
  data/fixtures/recorded/actions/snippets/snipIf2.yml
  packages/common/src/types/command/ActionDescriptor.ts
  packages/common/src/types/snippet.types.ts
  packages/cursorless-engine/src/core/compareSnippetDefinitions.ts
  packages/cursorless-engine/src/core/getPreferredSnippet.test.ts
  packages/cursorless-engine/src/core/getPreferredSnippet.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added fallback language to list snippets (#2984)
  src/check_community_repo.py
  src/snippets/snippet_types.py
  src/snippets/snippets.py
  src/snippets/snippets_get.py
Due: none

Don't yield empty iteration scopes (#2968)
  data/fixtures/scopes/c/name.argument.formal.iteration2.scope
  data/fixtures/scopes/c/name.iteration.block2.scope
  data/fixtures/scopes/cpp/name.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/cpp/name.argument.formal.iteration.scope
  data/fixtures/scopes/cpp/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/csharp/name.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/csharp/name.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/csharp/name.iteration.block2.scope
  data/fixtures/scopes/csharp/name.iteration.document.scope
  data/fixtures/scopes/csharp/statement.iteration.document.scope
  data/fixtures/scopes/csharp/type.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/csharp/type.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/type.argument.formal.method.iteration.scope
  data/fixtures/scopes/csharp/value.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/csharp/value.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/value.argument.formal.method.iteration.scope
  data/fixtures/scopes/java/collectionItem.unenclosed.iteration2.scope
  data/fixtures/scopes/java/name.iteration.block.scope
  data/fixtures/scopes/javascript.core/name.iteration.block.scope
  data/fixtures/scopes/javascript.core/name.iteration.block2.scope
  data/fixtures/scopes/python/collectionItem.unenclosed.iteration3.scope
  data/fixtures/scopes/python/collectionItem.unenclosed.iteration4.scope
  data/fixtures/scopes/scss/name.argument.formal.iteration.scope
  data/fixtures/scopes/scss/value.argument.formal.iteration.scope
  data/fixtures/scopes/textual/surroundingPair.iteration.scope
  data/fixtures/scopes/textual/surroundingPair.iteration2.scope
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/collectionItemTextualIterationScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterIterationScopeHandler.ts
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runBasicScopeInfoTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runSurroundingPairScopeInfoTest.ts
Due: eslint

Skip latex test for vscode version >= 1.98.0
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/shouldSkipTest.ts
  pnpm-lock.yaml
Due: eslint

Skip latex test for vscode version >= 1.98.0 (#2986)
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/shouldSkipTest.ts
  pnpm-lock.yaml
Due: eslint

Update vscode capabilities
  packages/cursorless-vscode/src/ide/vscode/VscodeCapabilities.ts
Due: eslint

Run latest stable vscode version in CI tests (#2911)
  packages/cursorless-vscode/src/ide/vscode/VscodeCapabilities.ts
  packages/test-harness/src/launchVscodeAndRunTests.ts
Due: eslint

Added interior scopes for C and C++.
  data/fixtures/scopes/c/interior.class.scope
  data/fixtures/scopes/c/interior.class2.scope
  data/fixtures/scopes/c/interior.class3.scope
  data/fixtures/scopes/c/interior.class4.scope
  data/fixtures/scopes/c/interior.class5.scope
  data/fixtures/scopes/c/interior.class6.scope
  data/fixtures/scopes/c/interior.function.scope
  data/fixtures/scopes/c/interior.function2.scope
  data/fixtures/scopes/c/interior.if.scope
  data/fixtures/scopes/c/interior.loop.scope
  data/fixtures/scopes/c/interior.loop2.scope
  data/fixtures/scopes/c/interior.loop3.scope
  data/fixtures/scopes/c/interior.switchCase.scope
  data/fixtures/scopes/c/interior.ternary.scope
  data/fixtures/scopes/cpp/interior.lambda.scope
  data/fixtures/scopes/cpp/interior.try.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/cpp.ts
  queries/c.scm
  queries/cpp.scm
Due: eslint

Added interior scopes for C and C++. (#2987)
  data/fixtures/scopes/c/interior.class.scope
  data/fixtures/scopes/c/interior.class2.scope
  data/fixtures/scopes/c/interior.class3.scope
  data/fixtures/scopes/c/interior.class4.scope
  data/fixtures/scopes/c/interior.class5.scope
  data/fixtures/scopes/c/interior.class6.scope
  data/fixtures/scopes/c/interior.function.scope
  data/fixtures/scopes/c/interior.function2.scope
  data/fixtures/scopes/c/interior.if.scope
  data/fixtures/scopes/c/interior.loop.scope
  data/fixtures/scopes/c/interior.loop2.scope
  data/fixtures/scopes/c/interior.loop3.scope
  data/fixtures/scopes/c/interior.switchCase.scope
  data/fixtures/scopes/c/interior.ternary.scope
  data/fixtures/scopes/cpp/interior.lambda.scope
  data/fixtures/scopes/cpp/interior.try.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/cpp.ts
  queries/c.scm
  queries/cpp.scm
Due: eslint

Started working on csharp interior scopes
  data/fixtures/scopes/csharp/interior.class.scope
  data/fixtures/scopes/csharp/interior.function.scope
  data/fixtures/scopes/csharp/interior.if.scope
  data/fixtures/scopes/csharp/interior.lambda.scope
  data/fixtures/scopes/csharp/interior.lambda2.scope
  data/fixtures/scopes/csharp/interior.loop.scope
  data/fixtures/scopes/csharp/interior.loop2.scope
  data/fixtures/scopes/csharp/interior.loop3.scope
  data/fixtures/scopes/csharp/interior.loop4.scope
  data/fixtures/scopes/csharp/interior.switchCase.scope
  data/fixtures/scopes/csharp/interior.ternary.scope
  data/fixtures/scopes/csharp/interior.try.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
Due: eslint

Tests
  data/fixtures/scopes/csharp/interior.class.scope
  data/fixtures/scopes/csharp/interior.function.scope
  data/fixtures/scopes/csharp/interior.lambda2.scope
  data/fixtures/scopes/csharp/interior.loop.scope
  data/fixtures/scopes/csharp/interior.loop3.scope
  data/fixtures/scopes/csharp/interior.loop4.scope
Due: none

More scopes
  data/fixtures/scopes/csharp/interior.if.scope
  data/fixtures/scopes/csharp/interior.lambda.scope
  data/fixtures/scopes/csharp/interior.loop2.scope
  data/fixtures/scopes/csharp/interior.switchCase.scope
  data/fixtures/scopes/csharp/interior.ternary.scope
  data/fixtures/scopes/csharp/interior.try.scope
  queries/csharp.scm
Due: none

Added C# interior scopes (#2988)
  data/fixtures/scopes/csharp/interior.class.scope
  data/fixtures/scopes/csharp/interior.function.scope
  data/fixtures/scopes/csharp/interior.if.scope
  data/fixtures/scopes/csharp/interior.lambda.scope
  data/fixtures/scopes/csharp/interior.lambda2.scope
  data/fixtures/scopes/csharp/interior.loop.scope
  data/fixtures/scopes/csharp/interior.loop2.scope
  data/fixtures/scopes/csharp/interior.loop3.scope
  data/fixtures/scopes/csharp/interior.loop4.scope
  data/fixtures/scopes/csharp/interior.switchCase.scope
  data/fixtures/scopes/csharp/interior.ternary.scope
  data/fixtures/scopes/csharp/interior.try.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
Due: eslint

feat: codium sandbox setup cmd (wip)
  package.json
  packages/common/src/extensionDependencies.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/scripts/initLaunchSandboxCodium.ts
Due: eslint

More csharp scopes and facet cleanup
  data/fixtures/scopes/csharp/functionName.iteration.document.scope
  data/fixtures/scopes/csharp/functionName.method.iteration.class.scope
  data/fixtures/scopes/csharp/namedFunction.iteration.document.scope
  data/fixtures/scopes/csharp/namedFunction.method.iteration.class.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
Due: eslint

Change scope support
  packages/common/src/scopeSupportFacets/csharp.ts
Due: eslint

More csharp scopes and facet cleanup (#2990)
  data/fixtures/scopes/csharp/functionName.iteration.document.scope
  data/fixtures/scopes/csharp/functionName.method.iteration.class.scope
  data/fixtures/scopes/csharp/namedFunction.iteration.document.scope
  data/fixtures/scopes/csharp/namedFunction.method.iteration.class.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
Due: eslint

Add interior scopes to java
  data/fixtures/scopes/java/interior.class.scope
  data/fixtures/scopes/java/interior.class2.scope
  data/fixtures/scopes/java/interior.function.scope
  data/fixtures/scopes/java/interior.function2.scope
  data/fixtures/scopes/java/interior.if.scope
  data/fixtures/scopes/java/interior.lambda.scope
  data/fixtures/scopes/java/interior.lambda2.scope
  data/fixtures/scopes/java/interior.loop.scope
  data/fixtures/scopes/java/interior.loop2.scope
  data/fixtures/scopes/java/interior.loop3.scope
  data/fixtures/scopes/java/interior.loop4.scope
  data/fixtures/scopes/java/interior.resource.scope
  data/fixtures/scopes/java/interior.switchCase.scope
  data/fixtures/scopes/java/interior.ternary.scope
  data/fixtures/scopes/java/interior.try.scope
  packages/common/src/scopeSupportFacets/java.ts
  queries/java.scm
Due: eslint
