Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Increase reliability of opening new netbook editor (#2933)
  packages/vscode-common/src/testUtil/openNewEditor.ts
Due: eslint

Include callee in domain for argument iteration scope
  data/fixtures/scopes/csharp/argument.actual.iteration.scope
  data/fixtures/scopes/css/argument.actual.iteration.scope
  data/fixtures/scopes/css/argument.actual.iteration2.scope
  data/fixtures/scopes/java/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/java/argument.actual.iteration.scope
  data/fixtures/scopes/java/argument.actual.method.iteration.scope
  data/fixtures/scopes/javascript.core/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/javascript.core/argument.actual.iteration.scope
  data/fixtures/scopes/javascript.core/argument.actual.method.iteration.scope
  data/fixtures/scopes/php/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/php/argument.actual.iteration.scope
  data/fixtures/scopes/php/argument.actual.method.iteration.scope
  data/fixtures/scopes/python/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/python/argument.actual.iteration.scope
  data/fixtures/scopes/python/argument.actual.method.iteration.scope
  data/fixtures/scopes/r/argument.actual.iteration.scope
  data/fixtures/scopes/r/argument.formal.iteration.scope
  data/fixtures/scopes/talon/argument.actual.iteration.scope
  data/fixtures/scopes/talon/argument.actual.iteration2.scope
  queries/c.scm
  queries/csharp.scm
  queries/css.scm
  queries/go.scm
  queries/java.scm
  queries/javascript.core.scm
  queries/php.scm
  queries/python.scm
  queries/r.scm
  queries/talon.scm
Due: none

update tests
  data/fixtures/recorded/languages/typescript/takeEveryArgRam.yml
  data/fixtures/scopes/r/argument.formal.iteration.scope
  data/fixtures/scopes/r/argumentList.formal.scope
  data/fixtures/scopes/r/argumentList.formal2.scope
  data/fixtures/scopes/r/argumentList.formal3.scope
Due: format-recorded-tests, check-recorded-test-marks

Cleanup
  queries/javascript.core.scm
Due: none

Restored name and value iteration
  queries/python.scm
Due: none

Added argument list scope
  data/fixtures/scopes/csharp/argument.actual.iteration.scope
  data/fixtures/scopes/csharp/argumentList.actual.constructor.scope
  data/fixtures/scopes/csharp/argumentList.actual.constructor2.scope
  data/fixtures/scopes/csharp/argumentList.actual.constructor3.scope
  data/fixtures/scopes/csharp/argumentList.actual.method.scope
  data/fixtures/scopes/csharp/argumentList.actual.method2.scope
  data/fixtures/scopes/csharp/argumentList.actual.method3.scope
  data/fixtures/scopes/csharp/argumentList.actual.scope
  data/fixtures/scopes/csharp/argumentList.actual2.scope
  data/fixtures/scopes/csharp/argumentList.actual3.scope
  data/fixtures/scopes/csharp/argumentList.formal.constructor.scope
  data/fixtures/scopes/csharp/argumentList.formal.constructor2.scope
  data/fixtures/scopes/csharp/argumentList.formal.lambda.scope
  data/fixtures/scopes/csharp/argumentList.formal.lambda2.scope
  data/fixtures/scopes/csharp/argumentList.formal.method.scope
  data/fixtures/scopes/csharp/argumentList.formal.method2.scope
  data/fixtures/scopes/csharp/argumentList.formal.scope
  data/fixtures/scopes/csharp/argumentList.formal2.scope
  data/fixtures/scopes/csharp/argumentList.formal3.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/cpp.scm
  queries/csharp.scm
Due: eslint

Removed unnecessary dots
  queries/csharp.scm
  queries/css.scm
  queries/go.scm
  queries/java.scm
  queries/javascript.core.scm
  queries/php.scm
  queries/python.scm
  queries/r.scm
  queries/talon.scm
Due: none

Add arguments
  data/fixtures/scopes/csharp/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/csharp/argument.actual.constructor.scope
  data/fixtures/scopes/csharp/argument.actual.constructor2.scope
  data/fixtures/scopes/csharp/argument.actual.method.iteration.scope
  data/fixtures/scopes/csharp/argument.actual.method.scope
  data/fixtures/scopes/csharp/argument.actual.method2.scope
  data/fixtures/scopes/csharp/argument.formal.constructor.iteration.scope
  data/fixtures/scopes/csharp/argument.formal.constructor.scope
  data/fixtures/scopes/csharp/argument.formal.constructor2.scope
  data/fixtures/scopes/csharp/argument.formal.method.iteration.scope
  data/fixtures/scopes/csharp/argument.formal.method.scope
  data/fixtures/scopes/csharp/argument.formal.method2.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
Due: eslint

Include callee in domain for argument iteration scope (#2936)
  data/fixtures/recorded/languages/typescript/takeEveryArgRam.yml
  data/fixtures/scopes/csharp/argument.actual.iteration.scope
  data/fixtures/scopes/css/argument.actual.iteration.scope
  data/fixtures/scopes/css/argument.actual.iteration2.scope
  data/fixtures/scopes/java/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/java/argument.actual.iteration.scope
  data/fixtures/scopes/java/argument.actual.method.iteration.scope
  data/fixtures/scopes/javascript.core/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/javascript.core/argument.actual.iteration.scope
  data/fixtures/scopes/javascript.core/argument.actual.method.iteration.scope
  data/fixtures/scopes/php/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/php/argument.actual.iteration.scope
  data/fixtures/scopes/php/argument.actual.method.iteration.scope
  data/fixtures/scopes/python/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/python/argument.actual.iteration.scope
  data/fixtures/scopes/python/argument.actual.method.iteration.scope
  data/fixtures/scopes/r/argument.actual.iteration.scope
  data/fixtures/scopes/r/argument.formal.iteration.scope
  data/fixtures/scopes/r/argumentList.formal.scope
  data/fixtures/scopes/r/argumentList.formal2.scope
  data/fixtures/scopes/r/argumentList.formal3.scope
  data/fixtures/scopes/talon/argument.actual.iteration.scope
  data/fixtures/scopes/talon/argument.actual.iteration2.scope
  queries/c.scm
  queries/csharp.scm
  queries/css.scm
  queries/go.scm
  queries/java.scm
  queries/javascript.core.scm
  queries/php.scm
  queries/python.scm
  queries/r.scm
  queries/talon.scm
Due: format-recorded-tests, check-recorded-test-marks

Working on branches
  data/fixtures/scopes/csharp/attribute.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
Due: eslint

Update customization.md
  packages/cursorless-org-docs/src/docs/user/customization.md
Due: none

Update insertion delimiter for document scope (#2929)
  data/fixtures/recorded/positions/bringHarpToAfterFile.yml
  data/fixtures/recorded/positions/bringWhaleToBeforeFile.yml
  data/fixtures/recorded/selectionTypes/bringHarpToAfterFile.yml
  data/fixtures/recorded/selectionTypes/bringWhaleToBeforeFile.yml
  data/fixtures/scopes/textual/document.scope
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/extension.ts
Due: eslint

Added tests for branch
  data/fixtures/scopes/csharp/attribute.scope
  data/fixtures/scopes/csharp/branch.if.iteration.scope
  data/fixtures/scopes/csharp/branch.if.scope
  data/fixtures/scopes/csharp/branch.loop.scope
  data/fixtures/scopes/csharp/branch.loop2.scope
  data/fixtures/scopes/csharp/branch.loop3.scope
  data/fixtures/scopes/csharp/branch.loop4.scope
  data/fixtures/scopes/csharp/branch.switchCase.iteration.scope
  data/fixtures/scopes/csharp/branch.switchCase.scope
  data/fixtures/scopes/csharp/branch.ternary.scope
  data/fixtures/scopes/csharp/branch.try.iteration.scope
  data/fixtures/scopes/csharp/branch.try.scope
  queries/csharp.scm
Due: none

Clean up
  queries/csharp.scm
Due: none

Added not applicable
  packages/common/src/scopeSupportFacets/csharp.ts
Due: eslint

Increase timeout for opening new notebook editors in testing
  packages/vscode-common/src/testUtil/openNewEditor.ts
Due: eslint

Clean up
  packages/vscode-common/src/testUtil/openNewEditor.ts
Due: eslint

update
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/vscode-common/src/testUtil/openNewEditor.ts
Due: eslint

Increase timeout for opening new notebook editors in testing (#2938)
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/vscode-common/src/testUtil/openNewEditor.ts
Due: eslint

Update action name
  cursorless-talon-dev/src/cursorless_test.talon
  cursorless-talon/src/public_api.py
  packages/cursorless-org-docs/src/docs/user/customization.md
Due: none

Enable from action by default
  cursorless-talon/src/spoken_forms.json
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Clean up
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

More clean up
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Adding more csharp scopes
  data/fixtures/scopes/csharp/argument.formal.lambda.iteration.scope
  data/fixtures/scopes/csharp/argument.formal.lambda.scope
  data/fixtures/scopes/csharp/comment.block.scope
  data/fixtures/scopes/csharp/comment.line.scope
  data/fixtures/scopes/csharp/statement.class.scope
  data/fixtures/scopes/csharp/statement.iteration.block.scope
  data/fixtures/scopes/csharp/statement.iteration.block2.scope
  data/fixtures/scopes/csharp/statement.iteration.document.scope
  data/fixtures/scopes/csharp/statement.scope
  data/fixtures/scopes/csharp/string.multiLine.scope
  data/fixtures/scopes/csharp/string.singleLine.scope
  data/fixtures/scopes/csharp/textFragment.string.multiLine.scope
  data/fixtures/scopes/csharp/textFragment.string.singleLine.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  queries/csharp.scm
Due: eslint

Add name
  data/fixtures/scopes/csharp/name.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/csharp/name.argument.formal.constructor.scope
  data/fixtures/scopes/csharp/name.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/csharp/name.argument.formal.method.scope
  data/fixtures/scopes/csharp/name.class.scope
  data/fixtures/scopes/csharp/name.constructor.scope
  data/fixtures/scopes/csharp/name.field.scope
  data/fixtures/scopes/csharp/name.foreach.scope
  data/fixtures/scopes/csharp/name.function.scope
  data/fixtures/scopes/csharp/name.iteration.document.scope
  data/fixtures/scopes/csharp/name.method.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
Due: eslint

More scopes
  data/fixtures/scopes/csharp/name.iteration.block.scope
  data/fixtures/scopes/csharp/name.iteration.block2.scope
  data/fixtures/scopes/csharp/textFragment.comment.block.scope
  data/fixtures/scopes/csharp/textFragment.comment.line.scope
  packages/common/src/scopeSupportFacets/csharp.ts
Due: eslint

Add values
  data/fixtures/scopes/csharp/value.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/csharp/value.argument.formal.constructor.scope
  data/fixtures/scopes/csharp/value.argument.formal.method.iteration.scope
  data/fixtures/scopes/csharp/value.argument.formal.method.scope
  data/fixtures/scopes/csharp/value.field.scope
  data/fixtures/scopes/csharp/value.foreach.scope
  data/fixtures/scopes/csharp/value.return.lambda.scope
  data/fixtures/scopes/csharp/value.return.lambda2.scope
  data/fixtures/scopes/csharp/value.return.scope
  data/fixtures/scopes/csharp/value.yield.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
Due: eslint

Added type
  data/fixtures/scopes/csharp/type.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/csharp/type.argument.formal.constructor.scope
  data/fixtures/scopes/csharp/type.argument.formal.method.iteration.scope
  data/fixtures/scopes/csharp/type.argument.formal.method.scope
  data/fixtures/scopes/csharp/type.cast.scope
  data/fixtures/scopes/csharp/type.class.scope
  data/fixtures/scopes/csharp/type.enum.scope
  data/fixtures/scopes/csharp/type.field.iteration.scope
  data/fixtures/scopes/csharp/type.field.scope
  data/fixtures/scopes/csharp/type.foreach.scope
  data/fixtures/scopes/csharp/type.interface.scope
  data/fixtures/scopes/csharp/type.return.scope
  data/fixtures/scopes/csharp/type.typeArgument.iteration.scope
  data/fixtures/scopes/csharp/type.typeArgument.scope
  data/fixtures/scopes/java/type.typeArgument.iteration.scope
  data/fixtures/scopes/python/type.typeArgument.iteration.scope
  data/fixtures/scopes/typescript.core/type.typeArgument.iteration.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
  queries/java.scm
  queries/javascript.core.scm
  queries/javascript.function.scm
  queries/kotlin.scm
  queries/python.scm
  queries/scss.scm
  queries/typescript.core.scm
Due: eslint

Up dit test
  data/fixtures/scopes/java/type.field.iteration.scope
Due: none

Another try at changing open notebook time out
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/vscode-common/src/testUtil/openNewEditor.ts
Due: eslint

Clean up
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
Due: eslint

Update packages/vscode-common/src/testUtil/openNewEditor.ts
  packages/vscode-common/src/testUtil/openNewEditor.ts
Due: eslint

Updated facet definitions
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
Due: eslint

Skip on Linux ci
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/node-common/src/isWindows.ts
  packages/vscode-common/src/testUtil/openNewEditor.ts
Due: eslint

Clean up
  packages/cursorless-vscode-e2e/src/isCI.ts
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/node-common/src/index.ts
  packages/node-common/src/isOS.ts
Due: eslint

Change hat
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
Due: eslint

Add reference to discussion
  packages/cursorless-org-docs/src/docs/user/customization.md
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
