Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/rwxcorp/pre-commit-lua.git
    rev: v1.0.0
    hooks:
      - id: stylua
      - id: luacheck

Update docs
  cursorless.nvim/README.md
  docs/contributing/cursorless-in-neovim.md
Due: none

Fix lockfile
  pnpm-lock.yaml
Due: none

Attempt to cleanup test-harness
  packages/cursorless-neovim/scripts/populate-dist.sh
  packages/test-harness/package.json
  packages/test-harness/src/runners/extensionTestsNeovim.ts
Due: eslint

Make @saidelike and @fidgetingbits codeowners for neovim
  .github/CODEOWNERS
Due: none

Simplify serialization of disqualified delimiter scope facet
  data/fixtures/scopes/c/disqualifyDelimiter.scope
  data/fixtures/scopes/csharp/disqualifyDelimiter.scope
  data/fixtures/scopes/go/disqualifyDelimiter.scope
  data/fixtures/scopes/java/disqualifyDelimiter.scope
  data/fixtures/scopes/javascript.core/disqualifyDelimiter.scope
  data/fixtures/scopes/lua/disqualifyDelimiter.scope
  data/fixtures/scopes/php/disqualifyDelimiter.scope
  data/fixtures/scopes/python/disqualifyDelimiter.scope
  data/fixtures/scopes/ruby/disqualifyDelimiter.scope
  data/fixtures/scopes/rust/disqualifyDelimiter.scope
  data/fixtures/scopes/scala/disqualifyDelimiter.scope
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/serializeScopeFixture.ts
Due: eslint

Invalided syntax nodes with error
  data/fixtures/recorded/surroundingPair/parseTree/python/clearPair5.yml
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/isContainedInErrorNode.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

refactor: rename task
  .vscode/tasks.json
Due: none

clean up
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/isContainedInErrorNode.ts
Due: eslint

Added hasError method
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/isContainedInErrorNode.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
Due: eslint

clean up
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
Due: eslint

Update comment
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
Due: eslint

Updated comment
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
Due: eslint

refactor: better output for lua tests
  cursorless.nvim/test/unit/cursorless_spec.lua
Due: none

tweak CODEOWNERS
  .github/CODEOWNERS
Due: none

Fixed test
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
Due: eslint

more tweaks
  .github/CODEOWNERS
  cursorless.nvim/README.md
Due: none

Tweak c operator disqualified delimiters
  queries/c.scm
Due: none

Try to run quick js tests on mac
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon-e2e/scripts/test-quickjs.sh
Due: none

Update tests script
  .github/workflows/test.yml
Due: none

Remove brew version
  packages/cursorless-everywhere-talon-e2e/scripts/test-quickjs.sh
Due: none

Enable logging in quick js test script
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon-e2e/scripts/test-quickjs.sh
Due: none

Simplify operators
  data/fixtures/scopes/php/disqualifyDelimiter.scope
  queries/c.scm
  queries/go.scm
  queries/java.scm
  queries/javascript.core.scm
  queries/lua.scm
  queries/php.scm
  queries/python.scm
  queries/ruby.scm
  queries/rust.scm
  queries/scala.scm
Due: none

Improve tutorial test robustness
  packages/cursorless-vscode-e2e/src/suite/tutorial/tutorial.vscode.test.ts
Due: eslint

More tweaks
  .vscode/tasks.json
  cursorless-talon-dev/src/cursorless_dev_vscode.talon
  docs/contributing/CONTRIBUTING.md
  docs/contributing/cursorless-in-neovim.md
  packages/cursorless-neovim/scripts/show-logs.sh
Due: none

Improve tutorial test robustness (#2572)
  packages/cursorless-vscode-e2e/src/suite/tutorial/tutorial.vscode.test.ts
Due: eslint

PR feedback
  docs/contributing/tests.md
Due: none

Update tests.md
  docs/contributing/tests.md
Due: none

Add high-level test documentation (#2561)
  docs/contributing/tests.md
Due: none

on going work
  data/fixtures/scopes/cpp/disqualifyDelimiter.scope
  data/fixtures/scopes/csharp/disqualifyDelimiter.scope
  data/fixtures/scopes/css/disqualifyDelimiter.scope
  data/fixtures/scopes/go/disqualifyDelimiter.scope
  data/fixtures/scopes/java/disqualifyDelimiter.scope
  data/fixtures/scopes/javascript.core/disqualifyDelimiter.scope
  data/fixtures/scopes/latex/disqualifyDelimiter.scope
  data/fixtures/scopes/lua/disqualifyDelimiter.scope
  data/fixtures/scopes/php/disqualifyDelimiter.scope
  data/fixtures/scopes/python/disqualifyDelimiter.scope
  data/fixtures/scopes/ruby/disqualifyDelimiter.scope
  data/fixtures/scopes/scala/disqualifyDelimiter.scope
  packages/common/src/scopeSupportFacets/latex.ts
  packages/common/src/scopeSupportFacets/scss.ts
  queries/c.scm
  queries/clojure.scm
  queries/cpp.scm
  queries/csharp.scm
  queries/css.scm
  queries/go.scm
  queries/html.scm
  queries/java.scm
  queries/javascript.core.scm
  queries/json.scm
  queries/latex.scm
  queries/lua.scm
  queries/markdown.scm
  queries/php.scm
  queries/python.scm
  queries/ruby.scm
  queries/rust.scm
  queries/scala.scm
Due: eslint

Add test-harness README
  packages/test-harness/README.md
Due: none

refactor: cleanup comments
  packages/test-harness/src/runners/extensionTestsNeovim.ts
Due: eslint

Switch logs task to use shell
  .vscode/tasks.json
Due: none

updates scope files
  data/fixtures/scopes/cpp/disqualifyDelimiter.scope
  data/fixtures/scopes/csharp/disqualifyDelimiter.scope
  data/fixtures/scopes/css/disqualifyDelimiter.scope
  data/fixtures/scopes/go/disqualifyDelimiter.scope
  data/fixtures/scopes/java/disqualifyDelimiter.scope
  data/fixtures/scopes/javascript.core/disqualifyDelimiter.scope
  data/fixtures/scopes/latex/disqualifyDelimiter.scope
  data/fixtures/scopes/lua/disqualifyDelimiter.scope
  data/fixtures/scopes/php/disqualifyDelimiter.scope
  data/fixtures/scopes/python/disqualifyDelimiter.scope
  data/fixtures/scopes/ruby/disqualifyDelimiter.scope
  data/fixtures/scopes/rust/disqualifyDelimiter.scope
  data/fixtures/scopes/scala/disqualifyDelimiter.scope
  data/fixtures/scopes/scss/disqualifyDelimiter.scope
  data/fixtures/scopes/yaml/disqualifyDelimiter.scope
  packages/common/src/scopeSupportFacets/yaml.ts
  packages/cursorless-vscode-e2e/src/suite/serializeTargetRange.ts
  queries/scm.scm
  queries/scss.scm
  queries/talon.scm
  queries/xml.scm
  queries/yaml.scm
Due: eslint

Added scope support
  packages/common/src/scopeSupportFacets/css.ts
Due: eslint

fix shellcheck
  scripts/install-neovim-dependencies.sh
Due: none

Remove inherited tests
  data/fixtures/scopes/cpp/disqualifyDelimiter.scope
  data/fixtures/scopes/scss/disqualifyDelimiter.scope
Due: none

Add shell check pre commit hook
  .pre-commit-config.yaml
Due: none

Proper padding on ending range
  packages/cursorless-vscode-e2e/src/suite/serializeTargetRange.ts
Due: eslint

Clean up
  packages/cursorless-vscode-e2e/src/suite/serializeTargetRange.ts
Due: eslint

clean up
  packages/cursorless-vscode-e2e/src/suite/serializeTargetRange.ts
Due: eslint
