Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

Cleanup
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
Due: eslint

cleanup
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
Due: eslint

simplify
  queries/go.scm
Due: none

Fix "from" section in docs
  docs/user/README.md
Due: none

Made python match a cursorless statement scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeState.yml
  queries/python.scm
Due: format-recorded-tests, check-recorded-test-marks

Made python match a cursorless statement scope (#1907)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeState.yml
  queries/python.scm
Due: format-recorded-tests, check-recorded-test-marks

Fix "from" section in docs (#1906)
  docs/user/README.md
Due: none

Fix Black
  pyproject.toml
Due: none

Fix broken playground file
  data/playground/python/values.py
Due: none

Add Andreas to codeowners
  .github/CODEOWNERS
Due: none

Rename action to `showParseTree`
  cursorless-talon-dev/src/cursorless_dev.talon
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/ShowParseTree.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/parseTreeFile.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

First attempt at making exit keys configurable
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
Due: eslint

Add Andreas to codeowners (#1913)
  .github/CODEOWNERS
Due: none

Restore exclusions
  data/playground/python/values.py
  pyproject.toml
Due: none

Fix Black (#1910)
  pyproject.toml
Due: none

knausj => community
  CHANGELOG.md
  docs/contributing/architecture/hat-snapshots.md
  docs/user/experimental/snippets.md
  docs/user/installation.md
  docs/user/unicode.md
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-engine/src/tokenGraphemeSplitter/tokenGraphemeSplitter.ts
  packages/cursorless-vscode/package.json
Due: eslint

Fix delimiters typo
  docs/user/README.md
Due: none

Update docs/contributing/adding-a-new-language.md
  docs/contributing/adding-a-new-language.md
Due: none

Switch order
  packages/cursorless-engine/src/actions/ShowParseTree.ts
Due: eslint

Fix delimiters typo (#1915)
  docs/user/README.md
Due: none

Added playground action (#1894)
  cursorless-talon-dev/src/cursorless_dev.talon
  packages/common/src/ide/PassthroughIDEBase.ts
  packages/common/src/ide/fake/FakeIDE.ts
  packages/common/src/ide/types/ide.types.ts
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/ShowParseTree.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-engine/src/runCommand.ts
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/parseTreeFile.yml
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

knausj => community (#1914)
  CHANGELOG.md
  docs/contributing/architecture/hat-snapshots.md
  docs/user/experimental/snippets.md
  docs/user/installation.md
  docs/user/unicode.md
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-engine/src/tokenGraphemeSplitter/tokenGraphemeSplitter.ts
  packages/cursorless-vscode/package.json
Due: eslint

Added support for user home variable in settings
  packages/cursorless-vscode/src/ide/vscode/VscodeConfiguration.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Update CONTRIBUTING.md
  docs/contributing/CONTRIBUTING.md
Due: none

Update adding-a-new-language.md
  docs/contributing/adding-a-new-language.md
Due: none

more tweaks
  docs/contributing/CONTRIBUTING.md
Due: none

Fix cheatsheet
  cursorless-talon/src/cheatsheet/sections/actions.py
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Due: none

Fix `boundedNonWhitespaceSequence` in cheatsheet
  cursorless-talon/src/cheatsheet/sections/scopes.py
Due: none

Fix link
  docs/contributing/adding-a-new-language.md
Due: none

Whoops
  docs/contributing/adding-a-new-language.md
Due: none

Clarify extension dependency instructions for adding a new language (#1903)
  docs/contributing/CONTRIBUTING.md
  docs/contributing/adding-a-new-language.md
Due: none

Added argument to call action (#1900)
  changelog/2023-09-addedArgumentTargetToCallAction.md
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/call.py
  cursorless-talon/src/cheatsheet/sections/actions.py
  cursorless-talon/src/cursorless.talon
  cursorless-talon/src/spoken_forms.json
  cursorless-talon/src/spoken_forms.py
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/callFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/callFineOnBatt.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/callVest.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/callVestOnCap.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added argument to call action (#1900)
  src/actions/actions.py
  src/actions/call.py
  src/cheatsheet/sections/actions.py
  src/cursorless.talon
  src/spoken_forms.json
  src/spoken_forms.py
Due: none

Fix `boundedNonWhitespaceSequence` in cheatsheet (#1917)
  src/cheatsheet/sections/scopes.py
Due: none

Fix `boundedNonWhitespaceSequence` in cheatsheet (#1917)
  cursorless-talon/src/cheatsheet/sections/scopes.py
Due: none

Support "value" in guard of Python for-each statements
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeValue3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeValue4.yml
  queries/python.scm
Due: format-recorded-tests, check-recorded-test-marks

whoops
  queries/python.scm
Due: none

Support "name"
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeName2.yml
  queries/python.scm
Due: format-recorded-tests, check-recorded-test-marks

docs
  queries/python.scm
Due: none
