Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Update comments
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
Due: eslint

cleanup
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
Due: eslint

Migrate snippets follow up (#2789)
  src/actions/generate_snippet.py
Due: none

Migrate snippets follow up (#2789)
  cursorless-talon/src/actions/generate_snippet.py
  packages/cursorless-vscode/src/migrateSnippets.ts
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

revert comments
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
Due: eslint

Update packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
Due: eslint

PULL_REQUEST_TEMPLATE.md: add release notes
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Change implementation of default bounded line for head/tail modifiers (#2799)
  data/fixtures/recorded/headTail/changeHead3.yml
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/HeadTailStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairInteriorScopeHandler.ts
  packages/cursorless-org-docs/src/docs/user/README.md
Due: eslint, format-recorded-tests, check-recorded-test-marks

Merge fix
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
Due: eslint

Added target textual type (#2765)
  packages/cursorless-engine/src/actions/InsertEmptyLines.ts
  packages/cursorless-engine/src/actions/JoinLines.ts
  packages/cursorless-engine/src/processTargets/createContinuousRangeTarget.ts
  packages/cursorless-engine/src/processTargets/marks/CursorStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/InstanceStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/PositionStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CharacterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/BoundedParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ImplicitTarget.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/RawSelectionTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
  packages/cursorless-engine/src/processTargets/targets/UntypedTarget.ts
  packages/cursorless-engine/src/typings/target.types.ts
  packages/cursorless-engine/src/util/targetUtils.ts
Due: eslint

PULL_REQUEST_TEMPLATE.md: add release notes (#2801)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Added scope type for `"inside"` (#2776)
  src/spoken_forms.py
Due: none

Removed checklist and added comment to pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

refinements
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Removed trailing whitespace
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Added more padding
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Removed checklist and added comment to pull request template (#2802)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Started working on snippet variants
  cursorless-talon/src/check_community_repo.py
  cursorless-talon/src/snippet_cursorless.talon
  cursorless-talon/src/snippet_types.py
  cursorless-talon/src/snippets.py
  cursorless-talon/src/snippets.talon
  cursorless-talon/src/snippets_deprecated.py
  cursorless-talon/src/spoken_forms.py
  packages/common/src/types/command/ActionDescriptor.ts
Due: eslint

More clean up
  cursorless-talon/src/snippets_deprecated.py
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippetCommunity.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippetLegacy.ts
  packages/cursorless-engine/src/actions/InsertSnippet.ts
  packages/cursorless-engine/src/core/Snippets.ts
  packages/cursorless-engine/src/core/compareSnippetDefinitions.ts
  packages/cursorless-engine/src/core/mergeSnippets.test.ts
  packages/cursorless-engine/src/core/mergeSnippets.ts
  packages/cursorless-engine/src/disabledComponents/DisabledSnippets.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/snippets.ts
  packages/cursorless-vscode/src/VscodeSnippets.ts
  packages/cursorless-vscode/src/extension.ts
  packages/vscode-common/src/getExtensionApi.ts
Due: eslint

More migrations
  cursorless-talon/src/snippet_types.py
  cursorless-talon/src/snippets.py
  packages/common/src/index.ts
  packages/common/src/types/snippet.types.ts
  packages/common/src/util/textFormatters.ts
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/actions/InsertSnippet.ts
  packages/cursorless-engine/src/actions/WrapWithSnippet.ts
  packages/cursorless-engine/src/actions/actions.types.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/compareSnippetDefinitions.ts
  packages/cursorless-engine/src/core/getPreferredSnippet.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-engine/src/snippets/snippet.ts
  packages/cursorless-vscode/src/extension.ts
Due: eslint

Rename
  cursorless-talon/src/snippets.py
Due: none

Check if language field exists
  cursorless-talon/src/snippets.py
Due: none

Added substitutions to list snippet
  cursorless-talon/src/snippet_types.py
  cursorless-talon/src/snippets.py
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/InsertSnippet.ts
Due: eslint

Support placeholder substitution
  packages/cursorless-engine/src/snippets/snippet.ts
Due: eslint

Cleanup
  packages/cursorless-engine/src/actions/WrapWithSnippet.ts
Due: eslint

Update types
  cursorless-talon/src/snippet_types.py
Due: none

Update test
  data/fixtures/recorded/actions/snippets/funkWrapClass.yml
Due: format-recorded-tests, check-recorded-test-marks

Update more tests
  data/fixtures/recorded/actions/snippets/snipFunkAfterClass.yml
  data/fixtures/recorded/actions/snippets/snipFunkAfterFineAndZip.yml
  data/fixtures/recorded/actions/snippets/snipFunkAfterMadeAndBeforeFineAndZip.yml
  data/fixtures/recorded/actions/snippets/snipFunkAfterThis.yml
  data/fixtures/recorded/actions/snippets/snipFunkAfterThis2.yml
  data/fixtures/recorded/actions/snippets/snipFunkAfterThis3.yml
  data/fixtures/recorded/actions/snippets/snipFunkAfterThis4.yml
  data/fixtures/recorded/actions/snippets/snipFunkAfterZipAndBeforeFine.yml
  data/fixtures/recorded/actions/snippets/snipFunkBeforeClass.yml
  data/fixtures/recorded/actions/snippets/snipFunkBeforeThis.yml
  data/fixtures/recorded/actions/snippets/snipFunkBeforeThis2.yml
  data/fixtures/recorded/actions/snippets/snipFunkBeforeThis3.yml
  data/fixtures/recorded/actions/snippets/snipFunkBeforeThis4.yml
  data/fixtures/recorded/actions/snippets/snipFunkCelloWorld.yml
  data/fixtures/recorded/actions/snippets/snipFunkHelloWorld.yml
  data/fixtures/recorded/actions/snippets/snipFunkHelloWorld2.yml
  data/fixtures/recorded/actions/snippets/snipFunkHelloWorld3.yml
  data/fixtures/recorded/actions/snippets/snipMakeFunk.yml
  data/fixtures/recorded/actions/snippets/snipMakeState.yml
  data/fixtures/recorded/actions/snippets/snipPrintAfterPit.yml
  data/fixtures/recorded/actions/snippets/testSnippetMakeLine.yml
Due: format-recorded-tests, check-recorded-test-marks

Updated more tests
  data/fixtures/recorded/implicitExpansion/funkWrapPastInk.yml
  data/fixtures/recorded/implicitExpansion/funkWrapThat.yml
  data/fixtures/recorded/implicitExpansion/funkWrapThat2.yml
  data/fixtures/recorded/implicitExpansion/funkWrapThis.yml
  data/fixtures/recorded/implicitExpansion/funkWrapThis2.yml
  data/fixtures/recorded/implicitExpansion/funkWrapToken.yml
  data/fixtures/recorded/implicitExpansion/funkWrapWhale.yml
  data/fixtures/recorded/implicitExpansion/funkWrapWhalePastBat.yml
  data/fixtures/recorded/implicitExpansion/snipFunkAfterThat.yml
  data/fixtures/recorded/implicitExpansion/snipFunkAfterThat2.yml
  data/fixtures/recorded/implicitExpansion/snipFunkAfterThis.yml
  data/fixtures/recorded/implicitExpansion/snipFunkAfterThis2.yml
  data/fixtures/recorded/implicitExpansion/snipFunkAfterToken.yml
  data/fixtures/recorded/implicitExpansion/snipFunkAfterWhale.yml
  data/fixtures/recorded/implicitExpansion/snipFunkToAirPastWhale.yml
  data/fixtures/recorded/implicitExpansion/snipFunkToThisPastEach.yml
  data/fixtures/recorded/inference/ifWrapTokenFine.yml
  data/fixtures/recorded/positions/snipElseAfterThis.yml
Due: format-recorded-tests, check-recorded-test-marks

Updated test
  packages/cursorless-vscode-e2e/src/suite/wrapWithSnippetAcrossSplit.vscode.test.ts
Due: eslint

Rename name field to type
  cursorless-talon/src/snippet_types.py
Due: none

More tests
  data/fixtures/recorded/actions/snippets/snipCode.yml
  data/fixtures/recorded/actions/snippets/snipIf.yml
Due: format-recorded-tests, check-recorded-test-marks

Fixed bug with edit new
  data/fixtures/recorded/actions/pourStateAirAndLineBat.yml
  packages/cursorless-engine/src/actions/EditNew/EditNew.ts
  packages/cursorless-engine/src/actions/EditNew/EditNew.types.ts
  packages/cursorless-engine/src/actions/EditNew/runEditTargets.ts
  packages/cursorless-engine/src/actions/EditNew/runInsertLineAfterTargets.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added test
  data/fixtures/recorded/actions/snippets/snipIfAfterAirAndBatt.yml
Due: format-recorded-tests, check-recorded-test-marks

Update test fixtures
  data/fixtures/recorded/actions/snippets/snipFunkAfterThis4.yml
  data/fixtures/recorded/actions/snippets/snipFunkAfterThis5.yml
  data/fixtures/recorded/actions/snippets/snipFunkCelloWorld.yml
  data/fixtures/recorded/actions/snippets/snipFunkHelloWorld2.yml
  data/fixtures/recorded/languages/php/elseWrapThis.yml
  data/fixtures/recorded/languages/php/ifElseWrapThis.yml
  data/fixtures/recorded/languages/php/ifWrapThis.yml
  data/fixtures/recorded/languages/php/tryWrapThis.yml
  data/fixtures/recorded/languages/php/tryWrapThis2.yml
Due: format-recorded-tests, check-recorded-test-marks

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
