Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/rwxcorp/pre-commit-lua.git
    rev: v1.0.0
    hooks:
      - id: stylua
      - id: luacheck

Added name/value for object assignment pattern in javascript (#2539)
  data/fixtures/scopes/javascript.core/name.variable.pattern2.scope
  data/fixtures/scopes/javascript.core/name.variable.pattern3.scope
  data/fixtures/scopes/javascript.core/value.variable.pattern.scope
  data/fixtures/scopes/javascript.core/value.variable.pattern2.scope
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/javascript.core.scm
Due: eslint

remove unused
  packages/cursorless-engine/src/languages/php.ts
Due: eslint

merge
  packages/cursorless-tutorial/src/TutorialImpl.ts
  packages/neovim-common/src/ide/neovim/NeovimGlobalState.ts
  packages/neovim-common/src/ide/neovim/NeovimIDE.ts
Due: eslint

Migrate php type scope (#2491)
  data/fixtures/recorded/languages/php/changeType.yml
  data/fixtures/recorded/languages/php/changeType2.yml
  data/fixtures/recorded/languages/php/changeType3.yml
  data/fixtures/recorded/languages/php/changeType4.yml
  data/fixtures/recorded/languages/php/changeType5.yml
  data/fixtures/recorded/languages/php/changeType6.yml
  data/fixtures/recorded/languages/php/chuckType.yml
  data/fixtures/recorded/languages/php/chuckType2.yml
  data/fixtures/recorded/languages/php/chuckType3.yml
  data/fixtures/recorded/languages/php/chuckType4.yml
  data/fixtures/recorded/languages/php/chuckType5.yml
  data/fixtures/scopes/php/name.argument.formal.iteration.scope
  data/fixtures/scopes/php/name.argument.formal.scope
  data/fixtures/scopes/php/name.argument.formal2.scope
  data/fixtures/scopes/php/name.field.scope
  data/fixtures/scopes/php/type.argument.formal.iteration.scope
  data/fixtures/scopes/php/type.argument.formal.scope
  data/fixtures/scopes/php/type.argument.formal2.scope
  data/fixtures/scopes/php/type.argument.formal3.scope
  data/fixtures/scopes/php/type.cast.scope
  data/fixtures/scopes/php/type.field.scope
  packages/common/src/scopeSupportFacets/php.ts
  packages/cursorless-engine/src/languages/php.ts
  queries/php.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

it rename
  packages/cursorless-tutorial/src/loadTutorial.ts
Due: eslint

Support funk name scope in map (#2541)
  data/fixtures/scopes/javascript.core/functionName2.scope
  data/fixtures/scopes/javascript.core/functionName3.scope
  queries/javascript.function.scm
Due: none

Migrating markdown scopes (#2489)
  data/fixtures/scopes/markdown/section.scope
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/branchMatcher.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/markdown.ts
  packages/cursorless-engine/src/languages/ternaryBranchMatcher.ts
  queries/markdown.scm
Due: eslint

try to clean up talon types
  packages/cursorless-everywhere-talon-core/src/registerCommands.ts
  packages/cursorless-everywhere-talon-core/src/types/talon.types.ts
  packages/cursorless-everywhere-talon-e2e/src/talonMock.ts
  packages/cursorless-everywhere-talon/src/extension.ts
Due: eslint

cleanup
  packages/cursorless-engine/src/languages/php.ts
Due: eslint

Migrate php key/value scope (#2490)
  data/fixtures/recorded/languages/php/changeValue.yml
  data/fixtures/recorded/languages/php/changeValue2.yml
  data/fixtures/recorded/languages/php/changeValue3.yml
  data/fixtures/recorded/languages/php/changeValue4.yml
  data/fixtures/recorded/languages/php/changeValue5.yml
  data/fixtures/recorded/languages/php/changeValue6.yml
  data/fixtures/recorded/languages/php/changeValue7.yml
  data/fixtures/recorded/languages/php/chuckValue.yml
  data/fixtures/recorded/languages/php/chuckValue10.yml
  data/fixtures/recorded/languages/php/chuckValue2.yml
  data/fixtures/recorded/languages/php/chuckValue3.yml
  data/fixtures/recorded/languages/php/chuckValue4.yml
  data/fixtures/recorded/languages/php/chuckValue5.yml
  data/fixtures/recorded/languages/php/chuckValue6.yml
  data/fixtures/recorded/languages/php/chuckValue7.yml
  data/fixtures/recorded/languages/php/chuckValue8.yml
  data/fixtures/recorded/languages/php/chuckValue9.yml
  data/fixtures/scopes/php/key.mapPair.scope
  data/fixtures/scopes/php/name.assignment.scope
  data/fixtures/scopes/php/name.assignment2.scope
  data/fixtures/scopes/php/name.variable.scope
  data/fixtures/scopes/php/value.assignment.scope
  data/fixtures/scopes/php/value.assignment2.scope
  data/fixtures/scopes/php/value.mapPair.scope
  data/fixtures/scopes/php/value.return.scope
  data/fixtures/scopes/php/value.variable.scope
  data/fixtures/scopes/php/value.yield.scope
  packages/common/src/scopeSupportFacets/php.ts
  packages/cursorless-engine/src/languages/php.ts
  queries/php.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Remove php legacy
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
Due: eslint

Rename set text to edit text
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  cursorless-everywhere-talon/cursorless_everywhere_talon_win.py
Due: none

Added tag
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  packages/cursorless-everywhere-talon-core/src/README.md
  packages/cursorless-everywhere-talon-core/src/registerCommands.ts
  packages/cursorless-everywhere-talon/src/extension.ts
Due: eslint

Added comment
  packages/cursorless-everywhere-talon-core/src/polyfill.ts
Due: eslint

Update script
  packages/cursorless-everywhere-talon/package.json
  packages/cursorless-everywhere-talon/scripts/populate-dist.sh
  packages/test-harness/package.json
  packages/test-harness/src/scripts/runTalonJsTests.ts
  packages/test-harness/src/scripts/runTalonJsTestsCI.ts
Due: eslint

Cleanup script#
  packages/test-harness/package.json
Due: none

Add const
  packages/common/src/types/command/command.types.ts
Due: eslint

Migrate php argument scope (#2492)
  data/fixtures/recorded/languages/php/changeArg.yml
  data/fixtures/recorded/languages/php/changeArg10.yml
  data/fixtures/recorded/languages/php/changeArg2.yml
  data/fixtures/recorded/languages/php/changeArg3.yml
  data/fixtures/recorded/languages/php/changeArg4.yml
  data/fixtures/recorded/languages/php/changeArg5.yml
  data/fixtures/recorded/languages/php/changeArg6.yml
  data/fixtures/recorded/languages/php/changeArg7.yml
  data/fixtures/recorded/languages/php/changeArg8.yml
  data/fixtures/recorded/languages/php/changeArg9.yml
  data/fixtures/recorded/languages/php/changeEveryArg.yml
  data/fixtures/recorded/languages/php/chuckArg.yml
  data/fixtures/recorded/languages/php/chuckArg10.yml
  data/fixtures/recorded/languages/php/chuckArg2.yml
  data/fixtures/recorded/languages/php/chuckArg3.yml
  data/fixtures/recorded/languages/php/chuckArg4.yml
  data/fixtures/recorded/languages/php/chuckArg5.yml
  data/fixtures/recorded/languages/php/chuckArg6.yml
  data/fixtures/recorded/languages/php/chuckArg7.yml
  data/fixtures/recorded/languages/php/chuckArg8.yml
  data/fixtures/recorded/languages/php/chuckArg9.yml
  data/fixtures/recorded/languages/php/chuckEveryArg.yml
  data/fixtures/scopes/php/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/php/argument.actual.constructor.scope
  data/fixtures/scopes/php/argument.actual.iteration.scope
  data/fixtures/scopes/php/argument.actual.method.iteration.scope
  data/fixtures/scopes/php/argument.actual.method.scope
  data/fixtures/scopes/php/argument.actual.scope
  data/fixtures/scopes/php/argument.formal.constructor.iteration.scope
  data/fixtures/scopes/php/argument.formal.constructor.scope
  data/fixtures/scopes/php/argument.formal.iteration.scope
  data/fixtures/scopes/php/argument.formal.method.iteration.scope
  data/fixtures/scopes/php/argument.formal.method.scope
  data/fixtures/scopes/php/argument.formal.scope
  packages/common/src/scopeSupportFacets/php.ts
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/php.ts
  queries/php.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added map value
  data/fixtures/scopes/csharp/value.assignment.scope
  data/fixtures/scopes/csharp/value.mapPair.iteration.scope
  data/fixtures/scopes/csharp/value.mapPair.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
Due: eslint

Added argument scopes
  data/fixtures/scopes/csharp/name.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/name.argument.formal.scope
  data/fixtures/scopes/csharp/type.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/value.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/value.argument.formal.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
Due: eslint

Move selections equal to commons
  packages/common/src/index.ts
  packages/common/src/util/selectionsEqual.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-engine/src/util/selectionUtils.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsEditor.ts
Due: eslint

Renamed to KeyValueStore
  packages/common/src/ide/PassthroughIDEBase.ts
  packages/common/src/ide/fake/FakeIDE.ts
  packages/common/src/ide/fake/FakeKeyValueStore.ts
  packages/common/src/ide/fake/FakeStorage.ts
  packages/common/src/ide/normalized/NormalizedIDE.ts
  packages/common/src/ide/types/KeyValueStore.ts
  packages/common/src/ide/types/ide.types.ts
  packages/common/src/index.ts
  packages/cursorless-tutorial/src/TutorialImpl.ts
  packages/cursorless-tutorial/src/loadTutorial.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeKeyValueStore.ts
  packages/neovim-common/src/ide/neovim/NeovimGlobalState.ts
  packages/neovim-common/src/ide/neovim/NeovimIDE.ts
  packages/neovim-common/src/ide/neovim/NeovimKeyValueStore.ts
  packages/neovim-common/src/index.ts
Due: eslint

More fixes
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-neovim/src/registerCommands.ts
  packages/cursorless-tutorial/src/TutorialImpl.ts
  packages/cursorless-vscode/src/VscodeTutorial.ts
  packages/neovim-common/src/ide/neovim/NeovimIDE.ts
  packages/test-harness/src/scripts/runNeovimTestsCI.ts
Due: eslint

Stop using one of
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
Due: eslint

Simplification
  data/fixtures/scopes/textual/boundedNonWhitespaceSequence.scope
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairInteriorScopeHandler.ts
Due: eslint

rename
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
Due: eslint

Handle empty intersection
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
Due: eslint

Added short block
  data/fixtures/recorded/scopes/boundedParagraph/changeShortBlock.yml
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

assert iteration type
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
Due: eslint

Use paragraph target
  data/fixtures/recorded/scopes/boundedParagraph/chuckShortBlock.yml
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Fix bug
  data/fixtures/recorded/scopes/boundedParagraph/chuckShortBlock.yml
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added scope
  data/fixtures/scopes/textual/boundedParagraph.scope
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/textualScopeSupportFacetInfos.ts
Due: eslint

fixed failing test
  packages/common/src/types/command/command.types.ts
  packages/cursorless-engine/src/actions/ShowParseTree.ts
Due: eslint

Yield nested scopes
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
Due: eslint

don't use disallow
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
Due: eslint

Update
  data/fixtures/recorded/scopes/boundedNonWhitespaceSequence/changeNextShortPaint.yml
  data/fixtures/scopes/textual/boundedNonWhitespaceSequence.scope
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update scope facet
  data/fixtures/scopes/textual/boundedParagraph.scope
  packages/common/src/scopeSupportFacets/textualScopeSupportFacetInfos.ts
Due: eslint

Added comments
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
Due: eslint

clean up
  data/fixtures/scopes/textual/boundedNonWhitespaceSequence.scope
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedNonWhitespaceSequenceScopeHandler.ts
Due: eslint

Add tests
  data/fixtures/scopes/textual/boundedParagraph2.scope
  data/fixtures/scopes/textual/boundedParagraph3.scope
Due: none
