Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/|^data/playground/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

Updated more tests
  data/fixtures/recorded/actions/snippets/snipFunkAfterThis4.yml
  data/fixtures/recorded/actions/snippets/snipFunkAfterThis5.yml
  data/fixtures/recorded/actions/snippets/snipFunkBeforeThis4.yml
Due: format-recorded-tests, check-recorded-test-marks

Added tests
  data/fixtures/recorded/actions/snippets/snipFunk.yml
  data/fixtures/recorded/actions/snippets/snipFunk2.yml
  data/fixtures/recorded/actions/snippets/snipFunk3.yml
  data/fixtures/recorded/actions/snippets/snipFunk4.yml
  data/fixtures/recorded/actions/snippets/snipFunk5.yml
  data/fixtures/recorded/actions/snippets/snipFunk6.yml
Due: format-recorded-tests, check-recorded-test-marks

Revert pinned version for neovim
  .github/workflows/test.yml
Due: none

Make work flow files more readable
  .github/workflows/deploy.yaml
  .github/workflows/forbid-todo.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test-docs.yml
  .github/workflows/test.yml
Due: none

Fix indentation
  .github/workflows/deploy.yaml
  .github/workflows/test.yml
Due: none

Small fixes
  .github/workflows/test.yml
Due: none

More fixes
  .github/workflows/pre-commit.yml
Due: none

More snippet cleanup
  cursorless-talon-dev/src/spoken_form_test.py
  cursorless-talon/src/actions/generate_snippet.py
  packages/cursorless-engine/src/test/fixtures/communitySnippets.fixture.ts
  packages/cursorless-engine/src/test/fixtures/spokenFormTest.ts
  packages/cursorless-engine/src/test/spokenForms.talon.test.ts
Due: eslint

Update Talon grammar tests
  cursorless-talon-dev/src/cursorless_test.talon
  packages/cursorless-engine/src/test/fixtures/communitySnippets.fixture.ts
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
Due: eslint

Log fail test to file went running tests locally
  .gitignore
  .vscode/launch.json
  packages/test-harness/src/runAllTests.ts
  packages/test-harness/src/testSubset.ts
Due: eslint

Update packages/cursorless-engine/src/actions/EditNew/EditNew.types.ts
  packages/cursorless-engine/src/actions/EditNew/EditNew.types.ts
Due: eslint

Revert pinned version for neovim (#2807)
  .github/workflows/test.yml
Due: none

Fixed bug with edit new (#2806)
  data/fixtures/recorded/actions/pourStateAirAndLineBat.yml
  packages/cursorless-engine/src/actions/EditNew/EditNew.ts
  packages/cursorless-engine/src/actions/EditNew/EditNew.types.ts
  packages/cursorless-engine/src/actions/EditNew/runEditTargets.ts
  packages/cursorless-engine/src/actions/EditNew/runInsertLineAfterTargets.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Make work flow files more readable (#2808)
  .github/workflows/deploy.yaml
  .github/workflows/forbid-todo.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test-docs.yml
  .github/workflows/test.yml
Due: none

Update packages/test-harness/src/runAllTests.ts
  packages/test-harness/src/runAllTests.ts
Due: eslint

Update packages/test-harness/src/testSubset.ts
  packages/test-harness/src/testSubset.ts
Due: eslint

Actions: attempt to validate PR description tests
  .github/workflows/pr-description.yaml
Due: none

Update pr-description.yaml
  .github/workflows/pr-description.yaml
Due: none

fix
  .github/workflows/pr-description.yaml
Due: none

PULL_REQUEST_TEMPLATE.md: tell the user to remove the welcome comment
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add merge_group: branches: [main]
  .github/workflows/pr-description.yaml
Due: none

Actions: attempt to validate PR description tests (#2810)
  .github/workflows/pr-description.yaml
Due: none

Log fail test to file went running tests locally (#2809)
  .gitignore
  .vscode/launch.json
  packages/test-harness/src/runAllTests.ts
  packages/test-harness/src/testSubset.ts
Due: eslint

Added interior scopes to python
  data/fixtures/scopes/lua/interior.if.scope
  data/fixtures/scopes/python/interior.if.scope
  data/fixtures/scopes/python/interior.loop.scope
  data/fixtures/scopes/python/interior.switchCase.scope
  data/fixtures/scopes/python/interior.ternary.scope
  data/fixtures/scopes/python/interior.try.scope
  data/fixtures/scopes/python/interior.try2.scope
  packages/common/src/scopeSupportFacets/lua.ts
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/python.scm
Due: eslint

Added padding
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
Due: eslint

Added more python scopes
  data/fixtures/scopes/python/interior.loop2.scope
  data/fixtures/scopes/python/interior.switchCase.scope
  data/fixtures/scopes/python/interior.with.scope
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/python.scm
Due: eslint

ci: try upgrading corepack
  .github/workflows/test.yml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

fix
  .github/workflows/deploy.yaml
  .github/workflows/pre-commit.yml
  .github/workflows/test-docs.yml
  .github/workflows/test.yml
Due: none

fix
  .github/workflows/test.yml
Due: none

ci: try upgrading corepack (#2816)
  .github/workflows/deploy.yaml
  .github/workflows/pre-commit.yml
  .github/workflows/test-docs.yml
  .github/workflows/test.yml
Due: none

Added documentation for the scope test format
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-scope.md
  packages/cursorless-org-docs/src/docs/contributing/parse-tree-patterns.md
  packages/cursorless-org-docs/src/docs/contributing/scope-test-format.md
Due: none

relative link
  packages/cursorless-org-docs/src/docs/contributing/scope-test-format.md
Due: none

Added interior scopes to python (#2814)
  data/fixtures/scopes/lua/interior.if.scope
  data/fixtures/scopes/python/interior.if.scope
  data/fixtures/scopes/python/interior.loop.scope
  data/fixtures/scopes/python/interior.loop2.scope
  data/fixtures/scopes/python/interior.switchCase.scope
  data/fixtures/scopes/python/interior.ternary.scope
  data/fixtures/scopes/python/interior.try.scope
  data/fixtures/scopes/python/interior.try2.scope
  data/fixtures/scopes/python/interior.with.scope
  packages/common/src/scopeSupportFacets/lua.ts
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/python.scm
Due: eslint

Rename fixture
  packages/cursorless-engine/src/test/fixtures/communitySnippets.fixture.ts
Due: eslint

PULL_REQUEST_TEMPLATE.md: tell the user to remove the welcome comment (#2811)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none
