Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/rwxcorp/pre-commit-lua.git
    rev: v1.0.0
    hooks:
      - id: stylua
      - id: luacheck

Support search editor
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

Tweaks
  cursorless-talon-dev/src/cursorless_dev.talon
  packages/cursorless-engine/src/ScopeTestRecorder.ts
Due: eslint

Migrate Python branch scopes to fixtures
  data/fixtures/recorded/languages/python/clearBranch.yml
  data/fixtures/recorded/languages/python/clearBranch10.yml
  data/fixtures/recorded/languages/python/clearBranch11.yml
  data/fixtures/recorded/languages/python/clearBranch12.yml
  data/fixtures/recorded/languages/python/clearBranch13.yml
  data/fixtures/recorded/languages/python/clearBranch2.yml
  data/fixtures/recorded/languages/python/clearBranch3.yml
  data/fixtures/recorded/languages/python/clearBranch4.yml
  data/fixtures/recorded/languages/python/clearBranch5.yml
  data/fixtures/recorded/languages/python/clearBranch6.yml
  data/fixtures/recorded/languages/python/clearBranch7.yml
  data/fixtures/recorded/languages/python/clearBranch8.yml
  data/fixtures/recorded/languages/python/clearBranch9.yml
  data/fixtures/scopes/python/branch.if.iteration.scope
  data/fixtures/scopes/python/branch.if.scope
  data/fixtures/scopes/python/branch.switchCase.iteration.scope
  data/fixtures/scopes/python/branch.switchCase.scope
  data/fixtures/scopes/python/branch.ternary.scope
  data/fixtures/scopes/python/branch.try.scope
  packages/common/src/scopeSupportFacets/python.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

tweak
  packages/cursorless-engine/src/ScopeTestRecorder.ts
Due: eslint

Remove a couple more tests
  data/fixtures/recorded/languages/python/ditchBranch.yml
  data/fixtures/recorded/languages/python/ditchBranch2.yml
Due: format-recorded-tests, check-recorded-test-marks

More branch tests
  data/fixtures/recorded/languages/python/clearBranch14.yml
  data/fixtures/recorded/languages/python/clearBranch15.yml
  data/fixtures/recorded/languages/python/clearBranch16.yml
  data/fixtures/recorded/languages/python/clearBranch17.yml
  data/fixtures/recorded/languages/python/clearBranch18.yml
  data/fixtures/recorded/languages/python/clearBranch19.yml
  data/fixtures/recorded/languages/python/clearBranch20.yml
  data/fixtures/scopes/python/branch.loop.scope
  data/fixtures/scopes/python/branch.loop2.scope
  data/fixtures/scopes/python/branch.try2.scope
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Migrate Python branch scopes to fixtures (#2389)
  data/fixtures/recorded/languages/python/clearBranch.yml
  data/fixtures/recorded/languages/python/clearBranch10.yml
  data/fixtures/recorded/languages/python/clearBranch11.yml
  data/fixtures/recorded/languages/python/clearBranch12.yml
  data/fixtures/recorded/languages/python/clearBranch13.yml
  data/fixtures/recorded/languages/python/clearBranch14.yml
  data/fixtures/recorded/languages/python/clearBranch15.yml
  data/fixtures/recorded/languages/python/clearBranch16.yml
  data/fixtures/recorded/languages/python/clearBranch17.yml
  data/fixtures/recorded/languages/python/clearBranch18.yml
  data/fixtures/recorded/languages/python/clearBranch19.yml
  data/fixtures/recorded/languages/python/clearBranch2.yml
  data/fixtures/recorded/languages/python/clearBranch20.yml
  data/fixtures/recorded/languages/python/clearBranch3.yml
  data/fixtures/recorded/languages/python/clearBranch4.yml
  data/fixtures/recorded/languages/python/clearBranch5.yml
  data/fixtures/recorded/languages/python/clearBranch6.yml
  data/fixtures/recorded/languages/python/clearBranch7.yml
  data/fixtures/recorded/languages/python/clearBranch8.yml
  data/fixtures/recorded/languages/python/clearBranch9.yml
  data/fixtures/recorded/languages/python/ditchBranch.yml
  data/fixtures/recorded/languages/python/ditchBranch2.yml
  data/fixtures/scopes/python/branch.if.iteration.scope
  data/fixtures/scopes/python/branch.if.scope
  data/fixtures/scopes/python/branch.loop.scope
  data/fixtures/scopes/python/branch.loop2.scope
  data/fixtures/scopes/python/branch.switchCase.iteration.scope
  data/fixtures/scopes/python/branch.switchCase.scope
  data/fixtures/scopes/python/branch.ternary.scope
  data/fixtures/scopes/python/branch.try.scope
  data/fixtures/scopes/python/branch.try2.scope
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Remove change log file
  changelog/2024-06-bulkScopeTestRecorder.md
Due: none

Added string record type
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  packages/common/src/types/StringRecord.ts
Due: eslint

Bulk scope test recorder (#2383)
  cursorless-talon-dev/src/cursorless_dev.talon
  packages/common/src/cursorlessCommandIds.ts
  packages/common/src/index.ts
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  packages/common/src/testUtil/getScopeTestPathsRecursively.ts
  packages/common/src/types/StringRecord.ts
  packages/cursorless-engine/src/ScopeTestRecorder.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

Needs reworking
  data/fixtures/recorded/tutorial/unit-1-basics/script.json
  data/fixtures/recorded/tutorial/unit-1-basics/takeCap.yml
  data/fixtures/recorded/tutorial/unit-1-basics/takeWhale.yml
  packages/cursorless-vscode-tutorial-webview/src/TutorialStep.tsx
Due: eslint, format-recorded-tests, check-recorded-test-marks

cleanup
  packages/cursorless-vscode-tutorial-webview/src/App.tsx
  packages/cursorless-vscode-tutorial-webview/src/CloseIcon.tsx
  packages/cursorless-vscode-tutorial-webview/src/ProgressBar.tsx
  packages/cursorless-vscode-tutorial-webview/src/TutorialStep.tsx
  packages/cursorless-vscode/src/VscodeTutorial.ts
Due: eslint

Add `cursorless_replace` action to talon api
  cursorless-talon-dev/src/cursorless_test.talon
  cursorless-talon/src/actions/actions.py
Due: none

Tweaks
  data/fixtures/recorded/languages/lua/changeString2.yml
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/delimiterMaps.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findSurroundingPairTextBased.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/getIndividualDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/index.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Add language overrides for delimiter maps (#2012)
  data/fixtures/recorded/languages/lua/changeString2.yml
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/delimiterMaps.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findSurroundingPairParseTreeBased.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findSurroundingPairTextBased.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/getIndividualDelimiters.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Changes for tree-sitter 0.21
  data/fixtures/recorded/languages/php/changeRound.yml
  data/fixtures/recorded/languages/php/changeRound2.yml
  data/fixtures/recorded/languages/php/changeRound3.yml
  data/fixtures/recorded/languages/typescript/changeType9.yml
  data/fixtures/recorded/languages/typescript/chuckType5.yml
  data/fixtures/scopes/php/textFragment.string.singleLine.scope
  data/fixtures/scopes/typescript.core/type.cast2.scope
  packages/common/src/scopeSupportFacets/php.ts
  packages/cursorless-engine/src/actions/ShowParseTree.ts
  packages/cursorless-engine/src/core/Debug.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/latex.ts
  packages/cursorless-engine/src/languages/ruby.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/delimiterMaps.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findSurroundingPairParseTreeBased.ts
  packages/cursorless-engine/src/util/treeSitterUtils.ts
  queries/cpp.scm
  queries/javascript.function.scm
  queries/javascript.jsx.scm
  queries/javascript.scm
  queries/php.scm
  queries/python.scm
  queries/ruby.scm
  queries/typescript.core.scm
  typings/treeSitter.d.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

refactor: move command-server out folder to avoid being gitignored
  cursorless.nvim/node/command-server/index/index.cjs
  cursorless.nvim/node/command-server/package.json
Due: none

Switch to `cursorless_create_destination`
  cursorless-talon-dev/src/cursorless_test.talon
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/public_api.py
  cursorless-talon/src/targets/target_types.py
Due: none

update docs
  docs/user/customization.md
  docs/user/how-to.md
Due: none

doc tweak
  docs/user/how-to.md
Due: none

tweak
  docs/user/how-to.md
Due: none

more docs
  docs/user/how-to.md
Due: none

release notes
  changelog/2024-06-addCreateDestination.md
  docs/user/customization.md
Due: none

tweak
  changelog/2024-06-addCreateDestination.md
Due: none

fix example
  docs/user/how-to.md
Due: none

Fix race condition
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
Due: eslint

feat: make the shortcut configurable by the user
  cursorless.nvim/lua/cursorless/config.lua
  cursorless.nvim/lua/cursorless/init.lua
Due: none

feat: enforce minimum version check
  cursorless.nvim/README.md
  cursorless.nvim/lua/cursorless/init.lua
Due: none

Changes for tree-sitter 0.21 (#2409)
  data/fixtures/recorded/languages/php/changeRound.yml
  data/fixtures/recorded/languages/php/changeRound2.yml
  data/fixtures/recorded/languages/php/changeRound3.yml
  data/fixtures/recorded/languages/typescript/changeType9.yml
  data/fixtures/recorded/languages/typescript/chuckType5.yml
  data/fixtures/scopes/php/textFragment.string.singleLine.scope
  data/fixtures/scopes/typescript.core/type.cast2.scope
  packages/common/src/scopeSupportFacets/php.ts
  packages/cursorless-engine/src/actions/ShowParseTree.ts
  packages/cursorless-engine/src/core/Debug.ts
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/latex.ts
  packages/cursorless-engine/src/languages/ruby.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/delimiterMaps.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findSurroundingPairParseTreeBased.ts
  packages/cursorless-engine/src/util/treeSitterUtils.ts
  queries/cpp.scm
  queries/javascript.function.scm
  queries/javascript.jsx.scm
  queries/javascript.scm
  queries/php.scm
  queries/python.scm
  queries/ruby.scm
  queries/typescript.core.scm
  typings/treeSitter.d.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

address PR feedback
  docs/user/customization.md
  docs/user/how-to.md
Due: none

Support markdown code blocks as `"cell"`
  data/fixtures/scopes/markdown/notebookCell.scope
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  queries/markdown.scm
Due: eslint

tweaks
  packages/common/src/types/TextEditor.ts
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-engine/src/actions/CallbackAction.ts
  packages/cursorless-engine/src/actions/Clear.ts
  packages/cursorless-engine/src/actions/Deselect.ts
  packages/cursorless-engine/src/actions/EditNew/EditNew.ts
  packages/cursorless-engine/src/actions/InsertCopy.ts
  packages/cursorless-engine/src/actions/InsertEmptyLines.ts
  packages/cursorless-engine/src/actions/PasteFromClipboard.ts
  packages/cursorless-engine/src/actions/Remove.ts
  packages/cursorless-engine/src/actions/SetSelection.ts
  packages/cursorless-engine/src/actions/Wrap.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-engine/src/util/setSelectionsWithoutFocusingEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

Tweak
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

Remove unused `revealRange`
  packages/common/src/types/TextEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

pre-commit
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-engine/src/actions/Deselect.ts
  packages/cursorless-engine/src/actions/InsertCopy.ts
  packages/cursorless-engine/src/actions/InsertEmptyLines.ts
  packages/cursorless-engine/src/actions/PasteFromClipboard.ts
  packages/cursorless-engine/src/actions/Remove.ts
Due: eslint

Fix non-git diff editors
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
  packages/cursorless-vscode/src/ide/vscode/isDiffEditorOriginal.ts
Due: eslint
