Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/rwxcorp/pre-commit-lua.git
    rev: v1.0.0
    hooks:
      - id: stylua
      - id: luacheck

t
  .github/workflows/test.yml
  .pre-commit-config.yaml
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

t
  .github/workflows/test.yml
  cursorless.nvim/lua/cursorless/init.lua
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

t
  .github/workflows/test.yml
  .gitignore
Due: none

t
  .github/workflows/test.yml
  packages/cursorless-neovim-e2e/src/endToEndTestSetup.ts
  packages/cursorless-neovim-e2e/src/suite/recorded.neovim.test.ts
  packages/neovim-common/src/testUtil/openNewEditor.ts
Due: eslint

t
  .github/workflows/test.yml
  packages/neovim-common/src/neovimApi.ts
Due: eslint

t
  .github/workflows/test.yml
Due: none

t
  cursorless.nvim/lua/cursorless/init.lua
  packages/neovim-common/src/neovimApi.ts
  packages/neovim-common/src/testUtil/openNewEditor.ts
  packages/test-harness/src/config/empty.lua
  packages/test-harness/src/config/init.lua
  packages/test-harness/src/config/init.vim
  packages/test-harness/src/config/init_ced.lua
  packages/test-harness/src/config/init_linux.lua
  packages/test-harness/src/config/init_mac.lua
  packages/test-harness/src/config/init_win.lua
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

t
  packages/test-harness/scripts/populate-cursorless-nvim.sh
  packages/test-harness/src/config/wait.lua
  packages/test-harness/src/launchNeovimAndRunTests.ts
  packages/test-harness/src/runAllTests.ts
Due: eslint

restore files
  .github/workflows/codeql.yml
  .github/workflows/forbid-todo.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test-docs.yml
Due: none

t
  packages/test-harness/src/index.ts
Due: eslint

Lots of fixes related to classes
  data/fixtures/recorded/languages/cpp/takeClass.yml
  data/fixtures/recorded/languages/cpp/takeClass2.yml
  data/fixtures/recorded/languages/cpp/takeClassName.yml
  data/fixtures/recorded/languages/cpp/takeClassName2.yml
  data/fixtures/recorded/languages/cpp/takeClassName3.yml
  data/fixtures/scopes/c/class.scope
  data/fixtures/scopes/c/className.scope
  data/fixtures/scopes/c/name.class.scope
  data/fixtures/scopes/c/name.field.scope
  data/fixtures/scopes/c/name.field2.scope
  data/fixtures/scopes/c/name.field3.scope
  data/fixtures/scopes/c/statement.class.scope
  data/fixtures/scopes/c/type.class.scope
  data/fixtures/scopes/c/type.field.scope
  data/fixtures/scopes/c/type.field2.scope
  data/fixtures/scopes/cpp/class.scope
  data/fixtures/scopes/cpp/className.scope
  data/fixtures/scopes/cpp/className2.scope
  data/fixtures/scopes/cpp/name.class.scope
  data/fixtures/scopes/cpp/name.field.scope
  data/fixtures/scopes/cpp/statement.class.scope
  data/fixtures/scopes/cpp/type.class.scope
  data/fixtures/scopes/cpp/type.field.scope
  data/playground/c-plus-plus.cpp
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/c.scm
  queries/cpp.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

tweaks
  queries/c.scm
Due: none

Fixed support scopeSupportFacets
  packages/common/src/scopeSupportFacets/c.ts
Due: eslint

Fix CI
  data/fixtures/recorded/languages/cpp/changeCall.yml
  data/fixtures/recorded/languages/cpp/changeCallee3.yml
  data/playground/c-plus-plus.cpp
  queries/cpp.scm
Due: format-recorded-tests, check-recorded-test-marks

php scope migration (#2342)
  packages/cursorless-engine/src/languages/php.ts
  queries/php.scm
Due: eslint

csharp add class and class name iteration scope support
  packages/common/src/scopeSupportFacets/csharp.ts
Due: eslint

csharp migrate scopes (#2347)
  data/fixtures/scopes/csharp/anonymousFunction.scope
  data/fixtures/scopes/csharp/anonymousFunction2.scope
  data/fixtures/scopes/csharp/anonymousFunction3.scope
  data/fixtures/scopes/csharp/class.iteration.block.scope
  data/fixtures/scopes/csharp/class.iteration.document.scope
  data/fixtures/scopes/csharp/className.iteration.block.scope
  data/fixtures/scopes/csharp/className.iteration.document.scope
  data/fixtures/scopes/csharp/className.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-engine/src/languages/csharp.ts
  queries/csharp.scm
Due: eslint

Add "inside" to latex environments
  data/fixtures/recorded/languages/latex/clearElm.yml
  data/fixtures/recorded/languages/latex/clearEndTag.yml
  data/fixtures/recorded/languages/latex/clearStartTag.yml
  data/fixtures/recorded/languages/latex/clearTags.yml
  data/fixtures/recorded/languages/latex/pourEnvironment.yml
  data/fixtures/scopes/latex/element.scope
  data/fixtures/scopes/latex/endTag.scope
  data/fixtures/scopes/latex/environment.scope
  data/fixtures/scopes/latex/startTag.scope
  data/fixtures/scopes/latex/tags.scope
  packages/common/src/scopeSupportFacets/latex.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/latex.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

cleanup
  packages/cursorless-engine/src/languages/latex.ts
Due: eslint

Support custom spoken forms for actions
  cursorless-talon/src/spoken_forms.py
  data/fixtures/recorded/actions/parseTreeFile.yml
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.test.ts
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.ts
  packages/cursorless-engine/src/scopeProviders/TalonSpokenForms.ts
  packages/cursorless-engine/src/spokenForms/SpokenFormType.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Latex scope migration (#2341)
  data/fixtures/recorded/languages/latex/clearElm.yml
  data/fixtures/recorded/languages/latex/clearEndTag.yml
  data/fixtures/recorded/languages/latex/clearStartTag.yml
  data/fixtures/recorded/languages/latex/clearTags.yml
  data/fixtures/recorded/languages/latex/pourEnvironment.yml
  data/fixtures/scopes/latex/element.scope
  data/fixtures/scopes/latex/endTag.scope
  data/fixtures/scopes/latex/environment.scope
  data/fixtures/scopes/latex/startTag.scope
  data/fixtures/scopes/latex/tags.scope
  packages/common/src/scopeSupportFacets/latex.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-engine/src/languages/latex.ts
  queries/latex.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added reformat action to public api
  changelog/2024-05-reformatPublicAPI.md
  cursorless-talon/src/actions/reformat.py
  cursorless-talon/src/cursorless.talon
  docs/user/customization.md
Due: none

Added pull request
  changelog/2024-05-reformatPublicAPI.md
Due: none

Add example
  docs/user/customization.md
Due: none

fix
  docs/user/customization.md
Due: none

Added reformat action to public api (#2358)
  changelog/2024-05-reformatPublicAPI.md
  cursorless-talon/src/actions/reformat.py
  cursorless-talon/src/cursorless.talon
  docs/user/customization.md
Due: none

Added reformat action to public api (#2358)
  src/actions/reformat.py
  src/cursorless.talon
Due: none

typescript: Support "value" for type alias
  data/fixtures/scopes/typescript.core/value.typeAlias.scope
  data/fixtures/scopes/typescript.core/value.typeAlias2.scope
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/typescript.ts
  queries/typescript.core.scm
Due: eslint

typescript: Add support for default branches
  data/fixtures/scopes/javascript.core/branch.switchCase.scope
  queries/javascript.core.scm
Due: none

Support custom spoken forms for graphemes
  cursorless-talon/src/get_grapheme_spoken_form_entries.py
  cursorless-talon/src/spoken_forms.py
  cursorless-talon/src/spoken_forms_output.py
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.test.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/scopeProviders/TalonSpokenForms.ts
  packages/cursorless-engine/src/spokenForms/SpokenFormType.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  packages/cursorless-engine/src/spokenForms/graphemes.ts
Due: eslint

typescript: Add support for default branches (#2362)
  data/fixtures/scopes/javascript.core/branch.switchCase.scope
  queries/javascript.core.scm
Due: none

typescript: Support "value" for type alias (#2361)
  data/fixtures/scopes/typescript.core/value.typeAlias.scope
  data/fixtures/scopes/typescript.core/value.typeAlias2.scope
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/typescript.ts
  queries/typescript.core.scm
Due: eslint

Added java field type
  data/fixtures/scopes/java/type.field.scope
  packages/common/src/scopeSupportFacets/java.ts
  queries/java.scm
Due: eslint

Migrate java args scope
  data/fixtures/scopes/java/argument.actual.iteration.scope
  data/fixtures/scopes/java/argument.actual.scope
  data/fixtures/scopes/java/argument.formal.iteration.scope
  data/fixtures/scopes/java/argument.formal.scope
  packages/common/src/scopeSupportFacets/java.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/java.ts
  queries/java.scm
Due: eslint

update
  queries/java.scm
Due: none

Added more tests
  data/fixtures/scopes/java/argument.formal.iteration2.scope
  data/fixtures/scopes/java/argument.formal2.scope
Due: none

Added additional test
  data/fixtures/scopes/java/argument.actual2.scope
Due: none

Updated facet description
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
Due: eslint

More tests
  data/fixtures/scopes/java/argument.actual2.scope
  data/fixtures/scopes/java/argument.formal2.scope
  data/fixtures/scopes/java/argument.formal3.scope
Due: none
