Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/|^data/playground/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

Added more testing to what's next
  packages/cursorless-org-docs/src/docs/user/release-notes/1.1.0.md
Due: none

Clean up
  packages/cursorless-org-docs/src/docs/user/release-notes/1.1.0.md
Due: none

Remove trailing whitespace
  packages/cursorless-org-docs/src/docs/user/release-notes/1.1.0.md
Due: none

Fix bug with multiple cursor performance tests (#3132)
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Release 1.1.0 (#3131)
  packages/cursorless-org-docs/src/docs/user/release-notes/1.1.0.md
  packages/cursorless-org-docs/src/docs/user/release-notes/sidebar-containment-icons.png
  packages/cursorless-vscode/package.json
Due: none

Add support for "base" and "file name"
  cursorless-talon/src/cheatsheet/sections/modifiers.py
  cursorless-talon/src/spoken_forms.json
  data/fixtures/recorded/modifiers/bringBasename.yml
  data/fixtures/recorded/modifiers/bringFilename.yml
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/FilenameStage.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  packages/cursorless-engine/src/util/getScopeType.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update go scope facets support
  packages/common/src/scopeSupportFacets/go.ts
Due: eslint

Started adding scope fixtures
  data/fixtures/scopes/go/anonymousFunction.scope
  data/fixtures/scopes/go/class.iteration.document.scope
  data/fixtures/scopes/go/class.scope
  data/fixtures/scopes/go/comment.block.scope
  data/fixtures/scopes/go/condition.for.scope
  data/fixtures/scopes/go/condition.if.scope
  data/fixtures/scopes/go/functionCall.chain.scope
  data/fixtures/scopes/go/functionCall.method.scope
  data/fixtures/scopes/go/functionCall.scope
  data/fixtures/scopes/go/functionCallee.chain.scope
  data/fixtures/scopes/go/functionCallee.method.scope
  data/fixtures/scopes/go/functionCallee.scope
  data/fixtures/scopes/go/ifStatement.scope
  data/fixtures/scopes/go/name/name.iteration.document.scope
  data/fixtures/scopes/go/namedFunction.iteration.document.scope
  data/fixtures/scopes/go/namedFunction.method.scope
  data/fixtures/scopes/go/namedFunction.scope
  data/fixtures/scopes/go/textFragment.comment.block.scope
  data/fixtures/scopes/go/type/type.iteration.document.scope
  data/fixtures/scopes/go/value/value.iteration.document.scope
  packages/common/src/scopeSupportFacets/go.ts
  queries/go.scm
Due: eslint

variables
  data/fixtures/scopes/go/key.mapPair.iteration.scope
  data/fixtures/scopes/go/key.mapPair.scope
  data/fixtures/scopes/go/list.scope
  data/fixtures/scopes/go/map.scope
  data/fixtures/scopes/go/name/name.assignment.scope
  data/fixtures/scopes/go/name/name.variable.scope
  data/fixtures/scopes/go/name/name.variable2.scope
  data/fixtures/scopes/go/name/name.variable3.scope
  data/fixtures/scopes/go/type/type.variable.scope
  data/fixtures/scopes/go/type/type.variable2.scope
  data/fixtures/scopes/go/value/value.assignment.scope
  data/fixtures/scopes/go/value/value.mapPair.iteration.scope
  data/fixtures/scopes/go/value/value.mapPair.scope
  data/fixtures/scopes/go/value/value.variable.scope
  data/fixtures/scopes/go/value/value.variable2.scope
  data/fixtures/scopes/go/value/value.variable3.scope
  queries/go.scm
Due: none

More tests
  data/fixtures/scopes/go/interior/interior.class.scope
  data/fixtures/scopes/go/interior/interior.for.scope
  data/fixtures/scopes/go/interior/interior.foreach.scope
  data/fixtures/scopes/go/interior/interior.function.scope
  data/fixtures/scopes/go/interior/interior.if.scope
  data/fixtures/scopes/go/interior/interior.interface.scope
  data/fixtures/scopes/go/interior/interior.lambda.scope
  data/fixtures/scopes/go/interior/interior.method.scope
  data/fixtures/scopes/go/name/name.class.scope
  data/fixtures/scopes/go/name/name.foreach.scope
  data/fixtures/scopes/go/name/name.function.scope
  data/fixtures/scopes/go/name/name.interface.scope
  data/fixtures/scopes/go/name/name.method.scope
  data/fixtures/scopes/go/statement/statement.assignment.scope
  data/fixtures/scopes/go/statement/statement.class.scope
  data/fixtures/scopes/go/statement/statement.for.scope
  data/fixtures/scopes/go/statement/statement.foreach.scope
  data/fixtures/scopes/go/statement/statement.function.scope
  data/fixtures/scopes/go/statement/statement.if.scope
  data/fixtures/scopes/go/statement/statement.interface.scope
  data/fixtures/scopes/go/statement/statement.iteration.document.scope
  data/fixtures/scopes/go/statement/statement.method.scope
  data/fixtures/scopes/go/statement/statement.variable.scope
  data/fixtures/scopes/go/statement/statement.variable2.scope
  data/fixtures/scopes/go/statement/statement.variable3.scope
  data/fixtures/scopes/go/type/type.class.scope
  data/fixtures/scopes/go/type/type.interface.scope
  data/fixtures/scopes/go/type/type.return.scope
  data/fixtures/scopes/go/value/value.foreach.scope
  data/fixtures/scopes/go/value/value.return.scope
  data/fixtures/scopes/go/value/value.variable2.scope
  queries/go.scm
Due: none

More work
  data/fixtures/scopes/go/branch/branch.if.elif.else.scope
  data/fixtures/scopes/go/branch/branch.if.else.scope
  data/fixtures/scopes/go/branch/branch.if.iteration.scope
  data/fixtures/scopes/go/branch/branch.if.scope
  data/fixtures/scopes/go/name/name.field.class.scope
  data/fixtures/scopes/go/name/name.field.interface.scope
  data/fixtures/scopes/go/name/name.iteration.class.scope
  data/fixtures/scopes/go/name/name.iteration.interface.scope
  data/fixtures/scopes/go/statement/statement.break.scope
  data/fixtures/scopes/go/statement/statement.continue.scope
  data/fixtures/scopes/go/statement/statement.field.class.scope
  data/fixtures/scopes/go/statement/statement.field.interface.scope
  data/fixtures/scopes/go/statement/statement.iteration.class.scope
  data/fixtures/scopes/go/statement/statement.iteration.interface.scope
  data/fixtures/scopes/go/statement/statement.return.scope
  data/fixtures/scopes/go/type/type.field.class.scope
  data/fixtures/scopes/go/type/type.iteration.class.scope
  packages/common/src/scopeSupportFacets/go.ts
  queries/go.scm
Due: eslint

Update facet description
  data/scopeSupportFacetInfos.md
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
Due: eslint

tests
  data/fixtures/scopes/go/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/go/branch/branch.switchCase.iteration2.scope
  data/fixtures/scopes/go/condition.for.scope
  data/fixtures/scopes/go/condition.if.scope
  data/fixtures/scopes/go/interior/interior.switch.scope
  data/fixtures/scopes/go/interior/interior.switch2.scope
  data/fixtures/scopes/go/name/name.iteration.block.scope
  data/fixtures/scopes/go/name/name.iteration.block2.scope
  data/fixtures/scopes/go/name/name.iteration.block3.scope
  data/fixtures/scopes/go/statement/statement.iteration.block.scope
  data/fixtures/scopes/go/statement/statement.iteration.block2.scope
  data/fixtures/scopes/go/statement/statement.iteration.block3.scope
  data/fixtures/scopes/go/statement/statement.switch.scope
  data/fixtures/scopes/go/type/type.iteration.block.scope
  data/fixtures/scopes/go/type/type.iteration.block2.scope
  data/fixtures/scopes/go/type/type.iteration.block3.scope
  data/fixtures/scopes/go/value/value.iteration.block.scope
  data/fixtures/scopes/go/value/value.iteration.block2.scope
  data/fixtures/scopes/go/value/value.iteration.block3.scope
  data/fixtures/scopes/go/value/value.switch.scope
  data/fixtures/scopes/go/value/value.switch2.scope
  queries/go.scm
Due: none

test
  data/fixtures/scopes/go/condition/condition.for.scope
  data/fixtures/scopes/go/condition/condition.if.scope
  data/fixtures/scopes/go/condition/condition.switchCase.iteration.scope
  data/fixtures/scopes/go/condition/condition.switchCase.iteration2.scope
Due: none

argument
  data/fixtures/scopes/go/argument/argument.actual.iteration.scope
  data/fixtures/scopes/go/argument/argument.actual.method.iteration.scope
  data/fixtures/scopes/go/argument/argument.actual.method.multiLine.scope
  data/fixtures/scopes/go/argument/argument.actual.method.singleLine.scope
  data/fixtures/scopes/go/argument/argument.actual.multiLine.scope
  data/fixtures/scopes/go/argument/argument.actual.singleLine.scope
  data/fixtures/scopes/go/argument/argument.formal.iteration.scope
  data/fixtures/scopes/go/argument/argument.formal.lambda.iteration.scope
  data/fixtures/scopes/go/argument/argument.formal.lambda.multiLine.scope
  data/fixtures/scopes/go/argument/argument.formal.lambda.singleLine.scope
  data/fixtures/scopes/go/argument/argument.formal.method.iteration.scope
  data/fixtures/scopes/go/argument/argument.formal.method.multiLine.scope
  data/fixtures/scopes/go/argument/argument.formal.method.singleLine.scope
  data/fixtures/scopes/go/argument/argument.formal.multiLine.scope
  data/fixtures/scopes/go/argument/argument.formal.singleLine.scope
  queries/go.scm
Due: none

argument list
  data/fixtures/scopes/go/argumentList/argumentList.actual.empty.scope
  data/fixtures/scopes/go/argumentList/argumentList.actual.method.empty.scope
  data/fixtures/scopes/go/argumentList/argumentList.actual.method.multiLine.scope
  data/fixtures/scopes/go/argumentList/argumentList.actual.method.singleLine.scope
  data/fixtures/scopes/go/argumentList/argumentList.actual.multiLine.scope
  data/fixtures/scopes/go/argumentList/argumentList.actual.singleLine.scope
  data/fixtures/scopes/go/argumentList/argumentList.formal.empty.scope
  data/fixtures/scopes/go/argumentList/argumentList.formal.lambda.empty.scope
  data/fixtures/scopes/go/argumentList/argumentList.formal.lambda.multiLine.scope
  data/fixtures/scopes/go/argumentList/argumentList.formal.lambda.singleLine.scope
  data/fixtures/scopes/go/argumentList/argumentList.formal.method.empty.scope
  data/fixtures/scopes/go/argumentList/argumentList.formal.method.multiLine.scope
  data/fixtures/scopes/go/argumentList/argumentList.formal.method.singleLine.scope
  data/fixtures/scopes/go/argumentList/argumentList.formal.multiLine.scope
  data/fixtures/scopes/go/argumentList/argumentList.formal.singleLine.scope
  queries/go.scm
Due: none

arguments
  data/fixtures/scopes/go/name/name.argument.formal.iteration.scope
  data/fixtures/scopes/go/name/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/go/name/name.argument.formal.method.scope
  data/fixtures/scopes/go/name/name.argument.formal.scope
  data/fixtures/scopes/go/name/name.method.scope
  data/fixtures/scopes/go/type/type.argument.formal.iteration.scope
  data/fixtures/scopes/go/type/type.argument.formal.method.iteration.scope
  data/fixtures/scopes/go/type/type.argument.formal.method.scope
  data/fixtures/scopes/go/type/type.argument.formal.scope
  queries/go.scm
Due: none

type
  data/fixtures/scopes/go/type/type.alias.scope
  data/fixtures/scopes/go/type/type.typeArgument.iteration.scope
  data/fixtures/scopes/go/type/type.typeArgument.scope
  data/fixtures/scopes/go/value/value.typeAlias.scope
  packages/common/src/scopeSupportFacets/go.ts
  queries/go.scm
Due: eslint

branch
  data/fixtures/scopes/go/branch/branch.switchCase.scope
  data/fixtures/scopes/go/condition/condition.switchCase.scope
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  queries/go.scm
Due: eslint

collection it them
  data/fixtures/scopes/go/collectionItem.unenclosed.iteration.scope
  data/fixtures/scopes/go/collectionItem.unenclosed.multiLine.scope
  data/fixtures/scopes/go/collectionItem.unenclosed.singleLine.scope
  data/fixtures/scopes/go/interior/interior.switchCase.scope
  queries/go.scm
Due: none

Update listen map
  data/fixtures/scopes/go/list.scope
  data/fixtures/scopes/go/map.scope
  queries/go.scm
Due: none

Missing iteration scopes
  data/fixtures/scopes/go/class.iteration.block.scope
  data/fixtures/scopes/go/namedFunction.iteration.class.scope
  queries/go.scm
Due: none

Update map and list
  data/fixtures/recorded/languages/go/changeEveryBranchSun.yml
  data/fixtures/recorded/languages/go/changeFunk.yml
  data/fixtures/recorded/languages/go/changeListCap.yml
  data/fixtures/recorded/languages/go/changeListCap2.yml
  data/fixtures/recorded/languages/go/changeListOne.yml
  data/fixtures/recorded/languages/go/changeListOne2.yml
  data/fixtures/recorded/languages/go/changeListTrap.yml
  data/fixtures/recorded/languages/go/changeListTrap2.yml
  data/fixtures/recorded/languages/go/changeListTrap3.yml
  data/fixtures/recorded/languages/go/changeListTrap4.yml
  data/fixtures/recorded/languages/go/changeListTwo.yml
  data/fixtures/recorded/languages/go/changeMapCap.yml
  data/fixtures/recorded/languages/go/changeMapCap2.yml
  data/fixtures/recorded/languages/go/changeMapOne2.yml
  data/fixtures/recorded/languages/go/changeMapTrap.yml
  data/fixtures/recorded/languages/go/changeMapTrap2.yml
  data/fixtures/recorded/languages/go/changeMapTrap3.yml
  data/fixtures/recorded/languages/go/changeMapTrap4.yml
  data/fixtures/recorded/languages/go/takeList.yml
  data/fixtures/recorded/languages/go/takeMap.yml
  data/fixtures/recorded/languages/go/takeState.yml
  data/fixtures/scopes/go/list.scope
  data/fixtures/scopes/go/list2.scope
  data/fixtures/scopes/go/list3.scope
  data/fixtures/scopes/go/map.scope
  data/fixtures/scopes/go/map2.scope
  data/fixtures/scopes/go/map3.scope
  data/fixtures/scopes/go/namedFunction2.scope
  queries/go.scm
Due: format-recorded-tests, check-recorded-test-marks

feat: Preserve number padding using increment/decrement
  packages/cursorless-engine/src/actions/incrementDecrement.ts
Due: eslint

feat: Add incrementDecrement test cases
  data/fixtures/recorded/actions/incrementDecrement/decrementFile.yml
  data/fixtures/recorded/actions/incrementDecrement/decrementFirstSub.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementFile.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementSecondSub.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementThis.yml
Due: format-recorded-tests, check-recorded-test-marks

mise config
  mise.toml
  pnpm-lock.yaml
Due: none

Small clean up
  data/fixtures/recorded/actions/decrementFile.yml
  data/fixtures/recorded/actions/incrementDecrement/decrementFile.yml
  data/fixtures/recorded/actions/incrementDecrement/decrementFile2.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementFile.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementFile2.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementLineFourAndEveryTokenOne.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementThree.yml
  data/fixtures/recorded/actions/incrementFile.yml
  packages/cursorless-engine/src/actions/incrementDecrement.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

More clean up
  packages/cursorless-engine/src/actions/incrementDecrement.ts
Due: eslint

Additional clean up
  packages/cursorless-engine/src/actions/incrementDecrement.ts
Due: eslint

Preserve number padding in increment/decrement actions (#3136)
  data/fixtures/recorded/actions/incrementDecrement/decrementFile.yml
  data/fixtures/recorded/actions/incrementDecrement/decrementFile2.yml
  data/fixtures/recorded/actions/incrementDecrement/decrementFirstSub.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementFile.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementFile2.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementLineFourAndEveryTokenOne.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementSecondSub.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementThis.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementThree.yml
  packages/cursorless-engine/src/actions/incrementDecrement.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Tweak performance test thresholds
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Tweak performance test thresholds (#3137)
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

feat(scope): add "that" scope type for referencing previous targets
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint

feat(scope): implement ThatScopeHandler for "that" scope
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ThatScopeHandler.ts
Due: eslint

feat(scope): wire up ThatScopeHandler throughout the engine
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/runCommand.ts
  packages/cursorless-engine/src/scopeProviders/ScopeRangeWatcher.ts
Due: eslint

feat(talon): add "that" to scope_type for visualization
  cursorless-talon/src/spoken_forms.json
Due: none

Remove deprecated cursorless_custom_number_small tag
  cursorless-talon/src/number_small.py
Due: none

Remove deprecated forceDirection attribute from SurroundingPairScopeHandler
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
Due: eslint
