Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Update next to version 16
  packages/cursorless-org/package.json
  packages/cursorless-org/tailwind.config.js
  pnpm-lock.yaml
Due: none

Merge branch 'main' into dependencyVersions
  packages/cheatsheet-local/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  pnpm-lock.yaml
Due: none

Update dependencies to latest versions
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/neovim-common/package.json
  packages/node-common/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  packages/test-harness/src/launchVscodeAndRunTests.ts
  packages/vscode-common/package.json
  pnpm-lock.yaml
Due: eslint

Update port
  packages/cursorless-org/package.json
Due: none

Downgrade @tailwindcss/postcss to 4.1.17 to fix build issues
  packages/cheatsheet-local/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Due: none

misc
  data/fixtures/recorded/languages/css/chuckValue3.yml
  data/fixtures/recorded/languages/java/changeEveryBranch.yml
  data/fixtures/recorded/languages/java/changeEveryBranch2.yml
  data/fixtures/recorded/languages/java/changeEveryCondition.yml
  data/fixtures/recorded/languages/java/changeEveryCondition2.yml
  data/fixtures/recorded/languages/scss/chuckValue3.yml
  data/fixtures/recorded/languages/talon/clearKey4.yml
  data/fixtures/scopes/c/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/c/condition/condition.switchCase.iteration.scope
  data/fixtures/scopes/csharp/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/java/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/java/condition/condition.switchCase.iteration.scope
  data/fixtures/scopes/javascript.core/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/javascript.core/condition/condition.switchCase.iteration.scope
  data/fixtures/scopes/kotlin/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/kotlin/condition/condition.switchCase.iteration.scope
  data/fixtures/scopes/python/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/python/condition/condition.switchCase.iteration.scope
  data/fixtures/scopes/rust/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/rust/condition.switchCase.iteration.scope
  data/fixtures/scopes/rust/value/value.return.lambda.scope
  data/fixtures/scopes/scala/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/scala/condition/condition.switchCase.iteration.scope
  data/fixtures/scopes/scala/name/argument.catch.scope
  data/fixtures/scopes/scala/type/type.argument.catch.scope
  data/fixtures/scopes/scala/value/value.field.class.scope
  data/fixtures/scopes/talon/name/name.command3.scope
  data/fixtures/scopes/talon/value/value.command.scope
  packages/common/src/scopeSupportFacets/scala.ts
  queries/c.scm
  queries/csharp.scm
  queries/java.scm
  queries/javascript.core.scm
  queries/kotlin.scm
  queries/python.scm
  queries/rust.scm
  queries/scala.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

More
  data/fixtures/recorded/languages/kotlin/changeCondition12.yml
  data/fixtures/recorded/languages/kotlin/changeCondition9.yml
  data/fixtures/recorded/languages/kotlin/changeEveryCondition.yml
  data/fixtures/recorded/languages/kotlin/changeEveryName.yml
  data/fixtures/recorded/languages/kotlin/changeEveryType.yml
  data/fixtures/scopes/go/condition/condition.switchCase.scope
  data/fixtures/scopes/go/condition/condition.switchCase2.scope
  data/fixtures/scopes/java/condition/condition.switchCase3.scope
  data/fixtures/scopes/java/condition/condition.switchCase4.scope
  data/fixtures/scopes/javascript.core/name/name.variable.pattern2.scope
  data/fixtures/scopes/javascript.core/name/name.variable.pattern3.scope
  data/fixtures/scopes/kotlin/condition/condition.switchCase2.scope
  data/fixtures/scopes/kotlin/condition/condition.switchCase3.scope
  data/fixtures/scopes/kotlin/name/name.variable.pattern.scope
  data/fixtures/scopes/kotlin/name/name.variable.pattern2.scope
  data/fixtures/scopes/kotlin/type/type.variable6.scope
  data/fixtures/scopes/rust/condition.switchCase2.scope
  data/fixtures/scopes/scala/condition/condition.switchCase2.scope
  queries/java.scm
  queries/kotlin.scm
Due: format-recorded-tests, check-recorded-test-marks

pattern
  data/fixtures/scopes/javascript.core/name/name.variable.pattern.scope
  data/fixtures/scopes/javascript.core/name/name.variable.pattern2.scope
  data/fixtures/scopes/lua/name/name.assignment.pattern.scope
  data/fixtures/scopes/lua/name/name.variable.pattern.scope
  data/fixtures/scopes/rust/name/name.variable.pattern2.scope
  data/fixtures/scopes/scala/name/name.variable.pattern.scope
  data/fixtures/scopes/scala/name/name.variable.pattern2.scope
  queries/javascript.core.scm
Due: none

update
  data/fixtures/scopes/javascript.core/value/value.variable.pattern2.scope
Due: none

More changes
  data/fixtures/scopes/javascript.core/value/value.variable.pattern2.scope
  queries/javascript.core.scm
Due: none

More tests
  data/fixtures/scopes/go/name/name.assignment.scope
  data/fixtures/scopes/javascript.core/key.mapPair2.scope
  data/fixtures/scopes/javascript.core/name/name.variable.pattern2.scope
  data/fixtures/scopes/javascript.core/value/value.mapPair2.scope
  data/fixtures/scopes/rust/name/name.variable.pattern.scope
  data/fixtures/scopes/rust/name/name.variable.pattern2.scope
Due: none

Updated
  data/fixtures/scopes/javascript.core/key.mapPair.iteration2.scope
  data/fixtures/scopes/javascript.core/key.mapPair2.scope
  data/fixtures/scopes/javascript.core/value/value.mapPair.iteration2.scope
  data/fixtures/scopes/javascript.core/value/value.mapPair2.scope
  queries/javascript.core.scm
Due: none

more fixes
  data/fixtures/scopes/javascript.core/map2.scope
  data/fixtures/scopes/javascript.core/name/name.assignment.pattern.scope
  data/fixtures/scopes/javascript.core/value/value.variable.pattern.scope
  data/fixtures/scopes/javascript.core/value/value.variable.pattern2.scope
  data/fixtures/scopes/kotlin/value/value.variable.pattern.scope
  data/fixtures/scopes/lua/value/value.variable.pattern.scope
  data/fixtures/scopes/python/value/value.variable.pattern.scope
  data/fixtures/scopes/rust/key.mapPair.iteration.scope
  data/fixtures/scopes/rust/key.mapPair.scope
  data/fixtures/scopes/rust/map.scope
  data/fixtures/scopes/rust/name/name.assignment.pattern.scope
  data/fixtures/scopes/rust/name/name.variable.pattern2.scope
  data/fixtures/scopes/rust/value/value.mapPair.iteration.scope
  data/fixtures/scopes/rust/value/value.mapPair.scope
  data/fixtures/scopes/rust/value/value.variable.pattern.scope
  data/fixtures/scopes/scala/name/name.variable.pattern.scope
  data/fixtures/scopes/scala/value/value.variable.pattern.scope
  packages/common/src/scopeSupportFacets/kotlin.ts
  packages/common/src/scopeSupportFacets/lua.ts
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/rust.ts
  packages/common/src/scopeSupportFacets/scala.ts
  queries/kotlin.scm
  queries/rust.scm
Due: eslint

Added blended range view to scope visualizer component
  packages/cursorless-org-docs/src/docs/components/ScopeVisualizer.tsx
  packages/cursorless-org-docs/src/docs/components/calculateHighlights.ts
  packages/cursorless-org-docs/src/docs/components/types.ts
Due: eslint

Update manual test tw use latest command version
  packages/common/src/testUtil/serializeTestFixture.ts
  packages/cursorless-engine/src/generateSpokenForm/getHatMapCommand.ts
  packages/cursorless-everywhere-talon-e2e/src/quickjsTest.ts
  packages/cursorless-vscode-e2e/src/suite/breakpoints.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/containingTokenTwice.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/editNewCell.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/explicitMark.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/fold.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/followLink.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/groupByDocument.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/instanceAcrossSplit.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/intraCellSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/pourAcrossSplit.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/prePhraseSnapshot.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/revealRange.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/scroll.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/visible.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/wrapWithSnippetAcrossSplit.vscode.test.ts
Due: eslint

Lint fix
  package.json
  packages/cursorless-vscode-e2e/src/suite/wrapWithSnippetAcrossSplit.vscode.test.ts
Due: eslint

Skip custom spoken form test on Linux in CI
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/scopeProvider.vscode.test.ts
Due: eslint

Skip custom regex spoken form test on Linux in CI due to flakiness
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/scopeProvider.vscode.test.ts
Due: eslint

go
  data/fixtures/scopes/go/name/name.variable.initialized.scope
  data/fixtures/scopes/go/name/name.variable.initialized2.scope
  data/fixtures/scopes/go/name/name.variable.uninitialized.scope
  data/fixtures/scopes/go/statement/statement.variable.initialized2.scope
  data/fixtures/scopes/go/statement/statement.variable.uninitialized.scope
  data/fixtures/scopes/go/type/type.variable.initialized.scope
  data/fixtures/scopes/go/type/type.variable.uninitialized.scope
Due: none

java
  data/fixtures/scopes/java/name/name.constant.scope
  data/fixtures/scopes/java/name/name.field.class.scope
  data/fixtures/scopes/java/name/name.variable.initialized.scope
  data/fixtures/scopes/java/name/name.variable.uninitialized.scope
  data/fixtures/scopes/java/statement/statement.variable.initialized.scope
  data/fixtures/scopes/java/statement/statement.variable.uninitialized.scope
  data/fixtures/scopes/java/statement/statementstatement.constant.scope
  data/fixtures/scopes/java/type/type.constant.scope
  data/fixtures/scopes/java/type/type.variable.initialized.scope
  data/fixtures/scopes/java/type/type.variable.uninitialized.scope
  packages/cursorless-org-docs/src/docs/components/ScopeVisualizer.tsx
  queries/java.scm
Due: eslint

js/ts
  data/fixtures/scopes/javascript.core/name/name.assignment.destructuring.scope
  data/fixtures/scopes/javascript.core/name/name.constant.scope
  data/fixtures/scopes/javascript.core/name/name.variable.destructuring.scope
  data/fixtures/scopes/javascript.core/name/name.variable.initialized.scope
  data/fixtures/scopes/javascript.core/name/name.variable.uninitialized.scope
  data/fixtures/scopes/javascript.core/statement/statement.assignment.destructuring.scope
  data/fixtures/scopes/javascript.core/statement/statement.variable.destructuring.scope
  data/fixtures/scopes/javascript.core/statement/statement.variable.initialized.scope
  data/fixtures/scopes/javascript.core/statement/statement.variable.uninitialized.scope
  data/fixtures/scopes/javascript.core/value/value.constant.scope
  data/fixtures/scopes/javascript.core/value/value.variable.destructuring.scope
  data/fixtures/scopes/javascript.core/value/value.variable.scope
  data/fixtures/scopes/typescript.core/name/name.constant.scope
  data/fixtures/scopes/typescript.core/name/name.variable.initialized.scope
  data/fixtures/scopes/typescript.core/type/type.constant.scope
  data/fixtures/scopes/typescript.core/type/type.variable.initialized.scope
  data/fixtures/scopes/typescript.core/type/type.variable.uninitialized.scope
Due: none

kotlin
  data/fixtures/scopes/java/statement/statement.constant.scope
  data/fixtures/scopes/kotlin/name/name.constant.scope
  data/fixtures/scopes/kotlin/name/name.variable.destructuring.scope
  data/fixtures/scopes/kotlin/name/name.variable.initialized.scope
  data/fixtures/scopes/kotlin/name/name.variable.uninitialized.scope
  data/fixtures/scopes/kotlin/statement/statement.constant.scope
  data/fixtures/scopes/kotlin/statement/statement.variable.destructuring.scope
  data/fixtures/scopes/kotlin/statement/statement.variable.initialized.scope
  data/fixtures/scopes/kotlin/statement/statement.variable.uninitialized.scope
  data/fixtures/scopes/kotlin/type/type.constant.scope
  data/fixtures/scopes/kotlin/type/type.variable.initialized.scope
  data/fixtures/scopes/kotlin/type/type.variable.initialized2.scope
  data/fixtures/scopes/kotlin/type/type.variable.uninitialized.scope
  data/fixtures/scopes/kotlin/type/type.variable.uninitialized2.scope
  data/fixtures/scopes/kotlin/type/type.variable.uninitialized3.scope
  data/fixtures/scopes/kotlin/value/value.constant.scope
  data/fixtures/scopes/kotlin/value/value.variable.destructuring.scope
Due: none

lua
  data/fixtures/scopes/lua/name/name.assignment.destructuring.scope
  data/fixtures/scopes/lua/name/name.variable.destructuring.scope
  data/fixtures/scopes/lua/name/name.variable.initialized.scope
  data/fixtures/scopes/lua/name/name.variable2.scope
  data/fixtures/scopes/lua/statement/statement.assignment.destructuring.scope
  data/fixtures/scopes/lua/statement/statement.variable.destructuring.scope
  data/fixtures/scopes/lua/statement/statement.variable.initialized.scope
  data/fixtures/scopes/lua/value/value.variable.destructuring.scope
Due: none

php and properties
  data/fixtures/scopes/php/name/name.variable.initialized.scope
  data/fixtures/scopes/properties/name.variable.initialized.scope
  data/fixtures/scopes/properties/name.variable.uninitialized.scope
  data/fixtures/scopes/properties/statement.variable.initialized.scope
Due: none

python
  data/fixtures/scopes/python/name/name.assignment.destructuring.scope
  data/fixtures/scopes/python/name/name.variable.destructuring.scope
  data/fixtures/scopes/python/name/name.variable.initialized.scope
  data/fixtures/scopes/python/statement/statement.assignment.destructuring.scope
  data/fixtures/scopes/python/statement/statement.variable.destructuring.scope
  data/fixtures/scopes/python/statement/statement.variable.initialized.scope
  data/fixtures/scopes/python/type/type.variable.initialized.scope
  data/fixtures/scopes/python/type/type.variable.uninitialized.scope
  data/fixtures/scopes/python/value/value.variable.destructuring.scope
  data/fixtures/scopes/python/value/value.variable2.scope
Due: none

rust
  data/fixtures/scopes/r/name.variable.initialized.scope
  data/fixtures/scopes/rust/name/name.assignment.destructuring.scope
  data/fixtures/scopes/rust/name/name.constant.scope
  data/fixtures/scopes/rust/name/name.variable.destructuring.scope
  data/fixtures/scopes/rust/name/name.variable.initialized.scope
  data/fixtures/scopes/rust/statement/statement.assignment.destructuring.scope
  data/fixtures/scopes/rust/statement/statement.constant.scope
  data/fixtures/scopes/rust/statement/statement.variable.destructuring.scope
  data/fixtures/scopes/rust/statement/statement.variable.initialized.scope
  data/fixtures/scopes/rust/type/type.constant.scope
  data/fixtures/scopes/rust/type/type.variable.initialized.scope
  data/fixtures/scopes/rust/type/type.variable.uninitialized.scope
  data/fixtures/scopes/rust/value/value.constant.scope
  data/fixtures/scopes/rust/value/value.variable.destructuring.scope
  data/fixtures/scopes/rust/value/value.variable2.scope
Due: none

scala
  data/fixtures/scopes/scala/name/name.constant.scope
  data/fixtures/scopes/scala/name/name.variable.destructuring.scope
  data/fixtures/scopes/scala/name/name.variable.initialized.scope
  data/fixtures/scopes/scala/statement/statement.constant.scope
  data/fixtures/scopes/scala/statement/statement.variable.destructuring.scope
  data/fixtures/scopes/scala/statement/statement.variable.initialized.scope
  data/fixtures/scopes/scala/type/type.constant.scope
  data/fixtures/scopes/scala/type/type.variable.initialized.scope
  data/fixtures/scopes/scala/type/type.variable.uninitialized.scope
  data/fixtures/scopes/scala/type/type.variable3.scope
  data/fixtures/scopes/scala/value/value.constant.scope
  data/fixtures/scopes/scala/value/value.variable.destructuring.scope
Due: none

talon
  data/fixtures/scopes/talon-list/name.variable.initialized.scope
  data/fixtures/scopes/talon-list/name.variable.initialized2.scope
  data/fixtures/scopes/talon-list/statement.variable.initialized.scope
  data/fixtures/scopes/talon-list/statement.variable.initialized2.scope
  data/fixtures/scopes/talon/name/name.variable.initialized.scope
  data/fixtures/scopes/talon/statement.variable.initialized.scope
Due: none

type and value
  data/fixtures/scopes/cpp/type/type.field.class.scope
  data/fixtures/scopes/lua/value/value.variable2.scope
  data/fixtures/scopes/python/type/type.field.class.scope
  data/fixtures/scopes/python/value/value.field.class.scope
  data/fixtures/scopes/scala/type/type.field.class.scope
  data/fixtures/scopes/scala/value/value.field.class.scope
  data/fixtures/scopes/typescript.core/value/value.field.enum.scope
Due: none

Updates scope facet in foe markdown
  data/fixtures/scopes/c/name/name.field.class.scope
  data/fixtures/scopes/c/name/name.field.class2.scope
  data/fixtures/scopes/csharp/name/name.field.class.scope
  data/fixtures/scopes/csharp/name/name.field.interface.scope
  data/fixtures/scopes/java/name/name.field.class.scope
  data/fixtures/scopes/java/name/name.field.interface.scope
  data/fixtures/scopes/python/name/name.field.class.scope
  data/fixtures/scopes/scala/name/name.field.class.scope
  data/fixtures/scopes/scala/name/name.field.interface.scope
  data/scopeSupportFacetInfos.md
Due: none

Fix python
  data/fixtures/scopes/c/name/name.field.class.scope
  data/fixtures/scopes/c/name/name.field.class2.scope
  data/fixtures/scopes/cpp/name/name.field.class.scope
  queries/c.scm
  queries/cpp.scm
  queries/python.scm
Due: none

javascript
  data/fixtures/scopes/javascript.core/name/name.method4.scope
  data/fixtures/scopes/php/name/name.field.class.scope
  data/fixtures/scopes/rust/name/name.field.class.scope
  queries/javascript.scm
  queries/php.scm
  queries/rust.scm
Due: none

More clean up
  data/fixtures/scopes/javascript.core/name/name.field.class.scope
  data/fixtures/scopes/javascript.core/name/name.field.class2.scope
  data/fixtures/scopes/javascript.core/name/name.method4.scope
  data/fixtures/scopes/typescript.core/name/name.field.class.scope
  queries/typescript.core.scm
Due: none

js fix
  data/fixtures/scopes/java/name/name.field.class.scope
  data/fixtures/scopes/javascript.core/name/name.field.class.scope
  data/fixtures/scopes/typescript.core/name/name.field.class.scope
  queries/javascript.scm
Due: none

added missing
  data/fixtures/scopes/go/name/name.constant.scope
  data/fixtures/scopes/go/statement/statement.constant.scope
  data/fixtures/scopes/go/type/type.constant.scope
  data/fixtures/scopes/go/value/value.constant.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/common/src/scopeSupportFacets/css.ts
  packages/common/src/scopeSupportFacets/go.ts
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/json.ts
  packages/common/src/scopeSupportFacets/kotlin.ts
  packages/common/src/scopeSupportFacets/latex.ts
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/properties.ts
  packages/common/src/scopeSupportFacets/scm.ts
  packages/common/src/scopeSupportFacets/talon.ts
  packages/common/src/scopeSupportFacets/talonList.ts
  packages/common/src/scopeSupportFacets/xml.ts
  packages/common/src/scopeSupportFacets/yaml.ts
  queries/go.scm
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
