Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Added type assertion
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType6.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

typo
  packages/cursorless-engine/src/languages/typescript.ts
Due: eslint

Disable talonfmt (#1872)
  .pre-commit-config.yaml
Due: none

migrating map and list
  packages/cursorless-engine/src/languages/python.ts
  queries/python.scm
Due: eslint

add map/list data playground
  data/playground/python/maps_and_lists.py
Due: none

Stop checking out repo in CodeQL merge queue hack (#1827)
  .github/workflows/codeql.yml
Due: none

delete non necessary example
  data/playground/python/maps_and_lists.py
Due: none

Added text insertion action to Cursorless public api
  cursorless-talon-dev/src/cursorless_test.talon
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/homophones.py
  cursorless-talon/src/actions/reformat.py
  cursorless-talon/src/actions/replace.py
  docs/user/customization.md
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
Due: eslint

Migrate python scopes map/list (#1874)
  data/playground/python/maps_and_lists.py
  packages/cursorless-engine/src/languages/python.ts
  queries/python.scm
Due: eslint

Added key for type aliases
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeKey2.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update guide-intermediate.md
  docs/user/guide-intermediate.md
Due: none

Added insertions scope for insert snippet action
  cursorless-talon/src/snippets.py
Due: none

value for assignment statements, dictionaries, return statements and arguments migrated to new scope handler
  packages/cursorless-engine/src/languages/python.ts
  queries/python.scm
Due: eslint

add Python value scope data playground
  data/playground/python/values.py
Due: none

add test from takeValue.yml
  data/playground/python/values.py
Due: none

typo fix
  docs/user/guide-intermediate.md
Due: none

domains on value assignments
  queries/python.scm
Due: none

Update replace
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Replace with space
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Fix text fragment extractor fallbacks (#1863)
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/index.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString7.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString8.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Updated regex
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Updated preprocess script
  images/hats/bolt.svg
  images/hats/crosshairs.svg
  images/hats/curve.svg
  images/hats/default.svg
  images/hats/ex.svg
  images/hats/eye.svg
  images/hats/fox.svg
  images/hats/frame.svg
  images/hats/hole.svg
  images/hats/play.svg
  images/hats/wing.png
  images/hats/wing.svg
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
  packages/cursorless-vscode/src/scripts/preprocessSvgHats.ts
Due: eslint

Removed clip rectangle
  images/hats/bolt.svg
  images/hats/crosshairs.svg
  images/hats/curve.svg
  images/hats/default.svg
  images/hats/ex.svg
  images/hats/eye.svg
  images/hats/fox.svg
  images/hats/frame.svg
  images/hats/hole.svg
  images/hats/play.svg
  images/hats/wing.svg
Due: none

Update hole
  images/hats/hole.svg
Due: none

Added function object type
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeKey3.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Remove unnecessary group
  queries/python.scm
Due: none

Fix python formatting
  data/playground/python/statements.py
Due: none

Made interface names targetable as keys (#1873)
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeKey.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeKey2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeKey3.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Migrate Python to use next-gen scope handlers for text fragment extractors (#1862)
  data/playground/python/statements.py
  data/playground/python/strings.py
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/python.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeString2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeString3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeString4.yml
  queries/python.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update frame size
  packages/cursorless-vscode/src/ide/vscode/hats/shapeAdjustments.ts
Due: eslint

Target Python 3.11
  pyproject.toml
Due: none

leading characters for Python values
  data/playground/python/values.py
  queries/python.scm
Due: none

Update docs on iteration range
  docs/user/glossary.md
Due: none

add missing crlf
  .gitattributes
Due: none

Revert "try fixing \r\n a different way"
  packages/cursorless-engine/src/core/hatStats.test.ts
Due: eslint

start on token score equivalences
  packages/cursorless-engine/src/test/fixtures/hat-stats/intern.go.golden
  packages/cursorless-engine/src/test/fixtures/hat-stats/intern.go.stats
  packages/cursorless-engine/src/test/fixtures/hat-stats/mending_wall.txt.golden
  packages/cursorless-engine/src/test/fixtures/hat-stats/mending_wall.txt.stats
  packages/cursorless-engine/src/test/fixtures/hat-stats/river.ex.golden
  packages/cursorless-engine/src/test/fixtures/hat-stats/river.ex.stats
  packages/cursorless-engine/src/test/fixtures/hat-stats/the_bells.txt.golden
  packages/cursorless-engine/src/test/fixtures/hat-stats/the_bells.txt.stats
  packages/cursorless-engine/src/util/allocateHats/allocateHats.ts
  packages/cursorless-engine/src/util/allocateHats/chooseTokenHat.ts
  packages/cursorless-engine/src/util/allocateHats/getHatRankingContext.ts
  packages/cursorless-engine/src/util/allocateHats/getRankedTokens.ts
  packages/cursorless-engine/src/util/allocateHats/getTokenComparator.ts
Due: eslint

try -text
  .gitattributes
Due: none

Python value iteration scopes
  data/playground/python/values.py
  queries/python.scm
Due: none

fix handling of arguments with both : and = in them when using 'chunk value'
  data/playground/python/values.py
  queries/python.scm
Due: none

Update docs on iteration range (#1881)
  docs/user/glossary.md
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
