Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

migrate callee
  packages/cursorless-engine/src/languages/java.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeCallee.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeCallee3.yml
  queries/java.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update comments
  queries/java.scm
Due: none

migrate value
  packages/cursorless-engine/src/languages/java.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeType6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/chuckValue2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearValue4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/takeName3.yml
  queries/java.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Remove jsx attribute from item scope
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/jsx/changeEveryItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/jsx/changeItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearEveryItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearItem4.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Started migrating typescript
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/typescript.ts
  queries/javascript.core.scm
  queries/javascript.jsx.scm
Due: eslint

more scopes
  packages/cursorless-engine/src/languages/typescript.ts
  queries/javascript.core.scm
Due: eslint

update
  queries/javascript.jsx.scm
Due: none

Switch subject
  queries/javascript.core.scm
Due: none

update
  packages/cursorless-engine/src/languages/typescript.ts
Due: eslint

Function callee
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeCallee5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeCallee6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeCallee7.yml
  queries/javascript.core.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

cleanup
  packages/cursorless-engine/src/languages/typescript.ts
Due: eslint

class
  packages/cursorless-engine/src/languages/typescript.ts
  queries/javascript.core.scm
  queries/typescript.core.scm
Due: eslint

condition
  packages/cursorless-engine/src/languages/typescript.ts
  queries/javascript.core.scm
Due: eslint

Do while
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeCondition4.yml
  queries/java.scm
Due: format-recorded-tests, check-recorded-test-marks

Updated content range for branch (#1904)
  packages/cursorless-engine/src/languages/elseIfExtractor.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/rust/clearBranch5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/rust/clearBranch6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/rust/ditchBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearBranch4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearBranch5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/cloneBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/ditchBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/ditchBranch2.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added test
  packages/cursorless-engine/src/actions/JoinLines.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/joinLineThis.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

branch
  packages/cursorless-engine/src/languages/typescript.ts
  queries/javascript.core.scm
Due: eslint

cleanup
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/ditchBranch3.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

key
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearEveryKey.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearEveryKey2.yml
  queries/javascript.core.scm
  queries/javascript.jsx.scm
  queries/typescript.core.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

clean up
  packages/cursorless-engine/src/languages/typescript.ts
Due: eslint

statements
  packages/cursorless-engine/src/languages/typescript.ts
  queries/javascript.core.scm
  queries/typescript.core.scm
Due: eslint

add comments
  queries/javascript.core.scm
  queries/javascript.jsx.scm
  queries/typescript.core.scm
Due: none

Added comments
  queries/javascript.core.scm
Due: none

cleanup
  queries/javascript.core.scm
  queries/typescript.core.scm
Due: none

cleanup
  queries/javascript.jsx.scm
Due: none

Migrate json scopes
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/json.ts
  queries/json.scm
  queries/jsonc.scm
  queries/jsonl.scm
Due: eslint

comment
  queries/json.scm
Due: none

Migrate markdown scopes
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/markdown.ts
  queries/markdown.scm
Due: eslint

name
  packages/cursorless-engine/src/languages/markdown.ts
  queries/markdown.scm
Due: eslint

fix
  packages/cursorless-engine/src/runIntegrationTests.ts
Due: eslint

Migrate html scopes
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/html.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/html/chuckValue.yml
  queries/html.scm
  queries/xml.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

html
  packages/cursorless-engine/src/languages/html.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/html/clearEveryItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/html/clearItem.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Migrate python scopes
  packages/cursorless-engine/src/languages/python.ts
  queries/python.scm
Due: eslint

condition
  packages/cursorless-engine/src/languages/python.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeValue4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeValue5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/clearCondition6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/ditchCondition2.yml
  queries/python.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

branch
  packages/cursorless-engine/src/languages/python.ts
  queries/python.scm
Due: eslint

Switch statement subject
  cursorless-talon/src/spoken_forms.py
Due: none

Merge BaseTarget.ts, UntypedTarget.ts, and PlainTarget.ts.
  packages/cursorless-engine/src/processTargets/targetUtil/createContinuousRange.ts
  packages/cursorless-engine/src/processTargets/targetUtil/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/InteriorTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SurroundingPairTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
  packages/cursorless-engine/src/processTargets/targets/UntypedTarget.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
