Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/|^data/playground/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

Added paired delimiter string to cheat sheet
  cursorless-talon/src/cheatsheet/cheat_sheet.py
Due: none

Highlight word when setting empty selection
  packages/common/src/types/TextEditor.ts
  packages/cursorless-engine/src/actions/SetSelection.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

Allow `"return@"` in Kotlin Tree sitter queries
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
  queries/kotlin.scm
Due: eslint

Update regex and tests
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

Remove deprecated destination grammar
  cursorless-talon/src/targets/destination.py
Due: none

Update docs
  packages/cursorless-org-docs/src/docs/user/customization.md
Due: none

Update regex
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

Prevent overlapping pairs
  data/fixtures/recorded/surroundingPair/parseTreeParity/takeOutside13.yml
  data/fixtures/recorded/surroundingPair/parseTreeParity/takeOutside16.yml
  data/fixtures/recorded/surroundingPair/parseTreeParity/takeOutside25.yml
  data/fixtures/recorded/surroundingPair/textual/takeOutside13.yml
  data/fixtures/recorded/surroundingPair/textual/takeOutside16.yml
  data/fixtures/recorded/surroundingPair/textual/takeOutside25.yml
  data/fixtures/scopes/textual/surroundingPair4.scope
  data/fixtures/scopes/textual/surroundingPair5.scope
  data/fixtures/scopes/textual/surroundingPair6.scope
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Improve out of range error
  packages/cursorless-engine/src/processTargets/modifiers/InstanceStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/OrdinalScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/listUtils.ts
  packages/cursorless-engine/src/processTargets/modifiers/relativeScopeLegacy.ts
  packages/cursorless-engine/src/processTargets/modifiers/targetSequenceUtils.ts
Due: eslint

Added support for function signatures in typescript
  data/fixtures/scopes/typescript.core/namedFunction.constructor.scope
  data/fixtures/scopes/typescript.core/namedFunction.method.scope
  data/fixtures/scopes/typescript.core/namedFunction.scope
  data/fixtures/scopes/typescript.core/statement.scope
  queries/typescript.core.scm
Due: none

Added iteration scope for python arguments
  data/fixtures/scopes/python/name.argument.actual.iteration.scope
  data/fixtures/scopes/python/name.argument.actual.scope
  data/fixtures/scopes/python/value.argument.actual.iteration.scope
  data/fixtures/scopes/python/value.argument.actual.scope
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/python.scm
Due: eslint

Improve item collection definition for clojure
  data/fixtures/recorded/languages/clojure/chuckItemZip.yml
  data/fixtures/recorded/languages/clojure/clearItemBat.yml
  data/fixtures/recorded/languages/clojure/clearItemFine.yml
  queries/clojure.scm
Due: format-recorded-tests, check-recorded-test-marks

Change insertion delimiter for javascript call scope
  queries/javascript.core.scm
Due: none

Added tests
  data/fixtures/scopes/javascript.core/functionCall.constructor.scope
  data/fixtures/scopes/javascript.core/functionCall.scope
Due: none

Make cheat sheet handle missing spoken forms
  cursorless-talon/src/cheatsheet/get_list.py
  cursorless-talon/src/cheatsheet/sections/actions.py
  cursorless-talon/src/cheatsheet/sections/compound_targets.py
  cursorless-talon/src/cheatsheet/sections/destinations.py
  cursorless-talon/src/cheatsheet/sections/get_scope_visualizer.py
  cursorless-talon/src/cheatsheet/sections/modifiers.py
  cursorless-talon/src/cheatsheet/sections/scopes.py
  cursorless-talon/src/cheatsheet/sections/special_marks.py
  cursorless-talon/src/cheatsheet/sections/tutorial.py
Due: none

Highlight word when setting selection (#2751)
  packages/common/src/types/TextEditor.ts
  packages/cursorless-engine/src/actions/SetSelection.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

Added paired delimiter string to cheat sheet (#2750)
  cursorless-talon/src/cheatsheet/cheat_sheet.py
Due: none

Added paired delimiter string to cheat sheet (#2750)
  src/cheatsheet/cheat_sheet.py
Due: none

Remove deprecated destination grammar (#2753)
  src/targets/destination.py
Due: none

Remove deprecated destination grammar (#2753)
  cursorless-talon/src/targets/destination.py
  packages/cursorless-org-docs/src/docs/user/customization.md
Due: none

Update packages/cursorless-engine/src/processTargets/modifiers/listUtils.ts
  packages/cursorless-engine/src/processTargets/modifiers/listUtils.ts
Due: eslint

Update packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
Due: eslint

Prevent overlapping pairs (#2754)
  data/fixtures/recorded/surroundingPair/parseTreeParity/takeOutside13.yml
  data/fixtures/recorded/surroundingPair/parseTreeParity/takeOutside16.yml
  data/fixtures/recorded/surroundingPair/parseTreeParity/takeOutside25.yml
  data/fixtures/recorded/surroundingPair/textual/takeOutside13.yml
  data/fixtures/recorded/surroundingPair/textual/takeOutside16.yml
  data/fixtures/recorded/surroundingPair/textual/takeOutside25.yml
  data/fixtures/scopes/textual/surroundingPair4.scope
  data/fixtures/scopes/textual/surroundingPair5.scope
  data/fixtures/scopes/textual/surroundingPair6.scope
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Improve out of range error (#2755)
  packages/cursorless-engine/src/processTargets/modifiers/InstanceStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/OrdinalScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/listUtils.ts
  packages/cursorless-engine/src/processTargets/modifiers/relativeScopeLegacy.ts
  packages/cursorless-engine/src/processTargets/modifiers/targetSequenceUtils.ts
Due: eslint

Added iteration scope for python arguments (#2757)
  data/fixtures/scopes/python/name.argument.actual.iteration.scope
  data/fixtures/scopes/python/name.argument.actual.scope
  data/fixtures/scopes/python/value.argument.actual.iteration.scope
  data/fixtures/scopes/python/value.argument.actual.scope
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/python.scm
Due: eslint

Added support for function signatures in typescript (#2756)
  data/fixtures/scopes/typescript.core/namedFunction.constructor.scope
  data/fixtures/scopes/typescript.core/namedFunction.method.scope
  data/fixtures/scopes/typescript.core/namedFunction.scope
  data/fixtures/scopes/typescript.core/statement.scope
  queries/typescript.core.scm
Due: none

Update cursorless-talon/src/apps/cursorless_vscode.py
  cursorless-talon/src/apps/cursorless_vscode.py
Due: none

Allow `"return@"` in Kotlin Tree sitter queries (#2752)
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
  queries/kotlin.scm
Due: eslint

Disable Cursorless for vscode file dialogs (#2749)
  cursorless-talon/src/apps/cursorless_vscode.py
Due: none

Disable Cursorless for vscode file dialogs (#2749)
  src/apps/cursorless_vscode.py
Due: none

Removed todos
  cursorless-talon/src/cursorless.talon
  packages/cursorless-engine/package.json
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Use fixture
  cursorless-talon/src/cheatsheet/sections/actions.py
Due: none

Re-enable scroll tests
  packages/cursorless-vscode-e2e/src/suite/revealRange.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/scroll.vscode.test.ts
Due: eslint

Re-enable UP007
  pyproject.toml
Due: none

Merge branch 'main' into migrateSnippets
  cursorless-talon/src/spoken_forms.json
  data/fixtures/recorded/actions/flashToken.yml
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/FlashTargets.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Started working on target type
  packages/cursorless-engine/src/actions/CutToClipboard.ts
  packages/cursorless-engine/src/actions/EditNew/EditNew.ts
  packages/cursorless-engine/src/actions/InsertEmptyLines.ts
  packages/cursorless-engine/src/actions/ToggleBreakpoint.ts
  packages/cursorless-engine/src/processTargets/createContinuousRangeTarget.ts
  packages/cursorless-engine/src/processTargets/marks/CursorStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/InstanceStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/PositionStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CharacterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/BoundedParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
  packages/cursorless-engine/src/processTargets/targets/HeadTailTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ImplicitTarget.ts
  packages/cursorless-engine/src/processTargets/targets/InteriorTarget.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/RawSelectionTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SurroundingPairTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
  packages/cursorless-engine/src/processTargets/targets/UntypedTarget.ts
  packages/cursorless-engine/src/scopeProviders/getTargetRanges.ts
  packages/cursorless-engine/src/typings/target.types.ts
  packages/cursorless-engine/src/util/targetUtils.ts
Due: eslint

Update
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ImplicitTarget.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/RawSelectionTarget.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint
