Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

cleanup
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
Due: eslint

set default focused element
  packages/common/src/FakeCommandServerApi.ts
Due: eslint

move and rename fallback
  packages/common/src/index.ts
  packages/common/src/util/clientSupportsFallBack.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/runCommand.ts
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
Due: eslint

more tests
  cursorless-talon/src/command.py
  cursorless-talon/src/fallback.py
  packages/common/src/index.ts
  packages/common/src/testUtil/serializeTestFixture.ts
  packages/common/src/types/TestCaseFixture.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCase.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/bringFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/bringFine2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/chuckFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/chuckFine2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/takeThis.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/takeToken.yml
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/scripts/populateDist/transformPackageJson.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

test
  packages/common/src/util/clientSupportsFallback2.ts
Due: eslint

rename
  packages/common/src/util/clientSupportsFallBack.ts
Due: eslint

rename
  packages/common/src/util/clientSupportsFalllack.ts
Due: eslint

rename
  packages/common/src/util/clientSupportsFallback.ts
Due: eslint

Bump `ip` => 2.0.1; `pnpm dedupe`
  pnpm-lock.yaml
Due: none

Add VSCode task how-to doc
  docs/user/how-to.md
Due: none

Attempt to fix CI
  packages/cursorless-vscode-e2e/src/suite/followLink.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/scroll.vscode.test.ts
Due: eslint

Restore sha
  packages/cursorless-vscode/src/scripts/populateDist/transformPackageJson.ts
Due: eslint

improve snippet docs
  docs/user/experimental/snippets.md
Due: none

Fix circular import error
  cursorless-talon/src/command.py
  cursorless-talon/src/fallback.py
  cursorless-talon/src/versions.py
Due: none

Fix call_as_function with arg
  cursorless-talon/src/fallback.py
Due: none

minor cleanup
  cursorless-talon/src/fallback.py
Due: none

more pythonification
  cursorless-talon/src/fallback.py
Due: none

Rename
  packages/cursorless-engine/src/runCommand.ts
Due: eslint

Remove scroll position checks
  packages/cursorless-vscode-e2e/src/suite/followLink.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/scroll.vscode.test.ts
Due: eslint

Attempt to fix CI (#2241)
  packages/cursorless-vscode-e2e/src/suite/followLink.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/scroll.vscode.test.ts
Due: eslint

minor rename; add test
  packages/cursorless-engine/src/actions/incrementDecrement.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/incrementThree.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

more cleanup; test
  packages/cursorless-engine/src/actions/incrementDecrement.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/incrementLineFourAndEveryTokenOne.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

tweak
  packages/cursorless-engine/src/actions/incrementDecrement.ts
Due: eslint

Bump `ip` => 2.0.1; `pnpm dedupe` (#2240)
  pnpm-lock.yaml
Due: none

minor cleanup
  packages/cursorless-vscode-e2e/src/suite/serializeTargetRange.ts
Due: eslint

Improve snippet docs (#2242)
  docs/user/experimental/snippets.md
Due: none

Fix typescript field removal ranges (#2237)
  packages/common/src/scopeSupportFacets/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/name.field.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.field.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/value.field.scope
  queries/typescript.core.scm
Due: eslint

Added increment and decrement actions (#2236)
  src/spoken_forms.json
Due: none

Added increment and decrement actions (#2236)
  changelog/2024-02-addedIncrementAndDecrementActions.md
  cursorless-talon/src/spoken_forms.json
  docs/user/README.md
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/incrementDecrement.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/decrementFile.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/incrementFile.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/incrementLineFourAndEveryTokenOne.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/incrementThree.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Remove superfluous next homophone action
  cursorless-talon/src/fallback.py
Due: none

Add VSCode task how-to doc (#2239)
  docs/user/how-to.md
Due: none

Add `prettier-plugin-tailwindcss`
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: none

Update adding-a-new-package.md
  docs/contributing/adding-a-new-package.md
Due: none

run meta-updater
  packages/cursorless-vscode/package.json
Due: none

Initial cursorless-vscode-tutorial scaffolding
  packages/cursorless-vscode-tutorial/package.json
  packages/cursorless-vscode-tutorial/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

cursorless-vscode-tutorial => cursorless-vscode-tutorial-webview
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode-tutorial-webview/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

bump pnpm => 8.15.3
  package.json
Due: none

Update adding-a-new-package.md (#2247)
  docs/contributing/adding-a-new-package.md
Due: none
