Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

`resourceManagement` => `resource`
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resource.iteration.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resource.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resource2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resource3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource.iteration.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource4.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource5.scope
Due: eslint

expand `name` support
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resource2.scope
  queries/python.scm
Due: none

Add test for top-level iteration scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource.iteration2.scope
Due: none

Clear directories when constructing dist
  packages/cursorless-vscode/src/scripts/populateDist/populateDist.ts
Due: eslint

Stop pre-commit from breaking our scope tests
  .pre-commit-config.yaml
Due: none

Don't output lines with no annotations
  packages/cursorless-vscode-e2e/src/suite/serializeTargetRange.ts
Due: eslint

Update fixtures
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/name.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/type.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/value.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/argument.formal.iteration.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/argument.formal.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/branch.if.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/branch.switchCase.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/branch.try.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/className.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.doWhile.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.for.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.if.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.switchCase.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.while.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/functionName.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.class.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.field.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.function.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/namedFunction.method.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/statement.iteration.document.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/switchStatementSubject.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.field.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.return.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/textual/line2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/textual/paragraph.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.field.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.formalParameter.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.return.scope
Due: none

restore correct import path
  packages/cursorless-vscode/src/extension.ts
Due: eslint

tweaks: restore unnecessary import reordering
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-vscode/src/extension.ts
Due: eslint

Catch and log failure to create cursorlessDir; do not cause activation to fail.
  packages/cursorless-vscode/src/ide/vscode/VscodeFileSystem.ts
Due: eslint

Update basic.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
Due: eslint

Make `cursorlessDir` private
  packages/common/src/ide/types/FileSystem.types.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFileSystem.ts
Due: eslint

Cleanup
  data/playground/elixir/calls.ex
  packages/common/src/extensionDependencies.ts
Due: eslint

Some fixes
  data/playground/elixir/data-structures.ex
  packages/common/src/scopeSupportFacets/elixir.ts
  packages/common/src/scopeSupportFacets/getLanguageScopeSupport.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/elixir/collectionItem.map.iteration.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/elixir/collectionItem.map.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/elixir/collectionItem.map2.scope
  queries/elixir.scm
Due: eslint

Remove unnecessary import of TextDecoder from util.
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Remove unnecessary import of TextDecoder from util. (#2209)
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Simplification
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
  packages/cursorless-engine/src/asyncIteratorToList.ts
  packages/cursorless-engine/src/generateCommandHistoryEntries.ts
  packages/cursorless-engine/src/groupby.test.ts
  packages/cursorless-engine/src/groupby.ts
  packages/cursorless-engine/src/mapAsync.ts
  packages/cursorless-engine/src/util/getScopeType.ts
Due: eslint

simplify
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
  packages/cursorless-engine/src/groupby.test.ts
  packages/cursorless-engine/src/groupby.ts
  packages/cursorless-engine/src/mapAsync.ts
Due: eslint

cleanup
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
Due: eslint

Change LanguageDefinitions to use VscodeFilesystem. (#2199)
  packages/common/src/ide/types/FileSystem.types.ts
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/runIntegrationTests.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFileSystem.ts
Due: eslint

Make josh codeowner of keyboard files (#2204)
  .github/CODEOWNERS
Due: none

Clear directories when constructing dist (#2205)
  packages/cursorless-vscode/src/scripts/populateDist/populateDist.ts
Due: eslint

Stop pre-commit from breaking our scope tests (#2206)
  .pre-commit-config.yaml
Due: none

Don't clobber keyboard target after executing action (#2203)
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
Due: eslint

Stop using `backspace` for `remove` action; tweak maps (#2202)
  docs/user/experimental/keyboard/modal.md
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: eslint

Don't show lines in our facet tests that are outside of the range (#2207)
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/name.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/type.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/value.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/argument.formal.iteration.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/argument.formal.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/branch.if.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/branch.switchCase.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/branch.try.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/className.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.doWhile.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.for.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.if.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.switchCase.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.while.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/functionName.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.class.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.field.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.function.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/namedFunction.method.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/statement.iteration.document.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/switchStatementSubject.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.field.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.return.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/textual/line2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/textual/paragraph.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.field.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.formalParameter.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.return.scope
  packages/cursorless-vscode-e2e/src/suite/serializeTargetRange.ts
Due: eslint

Add tests
  cursorless-talon-dev/src/spoken_form_test.py
  packages/cursorless-engine/src/test/fixtures/communitySnippets.fixture.ts
  packages/cursorless-engine/src/test/fixtures/spokenFormTest.ts
  packages/cursorless-engine/src/test/spokenForms.talon.test.ts
Due: eslint

Remove unnecessary lines
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resource.iteration.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resource.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resource2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resource3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource.iteration.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource.iteration2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource4.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource5.scope
Due: none

improve consistency
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resource2.scope
  queries/python.scm
Due: none

Add "name" / "value" support for Python `with` (#2162)
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resource.iteration.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resource.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resource2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.resource3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource.iteration.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource.iteration2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource4.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.resource5.scope
  queries/python.scm
Due: eslint

Add totals and percentages
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
  packages/cursorless-engine/src/generateCommandHistoryEntries.ts
Due: eslint

Add docs / voice command
  cursorless-talon/src/cursorless.py
  cursorless-talon/src/cursorless.talon
  docs/user/localCommandHIstory.md
Due: none

Handle case with no history
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
Due: eslint

add collectionItem iteration and domain to lists
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeEveryItem.yml
  queries/nix.scm
Due: format-recorded-tests, check-recorded-test-marks

add test for change type on record type field
  packages/cursorless-engine/src/languages/elm.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/elm/changeType4.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Add support for `yield` statements for `"value"` in Python
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.yield.scope
  queries/python.scm
Due: eslint

Add simple command history analyzer (#2163)
  src/cursorless.py
  src/cursorless.talon
Due: none

Add simple command history analyzer (#2163)
  cursorless-talon/src/cursorless.py
  cursorless-talon/src/cursorless.talon
  docs/user/localCommandHIstory.md
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
  packages/cursorless-engine/src/asyncIteratorToList.ts
  packages/cursorless-engine/src/generateCommandHistoryEntries.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-engine/src/util/getScopeType.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/registerCommands.ts
  pnpm-lock.yaml
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
