Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/|^data/playground/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

Actually display scopes
  packages/cursorless-engine/src/util/rangeUtils.ts
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Sort order of scopes in scope visualizer
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Move range utils to common
  packages/common/src/index.ts
  packages/common/src/util/rangeUtils.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/shouldYieldScope.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/getCollectionItemRemovalRange.ts
  packages/cursorless-engine/src/processTargets/targets/BoundedParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/DelimitedSequenceInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/getSmartRemovalTarget.ts
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Added type to imports
  packages/cursorless-engine/src/scopeProviders/ScopeRangeProvider.ts
Due: eslint

Added doc comment
  packages/common/src/types/ScopeProvider.ts
Due: eslint

Allow duplicate targets for bring action (#3083)
  data/fixtures/recorded/actions/bringName.yml
  data/fixtures/recorded/hatTokenMap/bringPointAndHarpToEndOfThisAndEndOfWhaleTakeWhale.yml
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/processTargets/TargetPipelineRunner.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Initial setup
  packages/common/src/extensionDependencies.ts
  packages/common/src/scopeSupportFacets/gdscript.ts
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  queries/gdscript.scm
Due: eslint

gdscript doesnt have explicit interfaces, so this is an easy one
  packages/common/src/scopeSupportFacets/gdscript.ts
Due: eslint

formatting changes
  packages/common/src/scopeSupportFacets/gdscript.ts
Due: eslint

Improved documentation regarding internal scopes
  data/scopeSupportFacetInfos.md
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/cursorless-org-docs/src/docs/components/ScopeVisualizer.tsx
Due: eslint

Removed period
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
Due: eslint

Fix meta
  data/scopeSupportFacetInfos.md
Due: none

move paragraph
  packages/cursorless-org-docs/src/docs/components/ScopeVisualizer.tsx
Due: eslint

fix link scrolling to header
  packages/cursorless-org-docs/src/docs/components/Header.css
  packages/cursorless-org-docs/src/docs/components/Header.tsx
Due: eslint

Improved documentation regarding internal scopes (#3086)
  data/scopeSupportFacetInfos.md
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/cursorless-org-docs/src/docs/components/Header.css
  packages/cursorless-org-docs/src/docs/components/Header.tsx
  packages/cursorless-org-docs/src/docs/components/ScopeVisualizer.tsx
Due: eslint

Use icons for intersection instead of category
  packages/common/src/index.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/shouldYieldScope.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/getCollectionItemRemovalRange.ts
  packages/cursorless-engine/src/processTargets/targets/BoundedParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/DelimitedSequenceInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/getSmartRemovalTarget.ts
  packages/cursorless-engine/src/util/rangeUtils.ts
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Clean up
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Fix imports
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Move private function
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Renamed to containment icon
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Update docs regarding sidebar
  packages/cursorless-org-docs/src/docs/user/images/sidebar-scopes.png
  packages/cursorless-org-docs/src/docs/user/scope-sidebar.md
Due: none

Update docs
  packages/cursorless-org-docs/src/docs/user/scope-sidebar.md
Due: none

Add containment icons to scope visualizer (#3085)
  packages/common/src/types/ScopeProvider.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/getCollectionItemRemovalRange.ts
  packages/cursorless-engine/src/scopeProviders/ScopeRangeProvider.ts
  packages/cursorless-engine/src/util/rangeUtils.ts
  packages/cursorless-org-docs/src/docs/user/images/sidebar-scopes.png
  packages/cursorless-org-docs/src/docs/user/scope-sidebar.md
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Restore list styles to docs page
  packages/cursorless-org-docs/src/css/custom.css
Due: none

Restore list styles to docs page (#3088)
  packages/cursorless-org-docs/src/css/custom.css
Due: none

Add support for Java record statements
  data/fixtures/scopes/java/statement/statement.misc.scope
  packages/common/src/scopeSupportFacets/java.ts
  queries/java.scm
Due: eslint

Add support for Java record statements (#3089)
  data/fixtures/scopes/java/statement/statement.misc.scope
  packages/common/src/scopeSupportFacets/java.ts
  queries/java.scm
Due: eslint

Update dependency versions
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/neovim-common/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-harness/package.json
  packages/vscode-common/package.json
  pnpm-lock.yaml
Due: none

Updated more dependencies
  packages/cursorless-engine/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/neovim-common/package.json
  packages/test-harness/src/launchVscodeAndRunTests.ts
  pnpm-lock.yaml
Due: eslint

Add uuid dependency to neovim-common
  packages/neovim-common/package.json
  pnpm-lock.yaml
Due: none

Update dependency versions (#3091)
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/neovim-common/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-harness/package.json
  packages/test-harness/src/launchVscodeAndRunTests.ts
  packages/vscode-common/package.json
  pnpm-lock.yaml
Due: eslint

add lang doc file
  packages/cursorless-org-docs/src/docs/user/languages/gdscript.mdx
Due: none

disable no-unused-vars err for one line bc yes, I know they're unused, that's the point actually, it's a work in progress!!!
  packages/common/src/scopeSupportFacets/gdscript.ts
Due: eslint

i have no clue what the syntax to disable a specific rule is, apparently, so screw it
  packages/common/src/scopeSupportFacets/gdscript.ts
Due: eslint

run prettier and fix comment formatting as suggested
  packages/common/src/extensionDependencies.ts
  packages/common/src/scopeSupportFacets/gdscript.ts
Due: eslint

Allow for manually setting the name of the IDE cli tool in the local (un)install and install-from-pr scripts
  packages/cursorless-org-docs/src/docs/contributing/CONTRIBUTING.mdx
  packages/cursorless-vscode/scripts/install-from-pr.sh
  packages/cursorless-vscode/scripts/install-local.sh
  packages/cursorless-vscode/scripts/uninstall-local.sh
Due: none

Add proper error message when show scope visualizer is called from the command palatte without arguments.
  packages/common/src/cursorlessCommandIds.ts
  packages/common/src/util/disposableFrom.ts
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

Show error message when show scope visualizer is called without arguments (#3094)
  packages/common/src/cursorlessCommandIds.ts
  packages/common/src/util/disposableFrom.ts
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

hand-written scope files
  data/fixtures/scopes/gdscript/comment.line.scope
  data/fixtures/scopes/gdscript/statement/statement.return.scope
  packages/common/src/scopeSupportFacets/gdscript.ts
  queries/gdscript.scm
Due: eslint
