Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Migrate statement
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/ruby.ts
  queries/ruby.scm
Due: eslint

Cleanup
  queries/ruby.scm
Due: none

Rename predicate
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  queries/ruby.scm
Due: eslint

Migrate ruby scope implementations (#2949)
  data/fixtures/recorded/languages/ruby/chuckArg3.yml
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/ruby.ts
  queries/ruby.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Migrate attribute
  packages/cursorless-engine/src/languages/rust.ts
  queries/rust.scm
Due: eslint

Migrate statement
  packages/cursorless-engine/src/languages/rust.ts
  queries/rust.scm
Due: eslint

Migrate collection key
  packages/cursorless-engine/src/languages/rust.ts
  queries/rust.scm
Due: eslint

Migrate value
  data/fixtures/recorded/languages/rust/clearValue3.yml
  data/fixtures/recorded/languages/rust/clearValue6.yml
  data/fixtures/recorded/languages/rust/clearValue8.yml
  data/fixtures/recorded/languages/rust/clearValue9.yml
  packages/cursorless-engine/src/languages/rust.ts
  queries/rust.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Migrate value
  data/fixtures/recorded/languages/rust/changeNameDrum2.yml
  data/fixtures/recorded/languages/rust/changeNameDrum3.yml
  data/fixtures/recorded/languages/rust/changeNameJury.yml
  data/fixtures/recorded/languages/rust/changeNameLook.yml
  data/fixtures/recorded/languages/rust/chuckNameFine.yml
  data/fixtures/recorded/languages/rust/chuckNameJury.yml
  packages/cursorless-engine/src/languages/rust.ts
  queries/rust.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Migrate condition
  packages/cursorless-engine/src/languages/rust.ts
  queries/rust.scm
Due: eslint

Migrate branch
  packages/cursorless-engine/src/languages/rust.ts
  queries/java.scm
  queries/rust.scm
Due: eslint

Restore java
  queries/java.scm
Due: none

Migrate type
  packages/cursorless-engine/src/languages/rust.ts
  queries/rust.scm
Due: eslint

Migrate argument
  data/fixtures/recorded/languages/rust/changeArgBlueAir.yml
  data/fixtures/recorded/languages/rust/changeArgSun.yml
  data/fixtures/recorded/languages/rust/changeArgTrap.yml
  data/fixtures/recorded/languages/rust/changeArgTrapAndBlueTrap.yml
  data/fixtures/recorded/languages/rust/chuckArgAir.yml
  data/fixtures/recorded/languages/rust/chuckArgBlueAir.yml
  data/fixtures/recorded/languages/rust/chuckArgSun2.yml
  data/fixtures/recorded/languages/rust/chuckArgTrap.yml
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/rust.ts
  queries/rust.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Migrate if statement
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/clojure.ts
  queries/clojure.scm
Due: eslint

Migrate function
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/clojure.ts
  queries/clojure.scm
Due: eslint

Migrate lambda
  packages/cursorless-engine/src/languages/clojure.ts
  queries/clojure.scm
Due: eslint

Migrate function call
  packages/cursorless-engine/src/languages/clojure.ts
  queries/clojure.scm
Due: eslint

Migrate key and value
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/getChildNodesForFieldName.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/clojure.ts
  queries/clojure.scm
Due: eslint

Migrate argument
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/clojure.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  queries/clojure.scm
Due: eslint

Clean up
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
Due: eslint

Clean up
  packages/cursorless-engine/src/languages/TreeSitterQuery/isEven.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  queries/clojure.scm
Due: eslint

Migrate clojure scope implementations (#2951)
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/getChildNodesForFieldName.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/isEven.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/clojure.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  queries/clojure.scm
Due: eslint

Migrate name
  packages/cursorless-engine/src/languages/latex.ts
  queries/latex.scm
Due: eslint

Migrate function call
  packages/cursorless-engine/src/languages/latex.ts
  queries/latex.scm
Due: eslint

Clean up
  packages/cursorless-engine/src/languages/latex.ts
  queries/latex.scm
Due: eslint

Migrate argument
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/latex.ts
  queries/latex.scm
Due: eslint

Add changelog entries
  changelog/2025-06-migrateClojure.md
  changelog/2025-06-migrateLatex.md
  changelog/2025-06-migrateRuby.md
  changelog/2025-06-migrateScala.md
Due: none

Migrate latex scope implementations (#2952)
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/latex.ts
  queries/latex.scm
Due: eslint

Add changelog entries (#2954)
  changelog/2025-06-migrateClojure.md
  changelog/2025-06-migrateLatex.md
  changelog/2025-06-migrateRuby.md
  changelog/2025-06-migrateScala.md
Due: none

Added dummy legacy language id
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
Due: eslint

Apply suggestions from code review
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
Due: eslint

Use collection key instead of name scope
  data/fixtures/recorded/languages/rust/changeNameDrum2.yml
  data/fixtures/recorded/languages/rust/changeNameDrum3.yml
  data/fixtures/recorded/languages/rust/changeNameJury.yml
  data/fixtures/recorded/languages/rust/changeNameLook.yml
  data/fixtures/recorded/languages/rust/chuckNameFine.yml
  data/fixtures/recorded/languages/rust/chuckNameJury.yml
Due: format-recorded-tests, check-recorded-test-marks

Update tests with type scope
  data/fixtures/recorded/languages/rust/changeArgBlueAir.yml
  data/fixtures/recorded/languages/rust/changeArgSun.yml
  data/fixtures/recorded/languages/rust/changeArgTrap.yml
  data/fixtures/recorded/languages/rust/changeArgTrapAndBlueTrap.yml
  data/fixtures/recorded/languages/rust/changeTypeTrap.yml
  data/fixtures/recorded/languages/rust/chuckArgAir.yml
  data/fixtures/recorded/languages/rust/chuckArgBlueAir.yml
  data/fixtures/recorded/languages/rust/chuckArgSun2.yml
  data/fixtures/recorded/languages/rust/chuckArgTrap.yml
  queries/rust.scm
Due: format-recorded-tests, check-recorded-test-marks

More type arguments
  data/fixtures/recorded/languages/rust/changeArgSun.yml
  data/fixtures/recorded/languages/rust/changeTypeTrap.yml
  data/fixtures/recorded/languages/rust/changeTypeTrap3.yml
  data/fixtures/recorded/languages/rust/chuckArgSun2.yml
  queries/rust.scm
Due: format-recorded-tests, check-recorded-test-marks

Up dit
  data/fixtures/recorded/languages/rust/changeArgTrapAndBlueTrap.yml
  queries/rust.scm
Due: format-recorded-tests, check-recorded-test-marks

Fix formatting
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
Due: eslint

More type fixes
  data/fixtures/recorded/languages/rust/changeArgTrapAndBlueTrap.yml
  data/fixtures/recorded/languages/rust/changeTypeTrap3.yml
  queries/rust.scm
Due: format-recorded-tests, check-recorded-test-marks

Remove legacy language machinery
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/getNodeRange.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/makeRangeFromPositions.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/elseIfExtractor.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/rust.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactory.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/EveryScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/LegacyContainingSyntaxScopeStage.ts
  packages/cursorless-engine/src/runIntegrationTests.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportChecker.ts
  packages/cursorless-engine/src/util/nodeFinders.ts
  packages/cursorless-engine/src/util/nodeMatchers.ts
  packages/cursorless-engine/src/util/nodeSelectors.ts
  packages/cursorless-neovim/src/constructTestHelpers.ts
  packages/cursorless-neovim/src/extension.ts
  packages/cursorless-vscode-e2e/src/suite/cursorlessEngineIntegration.vscode.test.ts
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/extension.ts
  packages/neovim-common/src/TestHelpers.ts
  packages/vscode-common/src/TestHelpers.ts
Due: eslint

Updated contributor docs wit info about adding language.mdx
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-language.md
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
