Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/|^data/playground/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

Added comment
  packages/cursorless-engine/src/processTargets/modifiers/HeadTailStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/InteriorStage.ts
Due: eslint

Remove change log
  changelog/2025-11-changeInteriorDomain.md
Due: none

Add test
  data/fixtures/recorded/modifiers/interior/changeInsideState.yml
Due: format-recorded-tests, check-recorded-test-marks

Update comment
  packages/cursorless-engine/src/processTargets/modifiers/InteriorStage.ts
Due: eslint

Update tests
  data/fixtures/recorded/modifiers/changeInsideValue.yml
  data/fixtures/recorded/modifiers/interior/changeInside5.yml
  queries/go.scm
  queries/lua.scm
Due: format-recorded-tests, check-recorded-test-marks

latex interior
  data/fixtures/scopes/latex/interior.element.scope
Due: none

update tests
  data/fixtures/recorded/selectionTypes/changeEveryPaintInside.yml
  data/fixtures/recorded/selectionTypes/changeEveryShortPaintInside.yml
  packages/cursorless-engine/src/processTargets/modifiers/InteriorStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Mark interior as sudo scope
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
Due: eslint

more latex
  data/fixtures/scopes/latex/interior.element.scope
Due: none

Rename default spoke in form for interior scope
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint

shelving this for now
  packages/common/src/scopeSupportFacets/gdscript.ts
Due: eslint

Style code buttons for dark mode
  packages/cursorless-org-docs/src/docs/components/Code.css
Due: none

Style code buttons for dark mode (#3100)
  packages/cursorless-org-docs/src/docs/components/Code.css
Due: none

Improved grouping of content removal and domain ranges for scope fixtures
  packages/cursorless-vscode-e2e/src/suite/serializeScopeFixture.ts
Due: eslint

Update lua test
  data/fixtures/recorded/languages/lua/changeInsideList.yml
  queries/lua.scm
Due: format-recorded-tests, check-recorded-test-marks

Clean up comments
  packages/cursorless-engine/src/processTargets/modifiers/InteriorStage.ts
Due: eslint

Testing performance with multiple cursors
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
  packages/vscode-common/src/runCommand.ts
Due: eslint

Clean up
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Updating
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/aTreeSitterQueryCache.ts
Due: eslint

rename
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQueryCache.ts
Due: eslint

Added scope handler cache
  packages/cursorless-engine/src/index.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerCache.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/vscode-common/src/TestHelpers.ts
Due: eslint

Added hints to key
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
Due: eslint

Clear cache when opening new editor
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
  packages/vscode-common/src/testUtil/openNewEditor.ts
Due: eslint

Fix imports
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Clear cache for notebook editors
  packages/vscode-common/src/testUtil/openNewEditor.ts
Due: eslint

update tests
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Sorting ports
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
Due: eslint

Improve performance for multiple cursors by adding scope handler cache (#3101)
  packages/cursorless-engine/src/index.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQueryCache.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerCache.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/vscode-common/src/TestHelpers.ts
  packages/vscode-common/src/runCommand.ts
  packages/vscode-common/src/testUtil/openNewEditor.ts
Due: eslint

Update fixtures
  data/fixtures/scopes/c/interior/interior.switchCase.scope
  data/fixtures/scopes/cpp/interior/interior.constructor.scope
  data/fixtures/scopes/cpp/interior/interior.method.scope
  data/fixtures/scopes/csharp/interior/interior.constructor.scope
  data/fixtures/scopes/csharp/interior/interior.lambda.scope
  data/fixtures/scopes/csharp/interior/interior.method.scope
  data/fixtures/scopes/csharp/interior/interior.switchCase.scope
  data/fixtures/scopes/java/interior/interior.constructor.scope
  data/fixtures/scopes/java/interior/interior.method.scope
  data/fixtures/scopes/java/interior/interior.static.scope
  data/fixtures/scopes/java/interior/interior.switchCase.scope
  data/fixtures/scopes/java/interior/interior.switchCase2.scope
  data/fixtures/scopes/javascript.core/interior/interior.constructor.scope
  data/fixtures/scopes/javascript.core/interior/interior.method.scope
  data/fixtures/scopes/javascript.core/interior/interior.static.scope
  data/fixtures/scopes/javascript.core/interior/interior.switchCase.scope
  data/fixtures/scopes/lua/interior.if.scope
  data/fixtures/scopes/markdown/collectionItem.unenclosed.multiLine.scope
  data/fixtures/scopes/markdown/interior.cell.scope
  data/fixtures/scopes/markdown/interior.cell2.scope
  data/fixtures/scopes/plaintext/interior.surroundingPair.scope
  data/fixtures/scopes/python/interior/interior.class.scope
  data/fixtures/scopes/python/interior/interior.constructor.scope
  data/fixtures/scopes/python/interior/interior.foreach.scope
  data/fixtures/scopes/python/interior/interior.function.scope
  data/fixtures/scopes/python/interior/interior.if.scope
  data/fixtures/scopes/python/interior/interior.method.scope
  data/fixtures/scopes/python/interior/interior.resource.scope
  data/fixtures/scopes/python/interior/interior.switch.scope
  data/fixtures/scopes/python/interior/interior.switchCase.scope
  data/fixtures/scopes/python/interior/interior.try.scope
  data/fixtures/scopes/python/interior/interior.try2.scope
  data/fixtures/scopes/python/interior/interior.while.scope
  data/fixtures/scopes/talon/interior.command.scope
Due: none

Update latex fixture
  data/fixtures/scopes/latex/interior.element.scope
Due: none

Serialize scope fixtures: Group removal and domain (#3103)
  data/fixtures/scopes/c/interior/interior.switchCase.scope
  data/fixtures/scopes/cpp/interior/interior.constructor.scope
  data/fixtures/scopes/cpp/interior/interior.method.scope
  data/fixtures/scopes/csharp/interior/interior.constructor.scope
  data/fixtures/scopes/csharp/interior/interior.lambda.scope
  data/fixtures/scopes/csharp/interior/interior.method.scope
  data/fixtures/scopes/csharp/interior/interior.switchCase.scope
  data/fixtures/scopes/java/interior/interior.constructor.scope
  data/fixtures/scopes/java/interior/interior.method.scope
  data/fixtures/scopes/java/interior/interior.static.scope
  data/fixtures/scopes/java/interior/interior.switchCase.scope
  data/fixtures/scopes/java/interior/interior.switchCase2.scope
  data/fixtures/scopes/javascript.core/interior/interior.constructor.scope
  data/fixtures/scopes/javascript.core/interior/interior.method.scope
  data/fixtures/scopes/javascript.core/interior/interior.static.scope
  data/fixtures/scopes/javascript.core/interior/interior.switchCase.scope
  data/fixtures/scopes/latex/interior.element.scope
  data/fixtures/scopes/lua/interior.if.scope
  data/fixtures/scopes/markdown/collectionItem.unenclosed.multiLine.scope
  data/fixtures/scopes/markdown/interior.cell.scope
  data/fixtures/scopes/markdown/interior.cell2.scope
  data/fixtures/scopes/plaintext/interior.surroundingPair.scope
  data/fixtures/scopes/python/interior/interior.class.scope
  data/fixtures/scopes/python/interior/interior.constructor.scope
  data/fixtures/scopes/python/interior/interior.foreach.scope
  data/fixtures/scopes/python/interior/interior.function.scope
  data/fixtures/scopes/python/interior/interior.if.scope
  data/fixtures/scopes/python/interior/interior.method.scope
  data/fixtures/scopes/python/interior/interior.resource.scope
  data/fixtures/scopes/python/interior/interior.switch.scope
  data/fixtures/scopes/python/interior/interior.switchCase.scope
  data/fixtures/scopes/python/interior/interior.try.scope
  data/fixtures/scopes/python/interior/interior.try2.scope
  data/fixtures/scopes/python/interior/interior.while.scope
  data/fixtures/scopes/talon/interior.command.scope
  packages/cursorless-vscode-e2e/src/suite/serializeScopeFixture.ts
Due: eslint

Add skipDuplicate to Open VSX publish step
  .github/workflows/deploy.yaml
Due: none

Add skipDuplicate to Open VSX publish step (#3104)
  .github/workflows/deploy.yaml
Due: none

Separate VSCode publish jobs
  .github/workflows/deploy.yaml
Due: none

Update dependency versions
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/processTargets/modifiers/commonContainingScopeIfUntypedModifiers.ts
  packages/cursorless-engine/src/typings/target.types.ts
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: eslint

Merge branch 'main' into dependencyVersions
  pnpm-lock.yaml
Due: none

Ran prettier
  package.json
  packages/cheatsheet/src/lib/cheatsheet.tsx
  packages/cursorless-org-docs/src/docs/components/ScopeVisualizer.tsx
  packages/cursorless-org/src/components/Layout.tsx
  packages/cursorless-org/src/pages/index.tsx
  packages/cursorless-vscode-tutorial-webview/src/ProgressBar.tsx
  packages/cursorless-vscode-tutorial-webview/src/TutorialStep.tsx
Due: eslint
