Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/|^data/playground/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

fix CI again
  packages/test-harness/src/launchVscodeAndRunTests.ts
Due: eslint

attempt to fix windows CI
  packages/test-harness/src/launchVscodeAndRunTests.ts
Due: eslint

another CI attempt
  packages/test-harness/package.json
  packages/test-harness/src/launchVscodeAndRunTests.ts
  pnpm-lock.yaml
Due: eslint

tweak
  packages/test-harness/src/launchVscodeAndRunTests.ts
Due: eslint

add: the start of dart lang support
  packages/common/src/scopeSupportFacets/dart.ts
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  queries/dart.scm
Due: eslint

add: if statement support
  packages/common/src/scopeSupportFacets/dart.ts
  queries/dart.scm
Due: eslint

add: if scope & fix ci problem
  data/fixtures/scopes/dart/ifStatement.scope
  data/playground/dart.dart
  packages/common/src/scopeSupportFacets/dart.ts
  packages/cursorless-org-docs/src/docs/user/languages/dart.mdx
Due: eslint

try: another if statement scope (see if passes tests)
  data/fixtures/scopes/dart/ifStatement.scope
Due: none

Add declare to class fields in child class that overrides a base class field without explicitly reinitializing the field
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Remove !.
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Add declare to class fields in child class that overrides a base clas… (#2673)
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

fix: ifStatement scope
  data/fixtures/scopes/dart/ifStatement.scope
  data/playground/dart.dart
Due: none

modify: dart playground to exclude void
  data/playground/dart.dart
Due: none

sync fragment & code again
  data/fixtures/scopes/dart/ifStatement.scope
  data/playground/dart.dart
Due: none

Added item scope to java
  data/fixtures/scopes/java/collectionItem.unenclosed.iteration.scope
  data/fixtures/scopes/java/collectionItem.unenclosed.iteration2.scope
  data/fixtures/scopes/java/collectionItem.unenclosed.scope
  data/fixtures/scopes/java/collectionItem.unenclosed2.scope
  packages/common/src/scopeSupportFacets/java.ts
  queries/java.scm
Due: eslint

js item
  queries/javascript.core.scm
Due: none

Update comment
  queries/java.scm
Due: none

Added tests
  data/fixtures/scopes/javascript.core/collectionItem.unenclosed.iteration.scope
  data/fixtures/scopes/javascript.core/collectionItem.unenclosed.scope
  packages/common/src/scopeSupportFacets/javascript.ts
  queries/javascript.core.scm
Due: eslint

Update head/tail docs with regards to surrounding pairs
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Update cheat sheet
  cursorless-talon/src/cheatsheet/sections/modifiers.py
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Due: none

Support text based an syntax tree item
  data/fixtures/recorded/languages/typescript/takeItem.yml
  data/fixtures/scopes/javascript.core/collectionItem.unenclosed.iteration.scope
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
  queries/javascript.core.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

add: updated fixture
  data/fixtures/scopes/dart/ifStatement.scope
Due: none

add list scope
  data/fixtures/scopes/dart/list.scope
  data/playground/dart.dart
  packages/common/src/scopeSupportFacets/dart.ts
  queries/dart.scm
Due: eslint

add map support
  data/fixtures/scopes/dart/map.scope
  data/playground/dart.dart
  packages/common/src/scopeSupportFacets/dart.ts
  queries/dart.scm
Due: eslint

add: the start of dart lang support (#2671)
  data/fixtures/scopes/dart/ifStatement.scope
  data/fixtures/scopes/dart/list.scope
  data/fixtures/scopes/dart/map.scope
  data/playground/dart.dart
  packages/common/src/scopeSupportFacets/dart.ts
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  packages/cursorless-org-docs/src/docs/user/languages/dart.mdx
  queries/dart.scm
Due: eslint

Update README.md
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Update head/tail docs with regards to surrounding pairs (#2676)
  src/cheatsheet/sections/modifiers.py
Due: none

Update head/tail docs with regards to surrounding pairs (#2676)
  cursorless-talon/src/cheatsheet/sections/modifiers.py
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

add class support
  data/fixtures/scopes/dart/class.scope
  data/fixtures/scopes/dart/className.scope
  data/playground/dart.dart
  packages/common/src/scopeSupportFacets/dart.ts
  queries/dart.scm
Due: eslint

refactor class queries and fixtures
  data/fixtures/scopes/dart/className.scope
  queries/dart.scm
Due: none

format dart query file
  queries/dart.scm
Due: none

remove brackets in dart class def
  queries/dart.scm
Due: none

remove: outer paren in class def
  queries/dart.scm
Due: none

Update dart.scm
  queries/dart.scm
Due: none

add dart class support (#2677)
  data/fixtures/scopes/dart/class.scope
  data/fixtures/scopes/dart/className.scope
  data/playground/dart.dart
  packages/common/src/scopeSupportFacets/dart.ts
  queries/dart.scm
Due: eslint

quickjs build - take 1
  packages/cursorless-everywhere-talon/scripts/esbuild.sh
  packages/cursorless-jetbrains/TERMINOLOGY.md
  packages/cursorless-jetbrains/package.json
  packages/cursorless-jetbrains/scripts/buildLocal.sh
  packages/cursorless-jetbrains/scripts/test-quickjs.sh
  packages/cursorless-jetbrains/src/index.ts
  packages/cursorless-jetbrains/tsconfig.json
Due: eslint

wip
  packages/cursorless-jetbrains/package.json
  packages/cursorless-jetbrains/scripts/buildLocal.sh
  packages/cursorless-jetbrains/scripts/test-quickjs.sh
  packages/cursorless-jetbrains/src/ide/JetbrainsCapabilities.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsClient.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsCommandServer.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsEvents.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsIDE.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsPlugin.ts
  packages/cursorless-jetbrains/src/index.ts
  pnpm-lock.yaml
Due: eslint

add more jetbrains skeleton
  packages/cursorless-jetbrains/scripts/buildLocal.sh
  packages/cursorless-jetbrains/src/extension.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsClipboard.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsCommandServer.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsConfiguration.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsIDE.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsKeyValueStore.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsMessages.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsPlugin.ts
  packages/cursorless-jetbrains/src/index.ts
Due: eslint

wip
  packages/cursorless-everywhere-talon/scripts/esbuild.sh
  packages/cursorless-jetbrains/package.json
  packages/cursorless-jetbrains/src/extension.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsPlugin.ts
  packages/cursorless-jetbrains/src/index.ts
  packages/cursorless-jetbrains/src/polyfill.ts
  packages/cursorless-jetbrains/tsconfig.json
Due: eslint
