Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Improve comments; slight impl tweak
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint

Also support surrounding pairs
  data/fixtures/recorded/relativeScopes/changeNextPair.yml
  data/fixtures/recorded/relativeScopes/changeNextPair2.yml
  data/fixtures/recorded/relativeScopes/changeNextState3.yml
  data/fixtures/recorded/relativeScopes/changePreviousPair.yml
  data/fixtures/recorded/relativeScopes/changePreviousPair2.yml
  data/fixtures/recorded/relativeScopes/changePreviousState3.yml
  data/fixtures/recorded/relativeScopes/clearNextCall4.yml
  packages/cursorless-engine/src/processTargets/modifiers/HeadTailStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/InteriorStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Use more specific scope type
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint

make interior scope handler be able to return undefined
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SortedScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
Due: eslint

Update tests
  data/fixtures/recorded/relativeScopes/clearSecondNextCall.yml
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Convert function to constant
  packages/cursorless-engine/src/processTargets/modifiers/HeadTailStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/InteriorStage.ts
Due: eslint

Update test
  data/fixtures/recorded/relativeScopes/changePreviousState2.yml
Due: format-recorded-tests, check-recorded-test-marks

Update tests
  data/fixtures/recorded/relativeScopes/clearNextCall2.yml
  data/fixtures/recorded/relativeScopes/clearNextCall4.yml
  data/fixtures/recorded/relativeScopes/clearSecondNextCall.yml
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Reorder
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint

Refactor into separate code paths for surrounding pair and language pacific
  data/fixtures/recorded/surroundingPair/changeNextRound4.yml
  packages/cursorless-engine/src/processTargets/modifiers/InteriorStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Cleanup
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint

skip neovim test
  packages/cursorless-neovim-e2e/src/shouldRunTest.ts
Due: eslint

Utilize interior in relative scope modifier (#3122)
  data/fixtures/recorded/relativeScopes/changeNextPair.yml
  data/fixtures/recorded/relativeScopes/changeNextPair2.yml
  data/fixtures/recorded/relativeScopes/changeNextState.yml
  data/fixtures/recorded/relativeScopes/changeNextState2.yml
  data/fixtures/recorded/relativeScopes/changeNextState3.yml
  data/fixtures/recorded/relativeScopes/changePreviousPair.yml
  data/fixtures/recorded/relativeScopes/changePreviousPair2.yml
  data/fixtures/recorded/relativeScopes/changePreviousState.yml
  data/fixtures/recorded/relativeScopes/changePreviousState2.yml
  data/fixtures/recorded/relativeScopes/changePreviousState3.yml
  packages/cursorless-engine/src/processTargets/modifiers/HeadTailStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/InteriorStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SortedScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
  packages/cursorless-neovim-e2e/src/shouldRunTest.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Doing more work on relative scopes
  data/fixtures/recorded/relativeScopes/changeNextCall.yml
  data/fixtures/recorded/relativeScopes/changePreviousCall.yml
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Refactoring and cleanup
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint

Fix typo
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint

Update relative scope stage to skip containing range when interior is missing (#3123)
  data/fixtures/recorded/relativeScopes/changeNextCall.yml
  data/fixtures/recorded/relativeScopes/changePreviousCall.yml
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update argument list domains and argument iteration domains in JS and TS
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty10.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty11.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty12.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty13.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty14.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty15.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty2.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty3.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty4.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty5.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty6.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty7.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty8.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty9.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.method.empty2.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.method.empty3.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.method.empty4.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.method.empty5.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.method.empty6.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.method.empty7.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.method.empty8.scope
  data/fixtures/scopes/typescript.core/argumentList/argumentList.formal.constructor.empty.scope
  data/fixtures/scopes/typescript.core/argumentList/argumentList.formal.empty.scope
  data/fixtures/scopes/typescript.core/argumentList/argumentList.formal.empty2.scope
  data/fixtures/scopes/typescript.core/argumentList/argumentList.formal.method.empty.scope
  data/fixtures/scopes/typescript.core/argumentList/argumentList.formal.method.empty2.scope
  queries/javascript.core.scm
  queries/javascript.function.scm
  queries/javascript.scm
  queries/typescript.core.scm
Due: none

Clean up
  queries/javascript.function.scm
Due: none

More cleanup
  queries/javascript.function.scm
Due: none

More cleanup
  queries/typescript.core.scm
Due: none

Small fix
  queries/typescript.core.scm
Due: none

Added argument iteration scope tests
  data/fixtures/scopes/javascript.core/argument/argument.formal.iteration10.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.iteration11.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.iteration12.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.iteration13.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.iteration14.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.iteration15.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.iteration2.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.iteration3.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.iteration4.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.iteration5.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.iteration6.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.iteration7.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.iteration8.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.iteration9.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.method.iteration2.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.method.iteration3.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.method.iteration4.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.method.iteration5.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.method.iteration6.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.method.iteration7.scope
  data/fixtures/scopes/javascript.core/argument/argument.formal.method.iteration8.scope
  data/fixtures/scopes/typescript.core/argument.formal.constructor.iteration.scope
Due: none

wip: improving argument iteration and domain
  data/fixtures/scopes/zig/argument.actual.iteration.scope
  data/fixtures/scopes/zig/argument.actual.multiLine.scope
  data/fixtures/scopes/zig/argument.actual.singleLine.scope
  data/fixtures/scopes/zig/argumentList.actual.multiLine.scope
  data/fixtures/scopes/zig/type.argument.formal.iteration.scope
  queries/zig.scm
Due: none

wip: function declaration argument iteration working
  queries/zig.scm
Due: none

wip: fix variable declaration type removal of leading ":"
  queries/zig.scm
Due: none

Remove unsupported arg iteration scopes
  packages/common/src/scopeSupportFacets/zig.ts
  queries/zig.scm
Due: eslint

Remove unsupported scope files
  data/fixtures/scopes/zig/argument.actual.iteration.scope
  data/fixtures/scopes/zig/argumentList.actual.multiLine.scope
  data/fixtures/scopes/zig/type.argument.formal.iteration.scope
Due: none

Add zig language page to docs
  packages/cursorless-org-docs/src/docs/user/languages/zig.mdx
Due: none

Fix bug with argument actual
  queries/zig.scm
Due: none

Added margin to "Show private scopes" checkbox
  packages/cursorless-org-docs/src/docs/contributing/MissingLanguageScopes.tsx
Due: eslint

Update onBrokenMarkdownLinks config
  packages/cursorless-org-docs/docusaurus.config.mts
Due: none

Fix select in dark mode
  packages/cursorless-org-docs/src/css/custom.css
Due: none

Update styling for docs page (#3125)
  packages/cursorless-org-docs/docusaurus.config.mts
  packages/cursorless-org-docs/src/css/custom.css
  packages/cursorless-org-docs/src/docs/contributing/MissingLanguageScopes.tsx
Due: eslint

Remove files
  data/fixtures/scopes/rust/name/name.field.class.scope
  data/fixtures/scopes/rust/statement/statement.field.class.scope
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
