Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

more clean up
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/createTargetScope.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/stronglyContains.ts
Due: eslint

Cleanup
  cursorless-talon/src/modifiers/scopes.py
Due: none

clean up
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
Due: eslint

Added disqualifyDelimiter to php
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  queries/php.scm
Due: eslint

Fix surrounding pair scope info test
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runSurroundingPairScopeInfoTest.ts
Due: eslint

Update adding language docs
  .github/PULL_REQUEST_TEMPLATE/new_programming_language.md
  docs/contributing/adding-a-new-language.md
  docs/contributing/adding-a-new-scope.md
  docs/contributing/tree-sitter-query-syntax.md
Due: none

tweaks
  docs/contributing/adding-a-new-language.md
  docs/contributing/adding-a-new-scope.md
  docs/contributing/tree-sitter-query-syntax.md
Due: none

Update adding language docs (#2459)
  .github/PULL_REQUEST_TEMPLATE/new_programming_language.md
  docs/contributing/adding-a-new-language.md
  docs/contributing/adding-a-new-scope.md
  docs/contributing/tree-sitter-query-syntax.md
Due: none

Respond to pull request feedback
  data/fixtures/recorded/actions/followSplitVest.yml
  packages/cursorless-engine/src/actions/FollowLink.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeOpenLink.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Fixed optional argument
  packages/cursorless-vscode/src/ide/vscode/VscodeOpenLink.ts
Due: eslint

Add test case
  data/fixtures/recorded/actions/followSplitVest2.yml
Due: format-recorded-tests, check-recorded-test-marks

Respond to pull request feedback
  packages/cursorless-engine/src/actions/FollowLink.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeOpenLink.ts
Due: eslint

Respond to pull request feedback
  data/fixtures/recorded/actions/followSplitVest.yml
  data/fixtures/recorded/actions/followSplitVest2.yml
  packages/cursorless-vscode/src/ide/vscode/VscodeOpenLink.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Respond to pull request feedback
  packages/cursorless-vscode/src/ide/vscode/VscodeOpenLink.ts
Due: eslint

Tweaks
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
  packages/common/src/types/TextEditor.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/FollowLink.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeOpenLink.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

Split define action (#2392)
  cursorless-talon/src/spoken_forms.json
  data/fixtures/recorded/actions/followSplitVest.yml
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
  packages/common/src/types/TextEditor.ts
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/FollowLink.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ide/vscode/VscodeOpenLink.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Split define action (#2392)
  src/spoken_forms.json
Due: none

Fix removal range with type
  data/fixtures/scopes/typescript.core/value.argument.formal2.scope
  queries/typescript.core.scm
Due: none

Fix
  queries/typescript.core.scm
Due: none

Fix removal range with type (#2460)
  data/fixtures/scopes/typescript.core/value.argument.formal2.scope
  queries/typescript.core.scm
Due: none

Use text fragment
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getCaptureRanges.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
Due: eslint

Added scope tests
  data/fixtures/recorded/languages/typescript/changePair.yml
  data/fixtures/scopes/textual/surroundingPair.iteration.scope
  data/fixtures/scopes/textual/surroundingPair.iteration2.scope
  data/fixtures/scopes/textual/surroundingPair.scope
  data/fixtures/scopes/textual/surroundingPair2.scope
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/textualScopeSupportFacetInfos.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/serializeScopeFixture.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

More tests
  data/fixtures/recorded/surroundingPair/parseTree/typescript/changePair.yml
  data/fixtures/recorded/surroundingPair/textual/changeNextPair.yml
  data/fixtures/recorded/surroundingPair/textual/changePairBackward.yml
  data/fixtures/recorded/surroundingPair/textual/changePreviousPair.yml
  data/fixtures/recorded/surroundingPair/textual/changedTwoPairs.yml
Due: format-recorded-tests, check-recorded-test-marks

Update tests
  data/fixtures/recorded/surroundingPair/textual/changePair.yml
  data/fixtures/recorded/surroundingPair/textual/changeTwoPairs.yml
Due: format-recorded-tests, check-recorded-test-marks

update tests
  data/fixtures/recorded/surroundingPair/textual/changePair.yml
  data/fixtures/recorded/surroundingPair/textual/changePairBackward.yml
Due: format-recorded-tests, check-recorded-test-marks

replace backslash
  packages/cursorless-org-docs/docusaurus.config.mts
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-language.md
Due: none

Created language component
  packages/cursorless-org-docs/package.json
  packages/cursorless-org-docs/src/docs/contributing/scope-support-per-language.md
  packages/cursorless-org-docs/src/docs/user/languages/Language.tsx
  packages/cursorless-org-docs/src/docs/user/languages/README.md
  packages/cursorless-org-docs/src/docs/user/languages/typescript.mdx
  packages/cursorless-org-docs/tsconfig.json
  pnpm-lock.yaml
Due: eslint

fixes
  packages/cursorless-org-docs/package.json
  packages/cursorless-org-docs/src/docs/user/languages/Language.tsx
  packages/cursorless-org-docs/tsconfig.json
  pnpm-lock.yaml
Due: eslint

Added language files
  packages/common/src/util/sleep.ts
  packages/cursorless-org-docs/docusaurus.config.mts
  packages/cursorless-org-docs/package.json
  packages/cursorless-org-docs/plugins/node/index.js
  packages/cursorless-org-docs/plugins/node/package.json
  packages/cursorless-org-docs/src/docs/user/languages/Language.tsx
  packages/cursorless-org-docs/src/docs/user/languages/ScopeSupport.tsx
  packages/cursorless-org-docs/src/docs/user/languages/c.mdx
  packages/cursorless-org-docs/src/docs/user/languages/clojure.mdx
  packages/cursorless-org-docs/src/docs/user/languages/cpp.mdx
  packages/cursorless-org-docs/src/docs/user/languages/csharp.mdx
  packages/cursorless-org-docs/src/docs/user/languages/css.mdx
  packages/cursorless-org-docs/src/docs/user/languages/go.mdx
  packages/cursorless-org-docs/src/docs/user/languages/html.mdx
  packages/cursorless-org-docs/src/docs/user/languages/java.mdx
  packages/cursorless-org-docs/src/docs/user/languages/javascript.mdx
  packages/cursorless-org-docs/src/docs/user/languages/javascriptreact.mdx
  packages/cursorless-org-docs/src/docs/user/languages/json.mdx
  packages/cursorless-org-docs/src/docs/user/languages/jsonc.mdx
  packages/cursorless-org-docs/src/docs/user/languages/jsonl.mdx
  packages/cursorless-org-docs/src/docs/user/languages/latex.mdx
  packages/cursorless-org-docs/src/docs/user/languages/lua.mdx
  packages/cursorless-org-docs/src/docs/user/languages/markdown.mdx
  packages/cursorless-org-docs/src/docs/user/languages/php.mdx
  packages/cursorless-org-docs/src/docs/user/languages/python.mdx
  packages/cursorless-org-docs/src/docs/user/languages/ruby.mdx
  packages/cursorless-org-docs/src/docs/user/languages/rust.mdx
  packages/cursorless-org-docs/src/docs/user/languages/scala.mdx
  packages/cursorless-org-docs/src/docs/user/languages/scm.mdx
  packages/cursorless-org-docs/src/docs/user/languages/scss.mdx
  packages/cursorless-org-docs/src/docs/user/languages/talon.mdx
  packages/cursorless-org-docs/src/docs/user/languages/typescript.mdx
  packages/cursorless-org-docs/src/docs/user/languages/typescriptreact.mdx
  packages/cursorless-org-docs/src/docs/user/languages/xml.mdx
  packages/cursorless-org-docs/src/docs/user/languages/yaml.mdx
  packages/cursorless-org-docs/tsconfig.json
  packages/meta-updater/src/metaUpdater.ts
  packages/meta-updater/src/updateLanguageScopeSupportConfig.ts
Due: eslint

typo
  packages/cursorless-org-docs/package.json
  pnpm-lock.yaml
Due: none

Allow toggle decorations to take a boolean argument
  docs/user/customization.md
  packages/cursorless-vscode-e2e/src/suite/toggleDecorations.vscode.test.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHats.ts
Due: eslint

Remove support for overlapping pairs
  data/fixtures/recorded/surroundingPair/parseTreeParity/takeOutside15.yml
  data/fixtures/recorded/surroundingPair/parseTreeParity/takeOutside19.yml
  data/fixtures/recorded/surroundingPair/textual/takeOutside15.yml
  data/fixtures/recorded/surroundingPair/textual/takeOutside19.yml
  packages/cursorless-engine/src/processTargets/modifiers/getPreferredScopeTouchingPosition.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/scopeHandler.types.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update ruby quotes delimiters
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint

Update deprecation message
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
Due: eslint

clean up
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
Due: eslint

Use document as iteration scope
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
Due: eslint

Pluralize
  docs/user/customization.md
Due: none

Reverts delimiter map
  data/fixtures/scopes/textual/surroundingPair.iteration.scope
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
