Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm transform-recorded-tests --check-marks

MORE
  data/playground/go.go
  queries/go.scm
Due: none

ALL THE TESTS PASS
  queries/go.scm
Due: none

migrate Go scopes statement, comment, string, and textFragment
  packages/cursorless-engine/src/languages/go.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/assignStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/constStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/decStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/expressionStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/ifStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/incStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/sendStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/shortVarStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/typeDeclStatement.yml
  queries/go.scm
Due: eslint, format-recorded-tests

changed error to warning
  packages/cursorless-engine/src/actions/Sort.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/shuffleThis.yml
Due: eslint, format-recorded-tests

Update packages/cursorless-engine/src/actions/Sort.ts
  packages/cursorless-engine/src/actions/Sort.ts
Due: eslint

Update packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/shuffleThis.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/shuffleThis.yml
Due: format-recorded-tests

Update the test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/shuffleThis.yml
Due: format-recorded-tests

Require at least two targets with sort action (#1613)
  packages/cursorless-engine/src/actions/Sort.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/shuffleThis.yml
Due: eslint, format-recorded-tests

REVERT ME delete all references ot items
  queries/go.scm
Due: none

Added start of/end of range tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/chuckStartOfBattPastEndOfFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/chuckStartOfBlockPastStartOfFile.yml
Due: format-recorded-tests

revert weird test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/clojure/clearItemBatClearItemBat.yml
Due: format-recorded-tests

upp
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/clojure/clearItemBatClearItemBat.yml
Due: format-recorded-tests

upp
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/latex/changeCall.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/latex/changeCall2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/latex/changeCall3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/latex/changeCall4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/latex/changeCall5.yml
Due: format-recorded-tests

fix
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/clojure/clearItemBatClearItemBat.yml
Due: format-recorded-tests

fix
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/xml/scratchClearValue.yml
Due: format-recorded-tests

Added symbols
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/bringArgueOxAndZipToAfterJustLeper.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/squareRepackLeper.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/itemTextual/clearItemDrip.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearTypeLangle.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearTypeWrangle.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/selectionTypes/clearShortPaintLeper.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/typescript/clearSquareLack.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/typescript/clearSquareRack.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTreeParity/clearBoundsDouble.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTreeParity/clearBoundsDouble2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTreeParity/clearOutsideGreenDouble.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTreeParity/clearOutsideLeper.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTreeParity/clearOutsideRack.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTreeParity/clearRoundLeper.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTreeParity/clearRoundRepper.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearBoundsDouble.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearBoundsDouble2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearOutsideGreenDouble.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearOutsideLeper.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearOutsideRack.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/takeRoundLeper.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/takeRoundRepper.yml
Due: format-recorded-tests

Added start of/end of range tests (#1668)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/chuckStartOfBattPastEndOfFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/chuckStartOfBlockPastStartOfFile.yml
Due: format-recorded-tests

Added generation of spoken form
  packages/common/src/errors.ts
  packages/common/src/index.ts
  packages/common/src/spokenForms/actions.ts
  packages/common/src/spokenForms/characters.ts
  packages/common/src/spokenForms/connectives.ts
  packages/common/src/spokenForms/marks.ts
  packages/common/src/spokenForms/modifiers.ts
  packages/common/src/spokenForms/numbers.ts
  packages/common/src/spokenForms/snippets.ts
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/common/src/types/command/legacy/PartialTargetDescriptorV4.types.ts
  packages/common/src/types/command/legacy/PartialTargetDescriptorV5.types.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeSpokenFormTestCommand.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV1ToV2/upgradeV1ToV2.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV2ToV3/upgradeV2ToV3.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV4ToV5/upgradeV4ToV5.ts
  packages/cursorless-engine/src/test/generateSpokenForm.test.ts
Due: eslint

Updated iteration scope for Talon
  queries/talon.scm
Due: none

fixed name
  queries/talon.scm
Due: none

Added not empty predicate
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  queries/talon.scm
Due: eslint

snap
  packages/common/src/types/Range.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  queries/go.scm
  queries/javascript.core.scm
  queries/javascript.jsx.scm
Due: eslint

snap again
  queries/go.scm
Due: none

jst go test
  packages/common/src/testUtil/runTestSubset.ts
Due: eslint

improve duplicate capture error message
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.ts
Due: eslint

rework
  data/playground/go.go
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.ts
  queries/go.scm
Due: eslint

chuck trailing whitespace
  queries/go.scm
Due: none

Added fixture update feature to general spoken form test
  packages/common/src/index.ts
  packages/common/src/testUtil/shouldUpdateFixtures.ts
  packages/cursorless-engine/src/test/generateSpokenForm.test.ts
  packages/cursorless-vscode-e2e/src/endToEndTestSetup.ts
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
Due: eslint

Update spoken forms ad nauseam
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirToAfterBatVerticalPastFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirToBatVerticalPastFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirToBeforeBatVerticalPastFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirToEndOfBatVerticalPastFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirToStartOfBatVerticalPastFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/takeBatVerticalPastFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/takeFineVerticalPastBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/takeVerticalPastFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/clearOneLines.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/clearOneToken.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/clearOneTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/subtoken/takeFirstPastSecondWordHarp.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/updateSelections/chuckFirstPastSecondCar.yml
Due: format-recorded-tests

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
