Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Tweaks
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
Due: eslint

work work
  cursorless-talon/src/actions/get_text.py
Due: none

Use proximal and distal
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ContiguousScopeHandler.ts
Due: eslint

Continues target
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ContiguousScopeHandler.ts
Due: eslint

Added tests
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ContiguousScopeHandler.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScopes/changeNextFatIdentifier.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScopes/changeNextFatIdentifier2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScopes/changePreviousFatIdentifier.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScopes/changePreviousFatIdentifier2.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

cleanup
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ContiguousScopeHandler.ts
Due: eslint

for each
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/name.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/value.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/name.foreach.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/value.foreach.scope
  queries/javascript.core.scm
  queries/python.scm
Due: eslint

Added more
  packages/common/src/scopeSupportFacets/getLanguageScopeSupport.ts
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/html/attribute.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/html/element.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/html/value.attribute.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/type.foreach.scope
Due: eslint

more
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/anonymousFunction.lambda.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/anonymousFunction.lambda2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/anonymousFunction.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/class.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/className.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/functionName.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/list.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/map.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/namedFunction.method.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/namedFunction2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.return.lambda.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.return.scope
Due: eslint

Add comment
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/comment.block.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/comment.block2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/comment.line.scope
Due: eslint

ternary
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.doWhile.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.for.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.if.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.ternary.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.while.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/ifStatement.scope
Due: eslint

Function call
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.switch.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/functionCall.constructor.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/functionCall.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/functionCallee.constructor.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/functionCallee.scope
  queries/javascript.core.scm
Due: eslint

enable all test
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
Due: eslint

Update tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeName5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeValue5.yml
Due: format-recorded-tests, check-recorded-test-marks

branch
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/branch.if.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/branch.switchCase.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/branch.try.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/condition.switchCase.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/string.multiLine.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/string.singleLine.scope
Due: eslint

Added arguments
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
Due: eslint

Textual
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/textualScopeSupportFacetInfos.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/textual/identifier.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/textual/nonWhitespaceSequence.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/textual/sentence.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/textual/url.scope
Due: eslint

command
  packages/common/src/scopeSupportFacets/getLanguageScopeSupport.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/talon.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/talon/command.scope
Due: eslint

tags
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/html/endTag.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/html/startTag.scope
Due: eslint

regularExpression
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/regularExpression.scope
Due: eslint

subject and field
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/fieldAccess.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/statement.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/switchStatementSubject.scope
Due: eslint

More types
  packages/common/src/scopeSupportFacets/getLanguageScopeSupport.ts
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.class.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.field.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.function.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.field.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.assignment.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.field.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.formalParameter.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.interface.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.return.scope
  queries/javascript.scm
Due: eslint

clean up
  packages/common/src/scopeSupportFacets/typescript.ts
Due: eslint

Added brake line action
  cursorless-talon/src/spoken_forms.json
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/BrakeLine.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/breakLineBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/breakLineCommentSit.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update spoken form
  cursorless-talon/src/spoken_forms.json
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/breakLineBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/breakLineCommentSit.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Remove `.only` to reenable tests
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
Due: eslint

rename tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/breakBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/breakCommentSit.yml
Due: format-recorded-tests, check-recorded-test-marks

Added change logs
  changelog/2023-12-addedBreakLineAction.md
  changelog/2023-12-addedVisibleModifier.md
Due: none

Remove `.only` to reenable tests (#2104)
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
Due: eslint

remove unused typescript file
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/typescript.ts
Due: eslint

fix
  cursorless-talon/src/spoken_forms.py
Due: none

Disallow `.only` in mocha tests
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: none

Disallow `.only` in mocha tests (#2107)
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: none

use prefix range
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/DelimitedSequenceInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/typings/target.types.ts
  packages/cursorless-engine/src/util/rangeUtils.ts
  queries/javascript.core.scm
  queries/markdown.scm
  queries/yaml.scm
Due: eslint

cleanup
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
Due: eslint

cleanup
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
Due: eslint

rename
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/BreakLine.ts
Due: eslint

Added more tests
  docs/user/README.md
  packages/cursorless-engine/src/actions/BreakLine.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/breakBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/breakCommentSit.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/breakJustThis.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/breakJustThis2.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update packages/cursorless-engine/src/actions/BreakLine.ts
  packages/cursorless-engine/src/actions/BreakLine.ts
Due: eslint

fix
  packages/cursorless-engine/src/actions/Actions.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
