Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/|^data/playground/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

Type argument
  data/fixtures/scopes/python/type.typeArgument.iteration.scope
  data/fixtures/scopes/python/type.typeArgument.scope
  data/fixtures/scopes/python/type.typeArgument2.scope
  data/fixtures/scopes/python/type.variable.scope
  data/fixtures/scopes/python/type.variable2.scope
  packages/common/src/scopeSupportFacets/python.ts
  queries/python.scm
Due: eslint

Sort up
  packages/common/src/scopeSupportFacets/python.ts
Due: eslint

Clean up
  data/fixtures/scopes/python/type.argument.formal.iteration.scope
  packages/common/src/scopeSupportFacets/python.ts
Due: eslint

Insertion delimiter
  data/fixtures/scopes/python/type.typeArgument.scope
  data/fixtures/scopes/python/type.typeArgument2.scope
  queries/python.scm
Due: none

Updated type arguments implementation
  data/fixtures/scopes/java/type.field.scope
  data/fixtures/scopes/java/type.typeArgument.iteration.scope
  data/fixtures/scopes/java/type.typeArgument.scope
  data/fixtures/scopes/typescript.core/type.typeArgument.scope
  data/fixtures/scopes/typescript.core/type.typeArgument2.scope
  queries/java.scm
  queries/typescript.core.scm
Due: none

Remove function name from argument iteration scope
  data/fixtures/scopes/r/argument.actual.iteration.scope
  data/fixtures/scopes/r/argument.formal.iteration.scope
  queries/r.scm
Due: none

Return formal demain to the entire function
  data/fixtures/scopes/r/argument.formal.iteration.scope
  queries/r.scm
Due: none

prettier
  packages/common/src/scopeSupportFacets/r.ts
Due: eslint

add function name to formal argument iteration domain
  data/fixtures/scopes/r/argument.formal.iteration.scope
  queries/r.scm
Due: none

add r doc
  packages/cursorless-org-docs/src/docs/user/languages/r.mdx
Due: none

Update packages/cursorless-org-docs/src/docs/user/languages/r.mdx
  packages/cursorless-org-docs/src/docs/user/languages/r.mdx
Due: none

Enable initial r support (#2721)
  data/fixtures/scopes/r/anonymousFunction.scope
  data/fixtures/scopes/r/argument.actual.iteration.scope
  data/fixtures/scopes/r/argument.actual.scope
  data/fixtures/scopes/r/argument.actual2.scope
  data/fixtures/scopes/r/argument.actual3.scope
  data/fixtures/scopes/r/argument.actual4.scope
  data/fixtures/scopes/r/argument.actual5.scope
  data/fixtures/scopes/r/argument.formal.iteration.scope
  data/fixtures/scopes/r/argument.formal.scope
  data/fixtures/scopes/r/argumentList.formal.scope
  data/fixtures/scopes/r/argumentList.formal2.scope
  data/fixtures/scopes/r/argumentList.formal3.scope
  data/fixtures/scopes/r/argumentList.formal4.scope
  data/fixtures/scopes/r/comment.line.scope
  data/fixtures/scopes/r/functionCall.scope
  data/fixtures/scopes/r/functionCallee.scope
  data/fixtures/scopes/r/functionName.scope
  data/fixtures/scopes/r/ifStatement.scope
  data/fixtures/scopes/r/ifStatement2.scope
  data/fixtures/scopes/r/ifStatement3.scope
  data/fixtures/scopes/r/name.assignment.scope
  data/fixtures/scopes/r/name.variable.scope
  data/fixtures/scopes/r/namedFunction.scope
  data/fixtures/scopes/r/value.assignment.scope
  data/fixtures/scopes/r/value.variable.scope
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  packages/common/src/scopeSupportFacets/r.ts
  packages/cursorless-org-docs/src/docs/user/languages/r.mdx
  queries/r.scm
Due: eslint

Update dependencies
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-core/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/neovim-common/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  packages/vscode-common/src/getExtensionApi.ts
  pnpm-lock.yaml
Due: eslint

Update pre commit
  .github/workflows/pre-commit.yml
Due: none

Downgrade prettier
  package.json
  pnpm-lock.yaml
Due: none

deduper
  pnpm-lock.yaml
Due: none

restore trie-search version
  packages/cursorless-vscode/package.json
  pnpm-lock.yaml
Due: none

Support scout actions in fallback
  cursorless-talon/src/fallback.py
Due: none

Sort
  cursorless-talon/src/fallback.py
Due: none

Clean up
  cursorless-talon/src/fallback.py
Due: none

Support scout actions in fallback (#2928)
  src/fallback.py
Due: none

Support scout actions in fallback (#2928)
  cursorless-talon/src/fallback.py
Due: none

Update dependencies (#2926)
  .github/workflows/pre-commit.yml
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-core/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/neovim-common/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  packages/vscode-common/src/getExtensionApi.ts
  pnpm-lock.yaml
Due: eslint

Updated type arguments implementation (#2925)
  data/fixtures/scopes/java/type.field.scope
  data/fixtures/scopes/java/type.typeArgument.iteration.scope
  data/fixtures/scopes/java/type.typeArgument.scope
  data/fixtures/scopes/typescript.core/type.typeArgument.scope
  data/fixtures/scopes/typescript.core/type.typeArgument2.scope
  queries/java.scm
  queries/typescript.core.scm
Due: none

Update insertion delimiter for document scope
  data/fixtures/recorded/positions/bringHarpToAfterFile.yml
  data/fixtures/recorded/positions/bringWhaleToBeforeFile.yml
  data/fixtures/recorded/selectionTypes/bringHarpToAfterFile.yml
  data/fixtures/recorded/selectionTypes/bringWhaleToBeforeFile.yml
  data/fixtures/scopes/textual/document.scope
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update sidebar labels for languages in docs
  packages/cursorless-org-docs/src/docs/user/languages/csharp.mdx
  packages/cursorless-org-docs/src/docs/user/languages/jsonc.mdx
  packages/cursorless-org-docs/src/docs/user/languages/jsonl.mdx
  packages/cursorless-org-docs/src/docs/user/languages/scm.mdx
Due: none

Assert that we have an active editor before taking snapshot
  packages/common/src/testUtil/getSnapshotForComparison.ts
Due: eslint

Increase reliability of opening new netbook editor
  packages/vscode-common/src/testUtil/openNewEditor.ts
Due: eslint

Added click to expand text on collapsed scope support section
  packages/cursorless-org-docs/src/css/custom.css
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupportForLevel.tsx
Due: eslint

Disable latex parser on vscode versions >= 1.98.0
  packages/common/src/types/TreeSitter.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-vscode/src/extension.ts
Due: eslint

update comment
  packages/common/src/types/TreeSitter.ts
Due: eslint

Added click to expand text on collapsed scope support section (#2934)
  packages/cursorless-org-docs/src/css/custom.css
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupportForLevel.tsx
Due: eslint

Assert that we have an active editor before taking snapshot (#2932)
  packages/common/src/testUtil/getSnapshotForComparison.ts
Due: eslint

update label
  packages/cursorless-org-docs/src/docs/user/languages/scm.mdx
Due: none

Update sidebar labels for languages in docs (#2931)
  packages/cursorless-org-docs/src/docs/user/languages/csharp.mdx
  packages/cursorless-org-docs/src/docs/user/languages/jsonc.mdx
  packages/cursorless-org-docs/src/docs/user/languages/jsonl.mdx
  packages/cursorless-org-docs/src/docs/user/languages/scm.mdx
Due: none

Added missing python scope facets (#2924)
  data/fixtures/scopes/python/class2.scope
  data/fixtures/scopes/python/type.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/python/type.argument.formal.constructor.scope
  data/fixtures/scopes/python/type.argument.formal.iteration.scope
  data/fixtures/scopes/python/type.argument.formal.method.iteration.scope
  data/fixtures/scopes/python/type.argument.formal.method.scope
  data/fixtures/scopes/python/type.argument.formal.scope
  data/fixtures/scopes/python/type.class.scope
  data/fixtures/scopes/python/type.class2.scope
  data/fixtures/scopes/python/type.field.iteration.scope
  data/fixtures/scopes/python/type.field.scope
  data/fixtures/scopes/python/type.return.scope
  data/fixtures/scopes/python/type.typeArgument.iteration.scope
  data/fixtures/scopes/python/type.typeArgument.scope
  data/fixtures/scopes/python/type.typeArgument2.scope
  data/fixtures/scopes/python/type.variable.scope
  data/fixtures/scopes/python/type.variable2.scope
  packages/common/src/scopeSupportFacets/python.ts
  queries/python.scm
Due: eslint

Added missing type resource scope facets (#2923)
  packages/common/src/scopeSupportFacets/css.ts
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/json.ts
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/scm.ts
  packages/common/src/scopeSupportFacets/yaml.ts
Due: eslint

Added Cursorless icon to contributed views (#2920)
  packages/cursorless-vscode/package.json
Due: none
