Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

Remove iteration scope on call
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/clearEveryCall.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/clearEveryCall2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/clearEveryCallee.yml
  queries/talon.scm
Due: format-recorded-tests, check-recorded-test-marks

Added doc string
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
Due: eslint

Added comment
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/clearComment.yml
  queries/talon.scm
Due: format-recorded-tests, check-recorded-test-marks

Added text fragment tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/clearRound.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/clearRound2.yml
Due: format-recorded-tests, check-recorded-test-marks

Add cheatsheet developer docs
  docs/contributing/cheatsheet.md
Due: none

tweak
  docs/contributing/cheatsheet.md
Due: none

migrate Go scopes statement, comment, string, and textFragment (#1685)
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/go.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/index.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/assignStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeRound.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeRound2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/constStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/decStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/expressionStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/ifStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/incStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/sendStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/shortVarStatement.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/typeDeclStatement.yml
  queries/go.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

stop early when there are no candidate hats for a grapheme (#1692)
  packages/cursorless-engine/src/util/allocateHats/maxByFirstDiffering.ts
Due: eslint

add cursorless record one and cursorless record silent (#1688)
  cursorless-talon-dev/src/cursorless_dev.py
  cursorless-talon-dev/src/cursorless_dev.talon
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

Update packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.ts
Due: eslint

Wordsmithing
  docs/user/README.md
Due: none

replace treesitter #start-position with .startof (#1682)
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.ts
  queries/javascript.core.scm
  queries/javascript.jsx.scm
Due: eslint

Minor tweaks
  docs/user/README.md
Due: none

Tweaks to runner scripts
  packages/test-harness/src/scripts/runTalonTests.ts
  packages/test-harness/src/scripts/runUnitTestsOnly.ts
Due: eslint

Cleanup test runners
  packages/test-harness/src/runners/extensionTests.ts
  packages/test-harness/src/scripts/runTalonTests.ts
  packages/test-harness/src/scripts/runUnitTestsOnly.ts
  packages/test-harness/src/util/runAllTestsInDir.ts
Due: eslint

Cleanup
  cursorless-talon/src/csv_overrides.py
Due: none

More proper support for navigation map tests
  cursorless-talon-dev/src/spoken_form_test.py
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.test.ts
  packages/cursorless-engine/src/generateSpokenForm/getHatMapCommand.ts
  packages/cursorless-engine/src/test/spokenForms.talon.test.ts
Due: eslint

cleanup
  cursorless-talon-dev/src/spoken_form_test.py
Due: none

tweaks
  packages/cursorless-engine/src/test/fixtures/spokenForms.fixture.ts
Due: eslint

unify `getRecordedTestPaths` handling
  packages/common/src/testUtil/getFixturePaths.ts
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.test.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  packages/cursorless-engine/src/test/spokenForms.talon.test.ts
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
Due: eslint

tweak
  packages/cursorless-engine/src/test/fixtures/spokenForms.fixture.ts
Due: eslint

cleanup
  packages/cursorless-engine/src/test/spokenForms.talon.test.ts
Due: eslint

more cleanup
  packages/cursorless-engine/src/testUtil/TalonRepl.ts
Due: eslint

Eat output to handle possible user warnings
  packages/cursorless-engine/src/test/spokenForms.talon.test.ts
  packages/cursorless-engine/src/testUtil/TalonRepl.ts
Due: eslint

cleanup
  packages/cursorless-engine/src/testUtil/TalonRepl.ts
Due: eslint

rename
  packages/test-harness/src/runners/extensionTests.ts
  packages/test-harness/src/scripts/runTalonTests.ts
  packages/test-harness/src/scripts/runUnitTestsOnly.ts
  packages/test-harness/src/util/runAllTests.ts
Due: eslint

use `asyncSafety`
  packages/common/src/index.ts
  packages/common/src/testUtil/asyncSafety.ts
  packages/cursorless-engine/src/test/spokenForms.talon.test.ts
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/scopeVisualizer.vscode.test.ts
Due: eslint

document short paint (#1698)
  docs/user/README.md
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Due: none

fixed default vocabulary bug
  cursorless-talon/src/csv_overrides.py
Due: none

Cleanup
  packages/cursorless-engine/src/testUtil/TalonRepl.ts
Due: eslint

pre-commit
  cursorless-talon/src/csv_overrides.py
Due: none

Talon side spoken form tests (#1637)
  src/actions/swap.py
  src/apps/cursorless_vscode.py
  src/cheatsheet/cheat_sheet.py
  src/command.py
  src/csv_overrides.py
  src/cursorless.talon
  src/cursorless_command_server.py
  src/cursorless_snippets.talon
  src/scope_visualizer.py
Due: none

Talon side spoken form tests (#1637)
  .vscode/launch.json
  cursorless-talon-dev/src/cursorless_dev.talon
  cursorless-talon-dev/src/default_vocabulary.py
  cursorless-talon-dev/src/spoken_form_test.py
  cursorless-talon/src/actions/swap.py
  cursorless-talon/src/apps/cursorless_vscode.py
  cursorless-talon/src/cheatsheet/cheat_sheet.py
  cursorless-talon/src/command.py
  cursorless-talon/src/csv_overrides.py
  cursorless-talon/src/cursorless.talon
  cursorless-talon/src/cursorless_command_server.py
  cursorless-talon/src/cursorless_snippets.talon
  cursorless-talon/src/scope_visualizer.py
  packages/common/src/index.ts
  packages/common/src/testUtil/asyncSafety.ts
  packages/common/src/testUtil/getFixturePaths.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.test.ts
  packages/cursorless-engine/src/generateSpokenForm/getHatMapCommand.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  packages/cursorless-engine/src/test/fixtures/spokenForms.fixture.ts
  packages/cursorless-engine/src/test/spokenForms.talon.test.ts
  packages/cursorless-engine/src/testUtil/TalonRepl.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/inference/takeVestPastAfterAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/changeInside.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/changeInsidePair.yml
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/scopeVisualizer.vscode.test.ts
  packages/test-harness/src/runners/all.ts
  packages/test-harness/src/runners/extensionTests.ts
  packages/test-harness/src/runners/unitTestsOnly.ts
  packages/test-harness/src/scripts/runTalonTests.ts
  packages/test-harness/src/scripts/runTestsCI.ts
  packages/test-harness/src/scripts/runUnitTestsOnly.ts
  packages/test-harness/src/util/runAllTests.ts
  packages/test-harness/src/util/runAllTestsInDir.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

fix interpolation in logging strings
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
Due: eslint

remove overrides of file.exclude and search.exclude
  .vscode/settings.json
Due: none

fix interpolation in logging strings (#1719)
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
Due: eslint

remove
  packages/cheatsheet/src/lib/cheatsheetLegend.tsx
Due: eslint

modifies local link
  packages/cheatsheet/src/lib/cheatsheetLegend.tsx
Due: eslint
