Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Tighten Talon marks type hints (#1848)
  src/marks/decorated_mark.py
  src/marks/lines_number.py
  src/marks/mark.py
  src/marks/mark_types.py
  src/marks/simple_mark.py
  src/targets/target_types.py
Due: none

Tighten Talon marks type hints (#1848)
  cursorless-talon/src/marks/decorated_mark.py
  cursorless-talon/src/marks/lines_number.py
  cursorless-talon/src/marks/mark.py
  cursorless-talon/src/marks/mark_types.py
  cursorless-talon/src/marks/simple_mark.py
  cursorless-talon/src/targets/target_types.py
Due: none

Add @textFragment to string and comment
  queries/elixir.scm
Due: none

Delete unecessary previous comment test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/elixir/changePreviousComment.yml
Due: format-recorded-tests, check-recorded-test-marks

Remove unwanted .gitignore inclusions
  .gitignore
Due: none

Make defmodule namedFunction iteration scope
  queries/elixir.scm
Due: none

Add comment explaining elixir-ls dependency
  packages/common/src/extensionDependencies.ts
Due: eslint

remove extraneous parens
  queries/go.scm
Due: none

add some tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeBranch3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeEveryBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeEveryBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/chuckBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/chuckBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/chuckBranch3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranch3.yml
Due: format-recorded-tests, check-recorded-test-marks

cull trimRange
  packages/cursorless-engine/src/util/rangeUtils.ts
Due: eslint

make #trim-end! implementation clearer
  packages/common/src/types/Position.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
Due: eslint

allow typescript errors in playground
  pyproject.toml
Due: none

vendor enough of vscode's TextDocument implementation
  packages/common/src/types/text_document.ts
Due: eslint

Tighten and fix Talon actions type hints (#1849)
  src/actions/actions.py
  src/actions/get_text.py
  src/actions/homophones.py
Due: none

Tighten and fix Talon actions type hints (#1849)
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/get_text.py
  cursorless-talon/src/actions/homophones.py
Due: none

Update
  cursorless-talon-dev/src/cursorless_dev.talon
  cursorless-talon-dev/src/cursorless_test.talon
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/ParseTree.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/parseTreeFile.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

fix
  cursorless-talon-dev/src/cursorless_test.talon
Due: none

Fix import
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
Due: eslint

Update hole
  images/hats/hole.svg
Due: none

Update eye
  images/hats/eye.svg
Due: none

Update frame
  images/hats/frame.svg
  packages/cursorless-vscode/src/ide/vscode/hats/shapeAdjustments.ts
Due: eslint

Update crosshairs
  images/hats/crosshairs.svg
Due: none

Added argument to call action
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/call.py
  cursorless-talon/src/cursorless.talon
  cursorless-talon/src/spoken_forms.json
  cursorless-talon/src/spoken_forms.py
Due: none

Added test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/callFineOnBatt.yml
Due: format-recorded-tests, check-recorded-test-marks

Updated cheat sheet
  cursorless-talon/src/cheatsheet/sections/actions.py
Due: none

added spoken form generation
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/callFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/callFineOnBatt.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/callVest.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/callVestOnCap.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added changelog
  changelog/2023-09-addedArgumentTargetToCallAction.md
Due: none

Started implementing join line's action
  cursorless-talon/src/spoken_forms.json
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/JoinLines.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
Due: eslint

Added action and tests
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/JoinLines.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/joinAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/joinAir2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/joinAir3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/joinBlock.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/joinTwoLines.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added changelog
  changelog/2023-09-addedJoinLinesAction.md
Due: none

Updated docs
  docs/user/README.md
Due: none

update
  packages/cursorless-engine/src/actions/JoinLines.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/joinAir4.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update cursorless-talon/src/actions/call.py
  cursorless-talon/src/actions/call.py
Due: none

clean up
  cursorless-talon/src/actions/call.py
Due: none

fix cloning of else-if chains
  data/playground/go/branch.go
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranch3.yml
  queries/go.scm
Due: format-recorded-tests, check-recorded-test-marks

give up on the typescript playground stuff
  data/playground/typescript.ts
  pyproject.toml
Due: eslint

Clarify extension dependency instructions for adding a new language
  docs/contributing/CONTRIBUTING.md
  docs/contributing/adding-a-new-language.md
Due: none

Fix VScode -> VSCode
  docs/contributing/CONTRIBUTING.md
  docs/contributing/adding-a-new-language.md
Due: none

fix talon typo
  docs/contributing/adding-a-new-language.md
Due: none

Updated content range for branch
  packages/cursorless-engine/src/languages/elseIfExtractor.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/rust/clearBranch5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/rust/clearBranch6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/rust/ditchBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearBranch4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearBranch5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/cloneBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/ditchBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/ditchBranch2.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
