Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/|^data/playground/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

switch condition
  data/fixtures/scopes/r/branch/branch.switchCase.scope
  data/fixtures/scopes/r/condition.switchCase.iteration.scope
  data/fixtures/scopes/r/condition.switchCase.scope
  data/fixtures/scopes/r/condition.switchCase2.scope
  data/fixtures/scopes/r/interior/interior.switchCase.scope
  packages/common/src/scopeSupportFacets/r.ts
  queries/r.scm
Due: eslint

Update if statement
  data/fixtures/scopes/r/branch/branch.if.elif.else.scope
  data/fixtures/scopes/r/branch/branch.if.else.scope
  data/fixtures/scopes/r/branch/branch.if.iteration.scope
  data/fixtures/scopes/r/branch/branch.if.scope
  data/fixtures/scopes/r/ifStatement.scope
  data/fixtures/scopes/r/interior/interior.if.scope
  data/fixtures/scopes/r/statement/statement.if.scope
  queries/r.scm
Due: none

Added conditions
  queries/r.scm
Due: none

Update go if scope
  data/fixtures/scopes/go/branch/branch.if.elif.else.scope
  data/fixtures/scopes/go/condition/condition.if.scope
  queries/go.scm
Due: none

Update test
  data/fixtures/recorded/languages/go/chuckBranch.yml
  queries/go.scm
Due: format-recorded-tests, check-recorded-test-marks

Better handling off parameterized expression condition
  queries/go.scm
Due: none

Update comments
  queries/go.scm
Due: none

Document "visible" modifier in user docs
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Update disqualifyDelimiter scope facet fixture
  data/fixtures/scopes/c/disqualifyDelimiter.scope
  data/fixtures/scopes/cpp/disqualifyDelimiter.scope
  data/fixtures/scopes/csharp/disqualifyDelimiter.scope
  data/fixtures/scopes/go/disqualifyDelimiter.scope
  data/fixtures/scopes/java/disqualifyDelimiter.scope
  data/fixtures/scopes/kotlin/disqualifyDelimiter.scope
  data/fixtures/scopes/php/disqualifyDelimiter.scope
  data/fixtures/scopes/python/disqualifyDelimiter.scope
  data/fixtures/scopes/r/disqualifyDelimiter.scope
  data/fixtures/scopes/ruby/disqualifyDelimiter.scope
  data/fixtures/scopes/rust/disqualifyDelimiter.scope
  data/fixtures/scopes/scala/disqualifyDelimiter.scope
  data/fixtures/scopes/scss/disqualifyDelimiter.scope
  data/fixtures/scopes/yaml/disqualifyDelimiter.scope
Due: none

Update tests
  data/fixtures/recorded/surroundingPair/textual/changeInsideMixedQuotes.yml
  data/fixtures/scopes/plaintext/surroundingPair/surroundingPair7.scope
Due: format-recorded-tests, check-recorded-test-marks

Ran last version of tree sitter query formatter
  queries/c.scm
  queries/csharp.scm
  queries/go.scm
  queries/javascript.core.scm
  queries/php.scm
  queries/python.scm
  queries/ruby.scm
  queries/rust.scm
  queries/scala.scm
  queries/yaml.scm
Due: none

restore python queries
  queries/python.scm
Due: none

Increase the threshold when running performance tests on macOS in CI
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
  packages/node-common/src/isOS.ts
Due: eslint

Reintroduce xl threshold
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

allow duration equal to threshold
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

run only performance test for debug reasons
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

update
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Re enable all tests
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Update comment
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Split branch switch case scope into separate files
  data/fixtures/scopes/c/branch/branch.switchCase.scope
  data/fixtures/scopes/c/branch/branch.switchCase2.scope
  data/fixtures/scopes/csharp/branch/branch.switchCase.scope
  data/fixtures/scopes/csharp/branch/branch.switchCase2.scope
  data/fixtures/scopes/go/branch/branch.switchCase.scope
  data/fixtures/scopes/go/branch/branch.switchCase2.scope
  data/fixtures/scopes/java/branch/branch.switchCase.scope
  data/fixtures/scopes/java/branch/branch.switchCase2.scope
  data/fixtures/scopes/javascript.core/branch/branch.switchCase.scope
  data/fixtures/scopes/javascript.core/branch/branch.switchCase2.scope
  data/fixtures/scopes/kotlin/branch/branch.switchCase.scope
  data/fixtures/scopes/kotlin/branch/branch.switchCase2.scope
  data/fixtures/scopes/python/branch/branch.switchCase2.scope
  data/fixtures/scopes/r/branch/branch.switchCase.scope
  data/fixtures/scopes/r/branch/branch.switchCase2.scope
  data/fixtures/scopes/r/branch/branch.switchCase3.scope
  data/fixtures/scopes/rust/branch/branch.switchCase2.scope
  data/fixtures/scopes/scala/branch/branch.switchCase2.scope
Due: none

Use for each instead of map when registering neovim commands
  packages/cursorless-neovim/src/registerCommands.ts
Due: eslint

More fixes
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHats.ts
  packages/cursorless-vscode/src/scripts/initLaunchSandbox.ts
Due: eslint

More fixes
  packages/common/src/types/Position.ts
  packages/cursorless-vscode/src/keyboard/KeyboardHandler.ts
Due: eslint

Fix snippet parser
  packages/cursorless-engine/src/snippets/vendor/vscodeSnippet/snippetParser.ts
Due: none

font measurement
  packages/cursorless-vscode/src/ide/vscode/hats/FontMeasurementsImpl.ts
Due: eslint

handle string to integer conversion better
  packages/common/src/types/Position.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/operatorArgumentSchemaTypes.ts
Due: eslint

dispose of status bar
  packages/cursorless-vscode/src/StatusBarItem.ts
  packages/cursorless-vscode/src/extension.ts
Due: eslint

more fixes
  packages/cursorless-vscode/src/VscodeSnippets.ts
  packages/cursorless-vscode/src/ide/vscode/hats/FontMeasurementsImpl.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Added stringToInteger utility
  packages/common/src/types/Position.ts
  packages/common/src/util/stringUtils.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/operatorArgumentSchemaTypes.ts
Due: eslint

Cleanup
  packages/common/src/types/Position.ts
  packages/common/src/util/stringUtils.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/operatorArgumentSchemaTypes.ts
Due: eslint

language definitions and quick pick
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-vscode/src/ide/vscode/vscodeShowQuickPick.ts
Due: eslint

more fixes
  packages/common/src/util/Notifier.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
Due: eslint

more
  packages/common/src/util/Notifier.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
Due: eslint

more fix
  packages/cursorless-engine/src/actions/EditNew/runNotebookCellTargets.ts
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
Due: eslint

more fixes
  packages/cursorless-engine/src/core/IndividualHatMap.ts
  packages/cursorless-engine/src/core/updateSelections/RangeUpdater.ts
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/scopeProviders/ScopeRangeWatcher.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportWatcher.ts
  packages/cursorless-engine/src/util/performDocumentEdits.ts
  packages/cursorless-vscode/src/SpyWebviewView.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Small clean up
  packages/cursorless-engine/src/core/updateSelections/RangeUpdater.ts
Due: eslint

More cleanup
  packages/cursorless-engine/src/core/updateSelections/RangeUpdater.ts
Due: eslint

prettier
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportWatcher.ts
Due: eslint

update
  packages/common/src/util/CompositeKeyMap.ts
  packages/common/src/util/blendColors.ts
  packages/cursorless-engine/src/core/updateSelections/RangeUpdater.ts
Due: eslint

update comment
  packages/cursorless-engine/src/core/updateSelections/RangeUpdater.ts
Due: eslint
