Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Tighten Talon marks type hints
  cursorless-talon/src/marks/decorated_mark.py
  cursorless-talon/src/marks/lines_number.py
  cursorless-talon/src/marks/mark.py
  cursorless-talon/src/marks/mark_types.py
  cursorless-talon/src/marks/simple_mark.py
  cursorless-talon/src/targets/target_types.py
Due: none

Tighten and fix Talon actions type hints
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/get_text.py
  cursorless-talon/src/actions/homophones.py
Due: none

Type hint Talon cheatsheet get_list
  cursorless-talon/src/cheatsheet/get_list.py
Due: none

csv_overrides: Add stronger type hints
  cursorless-talon/src/csv_overrides.py
Due: none

Added setting for hat shape overrides
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Updated settings name
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

memoize minimumTokenRankContainingGrapheme (#1825)
  packages/cursorless-engine/src/util/allocateHats/HatMetrics.ts
Due: eslint

improve names
  packages/cursorless-engine/src/util/allocateHats/allocateHats.ts
Due: eslint

fix typos
  docs/user/experimental/keyboard/modal.md
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/core/HatTokenMapImpl.ts
  packages/cursorless-engine/src/core/compareSnippetDefinitions.ts
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
  packages/cursorless-engine/src/languages/branchMatcher.ts
  packages/cursorless-engine/src/processTargets/modifiers/EveryScopeStage.ts
  packages/cursorless-engine/src/tokenizer/tokenizer.ts
  packages/cursorless-engine/src/util/allocateHats/allocateHats.ts
  packages/cursorless-engine/src/util/unifyRanges.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
Due: eslint

optimize getTokenRemainingHatCandidates (#1838)
  packages/cursorless-engine/src/util/allocateHats/allocateHats.ts
Due: eslint

fix typos (#1856)
  docs/user/experimental/keyboard/modal.md
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/core/HatTokenMapImpl.ts
  packages/cursorless-engine/src/core/compareSnippetDefinitions.ts
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
  packages/cursorless-engine/src/languages/branchMatcher.ts
  packages/cursorless-engine/src/processTargets/modifiers/EveryScopeStage.ts
  packages/cursorless-engine/src/tokenizer/tokenizer.ts
  packages/cursorless-engine/src/util/allocateHats/allocateHats.ts
  packages/cursorless-engine/src/util/unifyRanges.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
Due: eslint

migrate Python scope 'comment'
  packages/cursorless-engine/src/languages/python.ts
  queries/python.scm
Due: eslint

Added error message
  packages/common/src/util/walkAsync.ts
  packages/cursorless-engine/src/core/Snippets.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

start on hat stats and golden tests
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/testUtil/mockEditor.test.ts
  packages/common/src/testUtil/mockEditor.ts
  packages/common/src/types/Range.ts
  packages/cursorless-engine/src/core/hatStats.test.ts
  packages/cursorless-engine/src/test/fixtures/hat-stats/intern.go
  packages/cursorless-engine/src/test/fixtures/hat-stats/intern.go.golden
  packages/cursorless-engine/src/test/fixtures/hat-stats/intern.go.stats
  packages/cursorless-engine/src/test/fixtures/hat-stats/mending_wall.txt
  packages/cursorless-engine/src/test/fixtures/hat-stats/mending_wall.txt.golden
  packages/cursorless-engine/src/test/fixtures/hat-stats/mending_wall.txt.stats
  packages/cursorless-engine/src/test/fixtures/hat-stats/readme.md
  packages/cursorless-engine/src/test/fixtures/hat-stats/the_bells.txt
  packages/cursorless-engine/src/test/fixtures/hat-stats/the_bells.txt.golden
  packages/cursorless-engine/src/test/fixtures/hat-stats/the_bells.txt.stats
  pnpm-lock.yaml
Due: eslint

improve hat-stats readme
  packages/cursorless-engine/src/test/fixtures/hat-stats/readme.md
Due: none

add launch task to update fixtures for unit tests only
  .vscode/launch.json
Due: none

add gitattributes to fix crlf issues on windows (i hope)
  .gitattributes
Due: none

add elixir sample from river (thanks!)
  packages/cursorless-engine/src/test/fixtures/hat-stats/river.ex
  packages/cursorless-engine/src/test/fixtures/hat-stats/river.ex.golden
  packages/cursorless-engine/src/test/fixtures/hat-stats/river.ex.stats
Due: none

try fixing \r\n a different way
  packages/cursorless-engine/src/core/hatStats.test.ts
Due: eslint

Created file watcher in vscode file system
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFileSystem.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHats.ts
Due: eslint

Check version
  packages/cursorless-vscode/src/ide/vscode/VscodeFileSystem.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

recorded tests for 'take string' for various Python strings
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeString2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeString3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeString4.yml
Due: format-recorded-tests, check-recorded-test-marks

migrate Python scope 'string'.
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/python.ts
  queries/python.scm
Due: eslint

Fix text fragment extractor fallbacks
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/index.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString7.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString8.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Fixes
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/index.ts
Due: eslint

Remove incorrect test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/changeString2.yml
Due: format-recorded-tests, check-recorded-test-marks

Use vscode file watcher
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHats.ts
Due: eslint

Scanned recursively
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

disposables
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

normalize paths from subset file so they work on Windows
  packages/test-harness/src/testSubset.ts
Due: eslint

minor contributing docs
  docs/contributing/CONTRIBUTING.md
Due: none

Updated hat shape svg and associated settings
  data/playground/hat-test.txt
  images/hats/bolt.svg
  images/hats/crosshairs.svg
  images/hats/curve.svg
  images/hats/default.svg
  images/hats/ex.svg
  images/hats/eye.svg
  images/hats/fox.svg
  images/hats/frame.svg
  images/hats/hole.svg
  images/hats/play.svg
  images/hats/wing.png
  images/hats/wing.svg
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/hats/shapeAdjustments.ts
Due: eslint

Update hole
  images/hats/hole.svg
Due: none

Update adding-a-new-language.md
  docs/contributing/adding-a-new-language.md
Due: none

Support generic scoped types for java
  packages/cursorless-engine/src/languages/java.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeType.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

add data playground for statements and strings
  data/playground/python/statements.py
  data/playground/python/strings.py
Due: none

Added ts `as` and `satisfices` support for `type` scope
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType4.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Disable talonfmt
  .pre-commit-config.yaml
Due: none

Made interface names targetable as keys
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeKey.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
