Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Migrate php value scope
  data/fixtures/recorded/languages/php/changeValue.yml
  data/fixtures/recorded/languages/php/changeValue2.yml
  data/fixtures/recorded/languages/php/changeValue3.yml
  data/fixtures/recorded/languages/php/changeValue4.yml
  data/fixtures/recorded/languages/php/changeValue5.yml
  data/fixtures/recorded/languages/php/changeValue6.yml
  data/fixtures/recorded/languages/php/changeValue7.yml
  data/fixtures/recorded/languages/php/chuckValue.yml
  data/fixtures/recorded/languages/php/chuckValue10.yml
  data/fixtures/recorded/languages/php/chuckValue2.yml
  data/fixtures/recorded/languages/php/chuckValue3.yml
  data/fixtures/recorded/languages/php/chuckValue4.yml
  data/fixtures/recorded/languages/php/chuckValue5.yml
  data/fixtures/recorded/languages/php/chuckValue6.yml
  data/fixtures/recorded/languages/php/chuckValue7.yml
  data/fixtures/recorded/languages/php/chuckValue8.yml
  data/fixtures/recorded/languages/php/chuckValue9.yml
  data/fixtures/scopes/php/key.mapPair.scope
  data/fixtures/scopes/php/name.assignment.scope
  data/fixtures/scopes/php/name.assignment2.scope
  data/fixtures/scopes/php/name.variable.scope
  data/fixtures/scopes/php/value.assignment.scope
  data/fixtures/scopes/php/value.assignment2.scope
  data/fixtures/scopes/php/value.mapPair.scope
  data/fixtures/scopes/php/value.return.scope
  data/fixtures/scopes/php/value.variable.scope
  data/fixtures/scopes/php/value.yield.scope
  packages/common/src/scopeSupportFacets/php.ts
  packages/cursorless-engine/src/languages/php.ts
  queries/php.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Migrate php type scopes
  data/fixtures/recorded/languages/php/changeType.yml
  data/fixtures/recorded/languages/php/changeType2.yml
  data/fixtures/recorded/languages/php/changeType3.yml
  data/fixtures/recorded/languages/php/changeType4.yml
  data/fixtures/recorded/languages/php/changeType5.yml
  data/fixtures/recorded/languages/php/changeType6.yml
  data/fixtures/recorded/languages/php/chuckType.yml
  data/fixtures/recorded/languages/php/chuckType2.yml
  data/fixtures/recorded/languages/php/chuckType3.yml
  data/fixtures/recorded/languages/php/chuckType4.yml
  data/fixtures/recorded/languages/php/chuckType5.yml
  data/fixtures/scopes/php/name.argument.formal.iteration.scope
  data/fixtures/scopes/php/name.argument.formal.scope
  data/fixtures/scopes/php/name.argument.formal2.scope
  data/fixtures/scopes/php/name.field.scope
  data/fixtures/scopes/php/type.argument.formal.iteration.scope
  data/fixtures/scopes/php/type.argument.formal.scope
  data/fixtures/scopes/php/type.argument.formal2.scope
  data/fixtures/scopes/php/type.argument.formal3.scope
  data/fixtures/scopes/php/type.cast.scope
  data/fixtures/scopes/php/type.field.scope
  packages/common/src/scopeSupportFacets/php.ts
  packages/cursorless-engine/src/languages/php.ts
  queries/php.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Migrate php argument scope
  data/fixtures/recorded/languages/php/changeArg.yml
  data/fixtures/recorded/languages/php/changeArg10.yml
  data/fixtures/recorded/languages/php/changeArg2.yml
  data/fixtures/recorded/languages/php/changeArg3.yml
  data/fixtures/recorded/languages/php/changeArg4.yml
  data/fixtures/recorded/languages/php/changeArg5.yml
  data/fixtures/recorded/languages/php/changeArg6.yml
  data/fixtures/recorded/languages/php/changeArg7.yml
  data/fixtures/recorded/languages/php/changeArg8.yml
  data/fixtures/recorded/languages/php/changeArg9.yml
  data/fixtures/recorded/languages/php/changeEveryArg.yml
  data/fixtures/recorded/languages/php/chuckArg.yml
  data/fixtures/recorded/languages/php/chuckArg10.yml
  data/fixtures/recorded/languages/php/chuckArg2.yml
  data/fixtures/recorded/languages/php/chuckArg3.yml
  data/fixtures/recorded/languages/php/chuckArg4.yml
  data/fixtures/recorded/languages/php/chuckArg5.yml
  data/fixtures/recorded/languages/php/chuckArg6.yml
  data/fixtures/recorded/languages/php/chuckArg7.yml
  data/fixtures/recorded/languages/php/chuckArg8.yml
  data/fixtures/recorded/languages/php/chuckArg9.yml
  data/fixtures/recorded/languages/php/chuckEveryArg.yml
  data/fixtures/scopes/php/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/php/argument.actual.constructor.scope
  data/fixtures/scopes/php/argument.actual.iteration.scope
  data/fixtures/scopes/php/argument.actual.method.iteration.scope
  data/fixtures/scopes/php/argument.actual.method.scope
  data/fixtures/scopes/php/argument.actual.scope
  data/fixtures/scopes/php/argument.formal.constructor.iteration.scope
  data/fixtures/scopes/php/argument.formal.constructor.scope
  data/fixtures/scopes/php/argument.formal.iteration.scope
  data/fixtures/scopes/php/argument.formal.method.iteration.scope
  data/fixtures/scopes/php/argument.formal.method.scope
  data/fixtures/scopes/php/argument.formal.scope
  packages/common/src/scopeSupportFacets/php.ts
  packages/cursorless-engine/src/languages/php.ts
  queries/php.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added `CURSORLESS_MODE` environment variable
  .vscode/launch.json
  packages/common/src/index.ts
  packages/common/src/testUtil/isTesting.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeEnabledHatStyleManager.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeRunMode.ts
  packages/cursorless-vscode/src/registerCommands.ts
  packages/test-harness/package.json
Due: eslint

Added test
  data/fixtures/recorded/surroundingPair/parseTree/cpp/changePair.yml
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterRegex.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Raise exception if fallback is not found
  cursorless-talon/src/fallback.py
Due: none

Added more information to command history analyzer
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
Due: eslint

Fix percentage
  packages/cursorless-engine/src/CommandHistoryAnalyzer.ts
Due: eslint

Switch fs to async
  packages/cursorless-vscode/src/scripts/preprocessSvgHats.ts
Due: eslint

Lint to prevent floating promises
  .eslintrc.json
Due: none

enable project
  .eslintrc.json
Due: none

added void
  .eslintrc.json
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFlashHandler.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModalLayer.ts
  packages/cursorless-vscode/src/scripts/initLaunchSandbox.ts
  packages/cursorless-vscode/src/scripts/preprocessSvgHats.ts
  packages/test-harness/src/scripts/runTestsCI.ts
  packages/test-harness/src/scripts/runUnitTestsOnly.ts
Due: eslint

Exclude playground
  .eslintrc.json
Due: none

Added void
  packages/cursorless-vscode/src/extension.ts
Due: eslint

More void
  .eslintrc.json
  packages/cursorless-vscode/src/logQuickActions.ts
Due: eslint

revert
  .eslintrc.json
Due: none

Make arguments to engine optional (#2477)
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/core/Debug.ts
  packages/cursorless-engine/src/core/HatTokenMapImpl.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/getCommandFallback.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/disabledComponents/DisabledCommandServerApi.ts
  packages/cursorless-engine/src/disabledComponents/DisabledHatTokenMap.ts
  packages/cursorless-engine/src/runCommand.ts
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
  packages/cursorless-vscode/src/extension.ts
  packages/vscode-common/src/getExtensionApi.ts
Due: eslint

tweaks
  packages/common/src/ide/types/RawTreeSitterQueryProvider.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/disabledComponents/DisabledLanguageDefinitions.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
Due: eslint

fixed
  .eslintrc.json
  packages/common/src/testUtil/runRecordedTest.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/ide/vscode/hats/FontMeasurementsImpl.ts
  packages/test-harness/src/scripts/runTalonTests.ts
Due: eslint

fix
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-vscode/src/extension.ts
Due: eslint

Make constructor private
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
Due: eslint

work work
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
  packages/cursorless-vscode/src/VscodeSnippets.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHats.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandHandler.ts
  packages/cursorless-vscode/src/keyboard/KeyboardHandler.ts
  packages/cursorless-vscode/src/scripts/populateDist/index.ts
Due: eslint

more tweaks
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-vscode/src/extension.ts
Due: eslint

Remove singleton
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
Due: eslint

doc string
  packages/common/src/ide/types/RawTreeSitterQueryProvider.ts
Due: eslint

Added Tree sitter provider (#2488)
  packages/common/src/ide/types/RawTreeSitterQueryProvider.ts
  packages/common/src/index.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/disabledComponents/DisabledLanguageDefinitions.ts
  packages/cursorless-engine/src/disabledComponents/DisabledTreeSitter.ts
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/LegacyContainingSyntaxScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/index.ts
  packages/cursorless-vscode/src/extension.ts
  packages/file-system-common/src/FileSystemLanguageDefinitionsProvider.ts
  packages/file-system-common/src/index.ts
Due: eslint

stuff
  .eslintrc.json
  packages/cursorless-engine/src/actions/Find.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/actions/ShowParseTree.ts
  packages/cursorless-engine/src/actions/Sort.ts
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/BaseTreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/WordScopeHandler/WordScopeHandler.ts
  packages/cursorless-engine/src/scopeProviders/ScopeRangeWatcher.ts
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
  packages/cursorless-vscode/src/keyboard/KeyboardConfig.ts
Due: eslint

docs
  .eslintrc.json
Due: none

fix
  packages/cursorless-engine/src/actions/InsertCopy.ts
  packages/cursorless-engine/src/actions/Replace.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-engine/src/snippets/snippet.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCase.ts
  packages/cursorless-vscode-e2e/src/endToEndTestSetup.ts
  packages/cursorless-vscode/src/keyboard/KeyboardActionType.ts
  packages/cursorless-vscode/src/usingSetting.ts
Due: eslint

Support custom spoken forms for actions
  cursorless-talon/src/spoken_forms.py
  data/fixtures/recorded/actions/parseTreeFile.yml
  packages/cursorless-engine/src/customCommandGrammar/lexer.ts
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.test.ts
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.ts
  packages/cursorless-engine/src/scopeProviders/TalonSpokenForms.ts
  packages/cursorless-engine/src/spokenForms/SpokenFormType.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

fixed dependences
  packages/cursorless-talon-js/package.json
  packages/cursorless-talon-js/src/ide/TalonJsConfiguration.ts
  packages/cursorless-talon-js/src/ide/TalonJsIDE.ts
  pnpm-lock.yaml
Due: eslint

Support custom spoken forms for actions (#2334)
  cursorless-talon/src/spoken_forms.py
  data/fixtures/recorded/actions/parseTreeFile.yml
  packages/cursorless-engine/src/customCommandGrammar/lexer.ts
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.test.ts
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-engine/src/generateSpokenForm/generateSpokenForm.ts
  packages/cursorless-engine/src/scopeProviders/TalonSpokenForms.ts
  packages/cursorless-engine/src/spokenForms/SpokenFormType.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Support custom spoken forms for actions (#2334)
  src/spoken_forms.py
Due: none

Support custom spoken forms for graphemes
  cursorless-talon/src/get_grapheme_spoken_form_entries.py
  cursorless-talon/src/spoken_forms.py
  cursorless-talon/src/spoken_forms_output.py
  data/fixtures/recorded/hatTokenMap/sendEmoji.yml
  data/fixtures/recorded/scope/glyph/clearNextGlyphOnyx.yml
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.test.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/scopeProviders/TalonSpokenForms.ts
  packages/cursorless-engine/src/spokenForms/SpokenFormType.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  packages/cursorless-engine/src/spokenForms/graphemes.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

clean up
  packages/cursorless-talon-js/esbuild.ts
  packages/cursorless-talon-js/package.json
  packages/cursorless-talon-js/src/TalonJsFileSystem.ts
  packages/cursorless-talon-js/src/TalonJsHats.ts
  packages/cursorless-talon-js/src/TalonJsSnippets.ts
  packages/cursorless-talon-js/src/TalonJsTreeSitter.ts
  packages/cursorless-talon-js/src/extension.ts
  pnpm-lock.yaml
Due: eslint

Added dependencies
  packages/cursorless-talon-js/package.json
Due: none

luck
  pnpm-lock.yaml
Due: none

Rename package to node common
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeRunMode.ts
  packages/cursorless-vscode/tsconfig.json
  packages/file-system-common/src/index.ts
  packages/node-common/package.json
  packages/node-common/src/FileSystemCommandHistoryStorage.ts
  packages/node-common/src/FileSystemTalonSpokenForms.ts
  packages/node-common/src/getEnvironmentalMode.ts
  packages/node-common/src/index.ts
  packages/node-common/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint

Remove node from sleep util
  packages/common/src/util/sleep.ts
Due: eslint

Support custom spoken forms for graphemes (#2465)
  src/get_grapheme_spoken_form_entries.py
  src/spoken_forms.py
  src/spoken_forms_output.py
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
