Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Add some warning comments
  queries/haskell.scm
  queries/haskell/haskell.branch.iteration.scm
  queries/haskell/haskell.functionName.scm
  queries/haskell/haskell.name.function.scm
  queries/haskell/haskell.namedFunction.scm
Due: none

Add list & string
  queries/haskell.md
  queries/haskell.scm
  queries/haskell/haskell.list.scm
  queries/haskell/haskell.string.scm
Due: none

Add anonymousFunction
  queries/haskell/haskell.anonymousFunction.scm
Due: none

Add name.function
  queries/haskell.md
Due: none

consistent comments
  queries/haskell.branch.iteration.scm
  queries/haskell.branch.scm
  queries/haskell.functionName.scm
  queries/haskell.name.function.scm
  queries/haskell.namedFunction.scm
Due: none

Why????
  queries/haskell.branch.iteration.scm
  queries/haskell.branch.scm
  queries/haskell.scm
Due: none

Add call & callee
  data/playground/haskell/branch.hs
  queries/haskell.scm
  queries/haskell/haskell.argumentOrParameter.scm
  queries/haskell/haskell.functionCall.scm
  queries/haskell/haskell.functionCallee.scm
Due: none

Add @branch and @branch.iteration
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/branch.match1.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/branch.match2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/branch.match3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/branch.match4.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/branch.match5.scope
  queries/haskell.branch.scm
Due: none

Group queries a little bit more closely by relation
  data/playground/haskell/branch.hs
  packages/common/src/scopeSupportFacets/haskell.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/branch.if1.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/branch.if2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/branch.if3.scope
  queries/haskell.md
  queries/haskell.scm
  queries/haskell/haskell.argumentOrParameter.iteration.scm
  queries/haskell/haskell.argumentOrParameter.scm
  queries/haskell/haskell.branch.scm
  queries/haskell/haskell.functionApplication.scm
  queries/haskell/haskell.functionDeclaration.scm
  queries/haskell/haskell.functionName.scm
  queries/haskell/haskell.name.function.scm
  queries/haskell/haskell.namedFunction.scm
Due: eslint

Move files & add argumentOrParameter iteration tests
  data/playground/haskell/branch.hs
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argumentOrParameter.iteration1.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argumentOrParameter.iteration2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argumentOrParameter.iteration3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argumentOrParameter.iteration4.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argumentOrParameter.iteration5.scope
  queries/haskell.disabled/haskell.argumentOrParameter.scm
  queries/haskell.scm
  queries/haskell/haskell.argumentOrParameter.iteration.scm
  queries/haskell/haskell.argumentOrParameter.scm
  queries/haskell/haskell.branch.iteration.scm
  queries/haskell/haskell.branch.scm
  queries/haskell/haskell.functionName.scm
  queries/haskell/haskell.name.function.scm
  queries/haskell/haskell.namedFunction.scm
Due: none

Basic support for map & move anonymousFunction, functionCall, functionCallee, list, string to main file
  queries/haskell.scm
  queries/haskell/haskell.anonymousFunction.scm
  queries/haskell/haskell.functionCall.scm
  queries/haskell/haskell.functionCallee.scm
  queries/haskell/haskell.list.scm
  queries/haskell/haskell.string.scm
Due: none

Update haskell.md
  queries/haskell.md
Due: none

I don't know what's happening.
  queries/haskell.disabled/haskell.argumentOrParameter.scm
  queries/haskell.disabled/haskell.branch.iteration.scm
  queries/haskell.disabled/haskell.branch.scm
  queries/haskell.disabled/haskell.condition.scm
  queries/haskell.disabled/haskell.value.scm
  queries/haskell.scm
Due: none

Add roadmap
  queries/haskell.md
Due: none

Remove URL
  packages/cursorless-vscode-e2e/src/scripts/generateScopeTestsForHaskell.mts
Due: none

*actual -> formal
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.formal.iteration1.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.formal.iteration2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.formal.iteration3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.formal.iteration4.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.formal.iteration5.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.formal1.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.formal2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.formal3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.formal4.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.formal5.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.formal6.scope
Due: none

Fixes to scope support
  packages/common/src/scopeSupportFacets/haskell.ts
Due: eslint

Rebase on top of HEAD and disable previous queries and supported scopes
  packages/common/src/scopeSupportFacets/haskell.ts
  queries/haskell.disabled/haskell.branch.scm
  queries/haskell.disabled/haskell.functionApplication.scm
  queries/haskell.disabled/haskell.functionDeclaration.scm
  queries/haskell.scm
  queries/haskell.scm.disabled
Due: eslint

Cleanup
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairInteriorScopeHandler.ts
Due: eslint

Don't use multiline pairs for head/tail modifier. (#2659)
  data/fixtures/recorded/headTail/changeTail3.yml
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/HeadTailStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairInteriorScopeHandler.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added iteration scope for csharp functions
  data/fixtures/scopes/csharp/functionName.method.iteration.class.scope
  data/fixtures/scopes/csharp/namedFunction.method.iteration.class.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
Due: eslint

Added iteration scope for csharp functions (#2665)
  data/fixtures/scopes/csharp/functionName.method.iteration.class.scope
  data/fixtures/scopes/csharp/namedFunction.method.iteration.class.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
Due: eslint

bump webpack, next, pnpm
  package.json
  packages/cheatsheet-local/package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Due: none

bump webpack, next, pnpm (#2666)
  package.json
  packages/cheatsheet-local/package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Due: none

Add test for recently fixed Kotlin parse.
  data/fixtures/recorded/languages/kotlin/changeCall5.yml
  queries/kotlin.scm
Due: format-recorded-tests, check-recorded-test-marks

Added test for Kotlin referring to null node.
  data/fixtures/recorded/languages/kotlin/changeValue13.yml
Due: format-recorded-tests, check-recorded-test-marks

Added tests for recently-fixed Kotlin functionality. (#2668)
  data/fixtures/recorded/languages/kotlin/changeCall5.yml
  data/fixtures/recorded/languages/kotlin/changeValue13.yml
  queries/kotlin.scm
Due: format-recorded-tests, check-recorded-test-marks

Reset some versions
  package.json
  packages/cheatsheet-local/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode/package.json
  packages/neovim-common/package.json
  packages/vscode-common/package.json
  pnpm-lock.yaml
Due: none

pnpm dedupe
  pnpm-lock.yaml
Due: none

attempt to fix CI
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Due: none

another CI fix
  package.json
  packages/cheatsheet-local/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode/package.json
  pnpm-lock.yaml
Due: none

bump node.js to fix CI
  .nvmrc
  package.json
  packages/cheatsheet-local/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode/package.json
  pnpm-lock.yaml
Due: none

Another attempt to fix CI
  .nvmrc
Due: none

Another fixed attempt
  .nvmrc
Due: none

fix CI again
  packages/cursorless-vscode/package.json
Due: none

Fix relative links
  packages/cursorless-org-docs/docusaurus.config.mts
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
