Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

fix
  packages/cursorless-vscode/src/VscodeSnippets.ts
Due: eslint

Update cursorless-talon/src/snippets.py
  cursorless-talon/src/snippets.py
Due: none

fix
  cursorless-talon/src/snippets.py
Due: none

Clean up
  cursorless-talon/src/snippets.py
Due: none

Fix
  cursorless-talon/src/snippets.py
Due: none

Keyword argument
  cursorless-talon/src/snippets.py
Due: none

fix
  data/fixtures/recorded/actions/snippets/snipIfAfterAirAndBat.yml
Due: format-recorded-tests, check-recorded-test-marks

Update snippet
  data/fixtures/recorded/actions/snippets/tryWrapThis.yml
Due: format-recorded-tests, check-recorded-test-marks

Update test
  data/fixtures/recorded/actions/snippets/tryWrapThis.yml
Due: format-recorded-tests, check-recorded-test-marks

Properly fixed test
  data/fixtures/recorded/actions/snippets/tryWrapThis.yml
Due: format-recorded-tests, check-recorded-test-marks

Added that mark
  data/fixtures/recorded/implicitExpansion/funkWrapPastInk.yml
Due: format-recorded-tests, check-recorded-test-marks

Migrate Cursorless formatter names to community
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Update test
  data/fixtures/recorded/implicitExpansion/funkWrapPastInk.yml
Due: format-recorded-tests, check-recorded-test-marks

Removed that
  data/fixtures/recorded/implicitExpansion/funkWrapPastInk.yml
Due: format-recorded-tests, check-recorded-test-marks

Apply suggestions from code review
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Name fix
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Migrate Cursorless formatter names to community (#2819)
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Migrate snippets support to community snippets, support multiple snippets (#2804)
  src/actions/generate_snippet.py
  src/check_community_repo.py
  src/snippet_cursorless.talon
  src/snippet_types.py
  src/snippets.py
  src/snippets.talon
  src/snippets_deprecated.py
  src/spoken_forms.py
Due: none

Re-add deprecated wrapper snippet lists
  cursorless-talon/src/snippets_deprecated.py
Due: none

Added git actions
  cursorless-talon/src/spoken_forms.json
  packages/common/src/ide/fake/FakeCapabilities.ts
  packages/common/src/ide/types/CommandId.ts
  packages/common/src/types/TextEditor.ts
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/SimpleIdeCommandActions.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsCapabilities.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeCapabilities.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
  packages/neovim-common/src/ide/neovim/NeovimCapabilities.ts
  packages/neovim-common/src/ide/neovim/NeovimTextEditorImpl.ts
Due: eslint

Added fallback for insert copy after
  cursorless-talon/src/fallback.py
Due: none

Re-add deprecated wrapper snippet lists (#2820)
  cursorless-talon/src/snippets_deprecated.py
Due: none

Re-add deprecated wrapper snippet lists (#2820)
  src/snippets_deprecated.py
Due: none

Upgrade corepack for neovim publish
  .github/workflows/deploy.yaml
Due: none

Use `snip` as the spoken form for snippets
  cursorless-talon/src/spoken_forms.json
Due: none

Use pnpm/action-setup in workflows
  .github/workflows/deploy.yaml
  .github/workflows/pr-description.yaml
  .github/workflows/pre-commit.yml
  .github/workflows/test-docs.yml
  .github/workflows/test.yml
Due: none

Remove fetch depth
  .github/workflows/deploy.yaml
Due: none

Update javascript scope facets
  data/fixtures/scopes/javascript.core/branch.try.iteration.scope
  data/fixtures/scopes/javascript.core/condition.switchCase.iteration.scope
  data/fixtures/scopes/javascript.core/name.iteration.document.scope
  data/fixtures/scopes/javascript.core/statement.class.scope
  data/fixtures/scopes/javascript.core/value.yield.scope
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/typescript.ts
  queries/javascript.core.scm
Due: eslint

Adding missing python facets
  data/fixtures/scopes/python/name.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/python/name.argument.formal.constructor.scope
  data/fixtures/scopes/python/name.argument.formal.iteration.scope
  data/fixtures/scopes/python/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/python/name.argument.formal.method.scope
  data/fixtures/scopes/python/name.argument.formal.scope
  data/fixtures/scopes/python/name.assignment.pattern.scope
  data/fixtures/scopes/python/name.assignment.scope
  data/fixtures/scopes/python/name.class.scope
  data/fixtures/scopes/python/name.constructor.scope
  data/fixtures/scopes/python/name.field.scope
  data/fixtures/scopes/python/name.function.scope
  packages/common/src/scopeSupportFacets/python.ts
Due: eslint

Update pattern
  queries/javascript.core.scm
Due: none

Updates switch iteration
  data/fixtures/scopes/python/branch.switchCase.iteration.scope
  data/fixtures/scopes/python/condition.for.scope
  data/fixtures/scopes/python/condition.switchCase.iteration.scope
  packages/common/src/scopeSupportFacets/python.ts
  queries/python.scm
Due: eslint

Update tests
  data/fixtures/scopes/python/functionName.iteration.scope
  data/fixtures/scopes/python/functionName.method.iteration.class.scope
  data/fixtures/scopes/python/ifStatement.scope
  data/fixtures/scopes/python/namedFunction.iteration.scope
  data/fixtures/scopes/python/value.argument.formal.method.scope
  data/fixtures/scopes/python/value.argument.formal.scope
  packages/common/src/scopeSupportFacets/python.ts
  queries/python.scm
Due: eslint

More tests
  data/fixtures/scopes/python/namedFunction.method.iteration.class.scope
  packages/common/src/scopeSupportFacets/python.ts
  queries/python.scm
Due: eslint

More tests
  data/fixtures/scopes/python/key.mapPair.iteration.scope
  packages/common/src/scopeSupportFacets/python.ts
  queries/python.scm
Due: eslint

Support forced language mode for snippets
  cursorless-talon/src/command.py
  cursorless-talon/src/cursorless.talon
  cursorless-talon/src/snippet_types.py
  cursorless-talon/src/snippets.talon
  cursorless-talon/src/snippets/snippet_types.py
  cursorless-talon/src/snippets/snippets.py
  cursorless-talon/src/snippets/snippets_deprecated.py
  cursorless-talon/src/snippets/snippets_get.py
  packages/cursorless-engine/src/core/getPreferredSnippet.ts
Due: eslint

Ignore static methods instead of setting to none
  cursorless-talon/src/command.py
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
