Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Make cheat sheet handle missing spoken forms (#2760)
  src/cheatsheet/get_list.py
  src/cheatsheet/sections/actions.py
  src/cheatsheet/sections/compound_targets.py
  src/cheatsheet/sections/destinations.py
  src/cheatsheet/sections/get_scope_visualizer.py
  src/cheatsheet/sections/modifiers.py
  src/cheatsheet/sections/scopes.py
  src/cheatsheet/sections/special_marks.py
  src/cheatsheet/sections/tutorial.py
Due: none

Make cheat sheet handle missing spoken forms (#2760)
  cursorless-talon/src/cheatsheet/get_list.py
  cursorless-talon/src/cheatsheet/sections/actions.py
  cursorless-talon/src/cheatsheet/sections/compound_targets.py
  cursorless-talon/src/cheatsheet/sections/destinations.py
  cursorless-talon/src/cheatsheet/sections/get_scope_visualizer.py
  cursorless-talon/src/cheatsheet/sections/modifiers.py
  cursorless-talon/src/cheatsheet/sections/scopes.py
  cursorless-talon/src/cheatsheet/sections/special_marks.py
  cursorless-talon/src/cheatsheet/sections/tutorial.py
Due: none

comment
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/isHintsEveryScope.ts
Due: eslint

rename
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/BaseTreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/isHintsEveryScope.ts
Due: eslint

Update packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedScopeHandler.ts
Due: eslint

Update packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/isHintsEveryScope.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/isHintsEveryScope.ts
Due: eslint

Doc string
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/getCollectionItemRemovalRange.ts
Due: eslint

Update packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/getCollectionItemRemovalRange.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/getCollectionItemRemovalRange.ts
Due: eslint

Refactor
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/getCollectionItemRemovalRange.ts
Due: eslint

fix
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/getCollectionItemRemovalRange.ts
Due: eslint

Update domain
  data/fixtures/scopes/markdown/section.iteration.document.scope
  data/fixtures/scopes/markdown/section.iteration.parent.scope
  queries/markdown.scm
Due: none

Properly handle trailing commas in python arguments (#2780)
  data/fixtures/scopes/python/argument.formal2.scope
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/createTargetScope.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/BaseTreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterIterationScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/getCollectionItemRemovalRange.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/isHintsEveryScope.ts
  queries/python.scm
Due: eslint

revert domain
  data/fixtures/scopes/markdown/section.iteration.document.scope
  data/fixtures/scopes/markdown/section.iteration.parent.scope
  queries/markdown.scm
Due: none

Update test
  data/fixtures/scopes/markdown/interior.cell.scope
Due: none

Added iteration scope to markdown sections (#2770)
  data/fixtures/recorded/languages/markdown/changeEverySection.yml
  data/fixtures/scopes/markdown/section.iteration.document.scope
  data/fixtures/scopes/markdown/section.iteration.parent.scope
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/markdown.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/getSmartRemovalTarget.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/getSmartRemovalTarget.ts
Due: eslint

Remove document upgrade
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/getSmartRemovalTarget.ts
Due: eslint

Change type
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
Due: eslint

Rename
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/getSmartRemovalTarget.ts
Due: eslint

Restructure
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/getSmartRemovalTarget.ts
Due: eslint

Open markdown result page after snippet migration
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Use spoken forms in migration
  cursorless-talon/src/actions/generate_snippet.py
  packages/cursorless-vscode/src/migrateSnippets.ts
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

rename
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Added tests
  data/fixtures/recorded/modifiers/interior/changeInside.yml
  data/fixtures/recorded/modifiers/interior/changeInside2.yml
  data/fixtures/recorded/modifiers/interior/changeInsideElement.yml
Due: format-recorded-tests, check-recorded-test-marks

Use interior target in document target
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
Due: eslint

Revert
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
Due: eslint

Refactoring
  data/fixtures/recorded/modifiers/interior/changeInside3.yml
  data/fixtures/recorded/modifiers/interior/changeInsideToken.yml
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/InteriorStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
