Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

tweak
  packages/cursorless-vscode/src/CommandHistory.ts
Due: eslint

List all action names
  packages/cursorless-vscode/src/CommandHistory.ts
Due: eslint

add comment
  packages/cursorless-vscode/src/CommandHistory.ts
Due: eslint

Add test
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.test.ts
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
Due: eslint

Attempt at tweaking related range code
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
Due: eslint

Tweaks
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
Due: eslint

More tweaks# Please enter the commit message for your changes. Lines starting
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
Due: eslint

Tweak facets
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/branch.ternary.scope
Due: eslint

Add assignment pattern
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.assignment.pattern.scope
Due: eslint

Add some iteration scopes
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/branch.if.iteration.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/branch.switchCase.iteration.scope
Due: eslint

More tweaks
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
Due: eslint

TWeak
  packages/common/src/scopeSupportFacets/textualScopeSupportFacetInfos.ts
Due: eslint

Woops
  packages/common/src/scopeSupportFacets/textualScopeSupportFacetInfos.ts
Due: eslint

Use correct position
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
Due: eslint

Attempt to fix Mac CI
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: none

Update cheat sheet
  cursorless-talon/src/cheatsheet/sections/modifiers.py
  cursorless-talon/src/cheatsheet/sections/scopes.py
Due: none

Terser leading/trailing syntax in scm (#2113)
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
  queries/html.scm
  queries/java.scm
  queries/javascript.core.scm
  queries/javascript.jsx.scm
  queries/json.scm
  queries/markdown.scm
  queries/python.scm
  queries/scm.scm
  queries/talon.scm
  queries/typescript.core.scm
  queries/xml.scm
  queries/yaml.scm
Due: eslint

Update packages/cursorless-vscode/src/CommandHistory.ts
  packages/cursorless-vscode/src/CommandHistory.ts
Due: eslint

Attempt to fix Mac CI (#2120)
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: none

Update packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
Due: eslint

cleaned up leading trailing
  queries/javascript.jsx.scm
Due: none

Updated field removal
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/name.field.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.field.scope
  queries/javascript.scm
Due: none

Fix cheatsheet
  cursorless-talon/src/cheatsheet/sections/scopes.py
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
  packages/cursorless-engine/src/core/Cheatsheet.ts
Due: eslint

Added glyph scope (#2050)
  src/cheatsheet/sections/scopes.py
  src/modifiers/glyph_scope.py
  src/modifiers/scopes.py
  src/spoken_forms.json
  src/spoken_forms.py
Due: none

Added glyph scope (#2050)
  cursorless-talon/src/cheatsheet/sections/scopes.py
  cursorless-talon/src/modifiers/glyph_scope.py
  cursorless-talon/src/modifiers/scopes.py
  cursorless-talon/src/spoken_forms.json
  cursorless-talon/src/spoken_forms.py
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/core/Cheatsheet.ts
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.test.ts
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/RegexScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/scopeProviders/TalonSpokenForms.ts
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
  packages/cursorless-engine/src/spokenForms/SpokenFormType.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scope/glyph/clearEveryGlyphAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scope/glyph/clearFinalGlyphAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scope/glyph/clearGlyphAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scope/glyph/clearNextGlyphBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scope/glyph/clearNextGlyphDollar.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scope/glyph/clearNextGlyphOnyx.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update README.md
  docs/user/README.md
Due: none

Remove cyclic dependency between notebook.ts and notebookLegacy.ts.
  packages/cursorless-vscode/src/ide/vscode/notebook/notebookLegacy.ts
Due: eslint

Remove cyclic dependency between notebook.ts and notebookLegacy.ts. (#2122)
  packages/cursorless-vscode/src/ide/vscode/notebook/notebookLegacy.ts
Due: eslint

Added thrown error
  packages/common/src/types/commandHistory.ts
  packages/cursorless-vscode/src/CommandHistory.ts
Due: eslint

Added order
  packages/cursorless-vscode/package.json
Due: none

Update README.md (#2121)
  docs/user/README.md
Due: none

use legacy
  packages/common/src/scopeSupportFacets/python.ts
Due: eslint

Experiment with immer
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/CommandHistory.ts
  pnpm-lock.yaml
Due: eslint

Experiment with immer (#2124)
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/CommandHistory.ts
  pnpm-lock.yaml
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
