Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

More clean up
  cursorless-talon/src/actions/wrap.py
  packages/cursorless-engine/src/core/getPreferredSnippet.ts
Due: eslint

Fix failing grammar test
  packages/cursorless-engine/src/test/fixtures/communitySnippets.fixture.ts
  packages/cursorless-engine/src/test/fixtures/spokenFormTest.ts
Due: eslint

Remove deprecated Cursorless snippets (#3151)
  src/actions/generate_snippet.py
  src/actions/wrap.py
  src/cursorless.talon
  src/snippets/snippets_deprecated.py
  src/spoken_forms.json
  src/spoken_forms.py
Due: none

Small cleanup on spoken forms for setInstanceReference
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint

Remove unnecessary documentation from cursorless-talon
  cursorless-talon/.gitignore
  cursorless-talon/docs/customization.md
  cursorless-talon/docs/experimental.md
Due: none

Small cleanup on spoken forms for setInstanceReference (#3152)
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint

Remove unnecessary documentation from cursorless-talon (#3153)
  .gitignore
  docs/customization.md
  docs/experimental.md
Due: none

Remove unnecessary documentation from cursorless-talon (#3153)
  cursorless-talon/.gitignore
  cursorless-talon/docs/customization.md
  cursorless-talon/docs/experimental.md
Due: none

working on kotlin facets
  data/fixtures/scopes/kotlin/class.iteration.document.scope
  data/fixtures/scopes/kotlin/class.scope
  data/fixtures/scopes/kotlin/class2.scope
  data/fixtures/scopes/kotlin/comment.block.scope
  data/fixtures/scopes/kotlin/comment.block2.scope
  data/fixtures/scopes/kotlin/comment.line.scope
  data/fixtures/scopes/kotlin/ifStatement.scope
  data/fixtures/scopes/kotlin/namedFunction.iteration.class.scope
  data/fixtures/scopes/kotlin/namedFunction.iteration.document.scope
  data/fixtures/scopes/kotlin/statement/statement.if.scope
  data/fixtures/scopes/kotlin/statement/statement.iteration.document.scope
  data/fixtures/scopes/kotlin/string.multiLine.scope
  data/fixtures/scopes/kotlin/string.singleLine.scope
  data/fixtures/scopes/kotlin/textFragment.comment.block.scope
  data/fixtures/scopes/kotlin/textFragment.comment.block2.scope
  data/fixtures/scopes/kotlin/textFragment.comment.line.scope
  data/fixtures/scopes/kotlin/textFragment.string.multiLine.scope
  data/fixtures/scopes/kotlin/textFragment.string.singleLine.scope
  data/fixtures/scopes/kotlin/type/type.iteration.document.scope
  data/fixtures/scopes/kotlin/value/value.iteration.document.scope
  packages/common/src/scopeSupportFacets/kotlin.ts
  queries/kotlin.scm
Due: eslint

named function
  data/fixtures/scopes/kotlin/namedFunction/namedFunction.constructor.scope
  data/fixtures/scopes/kotlin/namedFunction/namedFunction.constructor2.scope
  data/fixtures/scopes/kotlin/namedFunction/namedFunction.constructor3.scope
  data/fixtures/scopes/kotlin/namedFunction/namedFunction.iteration.class.scope
  data/fixtures/scopes/kotlin/namedFunction/namedFunction.iteration.document.scope
  data/fixtures/scopes/kotlin/namedFunction/namedFunction.method.scope
  data/fixtures/scopes/kotlin/namedFunction/namedFunction.method2.scope
  data/fixtures/scopes/kotlin/namedFunction/namedFunction.scope
  data/fixtures/scopes/kotlin/namedFunction/namedFunction2.scope
  queries/kotlin.scm
Due: none

statements
  data/fixtures/scopes/kotlin/anonymousFunction.scope
  data/fixtures/scopes/kotlin/anonymousFunction2.scope
  data/fixtures/scopes/kotlin/name/name.iteration.class.scope
  data/fixtures/scopes/kotlin/name/name.iteration.document.scope
  data/fixtures/scopes/kotlin/name/name.iteration.enum.scope
  data/fixtures/scopes/kotlin/name/name.iteration.interface.scope
  data/fixtures/scopes/kotlin/namedFunction/namedFunction.constructor3.scope
  data/fixtures/scopes/kotlin/statement/statement.assignment.scope
  data/fixtures/scopes/kotlin/statement/statement.break.scope
  data/fixtures/scopes/kotlin/statement/statement.class.scope
  data/fixtures/scopes/kotlin/statement/statement.class2.scope
  data/fixtures/scopes/kotlin/statement/statement.constructor.scope
  data/fixtures/scopes/kotlin/statement/statement.constructor2.scope
  data/fixtures/scopes/kotlin/statement/statement.continue.scope
  data/fixtures/scopes/kotlin/statement/statement.doWhile.scope
  data/fixtures/scopes/kotlin/statement/statement.enum.scope
  data/fixtures/scopes/kotlin/statement/statement.field.class.scope
  data/fixtures/scopes/kotlin/statement/statement.field.interface.scope
  data/fixtures/scopes/kotlin/statement/statement.for.scope
  data/fixtures/scopes/kotlin/statement/statement.foreach.scope
  data/fixtures/scopes/kotlin/statement/statement.function.scope
  data/fixtures/scopes/kotlin/statement/statement.interface.scope
  data/fixtures/scopes/kotlin/statement/statement.iteration.class.scope
  data/fixtures/scopes/kotlin/statement/statement.iteration.interface.scope
  data/fixtures/scopes/kotlin/statement/statement.method.scope
  data/fixtures/scopes/kotlin/statement/statement.method2.scope
  data/fixtures/scopes/kotlin/statement/statement.return.scope
  data/fixtures/scopes/kotlin/statement/statement.static.scope
  data/fixtures/scopes/kotlin/statement/statement.switch.scope
  data/fixtures/scopes/kotlin/statement/statement.try.scope
  data/fixtures/scopes/kotlin/statement/statement.variable.scope
  data/fixtures/scopes/kotlin/statement/statement.while.scope
  data/fixtures/scopes/kotlin/type/type.class.scope
  data/fixtures/scopes/kotlin/type/type.enum.scope
  data/fixtures/scopes/kotlin/type/type.interface.scope
  queries/kotlin.scm
Due: none

function call
  data/fixtures/scopes/kotlin/functionCall.chain.scope
  data/fixtures/scopes/kotlin/functionCall.constructor.scope
  data/fixtures/scopes/kotlin/functionCall.method.scope
  data/fixtures/scopes/kotlin/functionCall.scope
  data/fixtures/scopes/kotlin/functionCallee.chain.scope
  data/fixtures/scopes/kotlin/functionCallee.constructor.scope
  data/fixtures/scopes/kotlin/functionCallee.method.scope
  data/fixtures/scopes/kotlin/functionCallee.scope
Due: none

iteration
  data/fixtures/scopes/kotlin/name/name.iteration.block.scope
  data/fixtures/scopes/kotlin/name/name.iteration.block2.scope
  data/fixtures/scopes/kotlin/name/name.iteration.block3.scope
  data/fixtures/scopes/kotlin/name/name.iteration.block4.scope
  data/fixtures/scopes/kotlin/statement/statement.iteration.block.scope
  data/fixtures/scopes/kotlin/statement/statement.iteration.block2.scope
  data/fixtures/scopes/kotlin/statement/statement.iteration.block3.scope
  data/fixtures/scopes/kotlin/statement/statement.iteration.block4.scope
  data/fixtures/scopes/kotlin/type/type.iteration.block.scope
  data/fixtures/scopes/kotlin/type/type.iteration.block2.scope
  data/fixtures/scopes/kotlin/type/type.iteration.block3.scope
  data/fixtures/scopes/kotlin/type/type.iteration.block4.scope
  data/fixtures/scopes/kotlin/type/type.iteration.class.scope
  data/fixtures/scopes/kotlin/type/type.iteration.interface.scope
  data/fixtures/scopes/kotlin/value/value.iteration.block.scope
  data/fixtures/scopes/kotlin/value/value.iteration.block2.scope
  data/fixtures/scopes/kotlin/value/value.iteration.block3.scope
  data/fixtures/scopes/kotlin/value/value.iteration.block4.scope
  data/fixtures/scopes/kotlin/value/value.iteration.class.scope
  packages/common/src/scopeSupportFacets/kotlin.ts
  queries/kotlin.scm
Due: eslint

name and value
  data/fixtures/scopes/kotlin/name/name.assignment.scope
  data/fixtures/scopes/kotlin/name/name.class.scope
  data/fixtures/scopes/kotlin/name/name.constructor.scope
  data/fixtures/scopes/kotlin/name/name.enum.scope
  data/fixtures/scopes/kotlin/name/name.field.class.scope
  data/fixtures/scopes/kotlin/name/name.field.enum.scope
  data/fixtures/scopes/kotlin/name/name.field.interface.scope
  data/fixtures/scopes/kotlin/name/name.foreach.scope
  data/fixtures/scopes/kotlin/name/name.interface.scope
  data/fixtures/scopes/kotlin/name/name.method.scope
  data/fixtures/scopes/kotlin/name/name.variable.scope
  data/fixtures/scopes/kotlin/statement/statement.field.class.scope
  data/fixtures/scopes/kotlin/value/value.assignment.scope
  data/fixtures/scopes/kotlin/value/value.field.class.scope
  data/fixtures/scopes/kotlin/value/value.foreach.scope
  data/fixtures/scopes/kotlin/value/value.return.lambda.scope
  data/fixtures/scopes/kotlin/value/value.return.scope
  data/fixtures/scopes/kotlin/value/value.switch.scope
  data/fixtures/scopes/kotlin/value/value.variable.scope
  data/fixtures/scopes/kotlin/value/value.variable2.scope
  queries/kotlin.scm
Due: none

interior
  data/fixtures/scopes/kotlin/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/kotlin/condition/condition.doWhile.scope
  data/fixtures/scopes/kotlin/condition/condition.if.scope
  data/fixtures/scopes/kotlin/condition/condition.switchCase.iteration.scope
  data/fixtures/scopes/kotlin/condition/condition.switchCase.scope
  data/fixtures/scopes/kotlin/condition/condition.switchCase2.scope
  data/fixtures/scopes/kotlin/condition/condition.ternary.scope
  data/fixtures/scopes/kotlin/condition/condition.while.scope
  data/fixtures/scopes/kotlin/interior/interior.class.scope
  data/fixtures/scopes/kotlin/interior/interior.constructor.scope
  data/fixtures/scopes/kotlin/interior/interior.doWhile.scope
  data/fixtures/scopes/kotlin/interior/interior.enum.scope
  data/fixtures/scopes/kotlin/interior/interior.for.scope
  data/fixtures/scopes/kotlin/interior/interior.foreach.scope
  data/fixtures/scopes/kotlin/interior/interior.if.scope
  data/fixtures/scopes/kotlin/interior/interior.interface.scope
  data/fixtures/scopes/kotlin/interior/interior.lambda.scope
  data/fixtures/scopes/kotlin/interior/interior.method.scope
  data/fixtures/scopes/kotlin/interior/interior.static.scope
  data/fixtures/scopes/kotlin/interior/interior.switch.scope
  data/fixtures/scopes/kotlin/interior/interior.switchCase.scope
  data/fixtures/scopes/kotlin/interior/interior.try.scope
  data/fixtures/scopes/kotlin/interior/interior.while.scope
  data/fixtures/scopes/kotlin/name/name.argument.catch.scope
  packages/common/src/scopeSupportFacets/kotlin.ts
  queries/kotlin.scm
Due: eslint

branch
  data/fixtures/scopes/kotlin/branch/branch.if.elif.else.scope
  data/fixtures/scopes/kotlin/branch/branch.if.else.scope
  data/fixtures/scopes/kotlin/branch/branch.if.iteration.scope
  data/fixtures/scopes/kotlin/branch/branch.if.scope
  data/fixtures/scopes/kotlin/branch/branch.switchCase.scope
  data/fixtures/scopes/kotlin/branch/branch.ternary.iteration.scope
  data/fixtures/scopes/kotlin/branch/branch.ternary.scope
  data/fixtures/scopes/kotlin/branch/branch.try.iteration.scope
  data/fixtures/scopes/kotlin/branch/branch.try.scope
  queries/kotlin.scm
Due: none

More work
  queries/kotlin.scm
Due: none

More tests
  data/fixtures/scopes/kotlin/argumentList/argumentList.actual.constructor.empty.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.actual.constructor.multiLine.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.actual.constructor.singleLine.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.actual.empty.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.actual.method.empty.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.actual.method.multiLine.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.actual.method.singleLine.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.actual.multiLine.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.actual.singleLine.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.formal.constructor.empty.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.formal.constructor.multiLine.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.formal.constructor.multiLine2.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.formal.constructor.singleLine.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.formal.constructor.singleLine2.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.formal.method.empty.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.formal.method.multiLine.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.formal.method.singleLine.scope
  queries/kotlin.scm
Due: none

More tests
  data/fixtures/scopes/kotlin/argument/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/kotlin/argument/argument.actual.iteration.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.lambda.iteration.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.formal.lambda.multiLine.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.formal.lambda.singleLine.scope
  queries/kotlin.scm
Due: none

more iteration
  data/fixtures/scopes/kotlin/argument/argument.actual.method.iteration.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.iteration.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.iteration2.scope
  data/fixtures/scopes/kotlin/name/name.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/kotlin/name/name.argument.formal.constructor.iteration2.scope
  data/fixtures/scopes/kotlin/name/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal.constructor.iteration2.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal.method.iteration.scope
  data/fixtures/scopes/kotlin/type/type.typeArgument.iteration.scope
  queries/kotlin.scm
Due: none

lambda
  data/fixtures/scopes/kotlin/argumentList/argumentList.formal.lambda.empty.scope
  queries/kotlin.scm
Due: none

type and name
  data/fixtures/scopes/kotlin/name/name.argument.formal.constructor.scope
  data/fixtures/scopes/kotlin/name/name.argument.formal.constructor2.scope
  data/fixtures/scopes/kotlin/name/name.argument.formal.method.scope
  data/fixtures/scopes/kotlin/type/type.argument.catch.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal.constructor.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal.constructor2.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal.method.scope
  data/fixtures/scopes/kotlin/type/type.field.class.scope
  data/fixtures/scopes/kotlin/type/type.field.interface.scope
  data/fixtures/scopes/kotlin/type/type.foreach.scope
  data/fixtures/scopes/kotlin/type/type.return.scope
  data/fixtures/scopes/kotlin/type/type.typeArgument.scope
  data/fixtures/scopes/kotlin/type/type.variable.scope
  data/fixtures/scopes/kotlin/type/type.variable2.scope
  queries/kotlin.scm
Due: none

disqualified delimiters
  data/fixtures/scopes/kotlin/disqualifyDelimiter.scope
  packages/common/src/scopeSupportFacets/kotlin.ts
  queries/java.scm
  queries/kotlin.scm
Due: eslint

catch arguments
  data/fixtures/scopes/kotlin/argument/argument.catch.scope
  data/fixtures/scopes/kotlin/type/type.argument.catch.scope
  queries/kotlin.scm
Due: none

argument actual
  data/fixtures/scopes/kotlin/argument/argument.actual.constructor.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.actual.constructor.singleLine.scope
  data/fixtures/scopes/kotlin/argument/argument.actual.method.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.actual.method.singleLine.scope
  data/fixtures/scopes/kotlin/argument/argument.actual.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.actual.singleLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.method.iteration.scope
Due: none

arguments
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.multiLine2.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.singleLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.singleLine2.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.iteration.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.lambda.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.lambda.singleLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.method.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.method.singleLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.singleLine.scope
  queries/kotlin.scm
Due: none

More tests
  data/fixtures/scopes/kotlin/argumentList/argumentList.formal.empty.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.formal.multiLine.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.formal.singleLine.scope
  data/fixtures/scopes/kotlin/interior/interior.function.scope
  data/fixtures/scopes/kotlin/name/name.argument.actual.iteration.scope
  data/fixtures/scopes/kotlin/name/name.argument.formal.iteration.scope
  data/fixtures/scopes/kotlin/name/name.argument.formal.scope
  data/fixtures/scopes/kotlin/name/name.function.scope
  data/fixtures/scopes/kotlin/name/name.variable2.scope
  data/fixtures/scopes/kotlin/statement/statement.for.scope
  data/fixtures/scopes/kotlin/statement/statement.variable2.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal.iteration.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal.scope
  data/fixtures/scopes/kotlin/value/value.variable3.scope
  data/fixtures/scopes/kotlin/value/value.variable4.scope
  packages/common/src/scopeSupportFacets/kotlin.ts
Due: eslint

More tests
  data/fixtures/scopes/kotlin/argument/argument.actual.singleLine2.scope
  data/fixtures/scopes/kotlin/name/name.argument.actual.scope
  data/fixtures/scopes/kotlin/name/name.argument.formal.scope
  data/fixtures/scopes/kotlin/name/name.variable.pattern.scope
  data/fixtures/scopes/kotlin/statement/statement.variable.scope
  data/fixtures/scopes/kotlin/statement/statement.variable2.scope
  data/fixtures/scopes/kotlin/statement/statement.variable3.scope
  data/fixtures/scopes/kotlin/statement/statement.variable4.scope
  data/fixtures/scopes/kotlin/type/type.alias.scope
  data/fixtures/scopes/kotlin/value/value.argument.actual.iteration.scope
  data/fixtures/scopes/kotlin/value/value.argument.actual.scope
  data/fixtures/scopes/kotlin/value/value.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/kotlin/value/value.argument.formal.constructor.iteration2.scope
  data/fixtures/scopes/kotlin/value/value.argument.formal.constructor.scope
  data/fixtures/scopes/kotlin/value/value.argument.formal.constructor2.scope
  data/fixtures/scopes/kotlin/value/value.argument.formal.iteration.scope
  data/fixtures/scopes/kotlin/value/value.argument.formal.method.iteration.scope
  data/fixtures/scopes/kotlin/value/value.argument.formal.method.scope
  data/fixtures/scopes/kotlin/value/value.argument.formal.scope
  data/fixtures/scopes/kotlin/value/value.typeAlias.scope
  queries/kotlin.scm
Due: none

more fixes
  data/fixtures/scopes/kotlin/argument/argument.actual.constructor.iteration2.scope
  data/fixtures/scopes/kotlin/argument/argument.actual.constructor.multiLine2.scope
  data/fixtures/scopes/kotlin/argument/argument.actual.constructor.singleLine2.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.iteration.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.iteration2.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.multiLine2.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.singleLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.singleLine2.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.iteration.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.method.iteration.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.method.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.method.singleLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.singleLine.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.actual.constructor.empty2.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.actual.constructor.multiLine2.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.actual.constructor.singleLine2.scope
  data/fixtures/scopes/kotlin/condition/condition.switchCase3.scope
  data/fixtures/scopes/kotlin/functionCall.constructor2.scope
  data/fixtures/scopes/kotlin/functionCallee.constructor2.scope
  queries/kotlin.scm
Due: none

more work
  data/fixtures/recorded/languages/kotlin/chuckBranch.yml
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.singleLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.method.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.method.singleLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.singleLine.scope
  queries/kotlin.scm
Due: format-recorded-tests, check-recorded-test-marks

more tests
  data/fixtures/scopes/kotlin/class3.scope
  data/fixtures/scopes/kotlin/class4.scope
  data/fixtures/scopes/kotlin/name/name.class2.scope
  data/fixtures/scopes/kotlin/name/name.class3.scope
  data/fixtures/scopes/kotlin/statement/statement.class3.scope
  data/fixtures/scopes/kotlin/type/type.class2.scope
  data/fixtures/scopes/kotlin/type/type.class3.scope
  data/fixtures/scopes/kotlin/value/value.switch2.scope
  data/fixtures/scopes/kotlin/value/value.switch3.scope
  data/fixtures/scopes/kotlin/value/value.typeAlias2.scope
  queries/kotlin.scm
Due: none

call
  data/fixtures/recorded/languages/kotlin/changeEveryName.yml
  data/fixtures/recorded/languages/kotlin/changeEveryName2.yml
  data/fixtures/recorded/languages/kotlin/changeName11.yml
  data/fixtures/recorded/languages/kotlin/changeValue10.yml
  data/fixtures/scopes/kotlin/functionCall/functionCall.chain.scope
  data/fixtures/scopes/kotlin/functionCall/functionCall.constructor.scope
  data/fixtures/scopes/kotlin/functionCall/functionCall.constructor2.scope
  data/fixtures/scopes/kotlin/functionCall/functionCall.constructor3.scope
  data/fixtures/scopes/kotlin/functionCall/functionCall.method.scope
  data/fixtures/scopes/kotlin/functionCall/functionCall.scope
  data/fixtures/scopes/kotlin/functionCallee/functionCallee.chain.scope
  data/fixtures/scopes/kotlin/functionCallee/functionCallee.constructor.scope
  data/fixtures/scopes/kotlin/functionCallee/functionCallee.constructor2.scope
  data/fixtures/scopes/kotlin/functionCallee/functionCallee.constructor3.scope
  data/fixtures/scopes/kotlin/functionCallee/functionCallee.method.scope
  data/fixtures/scopes/kotlin/functionCallee/functionCallee.scope
  queries/kotlin.scm
Due: format-recorded-tests, check-recorded-test-marks

map pair
  data/fixtures/recorded/languages/kotlin/changeState8.yml
  data/fixtures/scopes/kotlin/key.mapPair.iteration.scope
  data/fixtures/scopes/kotlin/key.mapPair.scope
  data/fixtures/scopes/kotlin/value/value.mapPair.iteration.scope
  data/fixtures/scopes/kotlin/value/value.mapPair.scope
  packages/common/src/scopeSupportFacets/kotlin.ts
  queries/kotlin.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

arguments
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.iteration.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.iteration2.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.multiLine2.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.singleLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.constructor.singleLine2.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.iteration.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.method.iteration.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.method.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.method.singleLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.multiLine.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.singleLine.scope
  data/fixtures/scopes/kotlin/name/name.argument.formal.constructor.scope
  data/fixtures/scopes/kotlin/name/name.argument.formal.constructor2.scope
  data/fixtures/scopes/kotlin/name/name.argument.formal.method.scope
  data/fixtures/scopes/kotlin/name/name.argument.formal.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal.constructor.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal.constructor2.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal.method.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal.scope
  data/fixtures/scopes/kotlin/value/value.argument.formal.constructor.scope
  data/fixtures/scopes/kotlin/value/value.argument.formal.constructor2.scope
  data/fixtures/scopes/kotlin/value/value.argument.formal.method.scope
  data/fixtures/scopes/kotlin/value/value.argument.formal.scope
  queries/kotlin.scm
Due: none

getter and setter
  data/fixtures/scopes/kotlin/argument/argument.formal.method.iteration2.scope
  data/fixtures/scopes/kotlin/argument/argument.formal.method.singleLine2.scope
  data/fixtures/scopes/kotlin/name/name.argument.formal.method2.scope
  data/fixtures/scopes/kotlin/namedFunction/namedFunction.method3.scope
  data/fixtures/scopes/kotlin/namedFunction/namedFunction.method4.scope
  data/fixtures/scopes/kotlin/statement/statement.method3.scope
  data/fixtures/scopes/kotlin/statement/statement.method4.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal.method2.scope
  data/fixtures/scopes/kotlin/type/type.return2.scope
  queries/kotlin.scm
Due: none

function type
  data/fixtures/scopes/kotlin/type/type.variable3.scope
  data/fixtures/scopes/kotlin/type/type.variable4.scope
  data/fixtures/scopes/kotlin/value/value.variable5.scope
  queries/kotlin.scm
Due: none

More tests
  data/fixtures/recorded/languages/kotlin/changeEveryName.yml
  data/fixtures/recorded/languages/kotlin/changeType25.yml
  data/fixtures/recorded/languages/kotlin/changeType8.yml
  data/fixtures/recorded/languages/kotlin/changeType9.yml
  data/fixtures/scopes/kotlin/name/name.variable.pattern.scope
  data/fixtures/scopes/kotlin/name/name.variable.pattern2.scope
  data/fixtures/scopes/kotlin/type/type.return3.scope
  data/fixtures/scopes/kotlin/type/type.return4.scope
  data/fixtures/scopes/kotlin/type/type.return5.scope
  data/fixtures/scopes/kotlin/type/type.variable3.scope
  data/fixtures/scopes/kotlin/type/type.variable4.scope
  data/fixtures/scopes/kotlin/type/type.variable5.scope
  data/fixtures/scopes/kotlin/type/type.variable6.scope
  queries/kotlin.scm
Due: format-recorded-tests, check-recorded-test-marks

Clean up
  queries/kotlin.scm
Due: none

More tests
  data/fixtures/recorded/languages/kotlin/changeName11.yml
  data/fixtures/recorded/languages/kotlin/changeValue10.yml
  data/fixtures/scopes/kotlin/value/value.return.lambda2.scope
  data/fixtures/scopes/kotlin/value/value.return.lambda3.scope
  queries/kotlin.scm
Due: format-recorded-tests, check-recorded-test-marks

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
