Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Address feedback
  .github/actions/lint-lua-ls/action.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  scripts/lint-lua-ls.sh
Due: none

address feedback
  scripts/lint-lua-ls.sh
Due: none

ignore the .lua folder created by CI action
  .luarc.json
Due: none

Update flake.nix
  flake.nix
Due: none

test fixing mac tests
  .github/workflows/test.yml
Due: none

revert mac test
  .github/workflows/test.yml
Due: none

feat: Add lua-language-server to CI (#2611)
  .github/actions/lint-lua-ls/action.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  .luarc.json
  .vscode/settings.json
  flake.nix
  scripts/lint-lua-ls.sh
Due: none

fix: prevent mac CI tests from failing
  .github/workflows/test.yml
Due: none

fix: make 'pnpm -F cursorless-vscode install-local' work again
  packages/cursorless-vscode/scripts/install-local.sh
Due: none

fix: make 'pnpm -F cursorless-vscode install-local' work again (#2617)
  packages/cursorless-vscode/scripts/install-local.sh
Due: none

fix: prevent mac CI tests from failing (#2615)
  .github/workflows/test.yml
Due: none

Update luacheck
  .pre-commit-config.yaml
Due: none

Add global pre-commit exclude for `data/playground` (#2581)
  .pre-commit-config.yaml
Due: none

consistent-type-imports rule
  .eslintrc.json
Due: none

Make trimmed range optional
  packages/common/src/ide/inMemoryTextDocument/InMemoryTextLine.ts
  packages/common/src/types/TextLine.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextLineImpl.ts
Due: eslint

More updates
  packages/common/src/ide/inMemoryTextDocument/test/InMemoryTextDocumentLineAt.test.ts
  packages/cursorless-engine/src/actions/BreakLine.ts
  packages/cursorless-engine/src/actions/JoinLines.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/LineScopeHandler.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-vscode/src/ide/vscode/textLine.vscode.test.ts
Due: eslint

Neovim
  packages/common/src/ide/inMemoryTextDocument/test/InMemoryTextDocumentLineAt.test.ts
  packages/neovim-common/src/ide/neovim/NeovimTextLineImpl.ts
Due: eslint

Update comments
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
Due: eslint

good modifier
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/marks.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/processTargets/MarkStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/marks/LiteralMarkStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  packages/cursorless-engine/src/util/getScopeType.ts
Due: eslint

Update python side
  cursorless-talon/src/marks/literal_mark.py
  cursorless-talon/src/marks/mark_types.py
  cursorless-talon/src/targets/primitive_target.py
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/RegexScopeHandler.ts
Due: eslint

Added tests
  cursorless-talon/src/marks/literal_mark.py
  data/fixtures/recorded/modifiers/preferredScope/changeGoodPair.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHello.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHello2.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere2.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere3.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere4.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere5.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere6.yml
Due: format-recorded-tests, check-recorded-test-marks

More tests
  data/fixtures/recorded/modifiers/preferredScope/changeGoodPair2.yml
  data/fixtures/recorded/modifiers/preferredScope/changeGoodPair3.yml
  data/fixtures/recorded/modifiers/preferredScope/changeGoodPair4.yml
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

rename funk
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
Due: eslint

Added jsdoc
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
Due: eslint

Clean up
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
Due: eslint

More clean up
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
Due: eslint

Rename
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
Due: eslint

No default spoken form
  data/fixtures/recorded/modifiers/preferredScope/changeGoodPair.yml
  data/fixtures/recorded/modifiers/preferredScope/changeGoodPair2.yml
  data/fixtures/recorded/modifiers/preferredScope/changeGoodPair3.yml
  data/fixtures/recorded/modifiers/preferredScope/changeGoodPair4.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHello.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHello2.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere2.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere3.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere4.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere5.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere6.yml
  packages/common/src/types/SpokenFormType.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added tags lists and settings
  cursorless-talon/src/marks/literal_mark.py
  cursorless-talon/src/modifiers/simple_scope_modifier.py
Due: none

Use phrase instead of user text
  cursorless-talon/src/marks/literal_mark.py
Due: none

Update comment
  packages/common/src/types/TextLine.ts
Due: eslint

tutorial: Fix bug with tutorial reparse
  packages/cursorless-tutorial/src/TutorialImpl.ts
Due: eslint

tutorial: Fix bug with tutorial reparse (#2620)
  packages/cursorless-tutorial/src/TutorialImpl.ts
Due: eslint

Fixed imports
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
Due: eslint

Release 0.29.0
  packages/cursorless-org-docs/src/docs/user/release-notes/0.29.0.md
  packages/cursorless-vscode/package.json
Due: none

Update 0.29.0.md
  packages/cursorless-org-docs/src/docs/user/release-notes/0.29.0.md
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
