Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Added insertions scope for insert snippet action (#1879)
  src/snippets.py
Due: none

Added insertions scope for insert snippet action (#1879)
  changelog/2023-09-addedDestinationAndScopeTypeToInsertSnippetAction.md
  cursorless-talon-dev/src/cursorless_test.talon
  cursorless-talon/src/snippets.py
  docs/user/customization.md
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/InsertSnippet.ts
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/snippets/customInsertAfterWhale2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/snippets/snipPrintAfterPit.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Clean up talon.scm based on tree-sitter-talon 4.0
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  queries/talon.scm
Due: eslint

Use language icons for language-specific scopes
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

cheatsheet: Update ts-jest to compatible version
  packages/cheatsheet/package.json
  pnpm-lock.yaml
Due: none

Use language icons for language-specific scopes (#2006)
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

cursorless-org: Move eslint/typescript to devDependencies
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Due: none

cursorless-org: Move eslint/typescript to devDependencies (#2009)
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Due: none

cheatsheet: Update ts-jest to 29.1.1 (#2008)
  packages/cheatsheet/package.json
  pnpm-lock.yaml
Due: none

Clean up talon.scm based on tree-sitter-talon 4.0 (#2005)
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  queries/talon.scm
Due: eslint

Tweak hat sizes (#1985)
  packages/cursorless-vscode/src/ide/vscode/hats/shapeAdjustments.ts
Due: eslint

Reset .npmrc
  .npmrc
Due: none

Re-add sourcemaps to go with removing `noEmit`
  tsconfig.base.json
Due: none

Add language overrides for delimiter maps
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findSurroundingPairParseTreeBased.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findSurroundingPairTextBased.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/getDelimiterMaps.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/getIndividualDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/index.ts
Due: eslint

Attempt to get docusaurus working
  package.json
  packages/cheatsheet-local/package.json
  packages/cursorless-org-docs/babel.config.js
  packages/cursorless-org-docs/docusaurus.config.js
  packages/cursorless-org-docs/package.json
  packages/cursorless-org-docs/sidebar.js
  pnpm-lock.yaml
Due: none

try ts docusaurus
  packages/cursorless-org-docs/docusaurus.config.ts
Due: eslint

Fix tooltip on lang-specific scopes
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Fix tooltip on lang-specific scopes (#2013)
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

more tweaks
  docs/user/installation.md
  packages/cursorless-org-docs/babel.config.js
  packages/cursorless-org-docs/docusaurus.config.mts
  packages/cursorless-org-docs/package.json
  pnpm-lock.yaml
Due: none

Maybe working docs
  docs/user/installation.md
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Due: none

Add lint rule enforcing no exports in this directory.
  packages/cursorless-engine/src/processTargets/.eslintrc.json
Due: none

Attempt to fix docs build by bumping node version
  .github/workflows/deploy.yaml
  .github/workflows/pre-commit.yml
  .github/workflows/test-docs.yml
  .github/workflows/test.yml
  package.json
  packages/cheatsheet-local/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode/package.json
  pnpm-lock.yaml
Due: none

Downgrade node
  package.json
  packages/cheatsheet-local/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode/package.json
  pnpm-lock.yaml
Due: none

More stuff
  packages/cheatsheet-local/package.json
  packages/cheatsheet-local/src/webpack.config.ts
  packages/cheatsheet-local/tsconfig.json
Due: eslint

Basically working cheatsheet config
  packages/cheatsheet-local/package.json
  packages/cheatsheet-local/src/webpack.config.ts
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/vscode-common/package.json
  pnpm-lock.yaml
Due: eslint

Maybe working
  .pre-commit-config.yaml
  .vscode/tasks.json
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet-local/src/webpack.config.ts
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/meta-updater/src/updatePackageJson.ts
  packages/test-harness/package.json
  packages/vscode-common/package.json
  tsconfig.base.json
Due: eslint

Fix watch
  package.json
Due: none

Fix undefined in meta-updater
  packages/meta-updater/src/updatePackageJson.ts
Due: eslint

Fix local cheatsheet
  packages/cheatsheet-local/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/core/Cheatsheet.ts
  packages/cursorless-org/postcss.config.js
  pnpm-lock.yaml
Due: eslint

more esm
  packages/cheatsheet-local/tailwind.config.js
Due: none

More tweaks
  packages/cheatsheet-local/tailwind.config.js
  packages/cursorless-org-docs/babel.config.mjs
Due: none

More fix
  packages/cheatsheet/jest.config.js
  packages/cheatsheet/jest.config.ts
Due: eslint

Attempt to fix windows
  package.json
  packages/cheatsheet-local/package.json
  pnpm-lock.yaml
Due: none

tweak
  packages/meta-updater/src/updatePackageJson.ts
Due: eslint

Switch from cross-env to env
  package.json
  packages/cheatsheet-local/package.json
  packages/meta-updater/src/updatePackageJson.ts
  pnpm-lock.yaml
Due: eslint

Simplify
  packages/meta-updater/package.json
  packages/meta-updater/src/updatePackageJson.ts
  packages/meta-updater/src/updateTSConfig.ts
Due: eslint

Fix launch configs
  .vscode/launch.json
Due: none

Move targetsToContinuousTarget to a new file in src/util.
  packages/cursorless-engine/src/processTargets/TargetPipelineRunner.ts
  packages/cursorless-engine/src/processTargets/marks/RangeMarkStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RangeModifierStage.ts
  packages/cursorless-engine/src/util/targetsToContinuousTarget.ts
  packages/cursorless-engine/src/util/unifyRanges.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
