Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Update tests
  data/fixtures/recorded/relativeScopes/clearNextCall2.yml
Due: format-recorded-tests, check-recorded-test-marks

Update tests
  data/fixtures/recorded/relativeScopes/clearNextCall4.yml
  data/fixtures/recorded/relativeScopes/clearSecondNextCall.yml
Due: format-recorded-tests, check-recorded-test-marks

Skip performance tests on Mac CI for now, since they're flaky there
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Doc skip in before each
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Skip performance tests on Mac CI for now, since they're flaky there (#3183)
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

class.iteration.class
  data/fixtures/scopes/csharp/class.iteration.block.scope
  data/fixtures/scopes/csharp/class.iteration.class.scope
  data/fixtures/scopes/go/class.iteration.block.scope
  data/fixtures/scopes/java/class.iteration.class.scope
  data/fixtures/scopes/kotlin/class.iteration.class.scope
  data/fixtures/scopes/python/class.iteration.class.scope
  data/fixtures/scopes/ruby/class.iteration.class.scope
  data/fixtures/scopes/scala/class.iteration.class.scope
  data/scopeSupportFacetInfos.md
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/common/src/scopeSupportFacets/css.ts
  packages/common/src/scopeSupportFacets/go.ts
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/json.ts
  packages/common/src/scopeSupportFacets/kotlin.ts
  packages/common/src/scopeSupportFacets/latex.ts
  packages/common/src/scopeSupportFacets/lua.ts
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/properties.ts
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/r.ts
  packages/common/src/scopeSupportFacets/ruby.ts
  packages/common/src/scopeSupportFacets/rust.ts
  packages/common/src/scopeSupportFacets/scala.ts
  packages/common/src/scopeSupportFacets/scm.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/talon.ts
  packages/common/src/scopeSupportFacets/talonList.ts
  packages/common/src/scopeSupportFacets/xml.ts
  packages/common/src/scopeSupportFacets/yaml.ts
  queries/kotlin.scm
  queries/python.scm
Due: eslint

list
  data/fixtures/scopes/latex/list.scope
  data/fixtures/scopes/python/list2.scope
  data/fixtures/scopes/python/list3.scope
  data/fixtures/scopes/python/list4.scope
  data/fixtures/scopes/python/list5.scope
  data/fixtures/scopes/r/list.scope
  data/fixtures/scopes/ruby/list.scope
  data/fixtures/scopes/ruby/list2.scope
  data/fixtures/scopes/ruby/list3.scope
  data/fixtures/scopes/rust/list.scope
  data/fixtures/scopes/scm/list.scope
  queries/python.scm
Due: none

interior.switch
  data/fixtures/scopes/python/interior/interior.switch.scope
  data/fixtures/scopes/ruby/interior/interior.switch.scope
  data/fixtures/scopes/ruby/interior/interior.switch2.scope
Due: none

interior.switchCase
  data/fixtures/scopes/c/interior/interior.switchCase.scope
  data/fixtures/scopes/c/interior/interior.switchCase2.scope
  data/fixtures/scopes/csharp/interior/interior.switchCase.scope
  data/fixtures/scopes/csharp/interior/interior.switchCase2.scope
  data/fixtures/scopes/go/interior/interior.switchCase.scope
  data/fixtures/scopes/go/interior/interior.switchCase2.scope
  data/fixtures/scopes/java/interior/interior.switchCase.scope
  data/fixtures/scopes/javascript.core/interior/interior.switchCase.scope
  data/fixtures/scopes/javascript.core/interior/interior.switchCase2.scope
  data/fixtures/scopes/kotlin/interior/interior.switchCase.scope
  data/fixtures/scopes/kotlin/interior/interior.switchCase2.scope
  data/fixtures/scopes/python/interior/interior.switchCase.scope
  data/fixtures/scopes/r/interior/interior.switchCase.scope
  data/fixtures/scopes/r/interior/interior.switchCase2.scope
  data/fixtures/scopes/ruby/interior/interior.switchCase.scope
  data/fixtures/scopes/ruby/interior/interior.switchCase2.scope
  data/fixtures/scopes/rust/interior/interior.switchCase.scope
  data/fixtures/scopes/rust/interior/interior.switchCase2.scope
  data/fixtures/scopes/scala/interior/interior.switchCase.scope
  data/fixtures/scopes/scala/interior/interior.switchCase2.scope
  queries/go.scm
  queries/kotlin.scm
  queries/scala.scm
Due: none

Fix
  queries/kotlin.scm
Due: none

Update python tests
  data/fixtures/recorded/queryBasedMatchers/clearCoreEveryClass.yml
  data/fixtures/recorded/queryBasedMatchers/clearEveryClass.yml
  data/fixtures/recorded/queryBasedMatchers/clearEveryClass2.yml
Due: format-recorded-tests, check-recorded-test-marks

Working on bug fixes for surrounding pair
  data/fixtures/recorded/surroundingPair/parseTree/ruby/changePair2.yml
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Clean up
  data/fixtures/recorded/surroundingPair/parseTree/ruby/changePair3.yml
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Solve bug with ambiguous closing pair delimiter (#3185)
  data/fixtures/recorded/surroundingPair/parseTree/ruby/changePair2.yml
  data/fixtures/recorded/surroundingPair/parseTree/ruby/changePair3.yml
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Working on improving surround in paired performance
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
Due: eslint

fix
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

Added maps of normalized capture names
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/captureNames.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/normalizeCaptureName.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

Clean up type
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
Due: eslint

Check pattern index
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

Convert delimiter side to enum
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getIndividualDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
Due: eslint

normalize dummy captures
  packages/cursorless-engine/src/languages/TreeSitterQuery/captureNames.ts
Due: eslint

Stop caching pattern index and normalize dummy captures
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

Clean up
  packages/cursorless-engine/src/languages/TreeSitterQuery/captureNames.ts
Due: eslint

Only filter captures in one place
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

Added cache
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQueryCache.ts
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

added swap test
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Increase surrounding pair performance (#3186)
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQueryCache.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/captureNames.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/normalizeCaptureName.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getIndividualDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

optimize performance
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedScopeHandler.ts
Due: eslint

Cleanup
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedScopeHandler.ts
Due: eslint

collection item performance optimization
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
Due: eslint

More optimisations
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
Due: eslint

Optimize performance in bounded scope handler (#3187)
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedScopeHandler.ts
Due: eslint

make position mandatory
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

Cleanup
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
Due: eslint

Optimize performance for collection item (#3188)
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
Due: eslint

Compare normalized capture index instead of names
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQueryCache.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/captureNames.ts
  packages/cursorless-engine/src/util/array.ts
  packages/cursorless-engine/src/util/setIsEqual.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
