Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

expansion in working
  .vscode/settings.json
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
  packages/cursorless-vscode/src/keyboard/defaultKeymaps.ts
Due: eslint

Forbit TODOs in the codebase
  .github/workflows/test.yml
  .pre-commit-config.yaml
  scripts/forbid-todo.sh
Due: none

tweaks
  scripts/forbid-todo.sh
Due: none

Change TODO => FIXME
  cursorless-talon-dev/src/default_vocabulary.py
  packages/common/src/testUtil/TestCaseSnapshot.ts
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
  packages/cursorless-engine/src/languages/clojure.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
Due: eslint

Migrate Python name and value scopes
  packages/cursorless-engine/src/languages/python.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeEveryName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeEveryName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeEveryName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeEveryType.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeEveryType2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeType.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeType2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/chuckName.yml
  queries/python.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Migrate Typescript "value" to next gen; improve "name"
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryPredicateOperator.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeEveryValue.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeEveryValue2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeValue.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeValue2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeValue3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/chuckName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/chuckName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/chuckName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/chuckValue.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/chuckValue2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/jsx/chuckValue.yml
  queries/javascript.core.scm
  queries/javascript.jsx.scm
  queries/javascript.value.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

docs
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryPredicateOperator.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
Due: eslint

documentation
  queries/javascript.core.scm
Due: none

Iteration scope for jsx values
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/jsx/changeEveryValue.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/jsx/changeEveryValue2.yml
  queries/javascript.jsx.scm
Due: format-recorded-tests, check-recorded-test-marks

remove extra file
  queries/javascript.value.scm
Due: none

whoops
  scripts/forbid-todo.sh
Due: none

Migrate Python name and type scopes (#1922)
  packages/cursorless-engine/src/languages/python.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeEveryName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeEveryName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeEveryName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeEveryType.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeEveryType2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeType.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeType2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/chuckName.yml
  queries/python.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Migrate Typescript "value" to next gen; improve "name" (#1924)
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryPredicateOperator.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeEveryValue.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeEveryValue2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeValue.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeValue2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeValue3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/chuckName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/chuckName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/chuckName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/chuckValue.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/chuckValue2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/jsx/changeEveryValue.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/jsx/changeEveryValue2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/jsx/chuckValue.yml
  queries/javascript.core.scm
  queries/javascript.jsx.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Forbid TODOs in the codebase (#1921)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  cursorless-talon-dev/src/default_vocabulary.py
  packages/common/src/testUtil/TestCaseSnapshot.ts
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
  packages/cursorless-engine/src/languages/clojure.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
  scripts/forbid-todo.sh
Due: eslint

Migrade Typescript "type" to next-gen; fix value removal
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType7.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType8.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckType.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckType2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckValue2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckValue3.yml
  queries/javascript.core.scm
  queries/typescript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

typescript.scm => typescript.core.scm
  queries/typescript.core.scm
Due: none

Fixes to typescript
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckType3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckType4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckValue2.yml
  queries/javascript.core.scm
  queries/typescript.core.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

support type assertions
  queries/typescript.scm
Due: none

Fix typescript scm imports
  queries/typescript.scm
Due: none

improve doc comments
  queries/typescript.core.scm
  queries/typescript.scm
Due: none

fix docs
  queries/javascript.core.scm
Due: none

fixes
  queries/javascript.core.scm
Due: none

more fixes
  queries/typescript.core.scm
Due: none

more fix
  queries/typescript.core.scm
Due: none

Type iteration scopes
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeEveryType.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeEveryType2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeEveryType3.yml
  queries/javascript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Support name / value in for-in for JS
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeName4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeValue4.yml
  queries/javascript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Docs and tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeName5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeValue5.yml
  queries/javascript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Support "name" and "value" in guard of Python for-each statements (#1919)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeName4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeName5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeValue4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/javascript/changeValue5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeValue3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeValue4.yml
  queries/javascript.core.scm
  queries/python.scm
Due: format-recorded-tests, check-recorded-test-marks

Migrate Typescript "type" to next-gen; fix value removal (#1925)
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeEveryType.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeEveryType2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeEveryType3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType7.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType8.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckType.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckType2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckType3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckType4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckValue2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckValue3.yml
  queries/javascript.core.scm
  queries/typescript.core.scm
  queries/typescript.scm
  queries/typescriptreact.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

before ripping out the merged keymap
  packages/cursorless-vscode/src/keyboard/ActionMap.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
  packages/cursorless-vscode/src/keyboard/Keymap.ts
Due: eslint

Include `@` in `name` for `scm` language
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/changeEveryName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/changeName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/changeName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/changeName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/chuckName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/chuckName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearEveryName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearEveryName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearEveryName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearName4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearName5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearName6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearName7.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/drinkName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/pourName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/pourName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/takeName.yml
  queries/scm.name.scm
Due: format-recorded-tests, check-recorded-test-marks

fix script
  packages/cursorless-vscode/package.json
Due: none

Update hats
  images/hats/bolt.svg
  images/hats/crosshairs.svg
  images/hats/curve.svg
  images/hats/ex.svg
  images/hats/eye.svg
  images/hats/fox.svg
  images/hats/frame.svg
  images/hats/hole.svg
  images/hats/play.svg
  images/hats/wing.svg
Due: none

Add `"access"` scope type
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessAir2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessAir3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessBat2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessBat3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessBat4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessBat5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessCap2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessCap3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessDrum.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessDrum2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessEach.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessEach2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearAccessFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearEveryAccessAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/takeEveryAccess.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/takeEveryAccessAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/takeEveryAccessAir2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/takeEveryAccessBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/takeEveryAccessBat2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/takeEveryAccessBat3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/takeEveryAccessCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/takeEveryAccessCap2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/takeEveryAccessDrum.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/takeEveryAccessDrum2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/takeEveryAccessEach.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/takeEveryAccessEach2.yml
  queries/javascript.core.scm
  queries/javascript.fieldAccess.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Add `"access"` scope for python
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/clearAccessAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/clearAccessBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/clearAccessBat3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/clearAccessBat5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/clearAccessCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/clearAccessCap2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/clearAccessCap3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/clearAccessDrum.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/clearAccessDrum2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/clearAccessEach.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/clearAccessEach2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/clearAccessFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/clearEveryAccessAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeEveryAccess.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeEveryAccessAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeEveryAccessAir2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeEveryAccessBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeEveryAccessBat2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeEveryAccessCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeEveryAccessCap2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeEveryAccessDrum.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeEveryAccessDrum2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeEveryAccessEach.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeEveryAccessEach2.yml
  queries/python.fieldAccess.scm
  queries/python.scm
Due: format-recorded-tests, check-recorded-test-marks

Updates script path
  packages/cursorless-vscode/package.json
Due: none

shape and color can naw be selected at the same time
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
  packages/cursorless-vscode/src/keyboard/Keymap.ts
Due: eslint

Fix doc comments in scm files
  queries/javascript.fieldAccess.scm
  queries/python.fieldAccess.scm
Due: none
