Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Started working on missing clojure facets
  data/fixtures/recorded/surroundingPair/parseTree/clojure/changePair.yml
  data/fixtures/scopes/clojure/anonymousFunction.scope
  data/fixtures/scopes/clojure/anonymousFunction2.scope
  data/fixtures/scopes/clojure/disqualifyDelimiter.scope
  data/fixtures/scopes/clojure/functionCall.scope
  data/fixtures/scopes/clojure/functionCallee.scope
  data/fixtures/scopes/clojure/ifStatement.scope
  data/fixtures/scopes/clojure/list.scope
  data/fixtures/scopes/clojure/list2.scope
  data/fixtures/scopes/clojure/list3.scope
  data/fixtures/scopes/clojure/map.scope
  data/fixtures/scopes/clojure/map2.scope
  data/fixtures/scopes/clojure/namedFunction.iteration.document.scope
  data/fixtures/scopes/clojure/namedFunction.scope
  data/fixtures/scopes/clojure/string.multiLine.scope
  data/fixtures/scopes/clojure/string.singleLine.scope
  data/fixtures/scopes/clojure/textFragment.comment.line.scope
  data/fixtures/scopes/clojure/textFragment.string.multiLine.scope
  data/fixtures/scopes/clojure/textFragment.string.singleLine.scope
  packages/common/src/scopeSupportFacets/clojure.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  queries/clojure.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

if
  data/fixtures/scopes/clojure/branch/branch.if.else.scope
  data/fixtures/scopes/clojure/branch/branch.if.iteration.scope
  data/fixtures/scopes/clojure/branch/branch.if.scope
  data/fixtures/scopes/clojure/condition.if.scope
  data/fixtures/scopes/clojure/name/name.function.scope
  packages/common/src/scopeSupportFacets/clojure.ts
  queries/clojure.scm
Due: eslint

argument list
  data/fixtures/scopes/clojure/argument.actual.iteration.scope
  data/fixtures/scopes/clojure/argument.actual.multiLine.scope
  data/fixtures/scopes/clojure/argument.actual.singleLine.scope
  data/fixtures/scopes/clojure/argumentList.actual.empty.scope
  data/fixtures/scopes/clojure/argumentList.actual.multiLine.scope
  data/fixtures/scopes/clojure/argumentList.actual.singleLine.scope
  data/fixtures/scopes/clojure/branch.if.else.scope
  data/fixtures/scopes/clojure/branch.if.iteration.scope
  data/fixtures/scopes/clojure/branch.if.scope
  data/fixtures/scopes/clojure/name.function.scope
  packages/common/src/scopeSupportFacets/clojure.ts
  queries/clojure.scm
Due: eslint

sort
  packages/common/src/scopeSupportFacets/clojure.ts
Due: eslint

Added missing
  packages/common/src/scopeSupportFacets/clojure.ts
Due: eslint

if branch fix
  queries/clojure.scm
Due: none

remove branch
  data/fixtures/scopes/clojure/branch.if.else.scope
  data/fixtures/scopes/clojure/branch.if.iteration.scope
  data/fixtures/scopes/clojure/branch.if.scope
  packages/common/src/scopeSupportFacets/clojure.ts
  queries/clojure.scm
Due: eslint

update comments
  queries/clojure.scm
Due: none

Add missing Clojure scope facets (#3197)
  data/fixtures/recorded/surroundingPair/parseTree/clojure/changePair.yml
  data/fixtures/scopes/clojure/anonymousFunction.scope
  data/fixtures/scopes/clojure/anonymousFunction2.scope
  data/fixtures/scopes/clojure/argument.actual.iteration.scope
  data/fixtures/scopes/clojure/argument.actual.multiLine.scope
  data/fixtures/scopes/clojure/argument.actual.singleLine.scope
  data/fixtures/scopes/clojure/argumentList.actual.empty.scope
  data/fixtures/scopes/clojure/argumentList.actual.multiLine.scope
  data/fixtures/scopes/clojure/argumentList.actual.singleLine.scope
  data/fixtures/scopes/clojure/condition.if.scope
  data/fixtures/scopes/clojure/disqualifyDelimiter.scope
  data/fixtures/scopes/clojure/functionCall.scope
  data/fixtures/scopes/clojure/functionCallee.scope
  data/fixtures/scopes/clojure/ifStatement.scope
  data/fixtures/scopes/clojure/list.scope
  data/fixtures/scopes/clojure/list2.scope
  data/fixtures/scopes/clojure/list3.scope
  data/fixtures/scopes/clojure/map.scope
  data/fixtures/scopes/clojure/map2.scope
  data/fixtures/scopes/clojure/name.function.scope
  data/fixtures/scopes/clojure/namedFunction.iteration.document.scope
  data/fixtures/scopes/clojure/namedFunction.scope
  data/fixtures/scopes/clojure/string.multiLine.scope
  data/fixtures/scopes/clojure/string.singleLine.scope
  data/fixtures/scopes/clojure/textFragment.comment.line.scope
  data/fixtures/scopes/clojure/textFragment.string.multiLine.scope
  data/fixtures/scopes/clojure/textFragment.string.singleLine.scope
  packages/common/src/scopeSupportFacets/clojure.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  queries/clojure.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

new scopes
  data/fixtures/scopes/dart/argument/argument.actual.enum.iteration.scope
  data/fixtures/scopes/dart/argument/argument.actual.enum.scope
  data/fixtures/scopes/dart/argumentList/argumentList.actual.enum.scope
  data/fixtures/scopes/java/argument/argument.actual.enum.iteration.scope
  data/fixtures/scopes/java/argument/argument.actual.enum.scope
  data/fixtures/scopes/java/argumentList/argumentList.actual.enum.scope
  data/fixtures/scopes/kotlin/argument/argument.actual.enum.iteration.scope
  data/fixtures/scopes/kotlin/argument/argument.actual.enum.scope
  data/fixtures/scopes/kotlin/argumentList/argumentList.actual.enum.scope
  data/fixtures/scopes/rust/argument/argument.actual.enum.iteration.scope
  data/fixtures/scopes/rust/argument/argument.actual.enum.scope
  data/fixtures/scopes/rust/argumentList/argumentList.actual.enum.scope
  data/fixtures/scopes/scala/functionCall.enum.scope
  data/fixtures/scopes/scala/functionCallee.enum.scope
  packages/common/src/scopeSupportFacets/scala.ts
  queries/dart.scm
  queries/kotlin.scm
  queries/scala.scm
Due: eslint

type.argument.formal.scope
  data/fixtures/scopes/c/type/type.argument.formal.scope
  data/fixtures/scopes/go/type/type.argument.formal.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal.scope
  data/fixtures/scopes/kotlin/type/type.argument.formal2.scope
Due: none

named function as assigned lambda
  data/fixtures/scopes/go/namedFunction2.scope
  data/fixtures/scopes/go/namedFunction3.scope
  data/fixtures/scopes/go/namedFunction4.scope
  data/fixtures/scopes/php/namedFunction2.scope
  data/fixtures/scopes/php/namedFunction3.scope
  queries/go.scm
Due: none

cpp lambda without parameters
  data/fixtures/scopes/cpp/anonymousFunction2.scope
  queries/cpp.scm
Due: none

c/cpp type alias scopes
  data/fixtures/scopes/c/name/name.typeAlias.scope
  data/fixtures/scopes/c/statement/statement.typeAlias.scope
  data/fixtures/scopes/c/type/type.alias.scope
  data/fixtures/scopes/c/value/value.typeAlias.scope
  data/fixtures/scopes/cpp/name/name.typeAlias.scope
  data/fixtures/scopes/cpp/statement/statement.typeAlias.scope
  data/fixtures/scopes/cpp/type/type.alias.scope
  data/fixtures/scopes/cpp/value/value.typeAlias.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/c.scm
  queries/cpp.scm
Due: eslint

csharp type alias
  data/fixtures/scopes/csharp/name/name.typeAlias.scope
  data/fixtures/scopes/csharp/statement/statement.resource.scope
  data/fixtures/scopes/csharp/statement/statement.typeAlias.scope
  data/fixtures/scopes/csharp/type/type.alias.scope
  data/fixtures/scopes/csharp/value/value.typeAlias.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  queries/csharp.scm
Due: eslint

csharp
  data/fixtures/scopes/csharp/interior/interior.resource.scope
  data/fixtures/scopes/csharp/name/name.argument.actual.iteration.scope
  data/fixtures/scopes/csharp/name/name.argument.actual.scope
  data/fixtures/scopes/csharp/name/name.resource.scope
  data/fixtures/scopes/csharp/statement/statement.resource.scope
  data/fixtures/scopes/csharp/type/type.resource.scope
  data/fixtures/scopes/csharp/value/value.argument.actual.iteration.scope
  data/fixtures/scopes/csharp/value/value.argument.actual.scope
  data/fixtures/scopes/csharp/value/value.resource.scope
  queries/csharp.scm
Due: none

trim trailing
  queries/csharp.scm
Due: none

Update function call method scope fixture for R
  data/fixtures/scopes/r/functionCall.method.scope
  data/fixtures/scopes/r/functionCallee.method.scope
Due: none

Update function call method scope fixture for R (#3199)
  data/fixtures/scopes/r/functionCall.method.scope
  data/fixtures/scopes/r/functionCallee.method.scope
Due: none

Update dependency versions
  package.json
  packages/cheatsheet-local/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode/package.json
  pnpm-lock.yaml
Due: none

Update dependency versions (#3200)
  package.json
  packages/cheatsheet-local/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode/package.json
  pnpm-lock.yaml
Due: none

Update required node version to 25
  .nvmrc
  package.json
Due: none

Fix scripted mismatch
  packages/cursorless-vscode-tutorial-webview/package.json
Due: none

Make command type more robust in case phrase is missing
  cursorless-talon/src/command.py
Due: none

Make command type more robust in case phrase is missing (#3202)
  cursorless-talon/src/command.py
Due: none

Make command type more robust in case phrase is missing (#3202)
  src/command.py
Due: none

Use node v24.14.0
  .nvmrc
  package.json
Due: none

Update other dependencies
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cheatsheet-local/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode/package.json
  pnpm-lock.yaml
Due: none

Update dependency versions (#3201)
  .nvmrc
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cheatsheet-local/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  pnpm-lock.yaml
Due: none

Added pyrightconfig
  .vscode/settings.json
  AGENTS.md
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  cursorless-everywhere-talon/cursorless_everywhere_talon_browser.py
  cursorless-everywhere-talon/cursorless_everywhere_talon_win.py
  cursorless-talon-dev/src/spoken_form_test.py
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/bring_move.py
  cursorless-talon/src/actions/call.py
  cursorless-talon/src/actions/generate_snippet.py
  cursorless-talon/src/actions/get_text.py
  cursorless-talon/src/actions/paste.py
  cursorless-talon/src/actions/reformat.py
  cursorless-talon/src/actions/swap.py
  cursorless-talon/src/actions/wrap.py
  cursorless-talon/src/apps/vscode_settings.py
  cursorless-talon/src/command.py
  cursorless-talon/src/cursorless.py
  cursorless-talon/src/cursorless_command_server.py
  cursorless-talon/src/private_api/private_api.py
  cursorless-talon/src/public_api.py
  cursorless-talon/src/scope_visualizer.py
  cursorless-talon/src/snippets/snippets.py
  pyrightconfig.json
Due: none

Updated pyproject.toml
  pyproject.toml
  pyrightconfig.json
Due: none

clean up
  cursorless-talon/src/spoken_forms.py
  pyproject.toml
Due: none

Use pylance version
  .github/workflows/test.yml
Due: none

clean up
  .github/workflows/test.yml
  pyproject.toml
Due: none

Updated pyright config and silenced warnings (#3203)
  .vscode/settings.json
  AGENTS.md
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  cursorless-everywhere-talon/cursorless_everywhere_talon_browser.py
  cursorless-everywhere-talon/cursorless_everywhere_talon_win.py
  cursorless-talon-dev/src/spoken_form_test.py
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/bring_move.py
  cursorless-talon/src/actions/call.py
  cursorless-talon/src/actions/generate_snippet.py
  cursorless-talon/src/actions/get_text.py
  cursorless-talon/src/actions/paste.py
  cursorless-talon/src/actions/reformat.py
  cursorless-talon/src/actions/swap.py
  cursorless-talon/src/actions/wrap.py
  cursorless-talon/src/apps/vscode_settings.py
  cursorless-talon/src/command.py
  cursorless-talon/src/cursorless.py
  cursorless-talon/src/cursorless_command_server.py
  cursorless-talon/src/private_api/private_api.py
  cursorless-talon/src/public_api.py
  cursorless-talon/src/scope_visualizer.py
  cursorless-talon/src/snippets/snippets.py
  cursorless-talon/src/spoken_forms.py
  pyproject.toml
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
