Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm transform-recorded-tests --check-marks

Revert "Restore CI notebook tests on windows (#1581)" (#1599)
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/editNewCell.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/intraCellSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/skipIfWindowsCi.ts
Due: eslint

Use default locale
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler.ts
Due: eslint

Switch all target imports to use the targets barrel (#1573)
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ImplicitTarget.ts
  packages/cursorless-engine/src/processTargets/targets/InteriorTarget.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/RawSelectionTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SurroundingPairTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
  packages/cursorless-engine/src/processTargets/targets/index.ts
Due: eslint

why god why
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/index.ts
Due: eslint

move logic to vscode
  packages/cursorless-engine/src/core/Debug.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
Due: eslint

up date type
  cursorless-talon/src/primitive_target.py
Due: none

Added sentence segmenter
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/WordScopeHandler/WordScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/WordScopeHandler/WordTokenizer.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/index.ts
  packages/cursorless-engine/src/test/fixtures/sentenceSegmeter.fixture.ts
  packages/cursorless-engine/src/test/sentenceSegmenter.test.ts
  packages/cursorless-engine/src/test/subtoken.test.ts
  packages/cursorless-engine/src/util/rangeUtils.ts
  packages/cursorless-engine/src/util/regex.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/clearEverySentenceFile.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/takeEverySentence.yml
Due: eslint, format-recorded-tests

Added hash set for performance
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
Due: eslint

added jsdoc test
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/clearSentence2.yml
Due: eslint, format-recorded-tests

Added more tests
  packages/cursorless-engine/src/test/fixtures/sentenceSegmeter.fixture.ts
Due: eslint

more tests
  packages/cursorless-engine/src/test/fixtures/sentenceSegmeter.fixture.ts
Due: eslint

Require leading alpha
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
  packages/cursorless-engine/src/test/fixtures/sentenceSegmeter.fixture.ts
Due: eslint

cleanup
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
Due: eslint

Added unicode support
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
  packages/cursorless-engine/src/test/fixtures/sentenceSegmeter.fixture.ts
Due: eslint

clean up
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
Due: eslint

rename
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
Due: eslint

updated fixture
  packages/cursorless-engine/src/test/fixtures/sentenceSegmeter.fixture.ts
Due: eslint

update fixture
  packages/cursorless-engine/src/test/fixtures/sentenceSegmeter.fixture.ts
Due: eslint

Added language file
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/Language.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
Due: eslint

added more
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/Language.ts
Due: eslint

Added ellipses test
  packages/cursorless-engine/src/test/fixtures/sentenceSegmeter.fixture.ts
Due: eslint

Started working on destination migration
  packages/common/src/index.ts
  packages/common/src/types/command/CommandV6.types.ts
  packages/common/src/types/command/command.types.ts
  packages/common/src/types/command/legacy/ActionCommandV5.ts
  packages/common/src/types/command/legacy/CommandV5.types.ts
  packages/common/src/types/command/legacy/PartialTargetDescriptorV5.types.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/index.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-engine/src/core/inferFullTargets.ts
Due: eslint

stuff
  packages/common/src/types/command/CommandV6.types.ts
  packages/common/src/types/command/legacy/CommandV5.types.ts
  packages/cursorless-engine/src/core/inferFullTargets.ts
Due: eslint

more work
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/actions/EditNew/EditNew.ts
  packages/cursorless-engine/src/actions/EditNew/runNotebookCellTargets.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-engine/src/core/handleHoistedModifiers.ts
  packages/cursorless-engine/src/core/inferFullTargets.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/TargetPipelineRunner.ts
  packages/cursorless-engine/src/processTargets/modifiers/DestinationStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/PositionStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/toPositionTarget.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PositionTarget.ts
  packages/cursorless-engine/src/typings/TargetDescriptor.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint

Use meta updater to distribute clean script
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/meta-updater/src/updatePackageJson.ts
  packages/test-harness/package.json
  packages/vscode-common/package.json
Due: eslint

Added compile clean script (#1556)
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/meta-updater/src/updatePackageJson.ts
  packages/test-harness/package.json
  packages/vscode-common/package.json
Due: eslint

Test passes
  packages/cursorless-engine/src/processTargets/modifiers/PositionStage.ts
  packages/cursorless-engine/src/processTargets/targets/PositionTarget.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/positions/chuckEndOfWhale.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/positions/chuckStartOfWhale.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/testCaseRecorder/takeHarp.yml
Due: eslint, format-recorded-tests

Is not a token
  packages/cursorless-engine/src/processTargets/modifiers/PositionStage.ts
Due: eslint

Use sbd
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/Language.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
  packages/cursorless-engine/src/test/fixtures/sentenceSegmeter.fixture.ts
  packages/cursorless-engine/src/test/sentenceSegmenter.test.ts
  pnpm-lock.yaml
Due: eslint

Html-item (#1582)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/html/clearEveryItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/html/clearItem.yml
Due: format-recorded-tests

Made jsx attributes be referable as item
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearEveryItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearItem4.yml
Due: eslint, format-recorded-tests

Made jsx attributes be referable as item (#1601)
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearEveryItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearItem4.yml
Due: eslint, format-recorded-tests

Add destination during command version upgrade dependent on action name
  packages/common/src/index.ts
  packages/common/src/types/command/legacy/ActionCommandV5.ts
  packages/common/src/types/command/legacy/CommandV5.types.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-engine/src/core/inferFullTargets.ts
  packages/cursorless-engine/src/processTargets/TargetPipelineRunner.ts
  packages/cursorless-engine/src/typings/TargetDescriptor.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/updateSelections/bringFineAfterThis.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/updateSelections/bringWhaleBeforeThis.yml
Due: eslint, format-recorded-tests

cleanup
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/HeadTailStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/PositionStage.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellTarget.ts
Due: eslint

add comments
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
Due: eslint

Changed expansion behavior for bring source targets to closedClosed (#1576)
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/bringAirAfterAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/bringAirBeforeAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/bringAirToEndOfAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/bringAirToStartOfAir.yml
Due: eslint, format-recorded-tests

cleanup comments
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint

updated names
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/MarkStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/marks/ExplicitRangeMarkStage.ts
Due: eslint

Replaced getter with abstract property
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
Due: eslint

Updated test
  packages/cursorless-vscode-e2e/src/suite/explicitMark.vscode.test.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
