Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Don't break jsx element text fragments (#2732)
  data/fixtures/scopes/javascriptreact/textFragment.element.scope
  data/fixtures/scopes/javascriptreact/textFragment.element2.scope
  packages/common/src/scopeSupportFacets/javascriptreact.ts
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/javascript.jsx.scm
Due: eslint

initial edits for Swift language support
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  packages/common/src/scopeSupportFacets/swift.ts
  queries/swift.scm
Due: eslint

additional scope features
  packages/common/src/scopeSupportFacets/swift.ts
  queries/swift.scm
Due: eslint

replace `collectionKey` with `key.mapPair`
  packages/common/src/scopeSupportFacets/swift.ts
  queries/swift.scm
Due: eslint

remove the Swift-specific type scopes since they're not in the standard scope types
  packages/common/src/scopeSupportFacets/swift.ts
Due: eslint

wip
  data/fixtures/scopes/swift/index.json
  packages/common/src/scopeSupportFacets/swift.ts
Due: eslint

swift MDX
  packages/cursorless-org-docs/src/docs/user/languages/swift.mdx
Due: none

deleted
  data/fixtures/scopes/swift/index.json
Due: none

start from scratch
  queries/swift.scm
Due: none

Add Swift grammar rules and declarations to swift.scm
  queries/swift.scm
Due: none

start small
  packages/common/src/scopeSupportFacets/swift.ts
  queries/swift.scm
Due: eslint

make the function work
  data/fixtures/scopes/swift/namedFunction.constructor.scope
  data/fixtures/scopes/swift/namedFunction.method.scope
  data/fixtures/scopes/swift/namedFunction.scope
  queries/swift.scm
Due: none

swift.scm by adding class and protocol declarations.
  queries/swift.scm
Due: none

full support not-support list
  packages/common/src/scopeSupportFacets/swift.ts
Due: eslint

Enhance swift.scm by adding support for import, property, typealias, array, dictionary, and regex declarations
  queries/swift.scm
Due: none

README.md: actually link the instructions
  cursorless-talon/README.md
Due: none

Update packages/cursorless-vscode/resources/installationDependencies.html
  packages/cursorless-vscode/resources/installationDependencies.html
Due: none

Update packages/cursorless-org-docs/src/docs/user/experimental/snippets.md
  packages/cursorless-org-docs/src/docs/user/experimental/snippets.md
Due: none

README.md: actually link the instructions (#2735)
  cursorless-talon/README.md
Due: none

README.md: actually link the instructions (#2735)
  README.md
Due: none

Show webview about missing installation dependencies (#2720)
  package.json
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-neovim/src/registerCommands.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/resources/installationDependencies.html
  packages/cursorless-vscode/resources/installationDependencies.js
  packages/cursorless-vscode/src/InstallationDependencies.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/registerCommands.ts
  packages/cursorless-vscode/src/scripts/populateDist/assets.ts
  packages/vscode-common/src/getExtensionApi.ts
  pnpm-lock.yaml
Due: eslint

Update documentation instructing the users to use community snippets (#2733)
  packages/cursorless-org-docs/src/docs/user/experimental/snippets.md
Due: none

Add support for ternary expressions and enhance comment handling in swift.scm
  queries/swift.scm
Due: none

Add support for switch statements and enhance if/guard statement handling in swift.scm
  queries/swift.scm
Due: none

Bump maintenance badge
  README.md
Due: none

Bump maintenance badge (#2736)
  README.md
Due: none

Starting working on generate snippets for community format
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/generate_snippet.py
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/actions/actions.types.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-vscode/package.json
Due: eslint

wrong folder?
  data/fixtures/scopes/swift/namedFunction.constructor.scope
  data/fixtures/scopes/swift/namedFunction.method.scope
  data/fixtures/scopes/swift/namedFunction.scope
Due: none

swift playground
  data/playground/swift.swift
Due: none

Add support for protocol declarations and enhance argument handling in swift.scm
  queries/swift.scm
Due: none

Update meta snippet
  cursorless-talon/src/actions/generate_snippet.py
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/Substituter.ts
  packages/cursorless-engine/src/core/Snippets.ts
  packages/cursorless-engine/src/disabledComponents/DisabledSnippets.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/VscodeSnippets.ts
  pnpm-lock.yaml
Due: eslint

Update tests
  data/fixtures/recorded/actions/snippets/snipMakeFunk.yml
  data/fixtures/recorded/actions/snippets/snipMakeState.yml
  data/fixtures/recorded/actions/snippets/testSnippetMakeLine.yml
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Clean up
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
Due: eslint

Update api version
  cursorless-talon-dev/src/cursorless_dev.py
  cursorless-talon/src/versions.py
  data/fixtures/recorded/actions/snippets/snipMakeFunk.yml
  data/fixtures/recorded/actions/snippets/snipMakeState.yml
  data/fixtures/recorded/actions/snippets/testSnippetMakeLine.yml
  packages/common/src/index.ts
  packages/common/src/testUtil/serializeTestFixture.ts
  packages/common/src/types/command/CommandV8.types.ts
  packages/common/src/types/command/command.types.ts
  packages/common/src/types/command/legacy/ActionDescriptorV6.ts
  packages/common/src/types/command/legacy/CommandV6.types.ts
  packages/common/src/types/command/legacy/CommandV7.types.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/actions/actions.types.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV5ToV6/upgradeV5ToV6.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV7ToV8.ts
  packages/cursorless-engine/src/generateSpokenForm/getHatMapCommand.ts
  packages/cursorless-everywhere-talon-e2e/src/quickjsTest.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Clean up types
  packages/common/src/types/command/legacy/ActionDescriptorV6.ts
  packages/common/src/types/command/legacy/DestinationDescriptorV6.types.ts
  packages/common/src/types/command/legacy/PartialTargetDescriptorV6.types.ts
Due: eslint

Remove surrounding pairs force direction
  packages/common/src/types/SpokenFormType.ts
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint

Update version on test case recorder fixture
  data/fixtures/recorded/testCaseRecorder/takeHarp.yml
Due: format-recorded-tests, check-recorded-test-marks

Exclude generate snippets for new vim
  packages/cursorless-neovim-e2e/src/shouldRunTest.ts
Due: eslint

Notebook cell scope provider (#2693)
  data/fixtures/recorded/selectionTypes/drinkCell.yml
  data/fixtures/recorded/selectionTypes/drinkCellEach.yml
  data/fixtures/recorded/selectionTypes/pourCell.yml
  data/fixtures/recorded/selectionTypes/pourCellEach.yml
  packages/common/src/ide/PassthroughIDEBase.ts
  packages/common/src/ide/fake/FakeIDE.ts
  packages/common/src/ide/types/ide.types.ts
  packages/common/src/index.ts
  packages/common/src/types/NotebookCell.ts
  packages/common/src/types/NotebookEditor.ts
  packages/common/src/types/TextEditor.ts
  packages/cursorless-engine/src/actions/EditNew/runNotebookCellTargets.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/createContinuousRangeTarget.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NotebookCellScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/NotebookCellStage.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsEditor.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsIDE.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeIdeNotebook.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeNotebooks.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
  packages/cursorless-vscode/src/ide/vscode/notebook/notebookCurrent.ts
  packages/neovim-common/src/ide/neovim/NeovimIDE.ts
  packages/neovim-common/src/ide/neovim/NeovimTextEditorImpl.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
