Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/|^data/playground/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

Add `.DS_Store` to `.gitignore` for `cursorless-talon`
  .gitignore
  cursorless-talon/.gitignore
Due: none

Add `.DS_Store` to `.gitignore` for `cursorless-talon` (#2653)
  .gitignore
  cursorless-talon/.gitignore
Due: none

Add `.DS_Store` to `.gitignore` for `cursorless-talon` (#2653)
  .gitignore
Due: none

Show better exception message when vscode settings json is not found
  cursorless-talon/src/apps/vscode_settings.py
Due: none

Fixed spelling
  cursorless-talon/src/apps/vscode_settings.py
Due: none

Do join
  cursorless-talon/src/apps/vscode_settings.py
Due: none

Show better exception message when vscode settings json is not found (#2655)
  cursorless-talon/src/apps/vscode_settings.py
Due: none

Show better exception message when vscode settings json is not found (#2655)
  src/apps/vscode_settings.py
Due: none

Changed order surrounding pair lists were combined for spoken scope forms
  cursorless-talon/src/spoken_scope_forms.py
  data/fixtures/recorded/surroundingPair/changeString.yml
Due: format-recorded-tests, check-recorded-test-marks

Don't use multiline pairs for head/tail modifier.
  data/fixtures/recorded/headTail/changeTail3.yml
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/HeadTailStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairInteriorScopeHandler.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Try to fix luajit ci test
  .github/actions/test-neovim-lua/action.yml
Due: none

update
  .github/actions/test-neovim-lua/action.yml
Due: none

Try to fix luajit ci test (#2660)
  .github/actions/test-neovim-lua/action.yml
Due: none

Changed order surrounding pair lists were combined for spoken scope forms (#2658)
  src/spoken_scope_forms.py
Due: none

Changed order surrounding pair lists were combined for spoken scope forms (#2658)
  cursorless-talon/src/spoken_scope_forms.py
  data/fixtures/recorded/surroundingPair/changeString.yml
Due: format-recorded-tests, check-recorded-test-marks

Start Haskell support
  packages/common/src/extensionDependencies.ts
  queries/haskell.hs
  queries/haskell.md
  queries/haskell.scm
Due: eslint

Query for functions (~400 LoC)
  data/playground/haskell/fib.hs
  queries/haskell.function.scm
  queries/haskell.hs
  queries/haskell.scm
Due: none

Changes
  queries/haskell.hs
  queries/haskell.scm
Due: none

Formatting & restructuring
  data/playground/haskell/Function.hs
  data/playground/haskell/RFCs.hs
  queries/haskell.function.scm
  queries/haskell.hs
Due: none

take inside funk
  queries/haskell.hs
  queries/haskell.scm
Due: none

Fixes for namedFunction
  data/playground/haskell/RFC.hs
  data/playground/haskell/branch.hs
  queries/haskell.namedFunction.scm
  queries/haskell.scm
Due: none

Try adding values
  queries/haskell.scm
Due: none

Rename files
  data/playground/haskell/RFC.hs
  data/playground/haskell/namedFunction.hs
Due: none

Add scope facet support for Haskell
  packages/common/src/scopeSupportFacets/haskell.ts
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
Due: eslint

Remove @name from @namedFunction
  queries/haskell.namedFunction.scm
Due: none

Restore haskell.namedFunction
  queries/haskell.function.TEMPLATE.scm
  queries/haskell.functionName.scm
  queries/haskell.name.function.scm
  queries/haskell.namedFunction.scm
  queries/haskell.scm
Due: none

Remove branch.iteration and name
  queries/haskell.branch.iteration.scm
  queries/haskell.namedFunction.scm
Due: none

Add name
  queries/haskell.name.function.scm
  queries/haskell.scm
Due: none

Split out functionName
  queries/haskell.functionName.scm
  queries/haskell.scm
Due: none

Fix RFCs.hs
  data/playground/haskell/RFC.hs
Due: none

@name.function -> @name
  queries/haskell.namedFunction.scm
Due: none

Add name.function
  queries/haskell.function.TEMPLATE.scm
  queries/haskell.functionName.scm
  queries/haskell.name.function.scm
  queries/haskell.scm
Due: none

Update Haskell scope support facet stuff
  packages/common/src/scopeSupportFacets/haskell.ts
Due: eslint

Add @branch.iteration
  queries/haskell.branch.iteration.scm
  queries/haskell.scm
Due: none

Tests for @argument.actual
  packages/common/src/scopeSupportFacets/haskell.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.actual.iteration1.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.actual.iteration2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.actual.iteration3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.actual.iteration4.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.actual.iteration5.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.actual1.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.actual2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.actual3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.actual4.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.actual5.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argument.actual6.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argumentOrParameter.iteration2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argumentOrParameter.iteration4.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/haskell/argumentOrParameter.iteration5.scope
Due: eslint
