Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm transform-recorded-tests --check-marks

test
  .pre-commit-config.yaml
Due: none

restore
  .pre-commit-config.yaml
Due: none

blää!
  .pre-commit-config.yaml
Due: none

Change debug log to represent tree sitter query syntax (#1554)
  packages/cursorless-engine/src/core/Debug.ts
Due: eslint

Added compile clean script
  package.json
Due: none

Better handling of escaped quotes in textual item
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/tokenizeRange.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/itemTextual/clearItem19.yml
Due: eslint, format-recorded-tests

Surrounding pairs: Fall back to text based algorithm when error nodes is detected.
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/index.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/clearPair5.yml
Due: eslint, format-recorded-tests

Item: Ignore unmatched starting delimiter
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/tokenizeRange.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/itemTextual/clearItem19.yml
Due: eslint, format-recorded-tests

Make typescript specific implementation of variable declaration item
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearItem4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearItem5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearItem6.yml
Due: eslint, format-recorded-tests

Ignore for non identifiers
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearItem7.yml
Due: eslint, format-recorded-tests

Properly calculate range when inserting delimiters into CRLF documents
  packages/common/src/types/TextDocument.ts
  packages/cursorless-engine/src/processTargets/targets/PositionTarget.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/pourBlock.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/pourState.yml
  packages/cursorless-vscode/src/ide/vscode/VscodeTextDocumentImpl.ts
Due: eslint, format-recorded-tests

updated test
  packages/common/src/testUtil/runTestSubset.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/chuckVestCRLF.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/clearCoreFileCRLF.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/dropVestCRLF.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/pourBlockCRLF.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/pourStateCRLF.yml
Due: eslint, format-recorded-tests

cleanup
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/pourBlockCRLF.yml
Due: format-recorded-tests

dumb
  packages/common/src/testUtil/runTestSubset.ts
Due: eslint

added item test
  packages/cursorless-engine/src/processTargets/targets/PositionTarget.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/pourItemCRLF.yml
Due: eslint, format-recorded-tests

Added tests for pour word
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/subtoken/pourWord.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/subtoken/pourWordAir.yml
Due: format-recorded-tests

Use correct delimited ranges for sub token words
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/subtoken/chuckFinalTwoWords.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/subtoken/chuckFirstTwoWords.yml
Due: eslint, format-recorded-tests

Make token removal range less aggressive
  packages/cursorless-engine/src/processTargets/targetUtil/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/rust/chuckFunkNameFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/rust/chuckName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/positions/chuckAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken10.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken11.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken12.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken13.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken14.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken7.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken8.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken9.yml
Due: eslint, format-recorded-tests

update comment
  packages/cursorless-engine/src/processTargets/targetUtil/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
Due: eslint

cleanup
  packages/cursorless-engine/src/processTargets/targetUtil/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
Due: eslint

Added clean twin test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/clearQuad.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/clearTwin.yml
Due: format-recorded-tests

Added compound target position tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirBeforeBattAndAfterCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirBeforeBattAndAfterCapAndDrum.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirBeforeBattAndCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/takeStartOfAirAndBattAndEndOfCapAndDrum.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/takeStartOfBattAndEndOfBatt.yml
Due: format-recorded-tests

Enable explicit gray color for default hats
  cursorless-talon/src/marks/mark.py
Due: none

Updated markdown item ranges
  packages/cursorless-engine/src/languages/markdown.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/bringItemDrumAfterBatt.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/chuckItem2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/clearItem2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/drinkItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/pourItem.yml
Due: eslint, format-recorded-tests

fix
  packages/cursorless-engine/src/languages/markdown.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/targets/scopeType/pourEntry.yml
Due: eslint, format-recorded-tests

Added Cursorless output channel
  packages/common/src/ide/PassthroughIDEBase.ts
  packages/common/src/ide/fake/FakeIDE.ts
  packages/common/src/ide/types/ide.types.ts
  packages/cursorless-engine/src/core/Debug.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
Due: eslint

remove boolean filter
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/tokenizeRange.ts
Due: eslint

Better handling of escaped quotes in textual item (#1557)
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/tokenizeRange.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/itemTextual/clearItem19.yml
Due: eslint, format-recorded-tests

Migrated notebook cell modifier to scope handler
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NotebookCellScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/index.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/NotebookCellStage.ts
Due: eslint

update
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NotebookCellScopeHandler.ts
Due: eslint

Added bring before round test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/inference/bringAirBeforeRound.yml
Due: format-recorded-tests

Switch all target imports to use the targets barrel
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ImplicitTarget.ts
  packages/cursorless-engine/src/processTargets/targets/InteriorTarget.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/RawSelectionTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SurroundingPairTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
  packages/cursorless-engine/src/processTargets/targets/index.ts
Due: eslint

Fixed problem with strong containment when cursor is after matching pair
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findDelimiterPairContainingSelection.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findSurroundingPairCore.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/selectionTypes/changeEveryShortPaintPairParen.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearPaint.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearPaint2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearPaint3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearPaint4.yml
Due: eslint, format-recorded-tests

Added empty leading lines to pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

update prettier ignore
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierignore
Due: none

uppdate
  .prettierignore
Due: none

once again
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Changed expansion behavior for bring source targets to closedClosed
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/bringAirAfterAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/bringAirBeforeAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/bringAirToEndOfAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/bringAirToStartOfAir.yml
Due: eslint, format-recorded-tests

Added explicit mark
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/MarkStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/marks/ExplicitMarkStage.ts
Due: eslint

Added test
  packages/cursorless-vscode-e2e/src/suite/explicitMark.vscode.test.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
