Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Update version
  packages/test-harness/src/launchVscodeAndRunTests.ts
Due: eslint

verbose logging
  .github/workflows/test.yml
Due: none

Increase node memory
  .github/workflows/test.yml
Due: none

restore version
  packages/test-harness/src/launchVscodeAndRunTests.ts
Due: eslint

Clamp version
  packages/test-harness/src/launchVscodeAndRunTests.ts
Due: eslint

Restore memory
  .github/workflows/test.yml
Due: none

Clean up
  packages/test-harness/src/launchVscodeAndRunTests.ts
Due: eslint

Bump all dependencies
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-core/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/neovim-common/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  packages/vscode-common/package.json
  pnpm-lock.yaml
Due: none

Attempt to fix CI
  packages/cheatsheet/src/lib/components/CheatsheetLegendComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetListComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetNotesComponent.tsx
Due: eslint

more CI
  packages/cursorless-vscode-tutorial-webview/package.json
  pnpm-lock.yaml
Due: none

more CI fix
  packages/cheatsheet-local/package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Due: none

CI
  packages/cheatsheet-local/package.json
  packages/cursorless-org/package.json
Due: none

More CI
  .eslintrc.json
  eslint.config.mjs
  package.json
  packages/common/.eslintrc.json
  packages/common/eslint.config.mjs
  packages/common/src/types/command/.eslintrc.json
  packages/common/src/types/command/eslint.config.mjs
  packages/cursorless-engine/.eslintrc.json
  packages/cursorless-engine/eslint.config.mjs
  packages/cursorless-engine/src/processTargets/.eslintrc.json
  packages/cursorless-engine/src/processTargets/eslint.config.mjs
  packages/cursorless-org/.eslintrc.json
  packages/cursorless-org/eslint.config.mjs
  packages/cursorless-org/package.json
  packages/cursorless-vscode/src/scripts/.eslintrc.json
  packages/cursorless-vscode/src/scripts/eslint.config.mjs
  pnpm-lock.yaml
Due: none

more CI
  eslint.config.mjs
  packages/cheatsheet/src/lib/components/CheatsheetListComponent.tsx
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BaseScopeHandler.ts
  packages/cursorless-engine/src/typings/target.types.ts
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/editNewCell.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/followLink.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/intraCellSetSelection.vscode.test.ts
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Merge eslint configs
  eslint.config.mjs
  package.json
  packages/common/eslint.config.mjs
  packages/common/src/types/command/eslint.config.mjs
  packages/cursorless-engine/eslint.config.mjs
  packages/cursorless-engine/src/processTargets/eslint.config.mjs
  packages/cursorless-org/eslint.config.mjs
  packages/cursorless-vscode/src/scripts/eslint.config.mjs
Due: none

Update lock file
  pnpm-lock.yaml
Due: none

"react/react-in-jsx-scope": "off"
  eslint.config.mjs
Due: none

Update conte
  eslint.config.mjs
Due: none

Use stable version
  packages/test-harness/src/launchVscodeAndRunTests.ts
Due: eslint

Update typescript version
  package.json
  pnpm-lock.yaml
Due: none

ts version
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Due: none

ts lint version
  package.json
  pnpm-lock.yaml
Due: none

Mocha version
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/sentence-parser/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: none

Trying to remove tests
  data/fixtures/recorded/actions/copySecondToken.yml
  data/fixtures/recorded/decorations/carveLineHarp.yml
Due: format-recorded-tests, check-recorded-test-marks

Remove test#
  packages/cursorless-vscode-e2e/src/suite/intraCellSetSelection.vscode.test.ts
Due: eslint

Skip most recorded tests
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
Due: eslint

Disable most scope tests
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
Due: eslint

More printouts
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
  packages/test-harness/src/runAllTests.ts
Due: eslint

More messages
  packages/test-harness/src/scripts/runVscodeTestsCI.ts
Due: eslint

Increase memory
  .github/workflows/test.yml
Due: none

msg#
  packages/test-harness/src/scripts/runVscodeTestsCI.ts
Due: eslint

large runner
  .github/workflows/test.yml
  packages/test-harness/src/scripts/runVscodeTestsCI.ts
Due: eslint

Re set runner
  .github/workflows/test.yml
Due: none

thack
  packages/test-harness/src/launchVscodeAndRunTests.ts
Due: eslint

Document `"puff"`, `"float"` and `"drop"`
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Add initial CLAUDE.md
  CLAUDE.md
Due: none

reverting
  .github/workflows/test.yml
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
  packages/sentence-parser/package.json
  packages/test-harness/package.json
  packages/test-harness/src/launchVscodeAndRunTests.ts
  packages/test-harness/src/runAllTests.ts
  packages/test-harness/src/scripts/runVscodeTestsCI.ts
  pnpm-lock.yaml
Due: eslint

Reverting tests
  data/fixtures/recorded/actions/copySecondToken.yml
  data/fixtures/recorded/decorations/carveLineHarp.yml
  packages/cursorless-vscode-e2e/src/suite/intraCellSetSelection.vscode.test.ts
  pnpm-lock.yaml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Revert test
  packages/cursorless-vscode-e2e/src/suite/intraCellSetSelection.vscode.test.ts
Due: eslint

Add comment
  packages/test-harness/src/launchVscodeAndRunTests.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
