Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Handle to few arguments
  packages/cursorless-engine/src/languages/TreeSitterQuery/constructZodErrorMessages.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/parsePredicates.test.ts
Due: eslint

Update cross spawn
  package.json
  pnpm-lock.yaml
Due: none

Migrate zod dependency to v4 (#3034)
  package.json
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/languages/TreeSitterQuery/PredicateOperatorSchemaTypes.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/constructZodErrorMessages.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/parsePredicates.test.ts
  pnpm-lock.yaml
Due: eslint

Update packages/cursorless-org-docs/src/docs/contributing/CONTRIBUTING.mdx
  packages/cursorless-org-docs/src/docs/contributing/CONTRIBUTING.mdx
Due: none

Update initLaunchSandbox.ts
  packages/cursorless-vscode/src/scripts/initLaunchSandbox.ts
Due: eslint

Lambda
  data/fixtures/scopes/cpp/anonymousFunction.scope
  data/fixtures/scopes/csharp/anonymousFunction.scope
  data/fixtures/scopes/csharp/anonymousFunction2.scope
  data/fixtures/scopes/csharp/anonymousFunction3.scope
  data/fixtures/scopes/java/anonymousFunction.scope
  data/fixtures/scopes/java/anonymousFunction2.scope
  data/fixtures/scopes/javascript.core/anonymousFunction.scope
  data/fixtures/scopes/javascript.core/anonymousFunction2.scope
  data/fixtures/scopes/r/anonymousFunction.scope
  data/fixtures/scopes/r/anonymousFunction2.scope
  packages/cursorless-org-docs/src/docs/components/Code.css
Due: none

Argument list js
  data/fixtures/scopes/c/argumentList/argumentList.actual.method.singleLine.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.constructor.empty.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.constructor.multiLine.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.constructor.singleLine.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.empty.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.lambda.empty.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.lambda.empty2.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.lambda.multiLine.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.lambda.multiLine2.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.lambda.singleLine.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.lambda.singleLine2.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.method.empty.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.method.multiLine.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.method.singleLine.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.multiLine.scope
  data/fixtures/scopes/javascript.core/argumentList/argumentList.formal.singleLine.scope
  data/fixtures/scopes/python/argumentList/argumentList.actual.singleLine2.scope
Due: none

name
  data/fixtures/scopes/c/class/class4.scope
  data/fixtures/scopes/c/class/class5.scope
  data/fixtures/scopes/c/class/class6.scope
  data/fixtures/scopes/c/name/name.argument.formal.iteration.scope
  data/fixtures/scopes/c/name/name.argument.formal.iteration2.scope
  data/fixtures/scopes/c/name/name.argument.formal.scope
  data/fixtures/scopes/c/name/name.argument.formal2.scope
  data/fixtures/scopes/c/name/name.assignment.scope
  data/fixtures/scopes/c/name/name.assignment2.scope
  data/fixtures/scopes/c/name/name.class.scope
  data/fixtures/scopes/c/name/name.class2.scope
  data/fixtures/scopes/c/name/name.class3.scope
  data/fixtures/scopes/c/name/name.class4.scope
  data/fixtures/scopes/c/name/name.class5.scope
  data/fixtures/scopes/c/name/name.class6.scope
  data/fixtures/scopes/javascript.core/name/name.argument.formal.scope
  data/fixtures/scopes/javascript.core/name/name.assignment.pattern.scope
  data/fixtures/scopes/php/name/name.argument.formal.iteration.scope
  data/fixtures/scopes/php/name/name.argument.formal.scope
  data/fixtures/scopes/php/name/name.argument.formal2.scope
  data/fixtures/scopes/php/name/name.assignment.scope
  data/fixtures/scopes/php/name/name.assignment2.scope
  data/fixtures/scopes/php/name/name.variable.scope
Due: none

argument list
  data/fixtures/scopes/java/argumentList/argumentList.formal.lambda.empty.scope
  data/fixtures/scopes/java/argumentList/argumentList.formal.lambda.multiLine.scope
  data/fixtures/scopes/java/argumentList/argumentList.formal.lambda.singleLine.scope
  data/fixtures/scopes/python/argumentList/argumentList.formal.singleLine.scope
  data/fixtures/scopes/r/argumentList/argumentList.formal.empty.scope
  data/fixtures/scopes/r/argumentList/argumentList.formal.lambda.empty.scope
  data/fixtures/scopes/r/argumentList/argumentList.formal.lambda.multiLine.scope
  data/fixtures/scopes/r/argumentList/argumentList.formal.lambda.singleLine.scope
  data/fixtures/scopes/r/argumentList/argumentList.formal.multiLine.scope
  data/fixtures/scopes/r/argumentList/argumentList.formal.singleLine.scope
  data/fixtures/scopes/scala/argumentList/argumentList.formal.empty.scope
  data/fixtures/scopes/scala/argumentList/argumentList.formal.multiLine.scope
  data/fixtures/scopes/scala/argumentList/argumentList.formal.singleLine.scope
Due: none

attributes
  data/fixtures/scopes/cpp/attribute.scope
  data/fixtures/scopes/csharp/attribute.scope
  data/fixtures/scopes/html/attribute.scope
  data/fixtures/scopes/html/key.attribute.scope
  data/fixtures/scopes/html/value.attribute.scope
  data/fixtures/scopes/javascript.jsx/attribute.scope
  data/fixtures/scopes/javascript.jsx/key.attribute.scope
  data/fixtures/scopes/javascript.jsx/value.attribute.scope
  data/fixtures/scopes/xml/attribute.scope
  data/fixtures/scopes/xml/key.attribute.scope
  data/fixtures/scopes/xml/value.attribute.scope
  queries/cpp.scm
Due: none

branch
  data/fixtures/scopes/c/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/c/branch/branch.switchCase.scope
  data/fixtures/scopes/csharp/branch/branch.if.iteration.scope
  data/fixtures/scopes/csharp/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/csharp/branch/branch.switchCase.scope
  data/fixtures/scopes/csharp/branch/branch.try.iteration.scope
  data/fixtures/scopes/csharp/branch/branch.try.scope
  data/fixtures/scopes/java/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/java/branch/branch.switchCase.scope
  data/fixtures/scopes/javascript.core/branch/branch.if.iteration.scope
  data/fixtures/scopes/javascript.core/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/javascript.core/branch/branch.switchCase.scope
  data/fixtures/scopes/javascript.core/branch/branch.try.iteration.scope
  data/fixtures/scopes/javascript.core/branch/branch.try.scope
  data/fixtures/scopes/python/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/python/branch/branch.switchCase.scope
  data/fixtures/scopes/python/branch/branch.try2.scope
  data/fixtures/scopes/scss/branch.if.iteration.scope
  queries/c.scm
  queries/csharp.scm
Due: none

class
  data/fixtures/scopes/csharp/class.iteration.block.scope
  data/fixtures/scopes/csharp/class.iteration.document.scope
  data/fixtures/scopes/csharp/class.scope
  data/fixtures/scopes/csharp/className.iteration.block.scope
  data/fixtures/scopes/csharp/className.iteration.document.scope
  data/fixtures/scopes/csharp/className.scope
  data/fixtures/scopes/java/class2.scope
  data/fixtures/scopes/javascript.core/className.iteration.document.scope
  data/fixtures/scopes/plaintext/character.scope
  data/fixtures/scopes/python/class2.scope
Due: none

class name
  data/fixtures/scopes/c/className.scope
  data/fixtures/scopes/c/className/className.iteration.document.scope
  data/fixtures/scopes/c/className/className.scope
  data/fixtures/scopes/c/className/className2.scope
  data/fixtures/scopes/c/className/className3.scope
  data/fixtures/scopes/c/className/className4.scope
  data/fixtures/scopes/c/className/className5.scope
  data/fixtures/scopes/c/className/className6.scope
  data/fixtures/scopes/cpp/className2.scope
Due: none

line
  data/fixtures/scopes/plaintext/line.scope
  data/fixtures/scopes/plaintext/line2.scope
Due: none

command
  data/fixtures/scopes/talon/command.scope
  data/fixtures/scopes/talon/command2.scope
Due: none

comment
  data/fixtures/scopes/c/comment.block.scope
  data/fixtures/scopes/c/comment.line.scope
  data/fixtures/scopes/c/textFragment.comment.line.scope
  data/fixtures/scopes/clojure/comment.line.scope
  data/fixtures/scopes/csharp/comment.block.scope
  data/fixtures/scopes/csharp/textFragment.comment.block.scope
  data/fixtures/scopes/css/comment.block.scope
  data/fixtures/scopes/css/textFragment.comment.block.scope
  data/fixtures/scopes/go/comment.line.scope
  data/fixtures/scopes/go/textFragment.comment.line.scope
  data/fixtures/scopes/html/comment.block.scope
  data/fixtures/scopes/html/textFragment.comment.block.scope
  data/fixtures/scopes/java/comment.block.scope
  data/fixtures/scopes/java/comment.block2.scope
  data/fixtures/scopes/java/comment.line.scope
  data/fixtures/scopes/java/textFragment.comment.block2.scope
  data/fixtures/scopes/javascript.core/comment.block.scope
  data/fixtures/scopes/javascript.core/textFragment/textFragment.comment.block.scope
  data/fixtures/scopes/json/comment.block.scope
  data/fixtures/scopes/json/textFragment.comment.block.scope
  data/fixtures/scopes/latex/comment.block.scope
  data/fixtures/scopes/latex/comment.line.scope
  data/fixtures/scopes/markdown/comment.block.scope
  data/fixtures/scopes/markdown/textFragment.comment.block.scope
  data/fixtures/scopes/php/comment.block.scope
  data/fixtures/scopes/php/comment.line.scope
  data/fixtures/scopes/php/comment.line2.scope
  data/fixtures/scopes/php/name/name.argument.formal2.scope
  data/fixtures/scopes/ruby/comment.block.scope
  data/fixtures/scopes/ruby/comment.line.scope
  data/fixtures/scopes/ruby/comment.line2.scope
  data/fixtures/scopes/xml/comment.block.scope
  data/fixtures/scopes/xml/textFragment.comment.block.scope
Due: none

stylings
  packages/cursorless-org-docs/src/docs/components/ScopeVisualizer.tsx
Due: eslint

word condition
  data/fixtures/scopes/c/condition/condition.for.scope
  data/fixtures/scopes/c/condition/condition.switchCase.iteration.scope
  data/fixtures/scopes/c/condition/condition.switchCase.scope
  data/fixtures/scopes/csharp/condition/condition.doWhile.scope
  data/fixtures/scopes/csharp/condition/condition.for.scope
  data/fixtures/scopes/csharp/condition/condition.switchCase.iteration.scope
  data/fixtures/scopes/csharp/condition/condition.switchCase.scope
  data/fixtures/scopes/csharp/condition/condition.ternary.scope
  data/fixtures/scopes/csharp/condition/condition.while.scope
  data/fixtures/scopes/java/condition/condition.doWhile.scope
  data/fixtures/scopes/java/condition/condition.for.scope
  data/fixtures/scopes/java/condition/condition.switchCase.iteration.scope
  data/fixtures/scopes/java/condition/condition.switchCase.scope
  data/fixtures/scopes/java/condition/condition.switchCase2.scope
  data/fixtures/scopes/java/condition/condition.ternary.scope
  data/fixtures/scopes/java/condition/condition.while.scope
  data/fixtures/scopes/javascript.core/condition/condition.doWhile.scope
  data/fixtures/scopes/javascript.core/condition/condition.for.scope
  data/fixtures/scopes/javascript.core/condition/condition.switchCase.iteration.scope
  data/fixtures/scopes/javascript.core/condition/condition.switchCase.scope
  data/fixtures/scopes/javascript.core/condition/condition.while.scope
  data/fixtures/scopes/python/condition/condition.switchCase.iteration.scope
  data/fixtures/scopes/python/condition/condition.switchCase.scope
  data/fixtures/scopes/python/condition/condition.ternary.scope
  data/fixtures/scopes/python/condition/condition.while.scope
Due: none

document
  data/fixtures/scopes/plaintext/document.scope
  data/fixtures/scopes/plaintext/line.scope
  data/fixtures/scopes/plaintext/line2.scope
Due: none

Function call
  data/fixtures/scopes/csharp/functionCall.constructor.scope
  data/fixtures/scopes/csharp/functionCall.constructor2.scope
  data/fixtures/scopes/csharp/functionCall.constructor3.scope
  data/fixtures/scopes/csharp/functionCall.scope
  data/fixtures/scopes/csharp/functionCallee/functionCallee.constructor.scope
  data/fixtures/scopes/csharp/functionCallee/functionCallee.constructor2.scope
  data/fixtures/scopes/csharp/functionCallee/functionCallee.scope
  data/fixtures/scopes/csharp/functionCallee/functionCallee2.scope
  data/fixtures/scopes/csharp/functionCallee/functionCallee3.scope
  data/fixtures/scopes/csharp/functionCallee/functionCallee4.scope
  data/fixtures/scopes/csharp/namedFunction/namedFunction.constructor.scope
  data/fixtures/scopes/csharp/namedFunction/namedFunction.iteration.document.scope
  data/fixtures/scopes/csharp/namedFunction/namedFunction.method.scope
  data/fixtures/scopes/csharp/namedFunction/namedFunction.scope
  data/fixtures/scopes/java/functionCall.constructor.scope
  data/fixtures/scopes/java/functionCall.scope
  data/fixtures/scopes/javascript.core/functionCall.constructor.scope
  data/fixtures/scopes/javascript.core/functionCall.scope
  data/fixtures/scopes/javascript.core/functionCallee.constructor.scope
  data/fixtures/scopes/javascript.core/functionCallee.scope
  data/fixtures/scopes/latex/environment.scope
  data/fixtures/scopes/lua/functionCall.scope
  data/fixtures/scopes/lua/functionCallee.scope
  data/fixtures/scopes/r/functionCallee.scope
  data/fixtures/scopes/r/functionName.scope
  data/fixtures/scopes/r/namedFunction.scope
  data/fixtures/scopes/scm/functionCall.scope
  data/fixtures/scopes/scm/functionCallee.scope
  packages/common/src/scopeSupportFacets/lua.ts
Due: eslint

Render whitespace for developers
  data/fixtures/scopes/plaintext/identifier.scope
  packages/cursorless-org-docs/src/docs/components/ScopeVisualizer.tsx
Due: eslint

toc class
  packages/cursorless-org-docs/src/docs/components/DynamicTOC.tsx
Due: eslint

If statement
  data/fixtures/scopes/c/ifStatement.scope
  data/fixtures/scopes/cpp/ifStatement.scope
  data/fixtures/scopes/csharp/ifStatement.scope
  data/fixtures/scopes/dart/ifStatement.scope
  data/fixtures/scopes/java/ifStatement.scope
  data/fixtures/scopes/javascript.core/ifStatement.scope
  data/fixtures/scopes/python/branch/branch.if.elif.else.scope
  data/fixtures/scopes/python/branch/branch.if.else.scope
  data/fixtures/scopes/python/branch/branch.if.iteration.scope
  data/fixtures/scopes/python/branch/branch.if.scope
  data/fixtures/scopes/python/branch/branch.loop.iteration.scope
  data/fixtures/scopes/python/branch/branch.loop.iteration2.scope
  data/fixtures/scopes/python/branch/branch.loop.scope
  data/fixtures/scopes/python/branch/branch.loop2.scope
  data/fixtures/scopes/python/ifStatement.scope
  data/fixtures/scopes/r/ifStatement.scope
  data/fixtures/scopes/r/ifStatement2.scope
  data/fixtures/scopes/r/ifStatement3.scope
  data/fixtures/scopes/rust/ifStatement.scope
  data/fixtures/scopes/scala/ifStatement.scope
  data/fixtures/scopes/scala/ifStatement2.scope
  data/fixtures/scopes/scss/ifStatement.scope
  queries/dart.scm
  queries/rust.scm
  queries/scala.scm
Due: none

Added statement scope to if statement patterns
  queries/dart.scm
  queries/rust.scm
  queries/scala.scm
Due: none

interior
  data/fixtures/scopes/c/interior/interior.class.scope
  data/fixtures/scopes/c/interior/interior.class2.scope
  data/fixtures/scopes/c/interior/interior.class3.scope
  data/fixtures/scopes/c/interior/interior.class4.scope
  data/fixtures/scopes/c/interior/interior.switch.scope
  data/fixtures/scopes/c/interior/interior.switchCase.scope
  data/fixtures/scopes/cpp/interior/interior.foreach.scope
  data/fixtures/scopes/cpp/interior/interior.lambda.scope
  data/fixtures/scopes/csharp/interior/interior.constructor.scope
  data/fixtures/scopes/csharp/interior/interior.method.scope
  data/fixtures/scopes/csharp/interior/interior.switch.scope
  data/fixtures/scopes/csharp/interior/interior.switchCase.scope
  data/fixtures/scopes/csharp/interior/interior.try.scope
  data/fixtures/scopes/html/interior.element.scope
  data/fixtures/scopes/java/interior/interior.resource.scope
  data/fixtures/scopes/java/interior/interior.switchCase2.scope
  data/fixtures/scopes/javascript.core/interior/interior.switchCase.scope
  data/fixtures/scopes/javascript.jsx/interior.element.scope
  data/fixtures/scopes/lua/ifStatement.scope
  data/fixtures/scopes/lua/interior.function.scope
  data/fixtures/scopes/markdown/interior.cell.scope
  data/fixtures/scopes/markdown/interior.cell2.scope
  data/fixtures/scopes/python/interior/interior.class.scope
  data/fixtures/scopes/python/interior/interior.constructor.scope
  data/fixtures/scopes/python/interior/interior.foreach.scope
  data/fixtures/scopes/python/interior/interior.function.scope
  data/fixtures/scopes/python/interior/interior.function2.scope
  data/fixtures/scopes/python/interior/interior.if.scope
  data/fixtures/scopes/python/interior/interior.method.scope
  data/fixtures/scopes/python/interior/interior.resource.scope
  data/fixtures/scopes/python/interior/interior.switchCase.scope
  data/fixtures/scopes/python/interior/interior.ternary.scope
  data/fixtures/scopes/python/interior/interior.try.scope
  data/fixtures/scopes/python/interior/interior.try2.scope
  data/fixtures/scopes/python/interior/interior.while.scope
  data/fixtures/scopes/talon/interior.command.scope
  data/fixtures/scopes/xml/interior.element.scope
  queries/lua.scm
Due: none

Updated broken tests
  data/fixtures/recorded/languages/cpp/clearAttribute.yml
  data/fixtures/scopes/r/functionName.scope
Due: format-recorded-tests, check-recorded-test-marks

List and map
  data/fixtures/scopes/jsonl/map.scope
  data/fixtures/scopes/markdown/list.scope
  data/fixtures/scopes/scm/list.scope
Due: none

named function
  data/fixtures/scopes/c/namedFunction.iteration.document.scope
  data/fixtures/scopes/c/namedFunction.scope
  data/fixtures/scopes/c/namedFunction2.scope
  data/fixtures/scopes/java/namedFunction.constructor2.scope
  data/fixtures/scopes/java/namedFunction.method2.scope
  data/fixtures/scopes/python/namedFunction/namedFunction.constructor.scope
  data/fixtures/scopes/python/namedFunction/namedFunction.iteration.document.scope
  data/fixtures/scopes/python/namedFunction/namedFunction.method.iteration.class.scope
  data/fixtures/scopes/python/namedFunction/namedFunction.method.scope
  data/fixtures/scopes/python/namedFunction/namedFunction.scope
  data/fixtures/scopes/python/namedFunction/namedFunction2.scope
Due: none

notebook cell and paragraph
  data/fixtures/scopes/markdown/notebookCell2.scope
  data/fixtures/scopes/plaintext/nonWhitespaceSequence.scope
  data/fixtures/scopes/plaintext/paragraph.scope
Due: none

sentence
  data/fixtures/scopes/plaintext/sentence.scope
  data/fixtures/scopes/plaintext/sentence2.scope
  data/fixtures/scopes/plaintext/sentence3.scope
  data/fixtures/scopes/plaintext/sentence4.scope
Due: none

statement
  data/fixtures/scopes/c/statement/statement.class.scope
  data/fixtures/scopes/c/statement/statement.class2.scope
  data/fixtures/scopes/c/statement/statement.class3.scope
  data/fixtures/scopes/c/statement/statement.class4.scope
  data/fixtures/scopes/c/statement/statement.enum.scope
  data/fixtures/scopes/c/statement/statement.iteration.class.scope
  data/fixtures/scopes/c/statement/statement.iteration.class2.scope
  data/fixtures/scopes/c/statement/statement.iteration.class3.scope
  data/fixtures/scopes/c/statement/statement.iteration.class4.scope
  data/fixtures/scopes/c/statement/statement.scope
  data/fixtures/scopes/csharp/statement/statement.scope
  data/fixtures/scopes/java/statement/statement.class2.scope
  data/fixtures/scopes/java/statement/statement.scope
  data/fixtures/scopes/javascript.core/statement/statement.scope
  data/fixtures/scopes/python/statement/statement.class.scope
  data/fixtures/scopes/python/statement/statement.iteration.block.scope
  data/fixtures/scopes/python/statement/statement.iteration.block2.scope
  data/fixtures/scopes/python/statement/statement.iteration.block3.scope
  data/fixtures/scopes/python/statement/statement.iteration.block4.scope
  data/fixtures/scopes/python/statement/statement.iteration.class.scope
  data/fixtures/scopes/python/statement/statement.scope
  data/fixtures/scopes/scm/statement.scope
  data/fixtures/scopes/talon/statement.iteration.block.scope
  data/fixtures/scopes/talon/statement.iteration.document.scope
  data/fixtures/scopes/talon/statement.scope
  data/fixtures/scopes/typescript.core/statement/statement.scope
Due: none

string
  data/fixtures/scopes/c/string.singleLine.scope
  data/fixtures/scopes/c/textFragment.string.singleLine.scope
  data/fixtures/scopes/csharp/string.multiLine.scope
  data/fixtures/scopes/csharp/string.singleLine.scope
  data/fixtures/scopes/csharp/textFragment.string.multiLine.scope
  data/fixtures/scopes/csharp/textFragment.string.singleLine.scope
  data/fixtures/scopes/html/string.singleLine.scope
  data/fixtures/scopes/html/textFragment.string.singleLine.scope
  data/fixtures/scopes/json/string.singleLine.scope
  data/fixtures/scopes/json/string.singleLine2.scope
  data/fixtures/scopes/json/textFragment.string.singleLine.scope
  data/fixtures/scopes/json/textFragment.string.singleLine2.scope
  data/fixtures/scopes/rust/string.singleLine.scope
  data/fixtures/scopes/rust/string.singleLine2.scope
  data/fixtures/scopes/rust/string.singleLine3.scope
  data/fixtures/scopes/rust/textFragment.string.singleLine.scope
  data/fixtures/scopes/rust/textFragment.string.singleLine2.scope
  data/fixtures/scopes/rust/textFragment.string.singleLine3.scope
  data/fixtures/scopes/scm/string.singleLine.scope
  data/fixtures/scopes/talon/string.singleLine.scope
  data/fixtures/scopes/talon/string.singleLine2.scope
  data/fixtures/scopes/talon/textFragment.string.singleLine.scope
  data/fixtures/scopes/talon/textFragment.string.singleLine2.scope
  data/fixtures/scopes/xml/string.singleLine.scope
  data/fixtures/scopes/xml/textFragment.string.singleLine.scope
  data/fixtures/scopes/yaml/string.singleLine.scope
  data/fixtures/scopes/yaml/string.singleLine2.scope
  data/fixtures/scopes/yaml/textFragment.string.singleLine.scope
  data/fixtures/scopes/yaml/textFragment.string.singleLine2.scope
Due: none

Surrounding pair
  data/fixtures/scopes/plaintext/surroundingPair/surroundingPair.iteration2.scope
  data/fixtures/scopes/plaintext/surroundingPair/surroundingPair2.scope
Due: none

text fragment
  data/fixtures/scopes/c/textFragment.comment.block.scope
  data/fixtures/scopes/go/string.multiLine.scope
  data/fixtures/scopes/go/string.singleLine.scope
  data/fixtures/scopes/go/textFragment.string.singleLine.scope
  data/fixtures/scopes/html/element.scope
  data/fixtures/scopes/html/textFragment.element.scope
  data/fixtures/scopes/javascript.jsx/element.scope
  data/fixtures/scopes/javascript.jsx/textFragment.element.scope
  data/fixtures/scopes/javascript.jsx/textFragment.element2.scope
  data/fixtures/scopes/php/string.singleLine.scope
  data/fixtures/scopes/php/textFragment.string.singleLine.scope
  data/fixtures/scopes/xml/textFragment.element.scope
  packages/common/src/scopeSupportFacets/go.ts
  packages/common/src/scopeSupportFacets/php.ts
Due: eslint

token
  data/fixtures/scopes/plaintext/token.scope
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
