Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm transform-recorded-tests --check-marks

Update README.md
  docs/user/README.md
Due: none

Update spoken forms ad nauseam (#1676)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirToAfterBatVerticalPastFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirToBatVerticalPastFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirToBeforeBatVerticalPastFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirToEndOfBatVerticalPastFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirToStartOfBatVerticalPastFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/takeBatVerticalPastFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/takeFineVerticalPastBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/takeVerticalPastFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/clearOneLines.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/clearOneToken.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/clearOneTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/subtoken/takeFirstPastSecondWordHarp.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/updateSelections/chuckFirstPastSecondCar.yml
Due: format-recorded-tests

Update README.md (#1677)
  docs/user/README.md
Due: none

fix syntax in Go test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/takeMap.yml
Due: format-recorded-tests

add a delete button to recorded testcase notifications
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
Due: eslint

don't override file.exclude and search.exclude
  .vscode/settings.json
Due: none

add .projections.json
  .projections.json
Due: none

add more examples and highlight of more useful modifiers
  docs/user/intro.md
Due: none

intro doc first draft with some concepts and no example walk throughs
  docs/user/intro.md
Due: none

some line examples
  docs/user/intro.md
Due: none

pokey suggestion for intro.md
  docs/user/intro.md
Due: none

intro.md, remove "to" from "to after"
  docs/user/intro.md
Due: none

refine concept sections
  docs/user/intro.md
Due: none

act on some pokey suggestions
  docs/user/intro.md
Due: none

Make svg narrower if it will clip adjacent svgs
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Make svg narrower if it will clip adjacent svgs (#1687)
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Update enablement-group.mdx
  packages/cursorless-org/src/content/enablement-group.mdx
Due: none

I added the word "to"
  packages/cursorless-org/src/content/enablement-group.mdx
Due: none

Updated predicates
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  queries/talon.scm
Due: eslint

Updated Talon iteration scopes
  queries/talon.scm
Due: none

more updates
  queries/talon.scm
Due: none

reorder
  queries/talon.scm
Due: none

fix inverted score in hatOldTokenRank
  packages/cursorless-engine/src/util/allocateHats/HatMetrics.ts
Due: eslint

fix inverted score in hatOldTokenRank (#1693)
  packages/cursorless-engine/src/util/allocateHats/HatMetrics.ts
Due: eslint

fix syntax in Go test (#1679)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/takeMap.yml
Due: format-recorded-tests

add a delete button to recorded testcase notifications (#1681)
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
Due: eslint

add pokey's "break" command to "split lines" example
  docs/user/intro.md
Due: none

change intro.md to guide-intermediate.md
  docs/user/guide-intermediate.md
Due: none

eslint: Use import/typescript config
  .eslintrc.json
Due: none

Update to prettier 3.0.0
  package.json
  pnpm-lock.yaml
Due: none

eslint: Use import/typescript config (#1696)
  .eslintrc.json
Due: none

typo fixes
  docs/user/guide-intermediate.md
Due: none

Update to prettier 3.0.0 (#1697)
  package.json
  packages/cheatsheet-local/src/index.html
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-engine/src/actions/EditNew/EditNew.ts
  packages/cursorless-engine/src/actions/PasteFromClipboard.ts
  packages/cursorless-engine/src/core/HatAllocator.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
  packages/cursorless-org/src/styles/globals.css
  packages/cursorless-vscode/src/ide/vscode/VscodeFlashHandler.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
  pnpm-lock.yaml
Due: eslint

document short paint
  docs/user/README.md
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Due: none

Remove one more `"batt"` spoken form
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/chuckStartOfBattPastEndOfFine.yml
Due: format-recorded-tests

Add a return type to captureUtils
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/captureUtils.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
