Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

update
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
Due: eslint

Update scope support]
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/common/src/scopeSupportFacets/css.ts
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/json.ts
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/r.ts
  packages/common/src/scopeSupportFacets/scm.ts
  packages/common/src/scopeSupportFacets/talon.ts
  packages/common/src/scopeSupportFacets/xml.ts
  packages/common/src/scopeSupportFacets/yaml.ts
Due: eslint

Update csharp argument list scope fixtures
  data/fixtures/scopes/csharp/argumentList/argumentList.actual.constructor.empty.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.actual.constructor.multiLine.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.actual.constructor.singleLine.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.actual.empty.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.actual.method.empty.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.actual.method.multiLine.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.actual.method.singleLine.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.actual.multiLine.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.actual.singleLine.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.formal.constructor.empty.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.formal.constructor.multiLine.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.formal.constructor.singleLine.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.formal.empty.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.formal.lambda.empty.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.formal.lambda.multiLine.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.formal.lambda.singleLine.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.formal.method.empty.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.formal.method.multiLine.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.formal.method.singleLine.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.formal.multiLine.scope
  data/fixtures/scopes/csharp/argumentList/argumentList.formal.singleLine.scope
Due: none

Another try at changing open notebook timeout (#2941)
  packages/cursorless-vscode-e2e/src/isCI.ts
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/node-common/src/index.ts
  packages/node-common/src/isOS.ts
Due: eslint

python
  data/fixtures/scopes/python/argumentList.actual.constructor.empty.scope
  data/fixtures/scopes/python/argumentList.actual.constructor.multiLine.scope
  data/fixtures/scopes/python/argumentList.actual.constructor.singleLine.scope
  data/fixtures/scopes/python/argumentList.actual.empty.scope
  data/fixtures/scopes/python/argumentList.actual.method.empty.scope
  data/fixtures/scopes/python/argumentList.actual.method.multiLine.scope
  data/fixtures/scopes/python/argumentList.actual.method.singleLine.scope
  data/fixtures/scopes/python/argumentList.actual.multiLine.scope
  data/fixtures/scopes/python/argumentList.actual.singleLine.scope
  packages/common/src/scopeSupportFacets/python.ts
  queries/python.scm
Due: eslint

scm
  data/fixtures/scopes/scm/argument.actual.iteration.scope
  data/fixtures/scopes/scm/argument.actual.scope
  data/fixtures/scopes/scm/argumentList.actual.empty.scope
  data/fixtures/scopes/scm/argumentList.actual.multiLine.scope
  data/fixtures/scopes/scm/argumentList.actual.singleLine.scope
  packages/common/src/scopeSupportFacets/scm.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  queries/python.scm
  queries/scm.scm
Due: eslint

r
  data/fixtures/scopes/r/argumentList.formal.scope
  data/fixtures/scopes/r/argumentList.formal2.scope
  data/fixtures/scopes/r/argumentList.formal4.scope
  data/fixtures/scopes/r/argumentList/argumentList.actual.empty.scope
  data/fixtures/scopes/r/argumentList/argumentList.actual.method.empty.scope
  data/fixtures/scopes/r/argumentList/argumentList.actual.method.multiLine.scope
  data/fixtures/scopes/r/argumentList/argumentList.actual.method.singleLine.scope
  data/fixtures/scopes/r/argumentList/argumentList.actual.multiLine.scope
  data/fixtures/scopes/r/argumentList/argumentList.actual.singleLine.scope
  data/fixtures/scopes/r/argumentList/argumentList.formal.empty.scope
  data/fixtures/scopes/r/argumentList/argumentList.formal.lambda.empty.scope
  data/fixtures/scopes/r/argumentList/argumentList.formal.lambda.multiLine.scope
  data/fixtures/scopes/r/argumentList/argumentList.formal.lambda.singleLine.scope
  data/fixtures/scopes/r/argumentList/argumentList.formal.multiLine.scope
  data/fixtures/scopes/r/argumentList/argumentList.formal.singleLine.scope
  packages/common/src/scopeSupportFacets/r.ts
Due: eslint

talon
  data/fixtures/scopes/talon/argumentList.actual.empty.scope
  data/fixtures/scopes/talon/argumentList.actual.method.empty.scope
  data/fixtures/scopes/talon/argumentList.actual.method.singleLine.scope
  data/fixtures/scopes/talon/argumentList.actual.singleLine.scope
  data/fixtures/scopes/talon/argumentList.actual.singleLine2.scope
  data/fixtures/scopes/talon/argumentList.actual.singleLine3.scope
  packages/common/src/scopeSupportFacets/talon.ts
  queries/talon.scm
Due: eslint

cleanup
  packages/common/src/scopeSupportFacets/talon.ts
Due: eslint

css
  data/fixtures/scopes/css/argumentList.actual.empty.scope
  data/fixtures/scopes/css/argumentList.actual.singleLine.scope
  packages/common/src/scopeSupportFacets/css.ts
  queries/css.scm
Due: eslint

xml
  packages/common/src/scopeSupportFacets/xml.ts
Due: eslint

Added warning
  packages/cursorless-org-docs/src/docs/user/customization.md
Due: none

clean# Please enter the commit message for your changes. Lines starting
  packages/cursorless-org-docs/src/docs/user/customization.md
Due: none

Cleanup
  packages/cursorless-org-docs/src/docs/user/customization.md
Due: none

Update
  data/fixtures/scopes/javascript.core/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/javascript.core/argument.actual.iteration.scope
  data/fixtures/scopes/javascript.core/argument.actual.method.iteration.scope
Due: none

Disable neovim lua tests
  .github/workflows/test.yml
Due: none

Disable lua lint
  .github/workflows/test.yml
Due: none

Disable neovim lua tests (#2947)
  .github/workflows/test.yml
Due: none

Enable from action by default (#2939)
  src/spoken_forms.json
Due: none

Enable from action by default (#2939)
  cursorless-talon/src/spoken_forms.json
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Document custom command action (#2921)
  cursorless-talon-dev/src/cursorless_test.talon
  cursorless-talon/src/public_api.py
  packages/cursorless-org-docs/src/docs/user/customization.md
Due: none

Document custom command action (#2921)
  src/public_api.py
Due: none

Update queries/kotlin.scm
  queries/kotlin.scm
Due: none

Update iteration scope domain
  data/fixtures/scopes/csharp/type.typeArgument.iteration.scope
  data/fixtures/scopes/java/type.field.iteration.scope
  data/fixtures/scopes/java/type.typeArgument.iteration.scope
  data/fixtures/scopes/python/type.typeArgument.iteration.scope
  data/fixtures/scopes/typescript.core/type.typeArgument.iteration.scope
  queries/csharp.scm
  queries/java.scm
  queries/python.scm
  queries/typescript.core.scm
Due: none

Update description
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
Due: eslint

Migrated value
  packages/cursorless-engine/src/languages/scala.ts
  queries/scala.scm
Due: eslint

Migrate type
  packages/cursorless-engine/src/languages/scala.ts
  queries/scala.scm
Due: eslint

Migrate branch
  packages/cursorless-engine/src/languages/scala.ts
  queries/scala.scm
Due: eslint

Clean up
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/scala.ts
  queries/scala.scm
Due: eslint

Migrated scala scope implementations (#2948)
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/scala.ts
  queries/scala.scm
Due: eslint

Migrate condition
  packages/cursorless-engine/src/languages/ruby.ts
  queries/ruby.scm
Due: eslint

Migrate lambda
  packages/cursorless-engine/src/languages/ruby.ts
  queries/ruby.scm
Due: eslint

Migrate collection key
  packages/cursorless-engine/src/languages/ruby.ts
  queries/ruby.scm
Due: eslint

Migrate value
  packages/cursorless-engine/src/languages/ruby.ts
  queries/ruby.scm
Due: eslint

Migrate argument
  data/fixtures/recorded/languages/ruby/chuckArg3.yml
  packages/cursorless-engine/src/languages/ruby.ts
  queries/ruby.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
