Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/|^data/playground/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

Move comment
  cursorless-talon/src/snippets/snippets.py
Due: none

Restore fetch depth
  .github/workflows/deploy.yaml
Due: none

Rename OneOfScopeHandler to PreferredScopeHandler
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NotebookCellScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/PreferredScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/index.ts
Due: eslint

Use `snip` as the spoken form for snippets (#2824)
  cursorless-talon/src/spoken_forms.json
Due: none

Use `snip` as the spoken form for snippets (#2824)
  src/spoken_forms.json
Due: none

Added fallback for insert copy after (#2822)
  cursorless-talon/src/fallback.py
Due: none

Added fallback for insert copy after (#2822)
  src/fallback.py
Due: none

rename
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NotebookCellScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SortedScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/index.ts
Due: eslint

Use ternary
  cursorless-talon/src/snippets/snippet_types.py
  cursorless-talon/src/snippets/snippets.py
Due: none

Rename OneOfScopeHandler to `SortedScopeHandler` (#2831)
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NotebookCellScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SortedScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/index.ts
Due: eslint

Rename
  cursorless-talon/src/snippets/snippets.py
  cursorless-talon/src/snippets/snippets_get.py
Due: none

Use pnpm/action-setup in workflows (#2825)
  .github/workflows/deploy.yaml
  .github/workflows/pr-description.yaml
  .github/workflows/pre-commit.yml
  .github/workflows/test-docs.yml
  .github/workflows/test.yml
Due: none

rewrite
  cursorless-talon/src/snippets/snippet_types.py
  cursorless-talon/src/snippets/snippets.py
  cursorless-talon/src/snippets/snippets_get.py
Due: none

rewrite
  cursorless-talon/src/snippets/snippets.py
Due: none

rewrite
  cursorless-talon/src/snippets/snippets.py
  cursorless-talon/src/snippets/snippets_get.py
Due: none

Apply suggestions from code review
  packages/common/src/types/TextEditor.ts
Due: eslint

Update spoken forms
  cursorless-talon/src/spoken_forms.json
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint

Added git actions (#2821)
  cursorless-talon/src/spoken_forms.json
  packages/common/src/ide/fake/FakeCapabilities.ts
  packages/common/src/ide/types/CommandId.ts
  packages/common/src/types/TextEditor.ts
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/SimpleIdeCommandActions.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsCapabilities.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeCapabilities.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
  packages/neovim-common/src/ide/neovim/NeovimCapabilities.ts
  packages/neovim-common/src/ide/neovim/NeovimTextEditorImpl.ts
Due: eslint

Added git actions (#2821)
  src/spoken_forms.json
Due: none

Fix bug
  cursorless-talon/src/snippets/snippets.py
  cursorless-talon/src/snippets/snippets_get.py
Due: none

Update spoken form for snippet test
  packages/cursorless-engine/src/test/fixtures/communitySnippets.fixture.ts
Due: eslint

Support forced language mode for snippets (#2830)
  src/command.py
  src/cursorless.talon
  src/snippet_types.py
  src/snippets.py
  src/snippets.talon
  src/snippets/snippet_types.py
  src/snippets/snippets.py
  src/snippets/snippets_deprecated.py
  src/snippets/snippets_get.py
Due: none

Support forced language mode for snippets (#2830)
  cursorless-talon/src/command.py
  cursorless-talon/src/cursorless.talon
  cursorless-talon/src/snippet_types.py
  cursorless-talon/src/snippets.py
  cursorless-talon/src/snippets.talon
  cursorless-talon/src/snippets/snippet_types.py
  cursorless-talon/src/snippets/snippets.py
  cursorless-talon/src/snippets/snippets_deprecated.py
  cursorless-talon/src/snippets/snippets_get.py
  packages/cursorless-engine/src/core/getPreferredSnippet.ts
  packages/cursorless-engine/src/test/fixtures/communitySnippets.fixture.ts
Due: eslint

Rename resource
  data/fixtures/scopes/python/interior.resource.scope
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
Due: eslint

Renamed named function iteration
  data/fixtures/scopes/scss/namedFunction.iteration.block.scope
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/scss.ts
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-scope.md
Due: eslint

Renamed function name iteration
  data/fixtures/scopes/scss/functionName.iteration.block.scope
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/scss.ts
Due: eslint

Rename scope facets (#2832)
  data/fixtures/scopes/python/interior.resource.scope
  data/fixtures/scopes/scss/functionName.iteration.block.scope
  data/fixtures/scopes/scss/namedFunction.iteration.block.scope
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/scss.ts
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-scope.md
Due: eslint

Rename
  packages/common/src/scopeSupportFacets/javascript.ts
Due: eslint

More renames
  packages/common/src/scopeSupportFacets/javascript.ts
Due: eslint

Add migration instruction to snippets error message
  cursorless-talon/src/snippets/snippets_deprecated.py
  packages/cursorless-engine/src/core/getPreferredSnippet.ts
Due: eslint

Rename
  packages/common/src/scopeSupportFacets/python.ts
Due: eslint

Add migration instruction to snippets error message (#2833)
  cursorless-talon/src/snippets/snippets_deprecated.py
  packages/cursorless-engine/src/core/getPreferredSnippet.ts
Due: eslint

Add migration instruction to snippets error message (#2833)
  src/snippets/snippets_deprecated.py
Due: none

Reorder migration results
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Reorder
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Working on restoring legacy snippets
  packages/cursorless-engine/src/actions/InsertSnippet.ts
  packages/cursorless-engine/src/actions/snippetsLegacy/InsertSnippetLegacy.ts
  packages/cursorless-engine/src/actions/snippetsLegacy/WrapWithSnippetLegacy.ts
  packages/cursorless-engine/src/actions/snippetsLegacy/snippet.ts
  packages/cursorless-engine/src/actions/snippetsLegacy/textFormatters.ts
  packages/cursorless-engine/src/core/Snippets.ts
  packages/cursorless-engine/src/disabledComponents/DisabledSnippets.ts
  packages/cursorless-vscode/src/VscodeSnippets.ts
  packages/cursorless-vscode/src/snippetLegacy/compareSnippetDefinitions.ts
  packages/cursorless-vscode/src/snippetLegacy/mergeSnippets.ts
Due: eslint

Reorder migration results (#2835)
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Added tests
  data/fixtures/recorded/actions/snippets/snipFunkBeforeClassLegacy.yml
  data/fixtures/recorded/actions/snippets/tryWrapThisLegacy.yml
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/InsertSnippet.ts
  packages/cursorless-engine/src/actions/WrapWithSnippet.ts
  packages/cursorless-engine/src/actions/snippetsLegacy/InsertSnippetLegacy.ts
  packages/cursorless-engine/src/actions/snippetsLegacy/WrapWithSnippetLegacy.ts
  packages/cursorless-vscode/src/VscodeSnippets.ts
  packages/cursorless-vscode/src/extension.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Re named folder
  packages/cursorless-vscode/src/snippetsLegacy/compareSnippetDefinitions.ts
  packages/cursorless-vscode/src/snippetsLegacy/mergeSnippets.ts
Due: eslint

Update comment
  packages/cursorless-engine/src/actions/InsertSnippet.ts
  packages/cursorless-engine/src/actions/WrapWithSnippet.ts
  packages/cursorless-vscode/src/VscodeSnippets.ts
Due: eslint
