Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Working
  packages/cursorless-engine/src/actions/Playground.ts
Due: eslint

Fix types
  packages/common/src/ide/PassthroughIDEBase.ts
  packages/common/src/ide/fake/FakeIDE.ts
  packages/common/src/ide/types/ide.types.ts
  packages/cursorless-engine/src/actions/Playground.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
Due: eslint

Update action id
  cursorless-talon-dev/src/cursorless_dev.talon
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
Due: eslint

Added test
  cursorless-talon-dev/src/cursorless_dev.talon
  cursorless-talon-dev/src/cursorless_test.talon
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
Due: eslint

Added proper markdown
  packages/cursorless-engine/src/actions/Playground.ts
Due: eslint

Update changelog/2023-09-updatedHatShapes.md
  changelog/2023-09-updatedHatShapes.md
Due: none

update range
  packages/cursorless-engine/src/actions/Playground.ts
Due: eslint

cleanup
  packages/cursorless-engine/src/actions/Playground.ts
Due: eslint

update
  packages/cursorless-engine/src/actions/Playground.ts
Due: eslint

Add negative funk test
  data/playground/elixir/calls.ex
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/elixir/changeFunk14.yml
Due: format-recorded-tests, check-recorded-test-marks

Add elixirls extension dependency
  packages/common/src/extensionDependencies.ts
Due: eslint

Add defguard query
  queries/elixir.scm
Due: none

Revert
  packages/common/src/extensionDependencies.ts
  packages/cursorless-vscode/package.json
Due: eslint

Include anonymous nodes
  packages/cursorless-engine/src/actions/Playground.ts
Due: eslint

Make private
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Fix preprocess script
  packages/cursorless-vscode/src/scripts/preprocessSvgHats.ts
Due: eslint

Added multiple scopes
  changelog/2023-09-addedDestinationAndScopeTypeToInsertSnippetAction.md
  cursorless-talon/src/snippets.py
  docs/user/customization.md
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/InsertSnippet.ts
Due: eslint

fixed
  changelog/2023-09-addedDestinationAndScopeTypeToInsertSnippetAction.md
Due: none

improve Range function signatures and docs
  packages/common/src/types/Range.ts
Due: eslint

Fixes
  changelog/2023-09-addedHatShapesDirSetting.md
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Updated test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/snippets/customInsertAfterWhale2.yml
Due: format-recorded-tests, check-recorded-test-marks

Tweak
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Added test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/snippets/snipPrintAfterPit.yml
Due: format-recorded-tests, check-recorded-test-marks

Setting for hat shape overrides (#1853)
  changelog/2023-09-addedInsertPythonAction.md
  packages/common/src/util/walkAsync.ts
  packages/cursorless-engine/src/core/Snippets.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHats.ts
Due: eslint

Reduce extension dependencies (#1891)
  packages/common/src/extensionDependencies.ts
  packages/cursorless-vscode/src/scripts/initLaunchSandbox.ts
Due: eslint

do constructor too
  packages/common/src/types/Range.ts
Due: eslint

add Go branch scope support
  data/playground/go/branch.go
  data/playground/typescript.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeBranchAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeBranchCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeBranchCap2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeBranchDrum.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeEveryBranchEach.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeEveryBranchSun.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranchCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranchDrum.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranchEach.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranchEach2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/drinkBranchCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/drinkBranchEach.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/pourBranchDrum.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/pourBranchEach.yml
  queries/go.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added Talon test
  cursorless-talon-dev/src/cursorless_test.talon
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
Due: eslint

Added scm query
  packages/cursorless-engine/src/actions/Playground.ts
Due: eslint

up date
  packages/cursorless-engine/src/actions/Playground.ts
Due: eslint

Switch scala dependency extension
  packages/common/src/extensionDependencies.ts
Due: eslint

cull dead code (#1889)
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/BaseTreeSitterScopeHandler.ts
Due: eslint

Added ts `as` and `satisfies` support for `type` scope (#1871)
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType6.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

improve Range function signatures and docs (#1896)
  packages/common/src/types/Range.ts
Due: eslint

Switch scala dependency extension (#1897)
  packages/common/src/extensionDependencies.ts
Due: eslint

Updated function
  cursorless-talon/src/snippets.py
Due: none

Updated docs
  docs/user/customization.md
Due: none

Type hint Talon cheatsheet get_list (#1850)
  cursorless-talon/src/cheatsheet/get_list.py
Due: none

Type hint Talon cheatsheet get_list (#1850)
  src/cheatsheet/get_list.py
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
