Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

bump pnpm => 8.15.3 (#2248)
  package.json
Due: none

Update adding-a-new-package.md (#2249)
  docs/contributing/adding-a-new-package.md
Due: none

{grand, every} rephrasings for clarity and consistency
  docs/user/README.md
Due: none

add `grand` to cheatsheet
  cursorless-talon/src/cheatsheet/sections/modifiers.py
Due: none

{grand, every} rephrasings for clarity and consistency (#2250)
  docs/user/README.md
Due: none

Added pre and post fallback actions
  cursorless-talon/src/fallback.py
Due: none

Remove pattern argument from contiguous predicate
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  queries/javascript.core.scm
Due: eslint

Update scope fixtures
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/comment.block.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/comment.block2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/comment.block3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/comment.line.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/comment.block3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/comment.block.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/comment.line.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/talon/comment.block.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/talon/comment.line.scope
Due: none

Extract to using configuration
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeVisualizer.ts
  packages/cursorless-vscode/src/keyboard/KeyboardConfig.ts
  packages/cursorless-vscode/src/usingConfiguration.ts
  packages/cursorless-vscode/src/vscodeApi.ts
  packages/vscode-common/src/VscodeApi.ts
Due: eslint

cleanup
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/injectFakes.ts
  packages/cursorless-vscode/src/vscodeApi.ts
Due: eslint

initial cursorless-neovim project files
  packages/cursorless-neovim/package.json
  packages/cursorless-neovim/src/index.ts
  packages/cursorless-neovim/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint

initial working extension being imported in neovim successfully :)
  packages/common/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-neovim/src/index.ts
  packages/cursorless-neovim/src/lib/temp.ts
Due: eslint

Add .dark-mode-invert to custom.css - Apply div.dark-mode-invert to image in README.md
  docs/user/README.md
  packages/cursorless-org-docs/src/css/custom.css
Due: none

add engine dependency
  packages/cursorless-neovim/package.json
  pnpm-lock.yaml
Due: none

add engine dependency tsconfig
  packages/cursorless-neovim/tsconfig.json
Due: none

Added spread support for relative and ordinal scopes
  cursorless-talon/src/modifiers/ordinal_scope.py
  cursorless-talon/src/modifiers/relative_scope.py
  cursorless-talon/src/spoken_forms.json
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/processTargets/modifiers/OrdinalScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeExclusiveScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeInclusiveScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/constructScopeRangeTarget.ts
  packages/cursorless-engine/src/processTargets/modifiers/targetSequenceUtils.ts
  packages/cursorless-engine/src/spokenForms/SpokenFormType.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/ordinalScopes/changeSpreadFirstTwoTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/ordinalScopes/changeSpreadLastTwoTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/changeSpreadNextTwoTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/changeSpreadTwoTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/changeSpreadTwoTokensBackward.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added changelog
  changelog/2024-03-addedSpreadModifier.md
Due: none

Update documentation
  changelog/2024-03-addedSpreadModifier.md
  docs/user/README.md
Due: none

build cursorless-engine into cjs too
  packages/cursorless-engine/package.json
Due: none

Clean up
  cursorless-talon/src/modifiers/ordinal_scope.py
Due: none

Makes spread argument optional Talon side
  cursorless-talon/src/modifiers/ordinal_scope.py
  cursorless-talon/src/modifiers/relative_scope.py
Due: none

demoes successful import of cursorless engine
  packages/cursorless-engine/package.json
  packages/cursorless-neovim/src/index.ts
Due: eslint

revert Cursorless engine package.json
  packages/cursorless-engine/package.json
Due: none

template code to call Cursorless engine
  packages/cursorless-neovim/src/index.ts
  packages/cursorless-neovim/src/lib/cursorlessEngine.ts
Due: eslint

add lodash dependency
  packages/cursorless-neovim/package.json
  pnpm-lock.yaml
Due: none

more lodash
  packages/cursorless-neovim/package.json
  pnpm-lock.yaml
Due: none

added NeovimIDE: Exception has occurred: Error: Error: onDidChangeTextDocument Not implemented
  packages/cursorless-neovim/src/index.ts
  packages/cursorless-neovim/src/lib/ide/NeovimCapabilities.ts
  packages/cursorless-neovim/src/lib/ide/NeovimClipboard.ts
  packages/cursorless-neovim/src/lib/ide/NeovimConfiguration.ts
  packages/cursorless-neovim/src/lib/ide/NeovimGlobalState.ts
  packages/cursorless-neovim/src/lib/ide/NeovimIDE.ts
  packages/cursorless-neovim/src/lib/ide/NeovimMessages.ts
  packages/cursorless-neovim/src/lib/initCursorless.ts
Due: eslint

Update adding-a-new-package.md
  docs/contributing/adding-a-new-package.md
Due: none

Remove spread and reuse every
  changelog/2024-03-addedSpreadModifier.md
  cursorless-talon/src/modifiers/ordinal_scope.py
  cursorless-talon/src/modifiers/relative_scope.py
  cursorless-talon/src/modifiers/simple_scope_modifier.py
  cursorless-talon/src/spoken_forms.json
  docs/user/README.md
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/processTargets/modifiers/OrdinalScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeExclusiveScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeInclusiveScopeStage.ts
  packages/cursorless-engine/src/spokenForms/SpokenFormType.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/ordinalScopes/changeSpreadFirstTwoTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/ordinalScopes/changeSpreadLastTwoTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/changeSpreadNextTwoTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/changeSpreadTwoTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/changeSpreadTwoTokensBackward.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update adding-a-new-package.md (#2255)
  docs/contributing/adding-a-new-package.md
Due: none

cleanup
  packages/cursorless-engine/src/processTargets/modifiers/targetSequenceUtils.ts
Due: eslint

better way to build cursorless-neovim into commonjs and to embed dependency packages internally
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-neovim/package.json
Due: none

more tutorial hacking
  packages/cursorless-vscode-tutorial-webview/src/index.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/VscodeTutorial.ts
  packages/cursorless-vscode/src/extension.ts
Due: eslint

More adding package docs tweaks
  docs/contributing/adding-a-new-package.md
Due: none

Add .dark-mode-invert class to darken bright images in dark mode (#2253)
  docs/user/README.md
  packages/cursorless-org-docs/src/css/custom.css
Due: none

Added a lot of code. exception at NeovimIDE.get visibleTextEditors
  packages/cursorless-neovim/package.json
  packages/cursorless-neovim/src/extension.ts
  packages/cursorless-neovim/src/ide/NeovimCapabilities.ts
  packages/cursorless-neovim/src/ide/NeovimClipboard.ts
  packages/cursorless-neovim/src/ide/NeovimConfiguration.ts
  packages/cursorless-neovim/src/ide/NeovimGlobalState.ts
  packages/cursorless-neovim/src/ide/NeovimMessages.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimFileSystem.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimIDE.ts
  packages/cursorless-neovim/src/ide/neovim/hats/NeovimHats.ts
  packages/cursorless-neovim/src/index.ts
  packages/cursorless-neovim/src/lib/initCursorless.ts
  packages/cursorless-neovim/src/lib/temp.ts
  packages/meta-updater/src/updatePackageJson.ts
  pnpm-lock.yaml
Due: eslint

move files to match vscode package
  packages/cursorless-neovim/src/ide/neovim/NeovimCapabilities.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimClipboard.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimConfiguration.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimGlobalState.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimIDE.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimMessages.ts
Due: eslint

adding the text document, the text editor, and the text line for now
  packages/cursorless-neovim/package.json
  packages/cursorless-neovim/src/extension.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimIDE.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimTextDocumentImpl.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimTextEditorImpl.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimTextLineImpl.ts
  pnpm-lock.yaml
Due: eslint

import neovim in cursorless-neovim + testing calling into ts from lua
  packages/cursorless-neovim/package.json
  packages/cursorless-neovim/src/extension.ts
  packages/cursorless-neovim/src/index.ts
  pnpm-lock.yaml
Due: eslint

add ExtensionContext class including the neovim client
  packages/cursorless-neovim/src/extension.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimExtensionContext.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimFileSystem.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimIDE.ts
  packages/cursorless-neovim/src/ide/neovim/hats/NeovimHats.ts
  packages/cursorless-neovim/src/types/ExtensionContext.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
