Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Proper handing of raw strings in rust
  data/fixtures/scopes/rust/string.singleLine.scope
  data/fixtures/scopes/rust/textFragment.string.singleLine.scope
  packages/common/src/scopeSupportFacets/rust.ts
  queries/rust.scm
Due: eslint

Support multiple hashes
  data/fixtures/scopes/rust/string.singleLine.scope
  data/fixtures/scopes/rust/textFragment.string.singleLine.scope
  queries/rust.scm
Due: none

Proper handing of raw strings in rust (#2681)
  data/fixtures/scopes/rust/string.singleLine.scope
  data/fixtures/scopes/rust/textFragment.string.singleLine.scope
  packages/common/src/scopeSupportFacets/rust.ts
  queries/rust.scm
Due: eslint

wip
  packages/cursorless-jetbrains/src/extension.ts
  packages/cursorless-jetbrains/src/ide/JetbrainsIDE.ts
Due: eslint

Add item scope to JS (#2675)
  data/fixtures/recorded/languages/typescript/takeItem.yml
  data/fixtures/scopes/javascript.core/collectionItem.unenclosed.scope
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
  queries/javascript.core.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Started working on collection item scope provider
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/ItemStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/getIterationScope.ts
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/index.ts
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/tokenizeRange.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
Due: eslint

More work
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/createTargetScope.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
Due: eslint

Added iteration handler
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemIterationScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/createTargetScope.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
Due: eslint

fix
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
Due: eslint

Update removal range
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/createTargetScope.ts
Due: eslint

ignore delimiters in string
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
Due: eslint

Updates
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
Due: eslint

Remove old the tests
  data/fixtures/recorded/itemTextual/chuckItem4.yml
  data/fixtures/recorded/itemTextual/clearEveryItemToken.yml
  data/fixtures/recorded/itemTextual/clearItem10.yml
  data/fixtures/recorded/itemTextual/clearItem11.yml
  data/fixtures/recorded/itemTextual/clearItem13.yml
  data/fixtures/recorded/itemTextual/clearItem14.yml
  data/fixtures/recorded/itemTextual/clearItem6.yml
  data/fixtures/recorded/itemTextual/clearItemDrip.yml
Due: format-recorded-tests, check-recorded-test-marks

Added one off
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/EveryScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemIterationScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/OneOfScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
Due: eslint

Don't yield iteration scope missing delimiters
  data/fixtures/recorded/languages/typescript/takeItem4.yml
  data/fixtures/recorded/languages/typescript/takeItemComma.yml
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemIterationScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/getDelimiterOccurrences.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update rust
  data/fixtures/recorded/languages/rust/changeItemOne.yml
  packages/cursorless-engine/src/languages/rust.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
  queries/rust.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update ruby
  queries/ruby.scm
Due: none

Update ruby
  packages/cursorless-engine/src/languages/ruby.ts
Due: eslint

Updates support
  packages/cursorless-engine/src/scopeProviders/ScopeSupportChecker.ts
Due: eslint

Update latex
  queries/latex.scm
Due: none

Cleanup latex
  packages/cursorless-engine/src/languages/latex.ts
Due: eslint

Update closuje
  data/fixtures/recorded/languages/clojure/chuckItemZip.yml
  data/fixtures/recorded/languages/clojure/clearEveryItem.yml
  data/fixtures/recorded/languages/clojure/clearItem.yml
  data/fixtures/recorded/languages/clojure/clearItemFine.yml
  packages/cursorless-engine/src/languages/clojure.ts
  queries/clojure.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Assert creation of scope handlers
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NestedScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/OneOfScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactory.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairInteriorScopeHandler.ts
Due: eslint

Reorder handlers
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemScopeHandler.ts
Due: eslint

Update tests
  data/fixtures/scopes/javascript.core/collectionItem.unenclosed.scope
  data/fixtures/scopes/python/collectionItem.unenclosed.iteration3.scope
  data/fixtures/scopes/python/collectionItem.unenclosed.iteration4.scope
  data/fixtures/scopes/python/collectionItem.unenclosed2.scope
  data/fixtures/scopes/python/collectionItem.unenclosed5.scope
  data/fixtures/scopes/python/collectionItem.unenclosed6.scope
  data/fixtures/scopes/python/collectionItem.unenclosed7.scope
Due: none

Validate action description in factories
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/processTargets/MarkStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
Due: eslint

Default value for preferred scope setting
  cursorless-talon/src/modifiers/simple_scope_modifier.py
Due: none

Add the type arg name
  cursorless-talon/src/modifiers/simple_scope_modifier.py
Due: none

Rename
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/EveryScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NestedScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/OneOfScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactory.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairInteriorScopeHandler.ts
  packages/cursorless-engine/src/scopeProviders/ScopeRangeProvider.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportChecker.ts
Due: eslint

Add bind
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
Due: eslint

Default value for preferred scope setting (#2687)
  src/modifiers/simple_scope_modifier.py
Due: none

Default value for preferred scope setting (#2687)
  cursorless-talon/src/modifiers/simple_scope_modifier.py
Due: none

Added last yielded index
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/IteratorInfo.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/OneOfScopeHandler.ts
Due: eslint

Added scope tests
  data/fixtures/scopes/textual/collectionItem.textual.iteration.scope
  data/fixtures/scopes/textual/collectionItem.textual.iteration2.scope
  data/fixtures/scopes/textual/collectionItem.textual.iteration3.scope
  data/fixtures/scopes/textual/collectionItem.textual.iteration4.scope
  data/fixtures/scopes/textual/collectionItem.textual.iteration5.scope
  data/fixtures/scopes/textual/collectionItem.textual.iteration6.scope
  data/fixtures/scopes/textual/collectionItem.textual.iteration7.scope
  data/fixtures/scopes/textual/collectionItem.textual.scope
  data/fixtures/scopes/textual/collectionItem.textual10.scope
  data/fixtures/scopes/textual/collectionItem.textual11.scope
  data/fixtures/scopes/textual/collectionItem.textual12.scope
  data/fixtures/scopes/textual/collectionItem.textual13.scope
  data/fixtures/scopes/textual/collectionItem.textual14.scope
  data/fixtures/scopes/textual/collectionItem.textual2.scope
  data/fixtures/scopes/textual/collectionItem.textual3.scope
  data/fixtures/scopes/textual/collectionItem.textual4.scope
  data/fixtures/scopes/textual/collectionItem.textual5.scope
  data/fixtures/scopes/textual/collectionItem.textual6.scope
  data/fixtures/scopes/textual/collectionItem.textual7.scope
  data/fixtures/scopes/textual/collectionItem.textual8.scope
  data/fixtures/scopes/textual/collectionItem.textual9.scope
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/textualScopeSupportFacetInfos.ts
Due: eslint

Add cursorless on linux as an option for syncing settings. (#163)
  src/apps/vscode_settings.py
Due: none

Add cursorless on linux as an option for syncing settings. (#163)
  cursorless-talon/src/apps/vscode_settings.py
Due: none

Use app.notify action
  cursorless-talon/src/actions/homophones.py
  cursorless-talon/src/cheatsheet/cheat_sheet.py
  cursorless-talon/src/csv_overrides.py
  cursorless-talon/src/get_grapheme_spoken_form_entries.py
  cursorless-talon/src/spoken_forms_output.py
Due: none

Sort imports
  cursorless-talon/src/get_grapheme_spoken_form_entries.py
Due: none

Added Talon notification if the user has cloned the monorepo
  dontCloneMonorepo.py
Due: none

Added Cursorless prefects to ordinal_or_last capture
  cursorless-talon/src/modifiers/ordinal_scope.py
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
