Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Only do contiguous for comments
  cursorless-talon/src/modifiers/scopes.py
  cursorless-talon/src/spoken_forms.json
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ContiguousScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/spokenForms/SpokenFormType.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScope/changeComment.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScope/changeComment2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScope/changeComment3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScopes/changeFatBlock.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScopes/changeFatIdentifier2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScopes/changeFatToken.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScopes/changeNextFatIdentifier.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScopes/changeNextFatIdentifier2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScopes/changePreviousFatIdentifier.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScopes/changePreviousFatIdentifier2.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

cleanup
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
Due: eslint

cleanup
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ContiguousScopeHandler.ts
Due: eslint

Update test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScope/changeComment2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScope/changeComment4.yml
Due: format-recorded-tests, check-recorded-test-marks

add showQuickActions internal command
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/registerCommands.ts
  packages/cursorless-vscode/src/showQuickActions.ts
Due: eslint

Add iteration scope for markdown items
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/changeEveryItem.yml
  queries/markdown.scm
Due: format-recorded-tests, check-recorded-test-marks

Add iteration scope for markdown items (#2135)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/changeEveryItem.yml
  queries/markdown.scm
Due: format-recorded-tests, check-recorded-test-marks

Added proper find in document implementation
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/find.py
  cursorless-talon/src/apps/cursorless_vscode.py
  cursorless-talon/src/spoken_forms.json
  packages/common/src/ide/PassthroughIDEBase.ts
  packages/common/src/ide/fake/FakeIDE.ts
  packages/common/src/ide/types/ide.types.ts
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/Find.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/scoutForAir.yml
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/scoutAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/scoutVest.yml
Due: format-recorded-tests, check-recorded-test-marks

Added iteration scope for job script statements
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/testUtil/getFixturePaths.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/statement.iteration.scope
  queries/javascript.core.scm
Due: eslint

Added predicate
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ContiguousScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/BaseTreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterIterationScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterTextFragmentScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/scope.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScope/changeComment2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScope/changeComment3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScope/changeComment4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScope/changeComment5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScope/changeComment6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScope/changeComment7.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/contiguousScope/changeComment8.yml
  queries/java.scm
  queries/javascript.core.scm
  queries/python.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added comment facets
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/talon.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/comment.block.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/comment.block2.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/comment.block3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/java/comment.line.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/comment.block3.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/comment.block.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/python/comment.line.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/talon/comment.block.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/talon/comment.line.scope
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
  queries/talon.scm
Due: eslint

Add proper jsonc comment support
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/json/comment.block.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/json/comment.line.scope
  queries/json.scm
Due: none

PR feedback
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/logQuickActions.ts
  packages/cursorless-vscode/src/registerCommands.ts
  packages/cursorless-vscode/src/showQuickActions.ts
Due: eslint

More tweaks
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-vscode/package.json
Due: eslint

whoops
  packages/common/src/scopeSupportFacets/getLanguageScopeSupport.ts
  packages/common/src/scopeSupportFacets/json.ts
Due: eslint

Cleanup
  queries/jsonc.scm
Due: none

Add proper jsonc comment support (#2145)
  packages/common/src/scopeSupportFacets/getLanguageScopeSupport.ts
  packages/common/src/scopeSupportFacets/json.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/json/comment.block.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/json/comment.line.scope
  queries/json.scm
  queries/jsonc.scm
Due: eslint

Update tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/getTextAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/scoutAllAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/scoutVest.yml
Due: format-recorded-tests, check-recorded-test-marks

update tests
  packages/cursorless-vscode-e2e/src/suite/commandHistory.vscode.test.ts
Due: eslint

update error message
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
Due: eslint

split iteration scope
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/statement.iteration.block.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/statement.iteration.document.scope
Due: eslint

Rename grand to ancestor
  cursorless-talon/src/cheatsheet/sections/modifiers.py
  cursorless-talon/src/modifiers/simple_scope_modifier.py
  cursorless-talon/src/spoken_forms.json
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/spokenForms/SpokenFormType.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint

Added editor argument
  packages/common/src/ide/PassthroughIDEBase.ts
  packages/common/src/ide/fake/FakeIDE.ts
  packages/common/src/ide/types/ide.types.ts
  packages/cursorless-engine/src/actions/Find.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
Due: eslint

add `cursorless.private.logQuickActions` internal command (#2136)
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/logQuickActions.ts
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

Started working on capture validation
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
Due: eslint

Load hat SVGs using vscode.workspace.fs.
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Due: eslint

Update
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
  queries/go.scm
Due: eslint

Cleanup
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

Added comment
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

clean up
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

comment
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

Throw error when testing
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

Update comment
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

Clean up
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

Added tests
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

refactor
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

update
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
