Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/rwxcorp/pre-commit-lua.git
    rev: v1.0.0
    hooks:
      - id: stylua
      - id: luacheck

Include Cursorless module declaration
  packages/cursorless-everywhere-talon/src/types/cursorless.d.ts
  packages/cursorless-everywhere-talon/tsconfig.json
Due: eslint

improved debug log
  packages/cursorless-everywhere-talon/scripts/test-quickjs.sh
  packages/cursorless-everywhere-talon/src/test/quickjsTest.ts
Due: eslint

reorder
  packages/cursorless-everywhere-talon/src/test/quickjsTest.ts
Due: eslint

Stop using Intl.Collator
  packages/cursorless-engine/src/actions/Sort.ts
Due: eslint

Cleanup
  packages/cursorless-engine/src/actions/Sort.ts
Due: eslint

Stop using Intl.Collator (#2542)
  packages/cursorless-engine/src/actions/Sort.ts
Due: eslint

Remove collator polyfill
  packages/cursorless-everywhere-talon/src/polyfill.ts
Due: eslint

Hide language docs
  packages/cursorless-org-docs/src/css/custom.css
  packages/cursorless-org-docs/src/docs/user/languages/_category_.json
Due: none

Uppercase Cursorless in tutorial
  data/fixtures/recorded/tutorial/tutorial-1-basics/script.json
  data/fixtures/recorded/tutorial/tutorial-2-basic-coding/script.json
Due: none

"oftentimes" => "often"
  data/fixtures/recorded/tutorial/tutorial-1-basics/script.json
Due: none

Minor tutorial content tweaks (#2543)
  data/fixtures/recorded/tutorial/tutorial-1-basics/script.json
  data/fixtures/recorded/tutorial/tutorial-2-basic-coding/script.json
Due: none

update interface
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  cursorless-everywhere-talon/cursorless_everywhere_talon_win.py
  packages/cursorless-everywhere-talon/src/ide/setSelections.ts
  packages/cursorless-everywhere-talon/src/ide/talonJsPerformEdits.ts
  packages/cursorless-everywhere-talon/src/registerCommands.ts
  packages/cursorless-everywhere-talon/src/test/talonMock.ts
  packages/cursorless-everywhere-talon/src/types/talon.d.ts
  packages/cursorless-everywhere-talon/src/types/types.ts
Due: eslint

Added check
  cursorless-everywhere-talon/cursorless_everywhere_talon_win.py
Due: none

fix: change workflows to actually work
  .github/workflows/test.yml
Due: none

feat: add manual workflow dispatch
  .github/workflows/test.yml
Due: none

feat: add manual workflow dispatch (#2546)
  .github/workflows/test.yml
Due: none

Use TypedDict
  cursorless-everywhere-talon/cursorless_everywhere_talon.py
  cursorless-everywhere-talon/cursorless_everywhere_talon_win.py
  packages/cursorless-everywhere-talon/src/types/types.ts
Due: eslint

For now disable checking number of selections
  cursorless-everywhere-talon/cursorless_everywhere_talon_win.py
Due: none

Started working on end to end tests
  .vscode/launch.json
  packages/cursorless-everywhere-talon-core/package.json
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsCapabilities.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsClipboard.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsConfiguration.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsEditor.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsIDE.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsMessages.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsState.ts
  packages/cursorless-everywhere-talon-core/src/ide/createTextEditor.ts
  packages/cursorless-everywhere-talon-core/src/ide/getRunMode.ts
  packages/cursorless-everywhere-talon-core/src/ide/setSelections.ts
  packages/cursorless-everywhere-talon-core/src/ide/talonJsPerformEdits.ts
  packages/cursorless-everywhere-talon-core/src/index.ts
  packages/cursorless-everywhere-talon-core/src/registerCommands.ts
  packages/cursorless-everywhere-talon-core/src/types/Global.d.ts
  packages/cursorless-everywhere-talon-core/src/types/cursorless.d.ts
  packages/cursorless-everywhere-talon-core/src/types/std.d.ts
  packages/cursorless-everywhere-talon-core/src/types/talon.d.ts
  packages/cursorless-everywhere-talon-core/src/types/types.ts
  packages/cursorless-everywhere-talon-core/tsconfig.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon-e2e/src/recorded.talonjs.test.ts
  packages/cursorless-everywhere-talon-e2e/tsconfig.json
  packages/cursorless-everywhere-talon/package.json
  packages/cursorless-everywhere-talon/src/extension.ts
  packages/test-harness/package.json
  packages/test-harness/src/runAllTests.ts
  packages/test-harness/src/scripts/runTalonJsTests.ts
  pnpm-lock.yaml
  tsconfig.json
Due: eslint

Restructure dependencies
  packages/cursorless-everywhere-talon-core/src/extension.ts
  packages/cursorless-everywhere-talon-core/src/index.ts
  packages/cursorless-everywhere-talon-core/src/types/talon.d.ts
  packages/cursorless-everywhere-talon-core/src/types/talon.types.ts
  packages/cursorless-everywhere-talon-e2e/src/recorded.talonjs.test.ts
  packages/cursorless-everywhere-talon/src/test/talonMock.ts
  packages/cursorless-everywhere-talon/src/types/cursorless.d.ts
  packages/cursorless-everywhere-talon/src/types/talon.d.ts
Due: eslint

test: attempt to run test-harness on CI from /cursorless.nvim instead of /dist/cursorless.nvim
  packages/test-harness/src/config/init.lua
Due: none

fix: merge conflict
  packages/cursorless-neovim/src/registerCommands.ts
Due: eslint

fix: lineAt(): position is adjusted if it is outside range
  packages/neovim-common/src/ide/neovim/NeovimTextDocumentImpl.ts
Due: eslint

more work
  packages/cursorless-everywhere-talon-core/src/extension.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsClipboard.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsEditor.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsIDE.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsMessages.ts
  packages/cursorless-everywhere-talon-core/src/ide/createTextEditor.ts
  packages/cursorless-everywhere-talon-core/src/ide/setSelections.ts
  packages/cursorless-everywhere-talon-core/src/ide/talonJsPerformEdits.ts
  packages/cursorless-everywhere-talon-core/src/polyfill.ts
  packages/cursorless-everywhere-talon-core/src/registerCommands.ts
  packages/cursorless-everywhere-talon-core/src/types/Global.d.ts
  packages/cursorless-everywhere-talon-core/src/types/talon.d.ts
  packages/cursorless-everywhere-talon-core/src/types/talon.types.ts
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon-e2e/scripts/test-quickjs.sh
  packages/cursorless-everywhere-talon-e2e/src/quickjsTest.ts
  packages/cursorless-everywhere-talon-e2e/src/recorded.talonjs.test.ts
  packages/cursorless-everywhere-talon-e2e/src/talonMock.ts
  packages/cursorless-everywhere-talon-e2e/src/types/cursorless.ts
  packages/cursorless-everywhere-talon-e2e/src/types/talon.ts
  packages/cursorless-everywhere-talon-e2e/tsconfig.json
  packages/cursorless-everywhere-talon/package.json
  packages/cursorless-everywhere-talon/scripts/esbuild.sh
  packages/cursorless-everywhere-talon/src/extension.ts
  packages/cursorless-everywhere-talon/src/types/Global.d.ts
  packages/cursorless-everywhere-talon/src/types/cursorless.d.ts
  packages/cursorless-everywhere-talon/src/types/talon.d.ts
  packages/test-harness/package.json
  packages/test-harness/scripts/build-tests.sh
Due: eslint

updated poly fil
  packages/cursorless-everywhere-talon-core/src/polyfill.ts
  packages/cursorless-everywhere-talon-e2e/src/recorded.talonjs.test.ts
  packages/cursorless-everywhere-talon/package.json
Due: eslint

Update polyfill
  packages/cursorless-everywhere-talon-core/src/polyfill.ts
Due: eslint

fix: Address review feedback
  .github/workflows/test.yml
  .vscode/tasks.json
Due: none

docs: restore working CI + add tests architecture
  docs/contributing/architecture/tests.md
  packages/test-harness/src/config/init.lua
Due: none

refactoring/docs: minor for tests
  docs/contributing/architecture/tests.md
  packages/cursorless-neovim/scripts/populate-dist.sh
Due: none

Wire up test runner
  .vscode/launch.json
  packages/common/src/types/TextEditor.ts
  packages/cursorless-everywhere-talon-core/src/constructTestHelpers.ts
  packages/cursorless-everywhere-talon-core/src/extension.ts
  packages/cursorless-everywhere-talon-core/src/ide/createTextEditor.ts
  packages/cursorless-everywhere-talon-core/src/index.ts
  packages/cursorless-everywhere-talon-core/src/types/types.ts
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon-e2e/src/constructTestHelpers.ts
  packages/cursorless-everywhere-talon-e2e/src/endToEndTestSetUp.ts
  packages/cursorless-everywhere-talon-e2e/src/recorded.talonjs.test.ts
  packages/cursorless-everywhere-talon-e2e/tsconfig.json
  pnpm-lock.yaml
Due: eslint

filed er tests
  packages/cursorless-everywhere-talon-e2e/src/recorded.talonjs.test.ts
Due: eslint

fix: Address task.json feedback
  .vscode/tasks.json
Due: none

Filter on actions
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsEditor.ts
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon-e2e/src/recorded.talonjs.test.ts
  packages/cursorless-everywhere-talon-e2e/tsconfig.json
  pnpm-lock.yaml
Due: eslint

Cleanup
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/createTargetScope.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterRegex.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getIndividualDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/stronglyContains.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
Due: eslint

update helpers
  packages/cursorless-everywhere-talon-core/src/constructTestHelpers.ts
  packages/cursorless-everywhere-talon-core/src/extension.ts
  packages/cursorless-everywhere-talon-core/src/types/types.ts
  packages/cursorless-everywhere-talon-e2e/src/recorded.talonjs.test.ts
Due: eslint

Tweaks
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
Due: eslint

Properly insert CRLF in in memory text document
  packages/common/src/ide/inMemoryTextDocument/performEdits.ts
  packages/common/src/ide/inMemoryTextDocument/test/InMemoryTextDocumentEdit.test.ts
Due: eslint

Properly insert CRLF in in memory text document (#2549)
  packages/common/src/ide/inMemoryTextDocument/performEdits.ts
  packages/common/src/ide/inMemoryTextDocument/test/InMemoryTextDocumentEdit.test.ts
Due: eslint

Fix / simplify
  data/fixtures/recorded/surroundingPair/parseTree/typescript/changeRound.yml
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getIndividualDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Make script executable
  packages/cursorless-everywhere-talon-e2e/scripts/test-quickjs.sh
Due: none
