Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

started working on updating dependencies
  .npmrc
  .syncpackrc.json
  eslint.config.mts
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/eslint.config.mts
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/node-common/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: none

Update node version
  .nvmrc
Due: none

dedupe
  pnpm-lock.yaml
Due: none

node v24
  .nvmrc
  package.json
Due: none

Another update
  package.json
Due: none

Update eslint dependency to v10
  cursorless.nvim/node/command-server/package.json
  eslint.config.mts
  package.json
  packages/common/eslintConfig.ts
  packages/cursorless-engine/eslintConfig.ts
  packages/cursorless-engine/src/test/spokenForms.talon.test.ts
  packages/cursorless-org/eslint.config.mts
  packages/cursorless-org/eslintConfig.ts
  packages/cursorless-org/package.json
  packages/cursorless-vscode/eslintConfig.ts
  packages/cursorless-vscode/src/VscodeSnippets.ts
  packages/neovim-common/src/ide/neovim/NeovimTextDocumentImpl.ts
  packages/sentence-parser/src/Match.ts
  packages/sentence-parser/src/sbd.ts
  packages/test-case-recorder/src/TestCaseRecorder.ts
  pnpm-lock.yaml
Due: eslint

Update Tailwind PostCSS plugin to 4.1.18
  packages/cheatsheet-local/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-org/tailwind.config.js
  pnpm-lock.yaml
Due: none

Updating cheatsheet legend and defaults
  cursorless-talon/src/cheatsheet/sections/actions.py
  packages/cheatsheet/src/lib/cheatsheetLegend.tsx
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Due: eslint

More fixes
  packages/cheatsheet/src/lib/cheatsheetLegend.tsx
  packages/cheatsheet/src/lib/components/CheatsheetLegendComponent.tsx
Due: eslint

More updates
  packages/cheatsheet/src/lib/cheatsheetLegend.tsx
  packages/cheatsheet/src/lib/components/CheatsheetLegendComponent.tsx
Due: eslint

Remove print
  cursorless-talon/src/cheatsheet/sections/actions.py
Due: none

update
  cursorless-talon/src/cheatsheet/sections/actions.py
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Due: none

update legend
  packages/cheatsheet/src/lib/cheatsheetLegend.tsx
Due: eslint

Update cheatsheet (#3180)
  src/cheatsheet/sections/actions.py
Due: none

Fixed bug where Talon list wasn't properly updated when the user disabled a spoken form
  cursorless-talon/src/csv_overrides.py
Due: none

Fixed bug where Talon list wasn't properly updated when the user disabled a spoken form (#3181)
  src/csv_overrides.py
Due: none

Started adding scope facets to ruby
  data/fixtures/scopes/ruby/class.iteration.document.scope
  data/fixtures/scopes/ruby/class.scope
  data/fixtures/scopes/ruby/functionCall/functionCall.chain.scope
  data/fixtures/scopes/ruby/functionCall/functionCall.method.scope
  data/fixtures/scopes/ruby/functionCall/functionCall.scope
  data/fixtures/scopes/ruby/ifStatement.scope
  data/fixtures/scopes/ruby/name/name.iteration.document.scope
  data/fixtures/scopes/ruby/namedFunction.iteration.class.scope
  data/fixtures/scopes/ruby/namedFunction.method.scope
  data/fixtures/scopes/ruby/namedFunction.scope
  data/fixtures/scopes/ruby/statement/statement.iteration.document.scope
  data/fixtures/scopes/ruby/string.multiLine.scope
  data/fixtures/scopes/ruby/string.singleLine.scope
  data/fixtures/scopes/ruby/textFragment.comment.block.scope
  data/fixtures/scopes/ruby/textFragment.comment.line.scope
  data/fixtures/scopes/ruby/textFragment.string.multiLine.scope
  data/fixtures/scopes/ruby/textFragment.string.singleLine.scope
  data/fixtures/scopes/ruby/value/value.iteration.document.scope
  packages/common/src/scopeSupportFacets/ruby.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  queries/ruby.scm
Due: eslint

callee
  data/fixtures/scopes/ruby/functionCallee/functionCallee.chain.scope
  data/fixtures/scopes/ruby/functionCallee/functionCallee.method.scope
  data/fixtures/scopes/ruby/functionCallee/functionCallee.scope
  queries/ruby.scm
Due: none

re
  data/fixtures/scopes/ruby/regularExpression.scope
  queries/ruby.scm
Due: none

map/list
  data/fixtures/scopes/ruby/list.scope
  data/fixtures/scopes/ruby/list2.scope
  data/fixtures/scopes/ruby/list3.scope
  data/fixtures/scopes/ruby/map.scope
  data/fixtures/scopes/ruby/namedFunction.iteration.document.scope
  queries/ruby.scm
Due: none

statement
  data/fixtures/scopes/ruby/anonymousFunction.scope
  data/fixtures/scopes/ruby/anonymousFunction2.scope
  data/fixtures/scopes/ruby/statement/statement.assignment.scope
  data/fixtures/scopes/ruby/statement/statement.break.scope
  data/fixtures/scopes/ruby/statement/statement.class.scope
  data/fixtures/scopes/ruby/statement/statement.continue.scope
  data/fixtures/scopes/ruby/statement/statement.foreach.scope
  data/fixtures/scopes/ruby/statement/statement.foreach2.scope
  data/fixtures/scopes/ruby/statement/statement.function.scope
  data/fixtures/scopes/ruby/statement/statement.functionCall.scope
  data/fixtures/scopes/ruby/statement/statement.if.scope
  data/fixtures/scopes/ruby/statement/statement.method.scope
  data/fixtures/scopes/ruby/statement/statement.misc.scope
  data/fixtures/scopes/ruby/statement/statement.return.scope
  data/fixtures/scopes/ruby/statement/statement.throw.scope
  data/fixtures/scopes/ruby/statement/statement.variable.initialized.scope
  data/fixtures/scopes/ruby/statement/statement.while.scope
  data/fixtures/scopes/ruby/statement/statement.yield.scope
  packages/common/src/scopeSupportFacets/ruby.ts
  queries/ruby.scm
Due: eslint

more tests
  data/fixtures/scopes/ruby/name/name.assignment.scope
  data/fixtures/scopes/ruby/name/name.class.scope
  data/fixtures/scopes/ruby/name/name.foreach.scope
  data/fixtures/scopes/ruby/name/name.function.scope
  data/fixtures/scopes/ruby/name/name.iteration.class.scope
  data/fixtures/scopes/ruby/name/name.method.scope
  data/fixtures/scopes/ruby/statement/statement.foreach2.scope
  data/fixtures/scopes/ruby/statement/statement.iteration.class.scope
  data/fixtures/scopes/ruby/statement/statement.switch.scope
  data/fixtures/scopes/ruby/statement/statement.try.scope
  data/fixtures/scopes/ruby/value/value.assignment.scope
  data/fixtures/scopes/ruby/value/value.foreach.scope
  data/fixtures/scopes/ruby/value/value.iteration.class.scope
  data/fixtures/scopes/ruby/value/value.return.lambda.scope
  data/fixtures/scopes/ruby/value/value.return.scope
  data/fixtures/scopes/ruby/value/value.switch.scope
  data/fixtures/scopes/ruby/value/value.variable.scope
  queries/ruby.scm
Due: none

pair
  data/fixtures/scopes/ruby/key/key.mapPair.iteration.scope
  data/fixtures/scopes/ruby/key/key.mapPair.scope
  data/fixtures/scopes/ruby/value/value.mapPair.iteration.scope
  data/fixtures/scopes/ruby/value/value.mapPair.scope
Due: none

lambda
  data/fixtures/scopes/ruby/anonymousFunction3.scope
  queries/ruby.scm
Due: none

update tests
  data/fixtures/recorded/languages/ruby/chuckNameThis.yml
  data/fixtures/recorded/languages/ruby/chuckNameThis2.yml
Due: format-recorded-tests, check-recorded-test-marks

argument list
  data/fixtures/scopes/ruby/argumentList/argumentList.actual.method.empty.scope
  data/fixtures/scopes/ruby/argumentList/argumentList.actual.method.multiLine.scope
  data/fixtures/scopes/ruby/argumentList/argumentList.actual.method.singleLine.scope
  data/fixtures/scopes/ruby/argumentList/argumentList.formal.lambda.empty.scope
  data/fixtures/scopes/ruby/argumentList/argumentList.formal.lambda.multiLine.scope
  data/fixtures/scopes/ruby/argumentList/argumentList.formal.lambda.singleLine.scope
  data/fixtures/scopes/ruby/argumentList/argumentList.formal.method.empty.scope
  data/fixtures/scopes/ruby/argumentList/argumentList.formal.method.multiLine.scope
  data/fixtures/scopes/ruby/argumentList/argumentList.formal.method.singleLine.scope
  queries/ruby.scm
Due: none

argument
  data/fixtures/scopes/ruby/argument/argument.actual.method.iteration.scope
  data/fixtures/scopes/ruby/argument/argument.actual.method.multiLine.scope
  data/fixtures/scopes/ruby/argument/argument.actual.method.singleLine.scope
  data/fixtures/scopes/ruby/argument/argument.formal.lambda.iteration.scope
  data/fixtures/scopes/ruby/argument/argument.formal.lambda.multiLine.scope
  data/fixtures/scopes/ruby/argument/argument.formal.lambda.singleLine.scope
  data/fixtures/scopes/ruby/argument/argument.formal.method.iteration.scope
  data/fixtures/scopes/ruby/argument/argument.formal.method.multiLine.scope
  data/fixtures/scopes/ruby/argument/argument.formal.method.singleLine.scope
Due: none

argument fixes
  queries/ruby.scm
Due: none

argument actual
  data/fixtures/scopes/ruby/name/name.argument.actual.iteration.scope
  data/fixtures/scopes/ruby/name/name.argument.actual.scope
  data/fixtures/scopes/ruby/value/value.argument.actual.iteration.scope
  data/fixtures/scopes/ruby/value/value.argument.actual.scope
  queries/ruby.scm
Due: none

argument formal
  data/fixtures/scopes/ruby/name/name.argument.formal.iteration.scope
  data/fixtures/scopes/ruby/name/name.argument.formal.lambda.iteration.scope
  data/fixtures/scopes/ruby/name/name.argument.formal.lambda.scope
  data/fixtures/scopes/ruby/name/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/ruby/name/name.argument.formal.method.scope
  data/fixtures/scopes/ruby/name/name.argument.formal.scope
  data/fixtures/scopes/ruby/value/value.argument.formal.iteration.scope
  data/fixtures/scopes/ruby/value/value.argument.formal.method.iteration.scope
  data/fixtures/scopes/ruby/value/value.argument.formal.method.scope
  data/fixtures/scopes/ruby/value/value.argument.formal.scope
  queries/ruby.scm
Due: none

condition
  data/fixtures/scopes/ruby/condition/condition.if.scope
  data/fixtures/scopes/ruby/condition/condition.switchCase.iteration.scope
  data/fixtures/scopes/ruby/condition/condition.switchCase.scope
  data/fixtures/scopes/ruby/condition/condition.switchCase2.scope
  data/fixtures/scopes/ruby/condition/condition.ternary.scope
  data/fixtures/scopes/ruby/condition/condition.while.scope
  packages/common/src/scopeSupportFacets/ruby.ts
  queries/ruby.scm
Due: eslint

Added change pair test
  data/fixtures/recorded/surroundingPair/parseTree/ruby/changePair.yml
Due: format-recorded-tests, check-recorded-test-marks

branch
  data/fixtures/scopes/ruby/branch/branch.if.elif.else.scope
  data/fixtures/scopes/ruby/branch/branch.if.else.scope
  data/fixtures/scopes/ruby/branch/branch.if.iteration.scope
  data/fixtures/scopes/ruby/branch/branch.if.scope
  data/fixtures/scopes/ruby/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/ruby/branch/branch.switchCase.iteration2.scope
  data/fixtures/scopes/ruby/branch/branch.switchCase.scope
  data/fixtures/scopes/ruby/branch/branch.switchCase2.scope
  data/fixtures/scopes/ruby/branch/branch.switchCase3.scope
  data/fixtures/scopes/ruby/branch/branch.ternary.iteration.scope
  data/fixtures/scopes/ruby/branch/branch.ternary.scope
  data/fixtures/scopes/ruby/branch/branch.try.iteration.scope
  data/fixtures/scopes/ruby/branch/branch.try.scope
  data/fixtures/scopes/ruby/condition/condition.switchCase.iteration2.scope
  data/fixtures/scopes/ruby/condition/condition.switchCase.scope
  data/fixtures/scopes/ruby/condition/condition.switchCase2.scope
  data/fixtures/scopes/ruby/condition/condition.switchCase3.scope
  data/fixtures/scopes/ruby/condition/condition.switchCase4.scope
  data/fixtures/scopes/ruby/statement/statement.switch2.scope
  data/fixtures/scopes/ruby/value/value.switch2.scope
  queries/ruby.scm
Due: none

interior
  data/fixtures/scopes/ruby/interior/interior.class.scope
  data/fixtures/scopes/ruby/interior/interior.foreach.scope
  data/fixtures/scopes/ruby/interior/interior.function.scope
  data/fixtures/scopes/ruby/interior/interior.function2.scope
  data/fixtures/scopes/ruby/interior/interior.function3.scope
  data/fixtures/scopes/ruby/interior/interior.function4.scope
  data/fixtures/scopes/ruby/interior/interior.method.scope
  data/fixtures/scopes/ruby/interior/interior.while.scope
  data/fixtures/scopes/ruby/name/name.function2.scope
  data/fixtures/scopes/ruby/name/name.function3.scope
  data/fixtures/scopes/ruby/name/name.function4.scope
  data/fixtures/scopes/ruby/namedFunction2.scope
  data/fixtures/scopes/ruby/namedFunction3.scope
  data/fixtures/scopes/ruby/namedFunction4.scope
  data/fixtures/scopes/ruby/statement/statement.function2.scope
  data/fixtures/scopes/ruby/statement/statement.function3.scope
  data/fixtures/scopes/ruby/statement/statement.function4.scope
  queries/ruby.scm
Due: none

more interior
  data/fixtures/scopes/ruby/interior/interior.class.scope
  data/fixtures/scopes/ruby/interior/interior.foreach.scope
  data/fixtures/scopes/ruby/interior/interior.function.scope
  data/fixtures/scopes/ruby/interior/interior.function2.scope
  data/fixtures/scopes/ruby/interior/interior.function3.scope
  data/fixtures/scopes/ruby/interior/interior.if.scope
  data/fixtures/scopes/ruby/interior/interior.if2.scope
  data/fixtures/scopes/ruby/interior/interior.if3.scope
  data/fixtures/scopes/ruby/interior/interior.method.scope
  data/fixtures/scopes/ruby/interior/interior.try.scope
  data/fixtures/scopes/ruby/interior/interior.while.scope
  queries/ruby.scm
Due: none

switch
  data/fixtures/scopes/ruby/interior/interior.lambda.scope
  data/fixtures/scopes/ruby/interior/interior.switch.scope
  data/fixtures/scopes/ruby/interior/interior.switch2.scope
  data/fixtures/scopes/ruby/interior/interior.switchCase.scope
  data/fixtures/scopes/ruby/interior/interior.switchCase2.scope
  queries/ruby.scm
Due: none

iteration
  data/fixtures/scopes/ruby/name/name.iteration.block.scope
  data/fixtures/scopes/ruby/name/name.iteration.block2.scope
  data/fixtures/scopes/ruby/name/name.iteration.block4.scope
  data/fixtures/scopes/ruby/statement/statement.iteration.block.scope
  data/fixtures/scopes/ruby/statement/statement.iteration.block2.scope
  data/fixtures/scopes/ruby/statement/statement.iteration.block4.scope
  data/fixtures/scopes/ruby/value/value.iteration.block.scope
  data/fixtures/scopes/ruby/value/value.iteration.block2.scope
  data/fixtures/scopes/ruby/value/value.iteration.block4.scope
  queries/ruby.scm
Due: none

iteration
  data/fixtures/scopes/ruby/name/name.iteration.block3.scope
  data/fixtures/scopes/ruby/name/name.iteration.class.scope
  data/fixtures/scopes/ruby/statement/statement.iteration.block3.scope
  data/fixtures/scopes/ruby/statement/statement.iteration.class.scope
  data/fixtures/scopes/ruby/value/value.iteration.block3.scope
  data/fixtures/scopes/ruby/value/value.iteration.class.scope
  queries/ruby.scm
Due: none

Cleanup
  packages/common/src/scopeSupportFacets/ruby.ts
Due: eslint

More tests
  data/fixtures/scopes/ruby/value/value.throw.scope
  data/fixtures/scopes/ruby/value/value.yield.scope
  packages/common/src/scopeSupportFacets/ruby.ts
  queries/ruby.scm
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
