Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Add pi.dev podcast badge
  README.md
Due: none

Add pi.dev podcast badge (#2738)
  README.md
Due: none

Fix for markdown cells
  data/fixtures/recorded/languages/markdown/changeCell.yml
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/LineScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NotebookCellScopeHandler.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Use one of scope handler
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NotebookCellApiScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NotebookCellScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
Due: eslint

Show error about missing iteration scope
  packages/cursorless-engine/src/processTargets/modifiers/EveryScopeStage.ts
Due: eslint

Fix bug with collection item scope
  data/fixtures/scopes/textual/collectionItem.textual15.scope
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
Due: eslint

Update comment
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
Due: eslint

Added range concise one based function
  packages/common/src/types/Position.ts
  packages/common/src/types/Range.ts
  packages/common/src/types/Selection.ts
Due: eslint

Added tests
  packages/common/src/types/position.test.ts
  packages/common/src/types/range.test.ts
  packages/common/src/types/selection.test.ts
Due: eslint

Update packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NotebookCellApiScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NotebookCellApiScopeHandler.ts
Due: eslint

Fix for markdown cells (#2739)
  data/fixtures/recorded/languages/markdown/changeCell.yml
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/LineScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NotebookCellApiScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/NotebookCellScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Fix bug with collection item scope (#2741)
  data/fixtures/scopes/textual/collectionItem.textual15.scope
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
Due: eslint

Remove unnecessary catch which caused confusing error when iteration scopes were missing (#2740)
  packages/cursorless-engine/src/processTargets/modifiers/EveryScopeStage.ts
Due: eslint

based
  packages/common/src/types/Position.ts
  packages/common/src/types/Range.ts
  packages/common/src/types/Selection.ts
  packages/common/src/types/position.test.ts
  packages/common/src/types/range.test.ts
  packages/common/src/types/selection.test.ts
Due: eslint

Added range concise one based function (#2742)
  packages/common/src/types/Position.ts
  packages/common/src/types/Range.ts
  packages/common/src/types/Selection.ts
  packages/common/src/types/position.test.ts
  packages/common/src/types/range.test.ts
  packages/common/src/types/selection.test.ts
Due: eslint

Added the ability to generate community snippets
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/generate_snippet.py
  data/fixtures/recorded/actions/snippets/snipMakeFunk2.yml
  data/fixtures/recorded/actions/snippets/snipMakeState2.yml
  data/fixtures/recorded/actions/snippets/testSnippetMakeLine2.yml
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippetCommunity.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippetLegacy.ts
  packages/cursorless-engine/src/actions/actions.types.ts
  packages/cursorless-engine/src/core/Snippets.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/disabledComponents/DisabledSnippets.ts
  packages/cursorless-vscode/src/VscodeSnippets.ts
  pnpm-lock.yaml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update comment
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippetCommunity.ts
Due: eslint

Testing interface implementation with partial hints
  packages/cursorless-engine/src/cursorlessEngine.ts
Due: eslint

neovim skip generate snippet test
  packages/cursorless-neovim-e2e/src/shouldRunTest.ts
Due: eslint

Mak call
  packages/cursorless-engine/src/cursorlessEngine.ts
Due: eslint

Started working on migrating snippets
  cursorless-talon/src/actions/generate_snippet.py
  cursorless-talon/src/cursorless.talon
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-vscode/src/VscodeSnippets.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/migrateSnippets.ts
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

Added dependency
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/migrateSnippets.ts
  pnpm-lock.yaml
Due: eslint

Ordered imports
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippetCommunity.ts
Due: eslint

Save files
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Added notification
  cursorless-talon/src/actions/generate_snippet.py
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Use path return
  cursorless-talon/src/actions/generate_snippet.py
Due: none

Update packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippetCommunity.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippetCommunity.ts
Due: eslint

Reflow comment
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippetCommunity.ts
Due: eslint

Update name to directory
  cursorless-talon/src/actions/generate_snippet.py
  data/fixtures/recorded/actions/snippets/snipMakeFunk2.yml
  data/fixtures/recorded/actions/snippets/snipMakeState2.yml
  data/fixtures/recorded/actions/snippets/testSnippetMakeLine2.yml
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippetCommunity.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

we name
  cursorless-talon/src/actions/generate_snippet.py
Due: none

Up dit
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/actions/actions.types.ts
  packages/cursorless-engine/src/core/Snippets.ts
  packages/cursorless-vscode/src/VscodeSnippets.ts
Due: eslint

fix
  packages/cursorless-engine/src/disabledComponents/DisabledSnippets.ts
Due: eslint

Generate snippets for community format (#2744)
  src/actions/actions.py
  src/actions/generate_snippet.py
Due: none

Generate snippets for community format (#2744)
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/generate_snippet.py
  data/fixtures/recorded/actions/snippets/snipMakeFunk2.yml
  data/fixtures/recorded/actions/snippets/snipMakeState2.yml
  data/fixtures/recorded/actions/snippets/testSnippetMakeLine2.yml
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippetCommunity.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippetLegacy.ts
  packages/cursorless-engine/src/actions/actions.types.ts
  packages/cursorless-engine/src/core/Snippets.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/disabledComponents/DisabledSnippets.ts
  packages/cursorless-neovim-e2e/src/shouldRunTest.ts
  packages/cursorless-vscode/src/VscodeSnippets.ts
  pnpm-lock.yaml
Due: eslint, format-recorded-tests, check-recorded-test-marks

neovim dummy command
  packages/cursorless-neovim/src/registerCommands.ts
Due: eslint

fix meta
  packages/cursorless-vscode/package.json
Due: none

Update docs
  packages/cursorless-org-docs/src/docs/user/experimental/snippets.md
Due: none

Switch to cursorless-dev sponsors account
  packages/cursorless-org/src/pages/index.tsx
  packages/cursorless-vscode/package.json
Due: eslint

Switch to cursorless-dev sponsors account (#2748)
  packages/cursorless-org/src/pages/index.tsx
  packages/cursorless-vscode/package.json
Due: eslint

Disable Cursorless for vscode file dialogs
  cursorless-talon/src/apps/cursorless_vscode.py
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
