Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/|^data/playground/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

More scopes
  data/fixtures/scopes/rust/class.iteration.document.scope
  data/fixtures/scopes/rust/class.scope
  data/fixtures/scopes/rust/name/name.class.scope
  data/fixtures/scopes/rust/name/name.field.class.scope
  data/fixtures/scopes/rust/name/name.iteration.document.scope
  data/fixtures/scopes/rust/name/name.method.scope
  data/fixtures/scopes/rust/name/name.namespace.scope
  data/fixtures/scopes/rust/name/name.variable.scope
  data/fixtures/scopes/rust/namedFunction.iteration.document.scope
  data/fixtures/scopes/rust/statement/statement.class2.scope
  data/fixtures/scopes/rust/statement/statement.field.class.scope
  data/fixtures/scopes/rust/statement/statement.iteration.document.scope
  data/fixtures/scopes/rust/type/type.class.scope
  data/fixtures/scopes/rust/type/type.class2.scope
  data/fixtures/scopes/rust/type/type.enum.scope
  data/fixtures/scopes/rust/type/type.field.class.scope
  data/fixtures/scopes/rust/type/type.iteration.document.scope
  data/fixtures/scopes/rust/value/value.iteration.document.scope
  packages/common/src/scopeSupportFacets/rust.ts
  queries/rust.scm
Due: eslint

more scopes
  data/fixtures/scopes/rust/name/name.argument.formal.method.scope
  data/fixtures/scopes/rust/name/name.assignment.pattern.scope
  data/fixtures/scopes/rust/name/name.assignment.scope
  data/fixtures/scopes/rust/name/name.foreach.scope
  data/fixtures/scopes/rust/name/name.variable.pattern.scope
  data/fixtures/scopes/rust/type/type.argument.formal.method.scope
  data/fixtures/scopes/rust/value/value.assignment.scope
  data/fixtures/scopes/rust/value/value.foreach.scope
  data/fixtures/scopes/rust/value/value.return.scope
  queries/rust.scm
Due: none

More updates
  data/fixtures/scopes/rust/argument/argument.formal.lambda.iteration.scope
  data/fixtures/scopes/rust/argument/argument.formal.lambda.iteration2.scope
  data/fixtures/scopes/rust/argument/argument.formal.lambda.multiLine.scope
  data/fixtures/scopes/rust/argument/argument.formal.lambda.multiLine2.scope
  data/fixtures/scopes/rust/argument/argument.formal.lambda.singleLine.scope
  data/fixtures/scopes/rust/argument/argument.formal.lambda.singleLine2.scope
  data/fixtures/scopes/rust/argumentList/argumentList.actual.method.multiLine.scope
  data/fixtures/scopes/rust/argumentList/argumentList.actual.multiLine.scope
  data/fixtures/scopes/rust/argumentList/argumentList.formal.lambda.empty.scope
  data/fixtures/scopes/rust/argumentList/argumentList.formal.lambda.multiLine.scope
  data/fixtures/scopes/rust/argumentList/argumentList.formal.lambda.singleLine.scope
  data/fixtures/scopes/rust/argumentList/argumentList.formal.method.multiLine.scope
  data/fixtures/scopes/rust/argumentList/argumentList.formal.multiLine.scope
  data/fixtures/scopes/rust/branch/branch.if.iteration.scope
  data/fixtures/scopes/rust/branch/branch.switchCase.iteration.scope
  data/fixtures/scopes/rust/condition.switchCase.iteration.scope
  data/fixtures/scopes/rust/condition.switchCase.scope
  data/fixtures/scopes/rust/list.scope
  data/fixtures/scopes/rust/type/type.alias.scope
  data/fixtures/scopes/rust/type/type.cast.scope
  data/fixtures/scopes/rust/type/type.typeArgument.iteration.scope
  data/fixtures/scopes/rust/type/type.typeArgument.scope
  data/fixtures/scopes/rust/value/value.return.lambda.scope
  data/fixtures/scopes/rust/value/value.typeAlias.scope
  data/fixtures/scopes/typescript.core/value/value.typeAlias.scope
  data/fixtures/scopes/typescript.core/value/value.typeAlias2.scope
  packages/common/src/scopeSupportFacets/rust.ts
  queries/rust.scm
  queries/typescript.core.scm
Due: eslint

list
  data/fixtures/scopes/rust/list.scope
  data/fixtures/scopes/rust/list2.scope
  packages/common/src/scopeSupportFacets/rust.ts
  queries/rust.scm
Due: eslint

argument iteration
  data/fixtures/scopes/rust/list.scope
  data/fixtures/scopes/rust/list2.scope
  data/fixtures/scopes/rust/name/name.argument.formal.iteration.scope
  data/fixtures/scopes/rust/name/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/rust/type/type.argument.formal.iteration.scope
  data/fixtures/scopes/rust/type/type.argument.formal.method.iteration.scope
  queries/rust.scm
Due: none

Added iteration scopes
  data/fixtures/scopes/rust/name/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/rust/name/name.field.interface.scope
  data/fixtures/scopes/rust/name/name.interface.scope
  data/fixtures/scopes/rust/name/name.iteration.block.scope
  data/fixtures/scopes/rust/name/name.iteration.block2.scope
  data/fixtures/scopes/rust/name/name.iteration.class2.scope
  data/fixtures/scopes/rust/name/name.iteration.class3.scope
  data/fixtures/scopes/rust/name/name.iteration.enum.scope
  data/fixtures/scopes/rust/name/name.iteration.interface.scope
  data/fixtures/scopes/rust/name/namedFunction.iteration.class.scope
  data/fixtures/scopes/rust/namedFunction.iteration.class.scope
  data/fixtures/scopes/rust/statement/statement.class3.scope
  data/fixtures/scopes/rust/statement/statement.field.interface.scope
  data/fixtures/scopes/rust/statement/statement.interface.scope
  data/fixtures/scopes/rust/statement/statement.iteration.block.scope
  data/fixtures/scopes/rust/statement/statement.iteration.block2.scope
  data/fixtures/scopes/rust/statement/statement.iteration.block3.scope
  data/fixtures/scopes/rust/statement/statement.iteration.class.scope
  data/fixtures/scopes/rust/statement/statement.iteration.class2.scope
  data/fixtures/scopes/rust/statement/statement.iteration.class3.scope
  data/fixtures/scopes/rust/statement/statement.iteration.interface.scope
  data/fixtures/scopes/rust/type/type.argument.formal.method.iteration.scope
  data/fixtures/scopes/rust/type/type.class3.scope
  data/fixtures/scopes/rust/type/type.field.interface.scope
  data/fixtures/scopes/rust/type/type.interface.scope
  data/fixtures/scopes/rust/type/type.iteration.block.scope
  data/fixtures/scopes/rust/type/type.iteration.block2.scope
  data/fixtures/scopes/rust/type/type.iteration.block3.scope
  data/fixtures/scopes/rust/type/type.iteration.class.scope
  data/fixtures/scopes/rust/type/type.iteration.class2.scope
  data/fixtures/scopes/rust/type/type.iteration.class3.scope
  data/fixtures/scopes/rust/type/type.iteration.interface.scope
  data/fixtures/scopes/rust/value/value.iteration.block.scope
  data/fixtures/scopes/rust/value/value.iteration.block2.scope
  data/fixtures/scopes/rust/value/value.iteration.block3.scope
  data/fixtures/scopes/rust/value/value.iteration.class.scope
  data/fixtures/scopes/rust/value/value.iteration.class2.scope
  data/fixtures/scopes/rust/value/value.iteration.class3.scope
  packages/common/src/scopeSupportFacets/rust.ts
  queries/rust.scm
Due: eslint

interior
  data/fixtures/scopes/rust/interior/interior.class.scope
  data/fixtures/scopes/rust/interior/interior.class2.scope
  data/fixtures/scopes/rust/interior/interior.class3.scope
  data/fixtures/scopes/rust/interior/interior.enum.scope
  data/fixtures/scopes/rust/interior/interior.foreach.scope
  data/fixtures/scopes/rust/interior/interior.function.scope
  data/fixtures/scopes/rust/interior/interior.if.scope
  data/fixtures/scopes/rust/interior/interior.interface.scope
  data/fixtures/scopes/rust/interior/interior.lambda.scope
  data/fixtures/scopes/rust/interior/interior.method.scope
  data/fixtures/scopes/rust/interior/interior.namespace.scope
  data/fixtures/scopes/rust/interior/interior.switchCase.scope
  queries/rust.scm
Due: none

Small fixes
  data/fixtures/recorded/languages/rust/clearValue4.yml
  data/fixtures/recorded/languages/rust/clearValue5.yml
  queries/rust.scm
Due: format-recorded-tests, check-recorded-test-marks

Clean up
  packages/common/src/scopeSupportFacets/rust.ts
  queries/rust.scm
Due: eslint

More tests
  data/fixtures/scopes/rust/name/name.class2.scope
  data/fixtures/scopes/rust/type/type.class4.scope
Due: none

Started working on lua facets
  packages/common/src/scopeSupportFacets/lua.ts
Due: eslint

More iteration scopes
  data/fixtures/scopes/lua/argument/argument.actual.iteration.scope
  data/fixtures/scopes/lua/argument/argument.actual.method.iteration.scope
  data/fixtures/scopes/lua/argument/argument.formal.iteration.scope
  data/fixtures/scopes/lua/argument/argument.formal.lambda.iteration.scope
  data/fixtures/scopes/lua/argument/argument.formal.method.iteration.scope
  data/fixtures/scopes/lua/name/name.iteration.document.scope
  data/fixtures/scopes/lua/namedFunction.iteration.document.scope
  data/fixtures/scopes/lua/statement/statement.iteration.document.scope
  data/fixtures/scopes/lua/value/value.iteration.document.scope
  queries/lua.scm
Due: none

More iteration scopes
  data/fixtures/scopes/lua/name/name.argument.formal.iteration.scope
  data/fixtures/scopes/lua/name/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/lua/name/name.argument.formal.method.scope
  data/fixtures/scopes/lua/name/name.argument.formal.scope
  data/fixtures/scopes/lua/name/name.iteration.document.scope
  data/fixtures/scopes/lua/namedFunction.iteration.document.scope
  data/fixtures/scopes/lua/statement/statement.iteration.document.scope
  data/fixtures/scopes/lua/value/value.iteration.document.scope
  data/fixtures/scopes/lua/value/value.mapPair.iteration.scope
  queries/lua.scm
Due: none

More iteration
  data/fixtures/scopes/lua/name/name.iteration.block.scope
  data/fixtures/scopes/lua/name/name.iteration.block2.scope
  data/fixtures/scopes/lua/name/name.iteration.block3.scope
  data/fixtures/scopes/lua/namedFunction.scope
  data/fixtures/scopes/lua/statement/statement.iteration.block.scope
  data/fixtures/scopes/lua/statement/statement.iteration.block2.scope
  data/fixtures/scopes/lua/statement/statement.iteration.block3.scope
  data/fixtures/scopes/lua/value/value.iteration.block.scope
  data/fixtures/scopes/lua/value/value.iteration.block2.scope
  data/fixtures/scopes/lua/value/value.iteration.block3.scope
  packages/common/src/scopeSupportFacets/lua.ts
  queries/lua.scm
Due: eslint

collection item
  data/fixtures/scopes/lua/collectionItem.unenclosed.iteration.scope
  data/fixtures/scopes/lua/collectionItem.unenclosed.multiLine.scope
  data/fixtures/scopes/lua/collectionItem.unenclosed.singleLine.scope
  queries/lua.scm
Due: none

for each
  data/fixtures/scopes/lua/name/name.foreach.scope
  data/fixtures/scopes/lua/value/value.foreach.scope
  queries/lua.scm
Due: none

argument list
  data/fixtures/scopes/lua/argumentList/argumentList.actual.empty.scope
  data/fixtures/scopes/lua/argumentList/argumentList.actual.method.empty.scope
  data/fixtures/scopes/lua/argumentList/argumentList.actual.method.multiLine.scope
  data/fixtures/scopes/lua/argumentList/argumentList.actual.method.singleLine.scope
  data/fixtures/scopes/lua/argumentList/argumentList.actual.multiLine.scope
  data/fixtures/scopes/lua/argumentList/argumentList.actual.singleLine.scope
  data/fixtures/scopes/lua/argumentList/argumentList.formal.empty.scope
  data/fixtures/scopes/lua/argumentList/argumentList.formal.lambda.empty.scope
  data/fixtures/scopes/lua/argumentList/argumentList.formal.lambda.multiLine.scope
  data/fixtures/scopes/lua/argumentList/argumentList.formal.lambda.singleLine.scope
  data/fixtures/scopes/lua/argumentList/argumentList.formal.method.empty.scope
  data/fixtures/scopes/lua/argumentList/argumentList.formal.method.multiLine.scope
  data/fixtures/scopes/lua/argumentList/argumentList.formal.method.singleLine.scope
  data/fixtures/scopes/lua/argumentList/argumentList.formal.multiLine.scope
  data/fixtures/scopes/lua/argumentList/argumentList.formal.singleLine.scope
  queries/lua.scm
Due: none

interior
  data/fixtures/scopes/lua/interior/interior.doWhile.scope
  data/fixtures/scopes/lua/interior/interior.for.scope
  data/fixtures/scopes/lua/interior/interior.foreach.scope
  data/fixtures/scopes/lua/interior/interior.function.scope
  data/fixtures/scopes/lua/interior/interior.if.scope
  data/fixtures/scopes/lua/interior/interior.lambda.scope
  data/fixtures/scopes/lua/interior/interior.method.scope
  data/fixtures/scopes/lua/interior/interior.while.scope
  queries/lua.scm
Due: none

pairDelimiter: ,
  packages/common/src/scopeSupportFacets/lua.ts
Due: eslint

more tests
  data/fixtures/scopes/lua/name/name.variable.pattern.scope
  data/fixtures/scopes/python/value/value.variable.pattern.scope
  packages/common/src/scopeSupportFacets/lua.ts
  packages/common/src/scopeSupportFacets/python.ts
Due: eslint

Started working on latex
  packages/common/src/scopeSupportFacets/latex.ts
Due: eslint

Add tests
  data/fixtures/scopes/latex/argument.actual.iteration.scope
  data/fixtures/scopes/latex/argument.actual.multiLine.scope
  data/fixtures/scopes/latex/argument.actual.singleLine.scope
  data/fixtures/scopes/latex/collectionItem.unenclosed.iteration.scope
  data/fixtures/scopes/latex/collectionItem.unenclosed.multiLine.scope
  data/fixtures/scopes/latex/functionCall.scope
  data/fixtures/scopes/latex/functionCallee.scope
  data/fixtures/scopes/latex/list.scope
  data/fixtures/scopes/latex/section.iteration.document.scope
  data/fixtures/scopes/latex/section.scope
  data/fixtures/scopes/latex/textFragment.comment.block.scope
  data/fixtures/scopes/latex/textFragment.comment.line.scope
  data/fixtures/scopes/latex/textFragment.element.scope
  packages/common/src/scopeSupportFacets/latex.ts
  queries/latex.scm
Due: eslint

Add missing Latex scope facets (#3128)
  data/fixtures/scopes/latex/argument.actual.iteration.scope
  data/fixtures/scopes/latex/argument.actual.multiLine.scope
  data/fixtures/scopes/latex/argument.actual.singleLine.scope
  data/fixtures/scopes/latex/collectionItem.unenclosed.iteration.scope
  data/fixtures/scopes/latex/collectionItem.unenclosed.multiLine.scope
  data/fixtures/scopes/latex/functionCall.scope
  data/fixtures/scopes/latex/functionCallee.scope
  data/fixtures/scopes/latex/list.scope
  data/fixtures/scopes/latex/section.iteration.document.scope
  data/fixtures/scopes/latex/section.scope
  data/fixtures/scopes/latex/textFragment.comment.block.scope
  data/fixtures/scopes/latex/textFragment.comment.line.scope
  data/fixtures/scopes/latex/textFragment.element.scope
  packages/common/src/scopeSupportFacets/latex.ts
  queries/latex.scm
Due: eslint

Update descriptions for callAsFunction action in cheatsheet
  cursorless-talon/src/cheatsheet/sections/actions.py
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Due: none

Update descriptions for callAsFunction action in cheatsheet (#3130)
  src/cheatsheet/sections/actions.py
Due: none

Update descriptions for callAsFunction action in cheatsheet (#3130)
  cursorless-talon/src/cheatsheet/sections/actions.py
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Due: none

Release 1.1.0
  packages/cursorless-org-docs/src/docs/user/release-notes/1.1.0.md
  packages/cursorless-vscode/package.json
Due: none

Apply suggestions from code review
  packages/cursorless-org-docs/src/docs/user/release-notes/1.1.0.md
Due: none

Don't mention custom commands
  packages/cursorless-org-docs/src/docs/user/release-notes/1.1.0.md
Due: none

Added screenshot of scope visualizer containment icons
  packages/cursorless-org-docs/src/docs/user/release-notes/1.1.0.md
  packages/cursorless-org-docs/src/docs/user/release-notes/sidebar-containment-icons.png
Due: none

Removed information about interiors scope priority
  packages/cursorless-org-docs/src/docs/user/release-notes/1.1.0.md
Due: none

Removed information about vscode forks
  packages/cursorless-org-docs/src/docs/user/release-notes/1.1.0.md
Due: none

Removed information about embedded languages
  packages/cursorless-org-docs/src/docs/user/release-notes/1.1.0.md
Due: none

Fix bug with multiple cursor performance tests
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Assert number of selections
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Remove information about duplicate bring targets
  packages/cursorless-org-docs/src/docs/user/release-notes/1.1.0.md
Due: none

Added benchmark information
  packages/cursorless-org-docs/src/docs/user/release-notes/1.1.0.md
Due: none
