Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

feat: text editor edit() -> insert() and replace() implementations
  packages/cursorless-neovim/src/ide/neovim/NeovimEdit.ts
Due: eslint

docs: todo list
  packages/cursorless-neovim/TODO.md
Due: none

fix: working insertions (bring)
  packages/cursorless-neovim/src/ide/neovim/NeovimEdit.ts
  packages/cursorless-neovim/test/paints_unix.txt
Due: eslint

initial buildable sources for integration tests in neovim (untested)
  packages/cursorless-neovim/package.json
  packages/cursorless-neovim/src/TestHelpers.ts
  packages/cursorless-neovim/src/constructTestHelpers.ts
  packages/cursorless-neovim/src/endToEndTestSetup.ts
  packages/cursorless-neovim/src/extension.ts
  packages/cursorless-neovim/src/getExtensionApi.ts
  packages/cursorless-neovim/src/neovimHelpers.ts
  packages/cursorless-neovim/src/runCommand.ts
  packages/cursorless-neovim/src/singletons/cursorlessapi.singleton.ts
  packages/cursorless-neovim/src/singletons/ide.singleton.ts
  packages/cursorless-neovim/src/suite/recorded.vscode.test.ts
  packages/cursorless-neovim/src/testUtil/openNewEditor.ts
  packages/vscode-common/src/testUtil/openNewEditor.ts
  pnpm-lock.yaml
Due: eslint

fix "every three scopes"
  packages/cursorless-engine/src/processTargets/modifiers/RelativeExclusiveScopeStage.ts
Due: eslint

feat: openNewEditor for neovim
  packages/common/src/ide/PassthroughIDEBase.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
  packages/cursorless-neovim/src/extension.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimFileSystem.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimIDE.ts
  packages/cursorless-neovim/src/index.ts
  packages/cursorless-neovim/src/suite/recorded.vscode.test.ts
  packages/cursorless-neovim/src/testUtil/openNewEditor.ts
Due: eslint

fix: working updateTextEditor with SpyIDE
  packages/cursorless-neovim/src/neovimHelpers.ts
Due: eslint

fix: minor
  packages/cursorless-neovim/src/extension.ts
Due: eslint

fix: missing await in cursorless main branch
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-neovim/src/extension.ts
  packages/cursorless-vscode/src/extension.ts
Due: eslint

docs: supported features + todo
  packages/cursorless-neovim/STATE.md
  packages/cursorless-neovim/TODO.md
Due: none

some cleanup
  packages/cursorless-engine/src/processTargets/modifiers/RelativeExclusiveScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeInclusiveScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopesToTargets.ts
Due: eslint

Unify
  packages/cursorless-engine/src/processTargets/modifiers/RelativeExclusiveScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeInclusiveScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopesToTargets.ts
Due: eslint

Fix / update cheatsheet
  cursorless-talon/src/cheatsheet/sections/modifiers.py
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Due: none

fix: remove before manager for now (TODO: some code from this commit will be needed later when we need to be notified about the text document changes)
  packages/cursorless-neovim/src/singletons/bufmgr.singleton.ts
  packages/cursorless-neovim/src/singletons/ide.singleton.ts
  packages/cursorless-neovim/src/types/BufferManager.ts
Due: eslint

fix: temporarily change all the console.warn into console.log to avoid nvim to crash
  packages/cursorless-engine/src/core/Debug.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
  packages/cursorless-engine/src/testUtil/TalonRepl.ts
  packages/cursorless-org/src/components/embedded-video.tsx
  packages/cursorless-vscode/src/logQuickActions.ts
  packages/test-harness/src/launchVscodeAndRunTests.ts
  packages/test-harness/src/scripts/generateTestSubsetFile.ts
Due: eslint

refactor: cleanup code
  packages/common/src/testUtil/getFixturePaths.ts
  packages/cursorless-neovim/src/extension.ts
  packages/cursorless-neovim/src/ide/neovim/NeovimIDE.ts
  packages/cursorless-neovim/src/ide/neovim/hats/NeovimHats.ts
Due: eslint

refactor: use ide() from Cursorless engine
  packages/cursorless-engine/src/index.ts
  packages/cursorless-neovim/src/neovimHelpers.ts
  packages/cursorless-neovim/src/suite/recorded.vscode.test.ts
Due: eslint

fix: another console.log replaced to avoid neovim to crash
  packages/cursorless-neovim/src/ide/neovim/NeovimFileSystem.ts
Due: eslint

tweak
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
Due: eslint

refactor: typo
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
Due: eslint

do we need await here?
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
  packages/cursorless-neovim/TODO.md
Due: eslint

fix: support any IDE for now
  packages/cursorless-neovim/src/neovimHelpers.ts
Due: eslint

fix: support spyIDE
  packages/cursorless-neovim/src/neovimHelpers.ts
Due: eslint

Added spread support for relative and ordinal scopes (#2254)
  changelog/2024-03-addedSpreadModifier.md
  cursorless-talon/src/cheatsheet/sections/modifiers.py
  cursorless-talon/src/modifiers/ordinal_scope.py
  cursorless-talon/src/modifiers/relative_scope.py
  cursorless-talon/src/modifiers/simple_scope_modifier.py
  cursorless-talon/src/spoken_forms.json
  docs/user/README.md
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/processTargets/modifiers/InstanceStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/OrdinalScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeExclusiveScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeInclusiveScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/RelativeScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/listUtils.ts
  packages/cursorless-engine/src/processTargets/modifiers/relativeScopeLegacy.ts
  packages/cursorless-engine/src/processTargets/modifiers/targetSequenceUtils.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/ordinalScopes/changeEveryFirstThreeTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/ordinalScopes/changeEveryLastThreeTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/ordinalScopes/changeSpreadFirstTwoTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/ordinalScopes/changeSpreadLastTwoTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/changeEveryNextThreeTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/changeEveryPreviousThreeTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/changeEveryThreeTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/changeEveryThreeTokensBackward.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/changeSpreadNextTwoTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/changeSpreadTwoTokens.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/relativeScopes/changeSpreadTwoTokensBackward.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added spread support for relative and ordinal scopes (#2254)
  src/cheatsheet/sections/modifiers.py
  src/modifiers/ordinal_scope.py
  src/modifiers/relative_scope.py
  src/modifiers/simple_scope_modifier.py
  src/spoken_forms.json
Due: none

refactor: make the text editor edit() interface better for neovim (#2270)
  packages/common/src/index.ts
  packages/common/src/types/Edit.ts
  packages/common/src/types/TextEditor.ts
  packages/cursorless-engine/src/actions/BreakLine.ts
  packages/cursorless-engine/src/actions/JoinLines.ts
  packages/cursorless-engine/src/actions/Wrap.ts
  packages/cursorless-engine/src/core/updateSelections/RangeUpdater.ts
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
  packages/cursorless-engine/src/typings/Types.ts
  packages/cursorless-engine/src/util/performDocumentEdits.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeEdit.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

Add changelog entry for #1962 (#2269)
  changelog/2024-03-addLuaSupport.md
Due: none

Add `prettier-plugin-tailwindcss` (#2245)
  .prettierrc
  package.json
  packages/cheatsheet/src/lib/cheatsheet.tsx
  packages/cheatsheet/src/lib/components/CheatsheetLegendComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetListComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetNotesComponent.tsx
  packages/cheatsheet/src/lib/components/formatCaptures.tsx
  packages/cursorless-org/src/components/Layout.tsx
  packages/cursorless-org/src/components/SpamProofEmailLink.tsx
  packages/cursorless-org/src/components/embedded-video.tsx
  packages/cursorless-org/src/pages/index.tsx
  pnpm-lock.yaml
Due: eslint

build: bump neovim version (fixed the console.log bug) and remove unnecessary packages
  pnpm-lock.yaml
Due: none

build: same as previous commit
  packages/cursorless-neovim/package.json
Due: none

tweaks
  packages/common/src/types/tutorial.types.ts
  packages/cursorless-vscode-tutorial-webview/src/App.tsx
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/VscodeTutorial.ts
Due: eslint

Upgrade all dependencies
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/common/src/ide/fake/FakeConfiguration.ts
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/core/Cheatsheet.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  packages/cursorless-engine/src/core/handleHoistedModifiers.ts
  packages/cursorless-engine/src/generateCommandHistoryEntries.ts
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-e2e/src/suite/commandHistory.vscode.test.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ide/vscode/VscodeConfiguration.ts
  packages/meta-updater/package.json
  packages/meta-updater/src/updateTSConfig.ts
  packages/test-harness/package.json
  packages/test-harness/src/runAllTests.ts
  packages/vscode-common/package.json
  pnpm-lock.yaml
Due: eslint

Fix vscode version
  packages/cursorless-vscode/package.json
  packages/test-harness/src/launchVscodeAndRunTests.ts
  pnpm-lock.yaml
Due: eslint

pre-commit
  packages/common/src/ide/types/Paths.ts
  packages/cursorless-engine/src/core/Cheatsheet.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/PredicateOperatorSchemaTypes.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findSurroundingPairParseTreeBased.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/getIndividualDelimiters.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/util/typeUtils.ts
  packages/cursorless-org/src/components/Layout.tsx
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeRevealLine.ts
  packages/meta-updater/src/updateTSConfig.ts
Due: eslint

More vscode version fix
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode/package.json
  packages/test-harness/src/launchVscodeAndRunTests.ts
  packages/vscode-common/package.json
  pnpm-lock.yaml
Due: eslint

reset node version
  package.json
  pnpm-lock.yaml
Due: none

more node fix
  packages/cheatsheet-local/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode/package.json
Due: none

lockfile
  pnpm-lock.yaml
Due: none

Attempt to fix algoliasearch
  packages/cursorless-org-docs/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
