Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/rwxcorp/pre-commit-lua.git
    rev: v1.0.0
    hooks:
      - id: stylua
      - id: luacheck

Started working on new interface
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
Due: eslint

Update interface
  packages/cursorless-engine/src/actions/BreakLine.ts
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-engine/src/actions/CallbackAction.ts
  packages/cursorless-engine/src/actions/EditNew/runEditTargets.ts
  packages/cursorless-engine/src/actions/EditNew/runInsertLineAfterTargets.ts
  packages/cursorless-engine/src/actions/InsertCopy.ts
  packages/cursorless-engine/src/actions/InsertEmptyLines.ts
  packages/cursorless-engine/src/actions/InsertSnippet.ts
  packages/cursorless-engine/src/actions/JoinLines.ts
  packages/cursorless-engine/src/actions/PasteFromClipboard.ts
  packages/cursorless-engine/src/actions/Remove.ts
  packages/cursorless-engine/src/actions/Replace.ts
  packages/cursorless-engine/src/actions/Rewrap.ts
  packages/cursorless-engine/src/actions/Wrap.ts
  packages/cursorless-engine/src/actions/WrapWithSnippet.ts
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
Due: eslint

tutorial: stop trying to use snapshot in tests
  packages/cursorless-vscode-e2e/src/suite/tutorial/tutorial.vscode.test.ts
Due: eslint

tutorial: stop trying to use snapshot in tests (#2556)
  packages/cursorless-vscode-e2e/src/suite/tutorial/tutorial.vscode.test.ts
Due: eslint

Batch building/compiling tests
  packages/test-harness/scripts/build-tests.sh
Due: none

Update packages/cursorless-engine/src/actions/CallbackAction.ts
  packages/cursorless-engine/src/actions/CallbackAction.ts
Due: eslint

fixes
  packages/cursorless-engine/src/actions/Wrap.ts
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
Due: eslint

Update packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
Due: eslint

fixes
  packages/cursorless-engine/src/actions/Replace.ts
  packages/cursorless-engine/src/actions/Wrap.ts
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
Due: eslint

rename
  packages/cursorless-engine/src/actions/CallbackAction.ts
  packages/cursorless-engine/src/actions/EditNew/runEditTargets.ts
  packages/cursorless-engine/src/actions/EditNew/runInsertLineAfterTargets.ts
  packages/cursorless-engine/src/actions/InsertSnippet.ts
  packages/cursorless-engine/src/actions/PasteFromClipboard.ts
  packages/cursorless-engine/src/actions/WrapWithSnippet.ts
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
Due: eslint

new solution
  packages/test-harness/scripts/build-tests.sh
Due: none

Use xargs
  packages/test-harness/scripts/build-tests.sh
Due: none

New interface for performing edits and updating ranges (#2551)
  packages/cursorless-engine/src/actions/BreakLine.ts
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-engine/src/actions/CallbackAction.ts
  packages/cursorless-engine/src/actions/EditNew/runEditTargets.ts
  packages/cursorless-engine/src/actions/EditNew/runInsertLineAfterTargets.ts
  packages/cursorless-engine/src/actions/InsertCopy.ts
  packages/cursorless-engine/src/actions/InsertEmptyLines.ts
  packages/cursorless-engine/src/actions/InsertSnippet.ts
  packages/cursorless-engine/src/actions/JoinLines.ts
  packages/cursorless-engine/src/actions/PasteFromClipboard.ts
  packages/cursorless-engine/src/actions/Remove.ts
  packages/cursorless-engine/src/actions/Replace.ts
  packages/cursorless-engine/src/actions/Rewrap.ts
  packages/cursorless-engine/src/actions/Wrap.ts
  packages/cursorless-engine/src/actions/WrapWithSnippet.ts
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeInsertSnippets.ts
Due: eslint

Batch building/compiling tests (#2558)
  packages/test-harness/scripts/build-tests.sh
Due: none

Use .length to check number of selections
  cursorless-everywhere-talon/cursorless_everywhere_talon_win.py
Due: none

Run tests on all platforms
  .github/workflows/test.yml
Due: none

run on more platforms
  .github/workflows/test.yml
  packages/cursorless-everywhere-talon-e2e/scripts/test-quickjs.sh
Due: none

update
  packages/cursorless-everywhere-talon-e2e/scripts/test-quickjs.sh
Due: none

exclude mac
  .github/workflows/test.yml
  packages/cursorless-everywhere-talon-e2e/scripts/test-quickjs.sh
Due: none

Cleanup
  .github/workflows/test.yml
Due: none

Update
  .github/workflows/test.yml
Due: none

update build script
  packages/test-harness/package.json
Due: none

Cleanup script
  packages/test-harness/package.json
Due: none

Only run on stable
  .github/workflows/test.yml
Due: none

Add missing python prefixes
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
Due: eslint

refactor: print each test name as they run
  .vscode/settings.json
  cursorless.nvim/.busted
  cursorless.nvim/lua/cursorless/cursorless.lua
  cursorless.nvim/lua/cursorless/utils.lua
  cursorless.nvim/test/unit/cursorless_spec.lua
Due: none

Fix surrounding pair capture
  cursorless-talon/src/modifiers/modifiers.py
  cursorless-talon/src/modifiers/surrounding_pair.py
  data/fixtures/recorded/surroundingPair/textual/takeLeftQuad.yml
  data/fixtures/recorded/surroundingPair/textual/takeRightQuad.yml
Due: format-recorded-tests, check-recorded-test-marks

Proper return type on HatMap.getToken() (#2552)
  packages/common/src/testUtil/extractTargetedMarks.ts
  packages/common/src/types/HatTokenMap.ts
  packages/cursorless-engine/src/core/IndividualHatMap.ts
Due: eslint

Added more disqualify delimiters
  cursorless-talon/src/spoken_forms.py
  data/fixtures/scopes/c/disqualifyDelimiter.scope
  data/fixtures/scopes/csharp/disqualifyDelimiter.scope
  data/fixtures/scopes/go/disqualifyDelimiter.scope
  data/fixtures/scopes/java/disqualifyDelimiter.scope
  data/fixtures/scopes/lua/disqualifyDelimiter.scope
  data/fixtures/scopes/php/disqualifyDelimiter.scope
  data/fixtures/scopes/python/disqualifyDelimiter.scope
  data/fixtures/scopes/ruby/disqualifyDelimiter.scope
  data/fixtures/scopes/rust/disqualifyDelimiter.scope
  data/fixtures/scopes/scala/disqualifyDelimiter.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/common/src/scopeSupportFacets/go.ts
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/lua.ts
  packages/common/src/scopeSupportFacets/php.ts
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/ruby.ts
  packages/common/src/scopeSupportFacets/rust.ts
  packages/common/src/scopeSupportFacets/scala.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/c.scm
  queries/csharp.scm
  queries/go.scm
  queries/java.scm
  queries/javascript.core.scm
  queries/lua.scm
  queries/php.scm
  queries/python.scm
  queries/ruby.scm
  queries/rust.scm
  queries/scala.scm
Due: eslint

added more disqualified delimiters
  data/fixtures/scopes/c/disqualifyDelimiter.scope
  data/fixtures/scopes/php/disqualifyDelimiter.scope
  queries/c.scm
  queries/php.scm
Due: none

Added arrow
  data/fixtures/scopes/javascript.core/disqualifyDelimiter.scope
  queries/java.scm
  queries/javascript.core.scm
Due: none

Updated scopes
  data/fixtures/scopes/c/disqualifyDelimiter.scope
  data/fixtures/scopes/csharp/disqualifyDelimiter.scope
  data/fixtures/scopes/go/disqualifyDelimiter.scope
  data/fixtures/scopes/java/disqualifyDelimiter.scope
  data/fixtures/scopes/javascript.core/disqualifyDelimiter.scope
  data/fixtures/scopes/python/disqualifyDelimiter.scope
  data/fixtures/scopes/ruby/disqualifyDelimiter.scope
  data/fixtures/scopes/rust/disqualifyDelimiter.scope
  data/fixtures/scopes/scala/disqualifyDelimiter.scope
  queries/c.scm
  queries/csharp.scm
  queries/go.scm
  queries/java.scm
  queries/javascript.core.scm
  queries/python.scm
  queries/ruby.scm
  queries/rust.scm
Due: none

Clean up tasks to get linter to stop complaining
  .vscode/tasks.json
Due: none

Attempt to run legacy tests
  .github/workflows/test.yml
Due: none

testNeovim => test:neovim
  .github/workflows/test.yml
  docs/contributing/architecture/tests.md
  packages/test-harness/package.json
Due: none

Update test
  data/fixtures/recorded/surroundingPair/parseTree/python/clearPair5.yml
Due: format-recorded-tests, check-recorded-test-marks

Revert changes to patches
  patches/@types__nearley@2.11.5.patch
  patches/nearley@2.20.1.patch
Due: none

tweak tests.md
  docs/contributing/architecture/tests.md
Due: none

Tweak contributor docs
  cursorless.nvim/CONTRIBUTING.md
  cursorless.nvim/LICENSE
  cursorless.nvim/README.md
  docs/contributing/architecture/neovim-test-infrastructure.md
  docs/contributing/cursorless-in-neovim.md
  docs/contributing/tests.md
Due: none

Add high-level test documentation
  docs/contributing/tests.md
Due: none
