Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

Move all default spoken forms to json file
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/actions_callback.py
  cursorless-talon/src/actions/actions_custom.py
  cursorless-talon/src/actions/actions_simple.py
  cursorless-talon/src/connective.py
  cursorless-talon/src/marks/lines_number.py
  cursorless-talon/src/marks/mark.py
  cursorless-talon/src/modifiers/head_tail.py
  cursorless-talon/src/modifiers/interior.py
  cursorless-talon/src/modifiers/modifiers.py
  cursorless-talon/src/modifiers/ordinal_scope.py
  cursorless-talon/src/modifiers/position.py
  cursorless-talon/src/modifiers/relative_scope.py
  cursorless-talon/src/modifiers/scopes.py
  cursorless-talon/src/modifiers/simple_scope_modifier.py
  cursorless-talon/src/paired_delimiter.py
  cursorless-talon/src/scope_visualizer.py
  cursorless-talon/src/snippets.py
  cursorless-talon/src/spoken_forms.json
  cursorless-talon/src/spoken_forms.py
  cursorless-talon/src/targets/range_type.py
Due: none

added snippets
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/snippets.py
  cursorless-talon/src/spoken_forms.json
  cursorless-talon/src/spoken_forms.py
Due: none

cleanup
  cursorless-talon/src/marks/mark.py
  cursorless-talon/src/paired_delimiter.py
Due: none

Added marks
  cursorless-talon/src/marks/mark.py
  cursorless-talon/src/spoken_forms.json
  cursorless-talon/src/spoken_forms.py
Due: none

cleanup
  cursorless-talon/src/marks/lines_number.py
Due: none

fix
  cursorless-talon/src/marks/mark.py
Due: none

Remove positions from cheatsheet
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Due: none

Remove positions from web cheatsheet (#1740)
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Due: none

Tweaks
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
Due: eslint

Add comment
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
Due: eslint

Add comment
  queries/talon.scm
Due: none

Add more comments
  queries/talon.scm
Due: none

Make "condition" work from anywhere
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/changeCondition.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/changeEveryCondition.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/chuckCondition.yml
  queries/talon.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Support "every command" from anywhere
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/changeEveryCommand.yml
  queries/talon.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Tweak
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
Due: eslint

Tweak wording
  docs/user/README.md
Due: none

remove overrides of file.exclude and search.exclude (#1720)
  .vscode/settings.json
Due: none

Tweak
  cursorless-talon/src/actions/actions.py
Due: none

Use simple syntax node for mutable query captures (#1732)
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
Due: eslint

Fix CI
  packages/common/src/testUtil/runTestSubset.ts
  queries/talon.scm
Due: eslint

Change "condition" semantics
  packages/common/src/testUtil/runTestSubset.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/changeCondition2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/changeEveryCondition.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/talon/chuckCondition2.yml
  queries/talon.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update descriptions
  cursorless-talon/src/actions/actions.py
Due: none

Talon language support (#1555)
  src/modifiers/scopes.py
Due: none

Add comment
  cursorless-talon/src/marks/mark.py
Due: none

Add comment
  cursorless-talon/src/targets/range_type.py
Due: none

add `"just"` section to reference page (#1707)
  docs/user/README.md
Due: none

migrate Go scopes map and list to treesitter
  data/playground/go/go.mod
  data/playground/go/maps_and_lists.go
  data/playground/go/statements.go
  packages/cursorless-engine/src/languages/go.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListOne.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListOne2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListTrap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListTrap2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListTrap3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListTrap4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListTwo.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeMapOne.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeMapOne2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeMapTrap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeMapTrap2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeMapTrap3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeMapTrap4.yml
  queries/go.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

move subset regular expressions to a separate file
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  docs/contributing/CONTRIBUTING.md
  packages/common/src/index.ts
  packages/common/src/testUtil/runTestSubset.ts
  packages/common/src/testUtil/testSubsetGrep.tmpl
  packages/test-harness/src/util/runAllTests.ts
Due: eslint

avoid allocating hats to the first letter of a word in a token
  packages/cursorless-engine/src/core/HatTokenMapImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/WordScopeHandler/WordScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/WordScopeHandler/WordTokenizer.ts
  packages/cursorless-engine/src/test/fixtures/subtoken.fixture.ts
  packages/cursorless-engine/src/util/allocateHats/HatMetrics.ts
  packages/cursorless-engine/src/util/allocateHats/allocateHats.ts
  packages/cursorless-engine/src/util/allocateHats/chooseTokenHat.ts
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
Due: eslint

All working with tests
  cursorless-nx/libs/generate-examples/package-lock.json
  cursorless-nx/libs/generate-examples/package.json
  cursorless-nx/libs/generate-examples/src/lib/buildDictionary.ts
  cursorless-nx/libs/generate-examples/src/lib/generateHtml.spec.ts
  cursorless-nx/libs/generate-examples/src/lib/generateHtml.ts
  cursorless-nx/libs/generate-examples/src/lib/loadFixture.ts
  cursorless-nx/libs/generate-examples/src/lib/renderToHtml.ts
Due: eslint

update names
  cursorless-talon/src/spoken_forms.json
  cursorless-talon/src/spoken_forms.py
Due: none

Added file watcher
  cursorless-talon/src/spoken_forms.py
Due: none

migrate Go scopes map and list to treesitter (#1724)
  data/playground/go/go.mod
  data/playground/go/maps_and_lists.go
  data/playground/go/statements.go
  packages/cursorless-engine/src/languages/go.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListOne.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListOne2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListTrap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListTrap2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListTrap3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListTrap4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeListTwo.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeMapOne.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeMapOne2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeMapTrap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeMapTrap2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeMapTrap3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeMapTrap4.yml
  queries/go.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added disposables
  cursorless-talon/src/spoken_forms.py
Due: none

Run `pnpm dedupe`
  pnpm-lock.yaml
Due: none

Break sentence scope on delimiters
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/changeEverySentence.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/changeSentence.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/changeSentence.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update test
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/changeEverySentence.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/changeEverySentence.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/changeSentence.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update comment
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceSegmenter.ts
Due: eslint
