Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

more ci stuff
  .github/workflows/test.yml
  packages/test-harness/src/config/init.lua
Due: none

temp stuff
  .gitignore
Due: none

more ci
  .github/workflows/test.yml
Due: none

more CI
  .github/workflows/test.yml
  cursorless.nvim/lua/cursorless/init.lua
  dist/cursorless.nvim/lua/cursorless/init.lua
  packages/test-harness/src/config/init.lua
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

ci
  .github/workflows/test.yml
Due: none

ci
  .github/workflows/test.yml
  dist/cursorless.nvim/node/cursorless-neovim/out/index.cjs
Due: none

ci 1
  pnpm-lock.yaml
Due: none

ci 2
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

ci 4
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

Migrate text fragment to scm
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/ruby.ts
  packages/cursorless-engine/src/languages/rust.ts
  packages/cursorless-engine/src/languages/scala.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/index.ts
  packages/cursorless-engine/src/util/nodeMatchers.ts
  queries/ruby.scm
  queries/rust.scm
  queries/scala.scm
Due: eslint

ci: tail file
  packages/test-harness/package.json
  packages/test-harness/src/launchNeovimAndRunTests.ts
  pnpm-lock.yaml
Due: eslint

ci: tail nvim-data/log
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

more ci
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

minor
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

ci worked locally
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

testing ${{ github.workspace }}
  .github/workflows/test.yml
Due: none

working locally
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

nvim-qt.exe does not exist on CI but exists locally?
  .github/workflows/test.yml
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

no qt version in stable 0.10 actually
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

testing nvim 0.9.5
  .github/workflows/test.yml
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

fix version to 0.9.5
  .github/workflows/test.yml
Due: none

attempt to save snapshot
  .github/workflows/test.yml
Due: none

disable logs hoping to get a screenshot
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

working test-harness simulating what is on CI, that works locally
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

force compile to get out\ folder created
  .github/workflows/test.yml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

try log at startup
  .github/workflows/test.yml
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

try logging harder
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

checking if vim.log is created
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

attempt to inherit stdout to debug nvim.exe startup
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

spawn sync
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

test
  packages/test-harness/src/launchNeovimAndRunTests.ts
Due: eslint

Add tests for `<Aaa>bbb`-style casts; create typescript.core
  data/fixtures/recorded/languages/typescript/changeType.yml
  data/fixtures/recorded/languages/typescript/changeType5.yml
  data/fixtures/scopes/typescript.core/index.json
  data/fixtures/scopes/typescript.core/name.field.scope
  data/fixtures/scopes/typescript.core/type.alias.scope
  data/fixtures/scopes/typescript.core/type.alias2.scope
  data/fixtures/scopes/typescript.core/type.cast.scope
  data/fixtures/scopes/typescript.core/type.field.scope
  data/fixtures/scopes/typescript.core/type.formalParameter.scope
  data/fixtures/scopes/typescript.core/type.interface.scope
  data/fixtures/scopes/typescript.core/type.return.scope
  data/fixtures/scopes/typescript.core/type.variable.scope
  data/fixtures/scopes/typescript.core/value.field.scope
  data/fixtures/scopes/typescript/index.json
  data/fixtures/scopes/typescript/type.cast.scope
  data/fixtures/scopes/typescriptreact/index.json
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/typescript.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

fixes
  data/fixtures/scopes/typescript.core/index.json
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
Due: eslint

Add Ruby comment textFragment
  data/fixtures/recorded/languages/ruby/changeRound3.yml
  queries/ruby.scm
Due: format-recorded-tests, check-recorded-test-marks

Fix text fragments
  packages/cursorless-engine/src/languages/csharp.ts
  queries/c.scm
  queries/csharp.scm
  queries/rust.scm
Due: eslint

More text fragment fixes
  queries/go.scm
Due: none

Improve "extract" action for Python (#2328)
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
Due: eslint

Migrate text fragment to scm (#2336)
  data/fixtures/recorded/languages/ruby/changeRound3.yml
  packages/cursorless-engine/src/languages/csharp.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/ruby.ts
  packages/cursorless-engine/src/languages/rust.ts
  packages/cursorless-engine/src/languages/scala.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/index.ts
  packages/cursorless-engine/src/util/nodeMatchers.ts
  queries/c.scm
  queries/csharp.scm
  queries/go.scm
  queries/ruby.scm
  queries/rust.scm
  queries/scala.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
