Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

Update enablement-group.mdx (#2229)
  packages/cursorless-org/src/content/enablement-group.mdx
Due: none

bump maintenance badge (#2230)
  README.md
Due: none

Pass webview to getWebviewContent
  packages/cursorless-vscode/src/ide/vscode/hats/FontMeasurementsImpl.ts
Due: eslint

Clarify swap docs
  docs/user/README.md
Due: none

Clarify swap docs (#2231)
  docs/user/README.md
Due: none

Add "paste" how-to guide (#2221)
  docs/user/how-to.md
  docs/user/reference/destinations.md
Due: none

Fix broken cheatsheet if user has custom `"glyph"` spoken form
  cursorless-talon/src/cheatsheet/get_list.py
  cursorless-talon/src/cheatsheet/sections/compound_targets.py
  cursorless-talon/src/cheatsheet/sections/scopes.py
Due: none

Switch to `@_foo` syntax for dummies; add tests
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearEveryEntry4.yml
  queries/javascript.core.scm
  queries/javascript.fieldAccess.scm
  queries/python.fieldAccess.scm
  queries/scm.name.scm
  queries/typescript.core.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Fix unused variable warning
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
Due: eslint

Fixes
  cursorless-talon-dev/src/cursorless_dev_vscode.py
  cursorless-talon-dev/src/cursorless_launch_configuration.talon-list
  docs/contributing/CONTRIBUTING.md
Due: none

Stop using deprecated talon setting support (#2166)
  src/csv_overrides.py
Due: none

Stop using deprecated talon setting support (#2166)
  cursorless-talon/src/csv_overrides.py
Due: none

Validate query capture names (#2147)
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/scm/clearEveryEntry4.yml
  queries/go.scm
  queries/javascript.core.scm
  queries/javascript.fieldAccess.scm
  queries/python.fieldAccess.scm
  queries/scm.name.scm
  queries/typescript.core.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Fix broken cheatsheet if user has custom `"glyph"` spoken form (#2233)
  src/cheatsheet/get_list.py
  src/cheatsheet/sections/compound_targets.py
  src/cheatsheet/sections/scopes.py
Due: none

Fix broken cheatsheet if user has custom `"glyph"` spoken form (#2233)
  cursorless-talon/src/cheatsheet/get_list.py
  cursorless-talon/src/cheatsheet/sections/compound_targets.py
  cursorless-talon/src/cheatsheet/sections/scopes.py
Due: none

Started implementing extension side fallback
  cursorless-talon/src/command.py
  cursorless-talon/src/fallback.py
  packages/common/src/getFakeCommandServerApi.ts
  packages/common/src/types/CommandServerApi.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/core/getCommandFallback.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/runCommand.ts
Due: eslint

Made homophones work
  cursorless-talon/src/fallback.py
  packages/cursorless-engine/src/core/getCommandFallback.ts
Due: eslint

Implemented bring and call
  cursorless-talon/src/fallback.py
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/core/getCommandFallback.ts
  packages/cursorless-engine/src/runCommand.ts
Due: eslint

Added move
  packages/cursorless-engine/src/core/getCommandFallback.ts
Due: eslint

Cleanup
  cursorless-talon/src/command.py
  packages/common/src/index.ts
  packages/common/src/types/command/CommandV7.types.ts
  packages/common/src/types/command/command.types.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV6ToV7.ts
  packages/cursorless-engine/src/generateSpokenForm/getHatMapCommand.ts
  packages/cursorless-engine/src/runCommand.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/testCaseRecorder/takeHarp.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

unwrap return value
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
Due: eslint

Fix unused variable warning (#2234)
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
Due: eslint

Added increment and decrement actions
  cursorless-talon/src/spoken_forms.json
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/incrementDecrement.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/actions.ts
Due: eslint

Added tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/decrementFile.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/incrementFile.yml
Due: format-recorded-tests, check-recorded-test-marks

Added changelog
  changelog/2024-02-addedIncrementAndDecrementActions.md
Due: none

Added docs
  docs/user/README.md
Due: none

Clean up
  packages/cursorless-engine/src/actions/incrementDecrement.ts
Due: eslint

remove print
  cursorless-talon/src/fallback.py
Due: none

Fix typescript field removal ranges
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/name.field.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/type.field.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/typescript/value.field.scope
  queries/typescript.core.scm
Due: none

updates
  cursorless-talon/src/fallback.py
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/core/getCommandFallback.ts
Due: eslint

cleanup
  packages/cursorless-vscode-e2e/src/suite/serializeTargetRange.ts
Due: eslint

Fix CI
  packages/common/src/scopeSupportFacets/typescript.ts
Due: eslint

move fall back into command runner
  packages/cursorless-engine/src/CommandRunner.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/getCommandFallback.ts
  packages/cursorless-engine/src/runCommand.ts
Due: eslint

refactoring
  packages/cursorless-engine/src/CommandRunner.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/getCommandFallback.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/runCommand.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCase.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
Due: eslint

Recorded test
  packages/common/src/testUtil/serializeTestFixture.ts
  packages/common/src/types/TestCaseFixture.ts
  packages/common/src/types/command/command.types.ts
  packages/cursorless-engine/src/CommandRunner.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/getCommandFallback.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/runCommand.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCase.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCaseRecorder.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/takeToken.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Mock focused element in command server api
  packages/common/src/FakeCommandServerApi.ts
  packages/common/src/getFakeCommandServerApi.ts
  packages/common/src/index.ts
  packages/common/src/util/useFallback.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/core/getCommandFallback.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/extension.ts
  packages/vscode-common/src/TestHelpers.ts
Due: eslint

assert fallback
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
Due: eslint

Added more tests
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/bringFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/moveFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/fallback/takeThis.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Fix return value in tests
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
Due: eslint
