Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Rename file
  docs/contributing/scope-support-per-language.md
  packages/meta-updater/src/metaUpdater.ts
Due: eslint

Update wording
  packages/meta-updater/src/updateLanguageScopeSupportConfig.ts
Due: eslint

regenerates file
  docs/contributing/scope-support-per-language.md
Due: none

Added unspecified category
  docs/contributing/scope-support-per-language.md
  packages/meta-updater/src/updateLanguageScopeSupportConfig.ts
Due: eslint

testing
  packages/cursorless-engine/src/util/allocateHats/allocateHats.ts
Due: eslint

clean up
  packages/cursorless-engine/src/util/allocateHats/allocateHats.ts
Due: eslint

Add argument delimiters.
  data/fixtures/recorded/languages/kotlin/drinkArg.yml
  data/fixtures/recorded/languages/kotlin/drinkArg2.yml
  data/fixtures/recorded/languages/kotlin/drinkArg3.yml
  data/fixtures/recorded/languages/kotlin/drinkArg4.yml
  data/fixtures/recorded/languages/kotlin/pourArg.yml
  data/fixtures/recorded/languages/kotlin/pourArg2.yml
  data/fixtures/recorded/languages/kotlin/pourArg3.yml
  data/fixtures/recorded/languages/kotlin/pourArg4.yml
  queries/kotlin.scm
Due: format-recorded-tests, check-recorded-test-marks

Added comment
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/WordScopeHandler/WordScopeHandler.ts
Due: eslint

Fix merge conflict in test
  data/fixtures/recorded/hatTokenMap/takeEach.yml
  data/fixtures/recorded/hatTokenMap/takeHarp.yml
  data/fixtures/recorded/testCaseRecorder/takeEach.yml
  data/fixtures/recorded/testCaseRecorder/takeHarp.yml
Due: format-recorded-tests, check-recorded-test-marks

Testing
  data/fixtures/recorded/testCaseRecorder/takeHarp.yml
Due: format-recorded-tests, check-recorded-test-marks

testing
  data/fixtures/recorded/hatTokenMap/takeHarp.yml
Due: format-recorded-tests, check-recorded-test-marks

update
  packages/cursorless-engine/src/test/fixtures/subtoken.fixture.ts
Due: eslint

Update tests
  data/fixtures/recorded/hatTokenMap/takeEach.yml
  data/fixtures/recorded/testCaseRecorder/takeEach.yml
  packages/cursorless-vscode-e2e/src/suite/commandHistory.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/testCaseRecorder.vscode.test.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

feat: tweak dev initlua for nicer for manual debugging
  init.lua
Due: none

Started working on surrounding pair scope handler
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippet.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/Offsets.ts
  packages/cursorless-engine/src/actions/GenerateSnippet/editText.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/ItemStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/getIterationScope.ts
  packages/cursorless-engine/src/processTargets/modifiers/SurroundingPairStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.1.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterRegex.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getIndividualDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/index.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/BoundedNonWhitespaceStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/extractSelectionFromSurroundingPairOffsets.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findDelimiterPairAdjacentToSelection.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findDelimiterPairContainingSelection.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findOppositeDelimiter.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findSurroundingPairCore.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findSurroundingPairParseTreeBased.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findSurroundingPairTextBased.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/generateUnmatchedDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/getSurroundingPairOffsets.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/index.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/types.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/weaklyContains.ts
Due: eslint

Updated Talon side
  cursorless-talon/src/modifiers/scopes.py
  cursorless-talon/src/modifiers/surrounding_pair.py
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
Due: eslint

fix bug
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/IteratorInfo.ts
Due: eslint

Fixes
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/BoundedNonWhitespaceStage.ts
Due: eslint

Handle no surrounding pair in item stage
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/getIterationScope.ts
Due: eslint

Started adding Tree sitter integration
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  queries/javascript.core.scm
Due: eslint

Disqualify delimiters
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.1.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
Due: eslint

Add nix flake (#1908)
  .envrc
  .gitignore
  flake.lock
  flake.nix
Due: none

Allow `.` in literal property names for use with facets
  .eslintrc.json
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/clojure.ts
  packages/common/src/scopeSupportFacets/cpp.ts
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/common/src/scopeSupportFacets/css.ts
  packages/common/src/scopeSupportFacets/go.ts
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/javascriptreact.ts
  packages/common/src/scopeSupportFacets/json.ts
  packages/common/src/scopeSupportFacets/jsonc.ts
  packages/common/src/scopeSupportFacets/jsonl.ts
  packages/common/src/scopeSupportFacets/latex.ts
  packages/common/src/scopeSupportFacets/lua.ts
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/php.ts
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/ruby.ts
  packages/common/src/scopeSupportFacets/rust.ts
  packages/common/src/scopeSupportFacets/scala.ts
  packages/common/src/scopeSupportFacets/scm.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scss.ts
  packages/common/src/scopeSupportFacets/talon.ts
  packages/common/src/scopeSupportFacets/typescript.ts
  packages/common/src/scopeSupportFacets/typescriptreact.ts
  packages/common/src/scopeSupportFacets/xml.ts
  packages/common/src/scopeSupportFacets/yaml.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/snippets.ts
Due: eslint

Added support for single line pairs
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getIndividualDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
Due: eslint

fix
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
Due: eslint

Allow `.` in literal property names for use with facets (#2456)
  .eslintrc.json
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/clojure.ts
  packages/common/src/scopeSupportFacets/cpp.ts
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/common/src/scopeSupportFacets/css.ts
  packages/common/src/scopeSupportFacets/go.ts
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/javascriptreact.ts
  packages/common/src/scopeSupportFacets/json.ts
  packages/common/src/scopeSupportFacets/jsonc.ts
  packages/common/src/scopeSupportFacets/jsonl.ts
  packages/common/src/scopeSupportFacets/latex.ts
  packages/common/src/scopeSupportFacets/lua.ts
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/php.ts
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/ruby.ts
  packages/common/src/scopeSupportFacets/rust.ts
  packages/common/src/scopeSupportFacets/scala.ts
  packages/common/src/scopeSupportFacets/scm.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scss.ts
  packages/common/src/scopeSupportFacets/talon.ts
  packages/common/src/scopeSupportFacets/typescript.ts
  packages/common/src/scopeSupportFacets/typescriptreact.ts
  packages/common/src/scopeSupportFacets/xml.ts
  packages/common/src/scopeSupportFacets/yaml.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/snippets.ts
Due: eslint

Clean up
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
Due: eslint

Remove left right tests
  data/fixtures/recorded/surroundingPair/textual/takeLeftQuad.yml
  data/fixtures/recorded/surroundingPair/textual/takeLeftQuad2.yml
  data/fixtures/recorded/surroundingPair/textual/takeLeftQuad3.yml
  data/fixtures/recorded/surroundingPair/textual/takeLeftQuad4.yml
  data/fixtures/recorded/surroundingPair/textual/takeLeftQuad5.yml
  data/fixtures/recorded/surroundingPair/textual/takeLeftQuad6.yml
  data/fixtures/recorded/surroundingPair/textual/takeLeftQuad7.yml
  data/fixtures/recorded/surroundingPair/textual/takeRightQuad.yml
  data/fixtures/recorded/surroundingPair/textual/takeRightQuad2.yml
  data/fixtures/recorded/surroundingPair/textual/takeRightQuad3.yml
  data/fixtures/recorded/surroundingPair/textual/takeRightQuad4.yml
  data/fixtures/recorded/surroundingPair/textual/takeRightQuad5.yml
  data/fixtures/recorded/surroundingPair/textual/takeRightQuad6.yml
  data/fixtures/recorded/surroundingPair/textual/takeRightQuad7.yml
Due: format-recorded-tests, check-recorded-test-marks

Support triple quotes
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/surroundingPairsDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint

Support python strings
  data/fixtures/recorded/surroundingPair/parseTree/python/clearQuad2.yml
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/generateSpokenForm/defaultSpokenForms/surroundingPairsDelimiters.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added is preferred over
  data/fixtures/recorded/surroundingPair/textual/takeOutside27.yml
  packages/cursorless-engine/src/processTargets/modifiers/getPreferredScopeTouchingPosition.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/scopeHandler.types.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update test
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runSurroundingPairScopeInfoTest.ts
Due: eslint

Bug fixes on strongly contains
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint

cleanup
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
Due: eslint

rename
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getSurroundingPairOccurrences.ts
Due: eslint

Better deprecation message
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
Due: eslint

Added comment
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
Due: eslint

Added comment
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/types.ts
Due: eslint

clean
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/SurroundingPairScopeHandler.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
