Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

Support absolute paths
  packages/common/scripts/my-ts-node.js
Due: none

Added CURSORLESS_REPO_ROOT env
  packages/cursorless-vscode/package.json
Due: none

Check for windows
  packages/common/scripts/my-ts-node.js
Due: none

Move custom Object.keys() overload to util
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/delimiterMaps.ts
  packages/cursorless-engine/src/runIntegrationTests.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/checkMarks.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCase.ts
  packages/cursorless-engine/src/util/nodeMatchers.ts
  packages/cursorless-engine/src/util/object.ts
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
  typings/object.d.ts
Due: eslint

Rollback andreas commits
  packages/common/scripts/my-ts-node.js
  packages/cursorless-vscode/package.json
Due: none

use cross-spawn
  packages/common/package.json
  packages/common/scripts/my-ts-node.js
  pnpm-lock.yaml
Due: none

Set CURSORLESS_REPO_ROOT in my-ts-node
  package.json
  packages/common/scripts/my-ts-node.js
  packages/test-harness/package.json
Due: none

fix meta-updater
  packages/meta-updater/src/updatePackageJson.ts
Due: eslint

add unicorn module eslint rule
  .eslintrc.json
  package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Due: none

Move custom Object.keys() overload to util (#2020)
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/delimiterMaps.ts
  packages/cursorless-engine/src/runIntegrationTests.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/checkMarks.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCase.ts
  packages/cursorless-engine/src/util/nodeMatchers.ts
  packages/cursorless-engine/src/util/object.ts
  packages/cursorless-vscode-e2e/src/suite/recorded.vscode.test.ts
  typings/object.d.ts
Due: eslint

Added private setting to change line iteration scope to paragraph
  packages/common/src/ide/types/Configuration.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/LineScopeHandler.ts
Due: eslint

Added private setting to change line iteration scope to paragraph (#2022)
  packages/common/src/ide/types/Configuration.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/LineScopeHandler.ts
Due: eslint

Added call expression types to typescript
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearTypeNear2.yml
  queries/typescript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Add test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType10.yml
Due: format-recorded-tests, check-recorded-test-marks

Update comment
  queries/typescript.core.scm
Due: none

Update action signature
  cursorless-talon/src/snippets.py
Due: none

Disable statements most places, add item for maps, fix list error
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeEveryState.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeInsideList.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeStateFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeStateOdd.yml
  queries/nix.scm
Due: format-recorded-tests, check-recorded-test-marks

Bump typescript-eslint to 6.10.0
  package.json
  pnpm-lock.yaml
Due: none

Bump typescript-eslint to 6.10.0 (#2025)
  package.json
  pnpm-lock.yaml
Due: none

Cleanup docusaurus config
  package.json
  packages/cursorless-org-docs/docusaurus.config.mts
Due: none

Cleanup docusaurus config (#2027)
  package.json
  packages/cursorless-org-docs/docusaurus.config.mts
Due: none

editorconfing lint and a bit of removals
  queries/nix.scm
Due: none

Fix call/callee in a bunch of cases
  queries/nix.scm
Due: none

Support function declaration
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType11.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType12.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType13.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType14.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType15.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType16.yml
  queries/typescript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Up date test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearType.yml
Due: format-recorded-tests, check-recorded-test-marks

Support inside comment
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeInsideComment.yml
  queries/nix.scm
Due: format-recorded-tests, check-recorded-test-marks

Support other variation of @ assignment for args
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeArg3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeArg4.yml
  queries/nix.scm
Due: format-recorded-tests, check-recorded-test-marks

Fix mixing functionCall case
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeCall2.yml
  queries/nix.scm
Due: format-recorded-tests, check-recorded-test-marks

Update logo in more places
  packages/cursorless-org-docs/docusaurus.config.mts
  packages/cursorless-org-docs/static/favicon.ico
  packages/cursorless-org-docs/static/icon.svg
  packages/cursorless-org-docs/static/logo-dark.svg
  packages/cursorless-org-docs/static/logo.svg
  packages/cursorless-org/public/android-chrome-192x192.png
  packages/cursorless-org/public/android-chrome-512x512.png
  packages/cursorless-org/public/apple-touch-icon.png
  packages/cursorless-org/public/browserconfig.xml
  packages/cursorless-org/public/favicon-16x16.png
  packages/cursorless-org/public/favicon-32x32.png
  packages/cursorless-org/public/favicon.ico
  packages/cursorless-org/public/favicon.png
  packages/cursorless-org/public/favicon.svg
  packages/cursorless-org/public/logo-dark.svg
  packages/cursorless-org/public/logo.svg
  packages/cursorless-org/public/mstile-144x144.png
  packages/cursorless-org/public/mstile-150x150.png
  packages/cursorless-org/public/mstile-310x150.png
  packages/cursorless-org/public/mstile-310x310.png
  packages/cursorless-org/public/mstile-70x70.png
  packages/cursorless-org/public/safari-pinned-tab.svg
  packages/cursorless-org/public/site.webmanifest
  packages/cursorless-org/src/components/BaseSocial.tsx
  packages/cursorless-vscode/images/logo.png
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/scripts/populateDist/assets.ts
Due: eslint

Attempt to fix my-ts-node flakiness
  packages/common/scripts/my-ts-node.js
Due: none

Attempt to fix my-ts-node flakiness (#2029)
  packages/common/scripts/my-ts-node.js
Due: none

Update logo in more places (#2028)
  packages/cursorless-org-docs/docusaurus.config.mts
  packages/cursorless-org-docs/static/favicon.ico
  packages/cursorless-org-docs/static/icon.svg
  packages/cursorless-org-docs/static/logo-dark.svg
  packages/cursorless-org-docs/static/logo.svg
  packages/cursorless-org/public/android-chrome-192x192.png
  packages/cursorless-org/public/android-chrome-512x512.png
  packages/cursorless-org/public/apple-touch-icon.png
  packages/cursorless-org/public/browserconfig.xml
  packages/cursorless-org/public/favicon-16x16.png
  packages/cursorless-org/public/favicon-32x32.png
  packages/cursorless-org/public/favicon.ico
  packages/cursorless-org/public/favicon.png
  packages/cursorless-org/public/favicon.svg
  packages/cursorless-org/public/logo-dark.svg
  packages/cursorless-org/public/logo.svg
  packages/cursorless-org/public/mstile-144x144.png
  packages/cursorless-org/public/mstile-150x150.png
  packages/cursorless-org/public/mstile-310x150.png
  packages/cursorless-org/public/mstile-310x310.png
  packages/cursorless-org/public/mstile-70x70.png
  packages/cursorless-org/public/safari-pinned-tab.svg
  packages/cursorless-org/public/site.webmanifest
  packages/cursorless-org/src/components/BaseSocial.tsx
  packages/cursorless-vscode/images/logo.png
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/scripts/populateDist/assets.ts
Due: eslint

Fix race conditions with my-ts-node.sh
  packages/common/scripts/my-ts-node.js
Due: none

Update
  cursorless-talon/src/cursorless.talon
  cursorless-talon/src/snippet_cursorless.talon
  cursorless-talon/src/snippets.py
  cursorless-talon/src/snippets_community.talon
Due: none

Updated tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType17.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType18.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType19.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType20.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearTypeNear.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearTypeUrge.yml
  queries/typescript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Fix race conditions with my-ts-node.sh (#2030)
  packages/common/scripts/my-ts-node.js
Due: none

Move vscode-common's TestHelpers interface to its own file.
  packages/vscode-common/src/TestHelpers.ts
  packages/vscode-common/src/getExtensionApi.ts
  packages/vscode-common/src/index.ts
Due: eslint

Clean up my-ts-node.js
  packages/common/scripts/my-ts-node.js
Due: none

Revert import change in actions/Clear.ts.
  packages/cursorless-engine/src/actions/Clear.ts
Due: eslint
