Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Support typescript return type of function type
  data/fixtures/scopes/typescript.core/type/type.return2.scope
  queries/typescript.core.scm
Due: none

Change interior scope handler priority to favor surrounding pair interiors (#3068)
  data/fixtures/recorded/modifiers/interior/changeInsideAir.yml
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Support typescript return type of function type (#3069)
  data/fixtures/scopes/typescript.core/type/type.return2.scope
  queries/typescript.core.scm
Due: none

head/tail are bounded by all interiors not just pair
  data/fixtures/recorded/modifiers/interior/changeHead.yml
  data/fixtures/recorded/modifiers/interior/changeTail.yml
  packages/cursorless-engine/src/processTargets/modifiers/HeadTailStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update tests
  data/fixtures/recorded/modifiers/interior/changeHead.yml
  data/fixtures/recorded/modifiers/interior/changeTail.yml
Due: format-recorded-tests, check-recorded-test-marks

head/tail are bounded by all interiors not just pair (#3070)
  data/fixtures/recorded/modifiers/interior/changeHead.yml
  data/fixtures/recorded/modifiers/interior/changeTail.yml
  packages/cursorless-engine/src/processTargets/modifiers/HeadTailStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Remove interior.ternary scope facet
  data/fixtures/scopes/c/interior/interior.ternary.scope
  data/fixtures/scopes/csharp/interior/interior.ternary.scope
  data/fixtures/scopes/java/interior/interior.ternary.scope
  data/fixtures/scopes/javascript.core/interior/interior.ternary.scope
  data/fixtures/scopes/python/interior/interior.ternary.scope
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/common/src/scopeSupportFacets/css.ts
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/json.ts
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scm.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/talon.ts
  packages/common/src/scopeSupportFacets/xml.ts
  packages/common/src/scopeSupportFacets/yaml.ts
  queries/c.scm
  queries/csharp.scm
  queries/java.scm
  queries/javascript.core.scm
  queries/python.scm
Due: eslint

Ran Meta Updater
  data/scopeSupportFacetInfos.md
Due: none

Remove interior.ternary scope facet (#3071)
  data/fixtures/scopes/c/interior/interior.ternary.scope
  data/fixtures/scopes/csharp/interior/interior.ternary.scope
  data/fixtures/scopes/java/interior/interior.ternary.scope
  data/fixtures/scopes/javascript.core/interior/interior.ternary.scope
  data/fixtures/scopes/python/interior/interior.ternary.scope
  data/scopeSupportFacetInfos.md
  packages/common/src/scopeSupportFacets/c.ts
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/common/src/scopeSupportFacets/css.ts
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/json.ts
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scm.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/talon.ts
  packages/common/src/scopeSupportFacets/xml.ts
  packages/common/src/scopeSupportFacets/yaml.ts
  queries/c.scm
  queries/csharp.scm
  queries/java.scm
  queries/javascript.core.scm
  queries/python.scm
Due: eslint

Pass requireStrongContainment from head/tail modifier to interior scope handler
  data/fixtures/recorded/headTail/changeTail4.yml
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/HeadTailStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Pass requireStrongContainment from head/tail modifier to interior scope handler (#3072)
  data/fixtures/recorded/headTail/changeTail4.yml
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/HeadTailStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/InteriorScopeHandler.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

fixed white space issues?
  .prettierignore
  packages/cursorless-org-docs/src/docs/contributing/CONTRIBUTING.mdx
Due: none

Remove unwanted new lines in code blocks
  packages/cursorless-org-docs/src/docs/contributing/CONTRIBUTING.mdx
Due: none

Fix CONTRIBUTING.MDX formatting snafu introduced in PR 2989 (#3073)
  .prettierignore
  packages/cursorless-org-docs/src/docs/contributing/CONTRIBUTING.mdx
Due: none

Remove contributing.mdx from prettierignore
  .prettierignore
  packages/cursorless-org-docs/src/docs/contributing/CONTRIBUTING.mdx
Due: none

Ran prettier
  packages/cursorless-org-docs/src/docs/contributing/CONTRIBUTING.mdx
Due: none

Once again
  packages/cursorless-org-docs/src/docs/contributing/CONTRIBUTING.mdx
Due: none

Remove contributing.mdx from prettierignore (#3074)
  .prettierignore
  packages/cursorless-org-docs/src/docs/contributing/CONTRIBUTING.mdx
Due: none

Added language support for (java) properties
  data/fixtures/scopes/java-properties/index.json
  data/fixtures/scopes/properties/comment.line.scope
  data/fixtures/scopes/properties/key.mapPair.iteration.scope
  data/fixtures/scopes/properties/key.mapPair.scope
  data/fixtures/scopes/properties/key.mapPair2.scope
  data/fixtures/scopes/properties/name.iteration.document.scope
  data/fixtures/scopes/properties/name.variable.scope
  data/fixtures/scopes/properties/name.variable2.scope
  data/fixtures/scopes/properties/statement.iteration.document.scope
  data/fixtures/scopes/properties/statement.variable.scope
  data/fixtures/scopes/properties/textFragment.comment.line.scope
  data/fixtures/scopes/properties/value.iteration.document.scope
  data/fixtures/scopes/properties/value.mapPair.iteration.scope
  data/fixtures/scopes/properties/value.mapPair.scope
  data/fixtures/scopes/properties/value.variable.scope
  data/fixtures/scopes/properties/value.variable2.scope
  data/fixtures/scopes/properties/value.variable3.scope
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  packages/common/src/scopeSupportFacets/properties.ts
  queries/java-properties.scm
  queries/properties.scm
Due: eslint

Add mdx files
  packages/cursorless-org-docs/src/docs/user/languages/java-properties.mdx
  packages/cursorless-org-docs/src/docs/user/languages/properties.mdx
Due: none

Fix lint errors
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  packages/common/src/scopeSupportFacets/properties.ts
Due: eslint

Remove java-properties language page
  packages/cursorless-org-docs/src/docs/user/languages/java-properties.mdx
  packages/meta-updater/src/updateLanguageMdx.ts
Due: eslint

Trim trailing whitespace
  queries/java-properties.scm
Due: none

Add missing scope facets
  packages/common/src/scopeSupportFacets/properties.ts
Due: eslint

Remove scope support for Java properties
  data/fixtures/scopes/java-properties/index.json
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  packages/meta-updater/src/updateLanguageMdx.ts
Due: eslint

Added language support for (java) properties (#3077)
  data/fixtures/scopes/properties/comment.line.scope
  data/fixtures/scopes/properties/key.mapPair.iteration.scope
  data/fixtures/scopes/properties/key.mapPair.scope
  data/fixtures/scopes/properties/key.mapPair2.scope
  data/fixtures/scopes/properties/name.iteration.document.scope
  data/fixtures/scopes/properties/name.variable.scope
  data/fixtures/scopes/properties/name.variable2.scope
  data/fixtures/scopes/properties/statement.iteration.document.scope
  data/fixtures/scopes/properties/statement.variable.scope
  data/fixtures/scopes/properties/textFragment.comment.line.scope
  data/fixtures/scopes/properties/value.iteration.document.scope
  data/fixtures/scopes/properties/value.mapPair.iteration.scope
  data/fixtures/scopes/properties/value.mapPair.scope
  data/fixtures/scopes/properties/value.variable.scope
  data/fixtures/scopes/properties/value.variable2.scope
  data/fixtures/scopes/properties/value.variable3.scope
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  packages/common/src/scopeSupportFacets/properties.ts
  packages/cursorless-org-docs/src/docs/user/languages/properties.mdx
  queries/java-properties.scm
  queries/properties.scm
Due: eslint

Update dependency versions
  eslint.config.mts
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/node-common/package.json
  pnpm-lock.yaml
Due: none

Update lint config
  eslint.config.mts
Due: none

font awesome
  packages/cheatsheet/package.json
  pnpm-lock.yaml
Due: none

Update dependency versions (#3078)
  eslint.config.mts
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/node-common/package.json
  pnpm-lock.yaml
Due: none

Added support for language Talon list
  data/fixtures/scopes/talon-list/comment.line.scope
  data/fixtures/scopes/talon-list/key.mapPair.iteration.scope
  data/fixtures/scopes/talon-list/key.mapPair.scope
  data/fixtures/scopes/talon-list/key.mapPair2.scope
  data/fixtures/scopes/talon-list/name.iteration.document.scope
  data/fixtures/scopes/talon-list/name.variable.scope
  data/fixtures/scopes/talon-list/name.variable2.scope
  data/fixtures/scopes/talon-list/statement.iteration.document.scope
  data/fixtures/scopes/talon-list/statement.variable.scope
  data/fixtures/scopes/talon-list/statement.variable2.scope
  data/fixtures/scopes/talon-list/string.singleLine.scope
  data/fixtures/scopes/talon-list/textFragment.comment.line.scope
  data/fixtures/scopes/talon-list/textFragment.string.singleLine.scope
  data/fixtures/scopes/talon-list/value.iteration.document.scope
  data/fixtures/scopes/talon-list/value.mapPair.iteration.scope
  data/fixtures/scopes/talon-list/value.mapPair.scope
  data/fixtures/scopes/talon-list/value.variable.scope
  data/fixtures/scopes/talon-list/value.variable2.scope
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  packages/common/src/scopeSupportFacets/talon-list.ts
  packages/cursorless-org-docs/src/docs/components/Code.css
  packages/cursorless-org-docs/src/docs/components/Code.tsx
  packages/cursorless-org-docs/src/docs/user/languages/talon-list.mdx
  packages/test-case-recorder/src/ScopeTestRecorder.ts
  queries/talon-list.scm
Due: eslint

Added support for language Talon list (#3080)
  data/fixtures/scopes/talon-list/comment.line.scope
  data/fixtures/scopes/talon-list/key.mapPair.iteration.scope
  data/fixtures/scopes/talon-list/key.mapPair.scope
  data/fixtures/scopes/talon-list/key.mapPair2.scope
  data/fixtures/scopes/talon-list/name.iteration.document.scope
  data/fixtures/scopes/talon-list/name.variable.scope
  data/fixtures/scopes/talon-list/name.variable2.scope
  data/fixtures/scopes/talon-list/statement.iteration.document.scope
  data/fixtures/scopes/talon-list/statement.variable.scope
  data/fixtures/scopes/talon-list/statement.variable2.scope
  data/fixtures/scopes/talon-list/string.singleLine.scope
  data/fixtures/scopes/talon-list/textFragment.comment.line.scope
  data/fixtures/scopes/talon-list/textFragment.string.singleLine.scope
  data/fixtures/scopes/talon-list/value.iteration.document.scope
  data/fixtures/scopes/talon-list/value.mapPair.iteration.scope
  data/fixtures/scopes/talon-list/value.mapPair.scope
  data/fixtures/scopes/talon-list/value.variable.scope
  data/fixtures/scopes/talon-list/value.variable2.scope
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  packages/common/src/scopeSupportFacets/talon-list.ts
  packages/cursorless-org-docs/src/docs/components/Code.css
  packages/cursorless-org-docs/src/docs/components/Code.tsx
  packages/cursorless-org-docs/src/docs/user/languages/talon-list.mdx
  packages/test-case-recorder/src/ScopeTestRecorder.ts
  queries/talon-list.scm
Due: eslint

Added changelog entries about properties and Talon list
  changelog/2025-08-AddedPropertiesSupport.md
  changelog/2025-08-addedTalonListSupport.md
Due: none

Added changelog entries about properties and Talon list (#3081)
  changelog/2025-08-AddedPropertiesSupport.md
  changelog/2025-08-addedTalonListSupport.md
Due: none

Allow duplicate targets for bring action
  data/fixtures/recorded/actions/bringName.yml
  data/fixtures/recorded/hatTokenMap/bringPointAndHarpToEndOfThisAndEndOfWhaleTakeWhale.yml
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-engine/src/processTargets/TargetPipelineRunner.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Update dependency versions
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon/scripts/esbuild.sh
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/neovim-common/package.json
  packages/neovim-registry/package.json
  packages/sentence-parser/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: none

Set crypto as external
  packages/cursorless-everywhere-talon-e2e/scripts/test-quickjs.sh
Due: none

Add padding to scopes checkbox
  packages/cursorless-org-docs/src/docs/components/ScopeVisualizer.tsx
Due: eslint

Update dependency versions (#3084)
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon-e2e/scripts/test-quickjs.sh
  packages/cursorless-everywhere-talon/scripts/esbuild.sh
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org-docs/src/docs/components/ScopeVisualizer.tsx
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/neovim-common/package.json
  packages/neovim-registry/package.json
  packages/sentence-parser/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: eslint

Started working on selected scope visualizer
  packages/common/src/types/ScopeProvider.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/scopeProviders/ScopeRangeProvider.ts
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
