Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Add doc string
  packages/cursorless-vscode/src/ide/vscode/isDiffEditorOriginal.ts
Due: eslint

Ability to focus diff editor (#2388)
  packages/common/src/types/TextEditor.ts
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-engine/src/actions/CallbackAction.ts
  packages/cursorless-engine/src/actions/Clear.ts
  packages/cursorless-engine/src/actions/Deselect.ts
  packages/cursorless-engine/src/actions/EditNew/EditNew.ts
  packages/cursorless-engine/src/actions/InsertCopy.ts
  packages/cursorless-engine/src/actions/InsertEmptyLines.ts
  packages/cursorless-engine/src/actions/PasteFromClipboard.ts
  packages/cursorless-engine/src/actions/Remove.ts
  packages/cursorless-engine/src/actions/SetSelection.ts
  packages/cursorless-engine/src/actions/Wrap.ts
  packages/cursorless-engine/src/util/setSelectionsAndFocusEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
  packages/cursorless-vscode/src/ide/vscode/isDiffEditorOriginal.ts
Due: eslint

multiple args; more consistent naming
  data/fixtures/scopes/javascript.core/argument.actual.scope
  data/fixtures/scopes/javascript.core/argument.formal.constructor.iteration.scope
  data/fixtures/scopes/javascript.core/argument.formal.constructor.scope
  data/fixtures/scopes/javascript.core/argument.formal.iteration.scope
  data/fixtures/scopes/javascript.core/argument.formal.method.iteration.scope
  data/fixtures/scopes/javascript.core/argument.formal.method.scope
  data/fixtures/scopes/javascript.core/argument.formal.scope
  data/fixtures/scopes/javascript.core/name.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/javascript.core/name.argument.formal.constructor.scope
  data/fixtures/scopes/javascript.core/name.argument.formal.iteration.scope
  data/fixtures/scopes/javascript.core/name.argument.formal.method.iteration.scope
  data/fixtures/scopes/javascript.core/name.argument.formal.method.scope
  data/fixtures/scopes/javascript.core/name.argument.formal.scope
Due: none

more tweaks
  data/fixtures/scopes/javascript.core/name.argument.formal.constructor2.scope
  data/fixtures/scopes/javascript.core/name.argument.formal.method2.scope
  data/fixtures/scopes/javascript.core/name.argument.formal2.scope
  data/fixtures/scopes/javascript.core/value.argument.formal.constructor.iteration.scope
  data/fixtures/scopes/javascript.core/value.argument.formal.constructor.scope
  data/fixtures/scopes/javascript.core/value.argument.formal.iteration.scope
  data/fixtures/scopes/javascript.core/value.argument.formal.method.iteration.scope
  data/fixtures/scopes/javascript.core/value.argument.formal.method.scope
  data/fixtures/scopes/javascript.core/value.argument.formal.scope
Due: none

more tweaks
  data/fixtures/scopes/javascript.core/argument.actual.iteration.scope
  data/fixtures/scopes/javascript.core/argument.actual.iteration2.scope
  data/fixtures/scopes/javascript.core/argument.actual.scope
  data/fixtures/scopes/javascript.core/argument.actual2.scope
Due: none

improve argument.actual
  data/fixtures/scopes/javascript.core/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/javascript.core/argument.actual.constructor.scope
  data/fixtures/scopes/javascript.core/argument.actual.method.iteration.scope
  data/fixtures/scopes/javascript.core/argument.actual.method.scope
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
Due: eslint

scala scope migration (#2345)
  packages/cursorless-engine/src/languages/scala.ts
  queries/scala.scm
Due: eslint

minor tweak
  queries/rust.scm
Due: none

tweak
  queries/go.scm
Due: none

Added try branch for java (#2346)
  data/fixtures/scopes/java/branch.if.iteration.scope
  data/fixtures/scopes/java/branch.if.scope
  data/fixtures/scopes/java/branch.try.iteration.scope
  data/fixtures/scopes/java/branch.try.scope
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/java.scm
Due: eslint

Rust scope migration (#2344)
  packages/cursorless-engine/src/languages/rust.ts
  queries/rust.scm
Due: eslint

Add `cursorless_create_destination` action to talon api (#2402)
  changelog/2024-06-addCreateDestination.md
  cursorless-talon/src/public_api.py
  cursorless-talon/src/targets/target_types.py
  docs/user/customization.md
  docs/user/how-to.md
Due: none

Add `cursorless_create_destination` action to talon api (#2402)
  src/public_api.py
  src/targets/target_types.py
Due: none

Add facet
  packages/common/src/scopeSupportFacets/markdown.ts
Due: eslint

revert change
  queries/go.scm
Due: none

Support markdown code blocks as `"cell"` (#2410)
  data/fixtures/scopes/markdown/notebookCell.scope
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  queries/markdown.scm
Due: eslint

go scope migration (#2340)
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/go.ts
  queries/go.scm
Due: eslint

Use our own init.lua for local development
  .vscode/tasks.json
  docs/contributing/cursorless-in-neovim.md
  init.lua
  packages/cursorless-neovim/scripts/debug-neovim.sh
Due: none

some tweaks
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  cursorless.nvim/node/command-server/index/index.cjs
  init.lua
  packages/cursorless-neovim/package.json
  packages/test-harness/package.json
  packages/test-harness/scripts/populate-cursorless-nvim.sh
  packages/test-harness/scripts/populate-test-harness.sh
Due: none

more tweaks
  .vscode/tasks.json
  packages/cursorless-neovim/package.json
  packages/cursorless-neovim/scripts/populate-cursorless-nvim.sh
  packages/cursorless-neovim/scripts/populate-dist.sh
  packages/cursorless-vscode/package.json
  packages/test-harness/package.json
  packages/test-harness/scripts/populate-test-harness.sh
Due: none

Working cleaned up version
  .vscode/tasks.json
  cursorless.nvim/node/command-server/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-neovim/scripts/populate-dist.sh
  packages/meta-updater/src/updatePackageJson.ts
  packages/neovim-common/src/ide/neovim/NeovimIDE.ts
  packages/neovim-registry/package.json
  packages/test-harness/package.json
Due: eslint

keyboard: Support "inside" and "bounds"
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
  packages/cursorless-vscode/src/keyboard/grammar/grammar.test.ts
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: eslint

Clean up KeyboardCommandsTargeted and support targeting mode for modifiers
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandHandler.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
Due: eslint

fix merge screwup
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/delimiterMaps.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/index.ts
Due: eslint

Improved docs for contributing
  docs/contributing/CONTRIBUTING.md
Due: none

keyboard: Support "inside" and "bounds" (#2417)
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
  packages/cursorless-vscode/src/keyboard/grammar/grammar.test.ts
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: eslint

keyboard: Add ability to make range past output of modifier (#2418)
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandHandler.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
Due: eslint

Add ability to repeat last cursorless command
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

Add ability to repeat last cursorless command (#2419)
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

keyboard: Undo stack for keyboard target
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-engine/src/core/StoredTargets.ts
  packages/cursorless-engine/src/core/UndoStack.test.ts
  packages/cursorless-engine/src/core/UndoStack.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

keyboard: Undo stack for keyboard target (#2420)
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-engine/src/core/StoredTargets.ts
  packages/cursorless-engine/src/core/UndoStack.test.ts
  packages/cursorless-engine/src/core/UndoStack.ts
  packages/cursorless-engine/src/core/commandRunner/CommandRunnerImpl.ts
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
  packages/cursorless-vscode/src/registerCommands.ts
Due: eslint

Make "inside" fall back to pair when the target doesn't have an interior
  data/fixtures/recorded/modifiers/changeBoundsValue.yml
  data/fixtures/recorded/modifiers/changeInsideValue.yml
  packages/cursorless-engine/src/actions/Rewrap.ts
  packages/cursorless-engine/src/processTargets/modifiers/InteriorStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/getIterationScope.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/BoundedNonWhitespaceStage.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SurroundingPairTarget.ts
  packages/cursorless-engine/src/scopeProviders/getTargetRanges.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Add minimum version to test fixture upgrader
  docs/contributing/test-case-recorder.md
  packages/common/src/types/command/command.types.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/canonicalizeAndValidateCommand.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/checkMarks.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/transformations/canonicalize.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/transformations/upgrade.ts
Due: eslint

Tweaks
  packages/cursorless-engine/src/actions/Rewrap.ts
  packages/cursorless-engine/src/processTargets/modifiers/ConditionalModifierStages.ts
  packages/cursorless-engine/src/processTargets/modifiers/InteriorStage.ts
Due: eslint

More fixtures
  data/fixtures/recorded/implicitExpansion/clearBoundsToken.yml
  data/fixtures/recorded/implicitExpansion/clearCoreToken.yml
  data/fixtures/recorded/implicitExpansion/squareSwitchFunk.yml
  packages/cursorless-engine/src/processTargets/modifiers/ConditionalModifierStages.ts
  packages/cursorless-engine/src/processTargets/modifiers/commonContainingScopeIfUntypedModifiers.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

keyboard: Support targeting modes for targeting selection
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandHandler.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/getAcceptableTokenTypes.test.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
  packages/cursorless-vscode/src/keyboard/grammar/grammar.test.ts
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: eslint

Add simple headTail modifier
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
  packages/cursorless-vscode/src/keyboard/grammar/generated/grammar.ts
  packages/cursorless-vscode/src/keyboard/grammar/grammar.ne
  packages/cursorless-vscode/src/keyboard/grammar/grammar.test.ts
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
Due: eslint

Fix documentation for using new programming language template.
  docs/contributing/adding-a-new-language.md
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
