Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/|^data/playground/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: ^patches/.*\.patch$|\.scope$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # data/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^data/fixtures/recorded/.*/[^/]*\.yml$|\.scope$|/generated/|^patches/
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^data/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/lunarmodules/luacheck
    rev: v1.2.0
    hooks:
      - id: luacheck
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

Remove empty lines
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
Due: eslint

Update cursorless-talon/src/targets/primitive_target.py
  cursorless-talon/src/targets/primitive_target.py
Due: none

Update packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
Due: eslint

Update cursorless-talon/src/modifiers/simple_scope_modifier.py
  cursorless-talon/src/modifiers/simple_scope_modifier.py
Due: none

Update cursorless-talon/src/marks/literal_mark.py
  cursorless-talon/src/marks/literal_mark.py
Due: none

Update cursorless-talon/src/spoken_scope_forms.py
  cursorless-talon/src/spoken_scope_forms.py
Due: none

Update cursorless-talon/src/get_grapheme_spoken_form_entries.py
  cursorless-talon/src/get_grapheme_spoken_form_entries.py
Due: none

Restructure
  cursorless-talon/src/spoken_scope_forms.py
Due: none

Only create normalize context when testing
  cursorless-talon/src/spoken_scope_forms.py
Due: none

rename
  cursorless-talon/src/spoken_scope_forms.py
Due: none

Flatten scope type list (#2628)
  cursorless-talon/src/csv_overrides.py
  cursorless-talon/src/get_grapheme_spoken_form_entries.py
  cursorless-talon/src/modifiers/glyph_scope.py
  cursorless-talon/src/modifiers/modifiers.py
  cursorless-talon/src/modifiers/scopes.py
  cursorless-talon/src/modifiers/surrounding_pair.py
  cursorless-talon/src/paired_delimiter.py
  cursorless-talon/src/spoken_forms.py
  cursorless-talon/src/spoken_scope_forms.py
  data/fixtures/recorded/surroundingPair/textual/takeLeftQuad.yml
  data/fixtures/recorded/surroundingPair/textual/takeRightQuad.yml
Due: format-recorded-tests, check-recorded-test-marks

Flatten scope type list (#2628)
  src/csv_overrides.py
  src/get_grapheme_spoken_form_entries.py
  src/modifiers/glyph_scope.py
  src/modifiers/modifiers.py
  src/modifiers/scopes.py
  src/modifiers/surrounding_pair.py
  src/paired_delimiter.py
  src/spoken_forms.py
  src/spoken_scope_forms.py
Due: none

Added literal mark (#2593)
  src/marks/literal_mark.py
  src/marks/mark.py
  src/marks/mark_types.py
  src/modifiers/simple_scope_modifier.py
  src/targets/primitive_target.py
Due: none

Added literal mark (#2593)
  cursorless-talon/src/marks/literal_mark.py
  cursorless-talon/src/marks/mark.py
  cursorless-talon/src/marks/mark_types.py
  cursorless-talon/src/modifiers/simple_scope_modifier.py
  cursorless-talon/src/targets/primitive_target.py
  data/fixtures/recorded/modifiers/preferredScope/changeGoodPair.yml
  data/fixtures/recorded/modifiers/preferredScope/changeGoodPair2.yml
  data/fixtures/recorded/modifiers/preferredScope/changeGoodPair3.yml
  data/fixtures/recorded/modifiers/preferredScope/changeGoodPair4.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHello.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHello2.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere2.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere3.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere4.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere5.yml
  data/fixtures/recorded/modifiers/preferredScope/clearLiteralHelloThere6.yml
  packages/common/src/types/SpokenFormType.ts
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/RegexScopeHandler.ts
  packages/cursorless-engine/src/util/getScopeType.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Fixed bug where we tried to read missing custom regex list
  cursorless-talon/src/get_grapheme_spoken_form_entries.py
  cursorless-talon/src/spoken_forms.py
  cursorless-talon/src/spoken_scope_forms.py
Due: none

run initially
  cursorless-talon/src/spoken_forms.py
Due: none

Fixed bug where we tried to read missing custom regex list (#2637)
  src/get_grapheme_spoken_form_entries.py
  src/spoken_forms.py
  src/spoken_scope_forms.py
Due: none

Fixed bug where we tried to read missing custom regex list (#2637)
  cursorless-talon/src/get_grapheme_spoken_form_entries.py
  cursorless-talon/src/spoken_forms.py
  cursorless-talon/src/spoken_scope_forms.py
Due: none

Don't use custom spoken forms on test
  packages/cursorless-vscode/src/extension.ts
Due: eslint

Use of containing scope stage in preferred scope stage
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
Due: eslint

Added preferred scope test for legacy scope type
  data/fixtures/recorded/modifiers/preferredScope/clearItem.yml
Due: format-recorded-tests, check-recorded-test-marks

add `"short block"` section to reference page
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Updated docusaurus `editUrl` parameter
  packages/cursorless-org-docs/docusaurus.config.mts
Due: none

Added cheatsheet description for short block
  cursorless-talon/src/cheatsheet/sections/scopes.py
Due: none

add `"short block"` section to reference page (#2641)
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Added fake Talon spoken forms
  packages/common/src/ide/fake/FakeTalonSpokenForms.ts
  packages/common/src/index.ts
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runCustomRegexScopeInfoTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runCustomSpokenFormScopeInfoTest.ts
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/extension.ts
  packages/vscode-common/src/TestHelpers.ts
Due: eslint

Increased time out
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runCustomRegexScopeInfoTest.ts
Due: eslint

Updated docusaurus `editUrl` parameter (#2643)
  packages/cursorless-org-docs/docusaurus.config.mts
Due: none

Elaborated comment
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
Due: eslint

added comment
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runCustomRegexScopeInfoTest.ts
Due: eslint

Added sleep in custom regex scope test
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runCustomRegexScopeInfoTest.ts
Due: eslint

check exception type
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
Due: eslint

Try to fix CI flakiness by adding sleep in custom regex scope test (#2645)
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runCustomRegexScopeInfoTest.ts
Due: eslint

update description
  cursorless-talon/src/cheatsheet/sections/scopes.py
Due: none
