Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Update comment
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
Due: eslint

Remove unused funk
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/captureUtils.ts
Due: eslint

update comment
  packages/cursorless-engine/src/languages/TreeSitterQuery/captureNames.ts
Due: eslint

remove unnecessary type
  packages/cursorless-engine/src/languages/TreeSitterQuery/captureNames.ts
Due: eslint

Small refactoring of Tree sitter (#3189)
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQueryCache.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/captureNames.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/captureUtils.ts
  packages/cursorless-engine/src/util/array.ts
  packages/cursorless-engine/src/util/setIsEqual.ts
Due: eslint

Update agents file
  AGENTS.md
  packages/cursorless-engine/src/languages/TreeSitterQuery/captureNames.ts
Due: eslint

Added performance classes
  packages/cursorless-engine/src/testUtil/Performance.ts
Due: eslint

Update types
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

Started working on refactoring TreeSitterQuery
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

More work
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

More updates
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/parsePredicates.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/parsePredicatesWithErrorHandling.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.ts
Due: eslint

Cleanup
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
Due: eslint

More clean up
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.ts
Due: eslint

More fixes
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/getNodeRange.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.ts
Due: eslint

mutable
  packages/common/src/util/type.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

fix
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.ts
Due: eslint

Use map
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

comment
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

stopped sorting unnecessarily
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
Due: eslint

fix rewriteStartOfEndOf test
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.ts
Due: eslint

Re add sorting
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
Due: eslint

Optimize surrounding pair performance (#3190)
  AGENTS.md
  packages/common/src/util/type.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/captureNames.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/getNodeRange.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/parsePredicates.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/parsePredicatesWithErrorHandling.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/testUtil/Performance.ts
Due: eslint

Stop depending on extension for testing language ids
  packages/common/src/extensionDependencies.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/scripts/initLaunchSandbox.ts
Due: eslint

Read jrieken.vscode-tree-sitter-query to sandbox
  packages/cursorless-vscode/src/scripts/initLaunchSandbox.ts
Due: eslint

Add mrob95.vscode-talonscript to sandbox
  packages/cursorless-vscode/src/scripts/initLaunchSandbox.ts
Due: eslint

Document "visible" modifier in user docs (#3171)
  packages/cursorless-org-docs/src/docs/user/README.md
Due: none

Stop depending on extension dependencies for language ids in tests (#3191)
  packages/common/src/extensionDependencies.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/scripts/initLaunchSandbox.ts
Due: eslint

Restore default vocabulary split syntax
  cursorless-talon-dev/src/default_vocabulary.py
Due: none

Replace flynt with ruff FLY rules and bump pre-commit hooks (#3169)
  .pre-commit-config.yaml
  cursorless-talon-dev/src/default_vocabulary.py
  cursorless-talon/src/cheatsheet/sections/destinations.py
  pyproject.toml
Due: none

Replace flynt with ruff FLY rules and bump pre-commit hooks (#3169)
  src/cheatsheet/sections/destinations.py
Due: none

Use actual links to vscode settings in docs
  README.md
  packages/cursorless-org-docs/src/docs/user/README.md
  packages/cursorless-org-docs/src/docs/user/customization.md
  packages/cursorless-org-docs/src/docs/user/hatAssignment.md
  packages/cursorless-org-docs/src/docs/user/localCommandHIstory.md
  packages/cursorless-org-docs/src/docs/user/visualAccessibility.md
Due: none

Restore re compute command
  README.md
Due: none

Use actual links to vscode settings in docs (#3192)
  README.md
  packages/cursorless-org-docs/src/docs/user/README.md
  packages/cursorless-org-docs/src/docs/user/customization.md
  packages/cursorless-org-docs/src/docs/user/hatAssignment.md
  packages/cursorless-org-docs/src/docs/user/localCommandHIstory.md
  packages/cursorless-org-docs/src/docs/user/visualAccessibility.md
Due: none

Update dependency versions
  package.json
  packages/cheatsheet-local/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/neovim-common/package.json
  packages/node-common/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: none

Update dependency versions (#3193)
  package.json
  packages/cheatsheet-local/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/neovim-common/package.json
  packages/node-common/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Due: none

Updated increments/decrement number regex with better handling for underscores
  data/fixtures/recorded/actions/incrementDecrement/decrementFile3.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementFile3.yml
  packages/cursorless-engine/src/actions/incrementDecrement.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Updated increments/decrement number regex with better handling for underscores (#3194)
  data/fixtures/recorded/actions/incrementDecrement/decrementFile3.yml
  data/fixtures/recorded/actions/incrementDecrement/incrementFile3.yml
  packages/cursorless-engine/src/actions/incrementDecrement.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Started adding missing php facets
  data/fixtures/scopes/php/anonymousFunction.scope
  data/fixtures/scopes/php/anonymousFunction2.scope
  data/fixtures/scopes/php/class.scope
  data/fixtures/scopes/php/functionCall/functionCall.chain.scope
  data/fixtures/scopes/php/functionCall/functionCall.constructor.scope
  data/fixtures/scopes/php/functionCall/functionCall.method.scope
  data/fixtures/scopes/php/functionCall/functionCall.scope
  data/fixtures/scopes/php/functionCallee/functionCallee.chain.scope
  data/fixtures/scopes/php/functionCallee/functionCallee.constructor.scope
  data/fixtures/scopes/php/functionCallee/functionCallee.method.scope
  data/fixtures/scopes/php/functionCallee/functionCallee.scope
  data/fixtures/scopes/php/list.scope
  data/fixtures/scopes/php/map.scope
  data/fixtures/scopes/php/namedFunction.constructor.scope
  data/fixtures/scopes/php/namedFunction.method.scope
  data/fixtures/scopes/php/namedFunction.scope
  data/fixtures/scopes/php/string.multiLine.scope
  data/fixtures/scopes/php/textFragment.comment.block.scope
  data/fixtures/scopes/php/textFragment.comment.line.scope
  data/fixtures/scopes/php/textFragment.string.multiLine.scope
  packages/common/src/scopeSupportFacets/php.ts
  queries/php.scm
Due: eslint

document iteration
  data/fixtures/scopes/php/class.iteration.document.scope
  data/fixtures/scopes/php/name/name.iteration.document.scope
  data/fixtures/scopes/php/namedFunction.iteration.document.scope
  data/fixtures/scopes/php/statement/statement.iteration.document.scope
  data/fixtures/scopes/php/value/value.iteration.document.scope
  queries/java.scm
  queries/php.scm
Due: none

statement
  data/fixtures/scopes/php/ifStatement.scope
  data/fixtures/scopes/php/namedFunction.iteration.class.scope
  data/fixtures/scopes/php/statement/statement.assignment.compound.scope
  data/fixtures/scopes/php/statement/statement.assignment.scope
  data/fixtures/scopes/php/statement/statement.break.scope
  data/fixtures/scopes/php/statement/statement.class.scope
  data/fixtures/scopes/php/statement/statement.constructor.scope
  data/fixtures/scopes/php/statement/statement.continue.scope
  data/fixtures/scopes/php/statement/statement.doWhile.scope
  data/fixtures/scopes/php/statement/statement.enum.scope
  data/fixtures/scopes/php/statement/statement.field.class.scope
  data/fixtures/scopes/php/statement/statement.for.scope
  data/fixtures/scopes/php/statement/statement.foreach.scope
  data/fixtures/scopes/php/statement/statement.function.scope
  data/fixtures/scopes/php/statement/statement.functionCall.scope
  data/fixtures/scopes/php/statement/statement.if.scope
  data/fixtures/scopes/php/statement/statement.import.scope
  data/fixtures/scopes/php/statement/statement.interface.scope
  data/fixtures/scopes/php/statement/statement.iteration.class.scope
  data/fixtures/scopes/php/statement/statement.iteration.interface.scope
  data/fixtures/scopes/php/statement/statement.method.scope
  data/fixtures/scopes/php/statement/statement.namespace.scope
  data/fixtures/scopes/php/statement/statement.return.scope
  data/fixtures/scopes/php/statement/statement.switch.scope
  data/fixtures/scopes/php/statement/statement.throw.scope
  data/fixtures/scopes/php/statement/statement.try.scope
  data/fixtures/scopes/php/statement/statement.variable.initialized.scope
  data/fixtures/scopes/php/statement/statement.while.scope
  data/fixtures/scopes/php/statement/statement.yield.scope
  packages/common/src/scopeSupportFacets/php.ts
  queries/php.scm
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
