Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

clean up
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

Simplification
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

Refactoring
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

Clean up
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

Rename imports
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

Restore test
  data/fixtures/recorded/surroundingPair/parseTree/typescript/changePair.yml
Due: format-recorded-tests, check-recorded-test-marks

Allow text fragments with error
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
Due: eslint

Use narrow search range instead of full document for Tree sitter queries
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/BaseTreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/getQuerySearchRange.ts
  queries/c.scm
  queries/javascript.scm
  queries/typescript.core.scm
Due: eslint

cleanup
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/getQuerySearchRange.ts
Due: eslint

Updates scope support test for new parse tree version
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runBasicScopeInfoTest.ts
Due: eslint

Updates scope support test for new parse tree version (#2715)
  packages/cursorless-vscode-e2e/src/suite/scopeProvider/runBasicScopeInfoTest.ts
Due: eslint

Properly compare positions for cache validation (#2712)
  packages/cursorless-engine/src/languages/TreeSitterQuery/treeSitterQueryCache.ts
Due: eslint

Pass individual changes to browser extension (#2709)
  cursorless-everywhere-talon/cursorless_everywhere_talon_browser.py
Due: none

Update queries/python.scm
  queries/python.scm
Due: none

Update packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/getQuerySearchRange.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/getQuerySearchRange.ts
Due: eslint

Use narrow search range instead of full document for Tree sitter queries (#2714)
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/BaseTreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/getQuerySearchRange.ts
  queries/c.scm
  queries/javascript.scm
  queries/typescript.core.scm
Due: eslint

Proper handling of surrounding pair delimiter prefixes (#2705)
  cursorless-talon/src/spoken_forms.py
  data/fixtures/recorded/surroundingPair/parseTree/python/changeInside.yml
  data/fixtures/recorded/surroundingPair/parseTree/python/changePair3.yml
  data/fixtures/scopes/python/pairDelimiter.scope
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getDelimiterOccurrences.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/getIndividualDelimiters.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  queries/python.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Proper handling of surrounding pair delimiter prefixes (#2705)
  src/spoken_forms.py
Due: none

Small refactoring
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

Move parse predicates with error handling to separate file
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/parsePredicatesWithErrorHandling.ts
Due: eslint

More cleanup
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

Activate test
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
Due: eslint

Added performance test for `select previous scope`
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Added every scopes
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Clean up
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Update every threshold
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Update order
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Added utilities to convert javascript objects to python ones
  cursorless-everywhere-talon/cursorless_everywhere_talon_browser.py
Due: none

The uu module is deprecated and removed in python 3.13
  cursorless-talon/src/get_grapheme_spoken_form_entries.py
Due: none

Remove dependency on deprecated uu module (#2719)
  src/get_grapheme_spoken_form_entries.py
Due: none

Remove dependency on deprecated uu module (#2719)
  cursorless-talon/src/get_grapheme_spoken_form_entries.py
Due: none

Started working on installation dependences
  package.json
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/resources/installation.js
  packages/cursorless-vscode/src/InstallationDependencies.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/registerCommands.ts
  packages/cursorless-vscode/src/scripts/populateDist/assets.ts
  packages/vscode-common/src/getExtensionApi.ts
  pnpm-lock.yaml
Due: eslint

Added don't show again button
  packages/cursorless-vscode/resources/installationDependencies.js
  packages/cursorless-vscode/src/InstallationDependencies.ts
  packages/cursorless-vscode/src/scripts/populateDist/assets.ts
Due: eslint

Added command description
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-vscode/package.json
Due: eslint

Added command to nevin
  packages/cursorless-neovim/src/registerCommands.ts
Due: eslint

Added utilities to convert javascript objects to python ones (#2718)
  cursorless-everywhere-talon/cursorless_everywhere_talon_browser.py
Due: none

Added performance test for `select previous scope` (#2717)
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Due: eslint

Increase performance for Tree sitter matches (#2713)
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/normalizeCaptureName.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/parsePredicatesWithErrorHandling.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/positionToPoint.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.ts
Due: eslint

Remove cell tests
  data/fixtures/recorded/selectionTypes/drinkCell.yml
  data/fixtures/recorded/selectionTypes/drinkCellEach.yml
  data/fixtures/recorded/selectionTypes/pourCell.yml
  data/fixtures/recorded/selectionTypes/pourCellEach.yml
Due: format-recorded-tests, check-recorded-test-marks

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
