Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm transform-recorded-tests --check-marks

Create `Debouncer`; use it for `HatAllocator` (#1646)
  packages/cursorless-engine/src/core/Debouncer.ts
  packages/cursorless-engine/src/core/HatAllocator.ts
Due: eslint

Add `includeDescendantScopes` field to scope handlers (#1647)
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BaseScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/scopeHandler.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/shouldYieldScope.ts
Due: eslint

Add generalized range utility functions (#1645)
  packages/common/src/types/GeneralizedRange.ts
  packages/common/src/types/generalizedRangeContains.test.ts
  packages/common/src/types/generalizedRangeTouches.test.ts
  packages/common/src/types/isGeneralizedRangeEqual.test.ts
Due: eslint

Rollback vscode import changes
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/extension.ts
Due: eslint

Add `ScopeRangeProvider`
  packages/cursorless-engine/src/ScopeVisualizer/ScopeRangeProvider.ts
  packages/cursorless-engine/src/ScopeVisualizer/getIterationRange.ts
  packages/cursorless-engine/src/ScopeVisualizer/getIterationScopeRanges.ts
  packages/cursorless-engine/src/ScopeVisualizer/getScopeRanges.ts
  packages/cursorless-engine/src/ScopeVisualizer/getTargetRanges.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/api/ScopeProvider.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/index.ts
Due: eslint

Add `vscodeApi` for mocking (#1648)
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/vscodeApi.ts
  packages/vscode-common/src/VscodeApi.ts
  packages/vscode-common/src/getExtensionApi.ts
  packages/vscode-common/src/index.ts
Due: eslint

Add `VscodeFancyRangeHighlighter`
  packages/common/src/index.ts
  packages/common/src/util/CompositeKeyDefaultMap.ts
  packages/common/src/util/range.ts
  packages/cursorless-engine/package.json
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/RangeTypeColors.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/VscodeFancyRangeHighlighter.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/VscodeFancyRangeHighlighterRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/decorationStyle.types.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/generateDecorationsForCharacterRange.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/generateLineInfos.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/handleMultipleLines.test.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/handleMultipleLines.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/index.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForLineRange.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDifferentiatedRanges.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/getDifferentiatedStyleMapKey.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/groupDifferentiatedStyledRanges.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/index.ts
  pnpm-lock.yaml
Due: eslint

Fix lint warnings for unused vars
  packages/common/src/types/command/legacy/PartialTargetDescriptorV5.types.ts
Due: eslint

Add `ScopeRangeProvider` (#1650)
  packages/cursorless-engine/src/ScopeVisualizer/ScopeRangeProvider.ts
  packages/cursorless-engine/src/ScopeVisualizer/getIterationRange.ts
  packages/cursorless-engine/src/ScopeVisualizer/getIterationScopeRanges.ts
  packages/cursorless-engine/src/ScopeVisualizer/getScopeRanges.ts
  packages/cursorless-engine/src/ScopeVisualizer/getTargetRanges.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/api/ScopeProvider.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/index.ts
Due: eslint

Add `ScopeRangeWatcher`
  packages/cursorless-engine/src/ScopeVisualizer/ScopeRangeWatcher.ts
  packages/cursorless-engine/src/api/ScopeProvider.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
Due: eslint

Add `VscodeFancyRangeHighlighter` (#1649)
  packages/common/src/index.ts
  packages/common/src/util/CompositeKeyDefaultMap.ts
  packages/common/src/util/range.ts
  packages/cursorless-engine/package.json
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/RangeTypeColors.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/VscodeFancyRangeHighlighter.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/VscodeFancyRangeHighlighterRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/decorationStyle.types.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/generateDecorationsForCharacterRange.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/generateLineInfos.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/handleMultipleLines.test.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/handleMultipleLines.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/index.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForLineRange.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDifferentiatedRanges.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/getDifferentiatedStyleMapKey.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/groupDifferentiatedStyledRanges.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/index.ts
  pnpm-lock.yaml
Due: eslint

Add `ScopeRangeWatcher` (#1651)
  packages/cursorless-engine/src/ScopeVisualizer/ScopeRangeWatcher.ts
  packages/cursorless-engine/src/api/ScopeProvider.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
Due: eslint

Add `ScopeSupportChecker`
  packages/common/src/util/itertools.ts
  packages/cursorless-engine/src/ScopeVisualizer/ScopeSupportChecker.ts
  packages/cursorless-engine/src/api/ScopeProvider.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
Due: eslint

Remove lint override
  packages/common/src/util/itertools.ts
Due: eslint

Add `ScopeSupportChecker` (#1652)
  packages/common/src/util/itertools.ts
  packages/cursorless-engine/src/ScopeVisualizer/ScopeSupportChecker.ts
  packages/cursorless-engine/src/api/ScopeProvider.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
Due: eslint

Update cheatsheet
  cursorless-talon/src/cheatsheet/cheat_sheet.py
  cursorless-talon/src/cheatsheet/sections/get_scope_visualizer.py
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Due: none

Add docs
  docs/user/README.md
  docs/user/scope-visualizer.md
Due: none

Add the scope visualizer
  cursorless-talon/src/cursorless.talon
  cursorless-talon/src/scope_visualizer.py
  packages/common/src/cursorlessCommandIds.ts
  packages/common/src/testUtil/toPlainObject.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/checkAndResetFakes.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/colorConfig.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/injectFakes.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicMultilineContentTest.png
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicMultilineContentTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicRemovalTest.png
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicRemovalTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runNestedMultilineContentTest.png
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runNestedMultilineContentTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runUpdateTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/scopeVisualizer.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/scopeVisualizerTest.types.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/spyCallsToPlainObject.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ScopeVisualizerCommandApi.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeIterationScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeTargetVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/blendRangeTypeColors.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/createVscodeScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/getColorsFromConfig.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/index.ts
  packages/cursorless-vscode/src/registerCommands.ts
  packages/vscode-common/src/ScopeVisualizerColorConfig.ts
  packages/vscode-common/src/index.ts
Due: eslint

Updated explicit mark test to version six
  packages/cursorless-vscode-e2e/src/suite/explicitMark.vscode.test.ts
Due: eslint

Added explicit mark (#1578)
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/MarkStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/marks/ExplicitMarkStage.ts
  packages/cursorless-vscode-e2e/src/suite/explicitMark.vscode.test.ts
Due: eslint

Add images to docs
  docs/user/images/visualize-block-removal.png
  docs/user/images/visualize-funk.png
  docs/user/images/visualize-token.png
  docs/user/scope-visualizer.md
Due: none

Fix lint warnings for unused vars (#1654)
  packages/common/src/types/command/legacy/PartialTargetDescriptorV5.types.ts
Due: eslint

Add the scope visualizer (#1653)
  src/cheatsheet/cheat_sheet.py
  src/cheatsheet/sections/get_scope_visualizer.py
  src/cursorless.talon
  src/scope_visualizer.py
Due: none

Add the scope visualizer (#1653)
  cursorless-talon/src/cheatsheet/cheat_sheet.py
  cursorless-talon/src/cheatsheet/sections/get_scope_visualizer.py
  cursorless-talon/src/cursorless.talon
  cursorless-talon/src/scope_visualizer.py
  docs/user/README.md
  docs/user/images/visualize-block-removal.png
  docs/user/images/visualize-funk.png
  docs/user/images/visualize-token.png
  docs/user/scope-visualizer.md
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
  packages/common/src/cursorlessCommandIds.ts
  packages/common/src/testUtil/toPlainObject.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/checkAndResetFakes.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/colorConfig.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/injectFakes.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicMultilineContentTest.png
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicMultilineContentTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicRemovalTest.png
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicRemovalTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runNestedMultilineContentTest.png
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runNestedMultilineContentTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runUpdateTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/scopeVisualizer.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/scopeVisualizerTest.types.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/spyCallsToPlainObject.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ScopeVisualizerCommandApi.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeIterationScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeTargetVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/blendRangeTypeColors.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/createVscodeScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/getColorsFromConfig.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/index.ts
  packages/cursorless-vscode/src/registerCommands.ts
  packages/vscode-common/src/ScopeVisualizerColorConfig.ts
  packages/vscode-common/src/index.ts
Due: eslint

Cursorless enablement group page
  packages/cursorless-org/mdx-components.tsx
  packages/cursorless-org/next.config.js
  packages/cursorless-org/package.json
  packages/cursorless-org/src/content/enablement-group.mdx
  packages/cursorless-org/src/pages/enablement-group.tsx
  packages/cursorless-org/tailwind.config.js
  pnpm-lock.yaml
Due: eslint

Remove ambiguous string scope
  cursorless-talon/src/csv_overrides.py
  cursorless-talon/src/modifiers/scopes.py
Due: none

Generalize layout
  packages/cursorless-org/src/components/BaseSocial.tsx
  packages/cursorless-org/src/components/IndexSocial.tsx
  packages/cursorless-org/src/components/Layout.tsx
  packages/cursorless-org/src/components/Social.tsx
  packages/cursorless-org/src/content/enablement-group.mdx
  packages/cursorless-org/src/content/enablement-group.mdx.d.ts
  packages/cursorless-org/src/pages/enablement-group.tsx
  packages/cursorless-org/src/pages/index.tsx
Due: eslint

Remove ambiguous string scope (#1661)
  cursorless-talon/src/csv_overrides.py
  cursorless-talon/src/modifiers/scopes.py
Due: none

Remove ambiguous string scope (#1661)
  src/csv_overrides.py
  src/modifiers/scopes.py
Due: none

updated error message
  packages/cursorless-engine/src/actions/Sort.ts
Due: eslint

fix meta tags
  packages/cursorless-org/src/components/BaseSocial.tsx
Due: eslint

update test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/shuffleThis.yml
Due: format-recorded-tests

even better
  data/playground/go.go
  queries/go.scm
Due: none

getting there!
  data/playground/go.go
  data/playground/go.mod
  packages/cursorless-engine/src/languages/go.ts
  queries/go.scm
Due: eslint

trim whtiespace
  queries/go.scm
Due: none

all of them
  data/playground/go.go
  queries/go.scm
Due: none

that's not a map!
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/takeMap.yml
Due: format-recorded-tests

update comment
  queries/go.scm
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
