Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm transform-recorded-tests --check-marks

Removed reveal line for insert copy action
  packages/cursorless-engine/src/actions/InsertCopy.ts
Due: eslint

Removed keep names minimizer flag
  packages/cursorless-vscode/package.json
Due: none

Added type field to targets
  .eslintrc.json
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ImplicitTarget.ts
  packages/cursorless-engine/src/processTargets/targets/InteriorTarget.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PositionTarget.ts
  packages/cursorless-engine/src/processTargets/targets/RawSelectionTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SurroundingPairTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
  packages/cursorless-engine/src/processTargets/targets/UntypedTarget.ts
  packages/cursorless-engine/src/testUtil/takeSnapshot.ts
  packages/cursorless-engine/src/testUtil/targetToPlainObject.ts
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint

make type protected
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
Due: eslint

update comment
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint

Restore notebook tests in windows ci
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/editNewCell.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/intraCellSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/skipIfWindowsCi.ts
Due: eslint

Added tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/html/clearEveryItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/html/clearItem.yml
Due: format-recorded-tests

Migrate regex scope handlers
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/RegexScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/index.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/RegexStage.ts
Due: eslint

only use output channel in production
  packages/common/src/ide/normalized/NormalizedIDE.ts
  packages/cursorless-engine/src/core/Debug.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
Due: eslint

Use correct delimited ranges for sub token words (#1563)
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/subtoken/chuckFinalTwoWords.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/subtoken/chuckFirstTwoWords.yml
Due: eslint, format-recorded-tests

Added tests for pour word (#1562)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/subtoken/pourWord.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/subtoken/pourWordAir.yml
Due: format-recorded-tests

Properly calculate range when inserting new lines into CRLF documents (#1561)
  packages/common/src/types/TextDocument.ts
  packages/cursorless-engine/src/processTargets/targets/PositionTarget.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/chuckVestCRLF.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/clearCoreFileCRLF.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/dropVestCRLF.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/pourBlockCRLF.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/pourItemCRLF.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/lineEndings/pourStateCRLF.yml
  packages/cursorless-vscode/src/ide/vscode/VscodeTextDocumentImpl.ts
Due: eslint, format-recorded-tests

fix merge conflict
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/itemTextual/clearItem20.yml
Due: format-recorded-tests

Item: Ignore unmatched starting delimiter (#1559)
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/tokenizeRange.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/itemTextual/clearItem20.yml
Due: eslint, format-recorded-tests

Remove old snippet instructions
  docs/user/experimental/snippets.md
Due: none

Improve doc string
  packages/cursorless-engine/src/processTargets/targetUtil/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
Due: eslint

Add testcase
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckBat.yml
Due: format-recorded-tests

Make token removal range less aggressive (#1564)
  packages/cursorless-engine/src/processTargets/targetUtil/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/rust/chuckFunkNameFine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/rust/chuckName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/positions/chuckAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckBat.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken10.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken11.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken12.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken13.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken14.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken7.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken8.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/token/chuckToken9.yml
Due: eslint, format-recorded-tests

Remove old snippet instructions (#1589)
  docs/user/experimental/snippets.md
Due: none

Add Go support to snippets
  cursorless-snippets/functionDeclaration.cursorless-snippets
  cursorless-snippets/ifElseStatement.cursorless-snippets
  cursorless-snippets/ifStatement.cursorless-snippets
Due: none

Add Go support to snippets (#1591)
  cursorless-snippets/functionDeclaration.cursorless-snippets
  cursorless-snippets/ifElseStatement.cursorless-snippets
  cursorless-snippets/ifStatement.cursorless-snippets
Due: none

Use create functions for implicit and base target instead of copy()
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/call.py
  cursorless-talon/src/actions/move_bring.py
  cursorless-talon/src/actions/swap.py
  cursorless-talon/src/command.py
  cursorless-talon/src/compound_targets.py
  cursorless-talon/src/primitive_target.py
Due: none

Added sentence scope
  cursorless-talon/src/modifiers/scopes.py
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler.ts
Due: eslint

Added tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/chuckSentence.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/clearEverySentence.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/clearSentence.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/sentence/takeEverySentence.yml
Due: format-recorded-tests

Added trim range function
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler.ts
  packages/cursorless-engine/src/util/rangeUtils.ts
Due: eslint

Added compound target position tests (#1566)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirBeforeBattAndAfterCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirBeforeBattAndAfterCapAndDrum.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/bringAirBeforeBattAndCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/takeStartOfAirAndBattAndEndOfCapAndDrum.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/compoundTargets/takeStartOfBattAndEndOfBatt.yml
Due: format-recorded-tests

Tweak notification message
  cursorless-talon/src/marks/mark.py
Due: none

Add tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/pourItem2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/roundWrapItemAir.yml
Due: format-recorded-tests

Enable explicit gray color for default hats (#1567)
  cursorless-talon/src/marks/mark.py
Due: none

Enable explicit gray color for default hats (#1567)
  src/marks/mark.py
Due: none

Migrate regex modifiers to scope handlers (#1570)
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/RegexScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/index.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/RegexStage.ts
Due: eslint

Added bring before round inference test (#1572)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/inference/bringAirBeforeRound.yml
Due: format-recorded-tests

Added clear twin test (#1565)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/clearQuad.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/parseTree/python/clearTwin.yml
Due: format-recorded-tests

Add comment
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findDelimiterPairContainingSelection.ts
Due: eslint

cleanup tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/boundedNonWhitespaceSequence/clearEveryShortPaint.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearShortPaint.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearShortPaint2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearShortPaint3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearShortPaint4.yml
Due: format-recorded-tests

Added empty leading lines to pr template (#1575)
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierignore
Due: none

Restore CI notebook tests on windows (#1581)
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/editNewCell.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/intraCellSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/skipIfWindowsCi.ts
Due: eslint

Fixed problem with strong containment when cursor is after matching pair (#1574)
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findDelimiterPairContainingSelection.ts
  packages/cursorless-engine/src/processTargets/modifiers/surroundingPair/findSurroundingPairCore.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/boundedNonWhitespaceSequence/clearEveryShortPaint.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/selectionTypes/changeEveryShortPaintPairParen.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearShortPaint.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearShortPaint2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearShortPaint3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/surroundingPair/textual/clearShortPaint4.yml
Due: eslint, format-recorded-tests

Revert "Restore CI notebook tests on windows (#1581)"
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/editNewCell.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/intraCellSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/skipIfWindowsCi.ts
Due: eslint

Updated markdown item ranges (#1568)
  packages/cursorless-engine/src/languages/markdown.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/bringItemDrumAfterBatt.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/chuckItem2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/clearItem2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/drinkItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/pourItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/pourItem2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/roundWrapItemAir.yml
Due: eslint, format-recorded-tests

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
