Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

Fix public fields
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeName6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType21.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType22.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeValue2.yml
  queries/typescript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Return value for lambdas
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeValue2.yml
  queries/javascript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

invert boolean argument
  cursorless-talon/src/actions/get_text.py
  docs/user/customization.md
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
Due: eslint

Update
  docs/user/customization.md
Due: none

Flip boolean
  cursorless-talon/src/actions/homophones.py
  cursorless-talon/src/actions/reformat.py
Due: none

Update fixtures
  packages/cursorless-engine/src/test/fixtures/multiAction.fixture.ts
Due: eslint

Add java
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeValue3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeValue4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeValue3.yml
  queries/java.scm
  queries/javascript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Add python
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeValue6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeValue7.yml
  queries/python.scm
Due: format-recorded-tests, check-recorded-test-marks

Update comment
  queries/python.scm
Due: none

Update tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeValue6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeValue7.yml
Due: format-recorded-tests, check-recorded-test-marks

Include optional semi
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType23.yml
  queries/typescript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Update takeEveryLine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/selectionTypes/takeEveryLine.yml
Due: format-recorded-tests, check-recorded-test-marks

Update typescript scopes (#2085)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeName6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType21.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType22.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType23.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeValue2.yml
  queries/typescript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Make paragraph line iteration scope (#2060)
  packages/common/src/ide/types/Configuration.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/LineScopeHandler.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/everyScope/changeEveryLine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/modifiers/everyScope/clearEveryLine.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/selectionTypes/takeEveryLine.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

update tests
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeValue2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeValue4.yml
Due: format-recorded-tests, check-recorded-test-marks

Support value for typescript destruct pattern
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeValue3.yml
  queries/javascript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Return value for lambdas (#2086)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeValue3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeValue4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeValue6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeValue7.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeValue3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeValue4.yml
  queries/java.scm
  queries/javascript.core.scm
  queries/python.scm
Due: format-recorded-tests, check-recorded-test-marks

Bump docusaurus 3.0.0 => 3.0.1
  package.json
  packages/cursorless-org-docs/package.json
  pnpm-lock.yaml
Due: none

Update docks
  docs/user/README.md
Due: none

Bump docusaurus 3.0.0 => 3.0.1 (#2088)
  package.json
  packages/cursorless-org-docs/package.json
  pnpm-lock.yaml
Due: none

Update docs/user/README.md
  docs/user/README.md
Due: none

Revert
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/modifiers/instance/preEveryCarEveryInstanceAirPastBat.yml
Due: format-recorded-tests, check-recorded-test-marks

rename file
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeValue4.yml
Due: format-recorded-tests, check-recorded-test-marks

rename test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeValue5.yml
Due: format-recorded-tests, check-recorded-test-marks

Added delimiters
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckKey2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckValue4.yml
  queries/javascript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Support value for typescript destruct pattern (#2087)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeValue5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckKey2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckValue4.yml
  queries/javascript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Added python import to collection item
  packages/cursorless-engine/src/languages/python.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/chuckItem.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

Don't focus search editor
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
Due: eslint

Added python import to collection item (#2090)
  packages/cursorless-engine/src/languages/python.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/chuckItem.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks

one more test for good measure
  packages/cursorless-vscode/src/keyboard/buildSuffixTrie.test.ts
Due: eslint

The change spoken form of word scope to sub (#2089)
  src/spoken_forms.json
Due: none

Started working on contiguous scope modifier
  cursorless-talon/src/modifiers/simple_scope_modifier.py
  cursorless-talon/src/spoken_forms.json
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/ContiguousScopeStage.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint

Improve comment
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
Due: eslint

Added issue
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
Due: eslint

Rename
  packages/cursorless-vscode/src/keyboard/TokenTypes.ts
Due: eslint

rename
  packages/cursorless-vscode/src/keyboard/grammar/UniqueWorkQueue.ts
  packages/cursorless-vscode/src/keyboard/grammar/getAcceptableTokenTypes.ts
Due: eslint

Added visible modifier
  cursorless-talon/src/spoken_forms.json
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/VisibleStage.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/modifiers/changeVisible.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/modifiers/changeVisible2.yml
Due: eslint, format-recorded-tests, check-recorded-test-marks
