Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm transform-recorded-tests --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

Reverts by changes
  packages/common/src/ide/spy/SpyIDE.ts
Due: eslint

cleanup
  packages/common/src/ide/types/IdeScopeVisualizer.ts
  packages/common/src/index.ts
  packages/common/src/testUtil/toPlainObject.ts
  packages/cursorless-engine/src/CursorlessEngineApi.ts
  packages/cursorless-engine/src/ScopeVisualizer/ScopeRangeProvider.ts
  packages/cursorless-engine/src/ScopeVisualizer/ScopeRangeWatcher.ts
  packages/cursorless-engine/src/ScopeVisualizer/ScopeSupportChecker.ts
  packages/cursorless-engine/src/ScopeVisualizer/getIterationScopes.ts
  packages/cursorless-engine/src/ScopeVisualizer/getScopes.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/api/ScopeProvider.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/index.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/upgradeDecorations.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/getDecorationRanges.test.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/getDifferentiatedRanges.test.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeTargetVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/getColorsFromConfig.ts
  packages/cursorless-vscode/tsconfig.json
Due: eslint

Docs
  packages/common/src/testUtil/toPlainObject.ts
Due: eslint

Add tests
  packages/common/src/types/generalizedRangeContains.test.ts
  packages/common/src/types/generalizedRangeTouches.test.ts
  packages/common/src/types/isGeneralizedRangeEqual.test.ts
Due: eslint

revert
  packages/cursorless-engine/src/actions/InsertCopy.ts
  packages/cursorless-engine/src/core/inferFullTargetDescriptor.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/TargetPipelineRunner.ts
  packages/cursorless-engine/src/processTargets/modifiers/PositionStage.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellDestination.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/index.ts
  packages/cursorless-engine/src/scripts/transformRecordedTests/transformations/upgrade.ts
  packages/cursorless-engine/src/testCaseRecorder/TestCase.ts
  packages/cursorless-engine/src/util/getPartialTargetDescriptors.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/getTextAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/giveEndOfDot.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/actions/giveStartOfDot.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/implicitExpansion/bringFineAfterThis.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/implicitExpansion/bringWhaleBeforeThis.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/updateSelections/bringFineAfterJustThis.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/updateSelections/bringWhaleBeforeJustThis.yml
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
  packages/meta-updater/src/updatePackageJson.ts
Due: eslint, format-recorded-tests

cleanup
  packages/cursorless-engine/src/processTargets/targets/VerticalRangeTarget.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/updateSelections/bringFineAfterThis.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/updateSelections/bringWhaleBeforeThis.yml
  packages/cursorless-vscode-e2e/src/suite/getText.vscode.test.ts
Due: eslint, format-recorded-tests

River run test subset
  packages/common/src/testUtil/runTestSubset.ts
Due: eslint

Add ja stocks
  packages/common/src/types/GeneralizedRange.ts
Due: eslint

Cleanup
  packages/common/src/types/GeneralizedRange.ts
Due: eslint

updates
  cursorless-talon/src/actions/get_text.py
  cursorless-talon/src/actions/replace.py
  cursorless-talon/src/command.py
  cursorless-talon/src/targets/range_target.py
  cursorless-talon/src/targets/target_types.py
Due: none

Tweaks
  packages/cursorless-engine/src/ScopeVisualizer/ScopeRangeProvider.ts
  packages/cursorless-engine/src/ScopeVisualizer/ScopeRangeWatcher.ts
  packages/cursorless-engine/src/ScopeVisualizer/ScopeSupportChecker.ts
  packages/cursorless-engine/src/ScopeVisualizer/getIterationRange.ts
  packages/cursorless-engine/src/ScopeVisualizer/getIterationScopeRanges.ts
  packages/cursorless-engine/src/ScopeVisualizer/getScopeRanges.ts
  packages/cursorless-engine/src/ScopeVisualizer/getTargetRanges.ts
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/api/ScopeProvider.ts
Due: eslint

Only use generalized ranges where necessary
  packages/cursorless-engine/src/ScopeVisualizer/getIterationScopeRanges.ts
  packages/cursorless-engine/src/ScopeVisualizer/getScopeRanges.ts
  packages/cursorless-engine/src/ScopeVisualizer/getTargetRanges.ts
  packages/cursorless-engine/src/api/ScopeProvider.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeIterationVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeTargetVisualizer.ts
Due: eslint

Use is data class
  cursorless-talon/src/command.py
Due: none

implement "visible" scope
  cursorless-talon/src/modifiers/scopes.py
  docs/user/README.md
  docs/user/experimental/keyboard/modal.md
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
  packages/common/src/types/command/PartialTargetDescriptor.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/VisibleScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/index.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/scopes/visible/changeVisible.yml
  packages/cursorless-vscode/package.json
  schemas/cursorless-snippets.json
Due: eslint, format-recorded-tests

cleanup
  packages/cursorless-engine/src/ScopeVisualizer/index.ts
  packages/cursorless-engine/src/api/ScopeProvider.ts
  packages/cursorless-engine/src/core/Debouncer.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/scopeHandler.types.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/VscodeFancyRangeHighlighter.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/VscodeFancyRangeHighlighterRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/block.test.txt
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeIterationVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeTargetVisualizer.ts
Due: eslint

Convert vscodeApi to singleton
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/injectFakes.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/scopeVisualizerTest.types.ts
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/createVscodeApi.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/VscodeFancyRangeHighlighter.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/VscodeFancyRangeHighlighterRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/createVscodeScopeVisualizer.ts
  packages/cursorless-vscode/src/vscodeApi.ts
  packages/vscode-common/src/VscodeApi.ts
  packages/vscode-common/src/getExtensionApi.ts
  packages/vscode-common/src/index.ts
Due: eslint

Added snippets
  cursorless-talon/src/command.py
  cursorless-talon/src/cursorless.talon
  cursorless-talon/src/snippets.py
Due: none

make Cursorless commands Talon actions once again
  cursorless-talon-dev/src/cursorless_dev.py
  cursorless-talon-dev/src/cursorless_dev.talon
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/bring_move.py
  cursorless-talon/src/actions/call.py
  cursorless-talon/src/actions/execute_command.py
  cursorless-talon/src/actions/get_text.py
  cursorless-talon/src/actions/paste.py
  cursorless-talon/src/actions/replace.py
  cursorless-talon/src/actions/swap.py
  cursorless-talon/src/actions/wrap.py
  cursorless-talon/src/cheatsheet/cheat_sheet.py
  cursorless-talon/src/command.py
  cursorless-talon/src/cursorless_global.talon
  cursorless-talon/src/snippets.py
Due: none

reactivate sheet cheat
  cursorless-talon/src/cheatsheet/cheat_sheet.py
Due: none

fix errors
  cursorless-talon/src/actions/homophones.py
  cursorless-talon/src/apps/cursorless_vscode.py
  cursorless-talon/src/cheatsheet/cheat_sheet.py
  cursorless-talon/src/cheatsheet/sections/compound_targets.py
  cursorless-talon/src/targets/target.py
Due: none

fix broken sheet cheats
  cursorless-talon/src/cheatsheet/sections/actions.py
Due: none

More docs
  packages/common/src/index.ts
  packages/common/src/util/range.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/checkAndResetFakes.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/colorConfig.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/injectFakes.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicMultilineContentTest.png
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicMultilineContentTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicRemovalTest.png
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicRemovalTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runNestedMultilineContentTest.png
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runNestedMultilineContentTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runUpdateTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/scopeVisualizer.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/spyCallsToPlainObject.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/RangeTypeColors.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/VscodeFancyRangeHighlighter.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/VscodeFancyRangeHighlighterRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/decorationStyle.types.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/generateDecorationsForCharacterRange.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/generateLineInfos.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/handleMultipleLines.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/index.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForLineRange.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDifferentiatedRanges.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/getDifferentiatedStyleMapKey.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/groupDifferentiatedStyledRanges.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/handleMultipleLines.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeIterationScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeRenderer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeVisualizer.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/blendRangeTypeColors.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/createVscodeScopeVisualizer.ts
  packages/vscode-common/src/getExtensionApi.ts
Due: eslint

bug fixes
  cursorless-talon/src/actions/get_text.py
  cursorless-talon/src/cursorless.talon
Due: none

fixes
  cursorless-talon/src/snippets.py
Due: none

Add tests for handleMultipleLInes
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/handleMultipleLines.test.ts
Due: eslint

Compactify handleMultipleLines tests
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/handleMultipleLines.test.ts
Due: eslint

Cleanup; more tests
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/handleMultipleLines.test.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/handleMultipleLines.ts
Due: eslint

JSDoc
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint

Tweak
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/handleMultipleLines.test.ts
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeFancyRangeHighlighter/generateDecorationsForCharacterRange/handleMultipleLines.ts
Due: eslint

Remove broken image embeds from JSDocs
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicMultilineContentTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runBasicRemovalTest.ts
  packages/cursorless-vscode-e2e/src/suite/scopeVisualizer/runNestedMultilineContentTest.ts
Due: eslint

try bumping stack size to fix CI
  scripts/build-and-assemble-website.sh
Due: none

Add comment explaining why we need `getRemovalHighlightRange`
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint

Bump memory requirement for docs site build
  scripts/build-and-assemble-website.sh
Due: none

Add generalized range utility functions
  packages/common/src/types/GeneralizedRange.ts
  packages/common/src/types/generalizedRangeContains.test.ts
  packages/common/src/types/generalizedRangeTouches.test.ts
  packages/common/src/types/isGeneralizedRangeEqual.test.ts
Due: eslint

Create `Debouncer`; use it for `HatAllocator`
  packages/cursorless-engine/src/core/Debouncer.ts
  packages/cursorless-engine/src/core/HatAllocator.ts
Due: eslint

Add `includeDescendantScopes` field to scope handlers
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BaseScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/scopeHandler.types.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/shouldYieldScope.ts
Due: eslint

Add `vscodeApi` for mocking
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/vscodeApi.ts
  packages/vscode-common/src/VscodeApi.ts
  packages/vscode-common/src/getExtensionApi.ts
  packages/vscode-common/src/index.ts
Due: eslint

Add comment explaining why we need `getRemovalHighlightRange` (#1643)
  packages/cursorless-engine/src/typings/target.types.ts
Due: eslint

Bump memory requirement for docs site build (#1644)
  scripts/build-and-assemble-website.sh
Due: none
