Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Remove index imports.
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ImplicitTarget.ts
  packages/cursorless-engine/src/processTargets/targets/InteriorTarget.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/RawSelectionTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SurroundingPairTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
  packages/cursorless-engine/src/processTargets/targets/UntypedTarget.ts
Due: eslint

Remove index imports.
  packages/common/src/util/toPlainObject.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/ShowParseTree.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/marks/TargetMarkStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CharacterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/IdentifierScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/RegexScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TokenScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/WordScopeHandler/WordScopeHandler.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/vscode-common/src/testUtil/openNewEditor.ts
Due: eslint

Remove index imports.
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
Due: eslint

Remove index imports.
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
Due: eslint

Move tryConstructTarget constructors to their files.
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-engine/src/util/tryConstructTarget.ts
Due: eslint

Move tryConstructTarget constructors to their files.
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
Due: eslint

Moved processTargets/targetUtil to processTargets/targets/util.
  packages/cursorless-engine/src/processTargets/createContinuousRangeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/InteriorTarget.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SurroundingPairTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
  packages/cursorless-engine/src/processTargets/targets/UntypedTarget.ts
  packages/cursorless-engine/src/processTargets/targets/util/createContinuousRange.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/DelimitedSequenceInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/insertionRemovalBehavior.types.ts
Due: eslint

Moved processTargets/targetUtil to processTargets/targets/util.
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/insertionRemovalBehavior.types.ts
Due: eslint

Break cycle between notebook.ts and notebookLegacy.ts.
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeNotebooks.ts
  packages/cursorless-vscode/src/ide/vscode/notebook/notebook.ts
  packages/cursorless-vscode/src/ide/vscode/notebook/notebookCurrent.ts
  packages/cursorless-vscode/src/ide/vscode/notebook/notebookLegacy.ts
Due: eslint

Remove index imports.
  packages/cursorless-vscode/src/ide/vscode/VSCodeScopeVisualizer/VscodeScopeTargetVisualizer.ts
Due: eslint

Added spoken form tests
  cursorless-talon-dev/src/cursorless_test.talon
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
Due: eslint

clean up
  cursorless-talon-dev/src/cursorless_test.talon
Due: none

Added iteration scope
  packages/common/src/scopeSupportFacets/html.ts
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/key.mapPair.iteration.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/key.mapPair.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.mapPair.iteration.scope
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/javascript/value.mapPair.scope
  packages/cursorless-vscode-e2e/src/suite/scopes.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/serializeScopeFixture.ts
Due: eslint

Up date javascript support
  packages/common/src/scopeSupportFacets/javascript.ts
Due: eslint

Update number serialization
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/html/tags.element.scope
  packages/cursorless-vscode-e2e/src/suite/serializeHeader.ts
Due: eslint

Fix focusNotebookCellLegacy
  packages/cursorless-vscode/src/ide/vscode/notebook/notebook.ts
  packages/cursorless-vscode/src/ide/vscode/notebook/notebookCurrent.ts
  packages/cursorless-vscode/src/ide/vscode/notebook/notebookLegacy.ts
Due: eslint

Migrated xml queries to new parser (#2073)
  queries/xml.scm
Due: none

Update Cursorless icon in status bar
  fonts/cursorless.woff
Due: none

PR feedback
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModalLayer.ts
Due: eslint

tweak
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
Due: eslint

Fix all calls to getNotebookFromCellDocument*
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeNotebooks.ts
  packages/cursorless-vscode/src/ide/vscode/notebook/notebookLegacy.ts
Due: eslint

Add example config and use it for tests
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommands.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/KeyboardConfig.ts
  packages/cursorless-vscode/src/keyboard/defaultKeymaps.ts
  packages/cursorless-vscode/src/keyboard/getTokenTypeKeyMaps.ts
  packages/cursorless-vscode/src/keyboard/keyboard-config.fixture.json
  packages/cursorless-vscode/src/keyboard/sectionKeyMapExtractors.ts
Due: eslint

docs
  packages/cursorless-vscode/src/keyboard/KeyboardActionType.ts
Due: eslint

Update notebookCurrent.ts
  packages/cursorless-vscode/src/ide/vscode/notebook/notebookCurrent.ts
Due: eslint

Update target number
  packages/cursorless-vscode-e2e/src/suite/fixtures/scopes/html/tags.element.scope
  packages/cursorless-vscode-e2e/src/suite/serializeHeader.ts
Due: eslint

Split get text action into two separate actions
  cursorless-talon-dev/src/cursorless_test.talon
  cursorless-talon/src/actions/get_text.py
  cursorless-talon/src/actions/homophones.py
  cursorless-talon/src/actions/reformat.py
  cursorless-talon/src/apps/cursorless_vscode.py
  docs/user/customization.md
  packages/cursorless-engine/src/test/fixtures/multiAction.fixture.ts
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
Due: eslint

Remove unused import
  cursorless-talon/src/actions/get_text.py
Due: none

Fix incorrect indentation in scm files
  queries/java.scm
  queries/json.scm
  queries/markdown.scm
Due: none

Fix incorrect indentation in scm files (#2079)
  queries/java.scm
  queries/json.scm
  queries/markdown.scm
Due: none

Use arbitrary capture as insertion delimiter
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
Due: eslint

Update Cursorless icon in status bar (#2078)
  fonts/cursorless.woff
Due: none

Migrate markdown and yaml collection item scope
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryCapture.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/checkCaptureStartEnd.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
  packages/cursorless-engine/src/languages/markdown.ts
  packages/cursorless-engine/src/processTargets/modifiers/EveryScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/ItemStage/ItemStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/LegacyContainingSyntaxScopeStage.ts
  packages/cursorless-engine/src/processTargets/targets/DestinationImpl.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/typings/target.types.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/chuckItem.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/markdown/chuckItem2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/yaml/changeEveryItem3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/yaml/changeItem2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/yaml/changeItem4.yml
  queries/markdown.scm
  queries/yaml.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

more PR feedback
  packages/cursorless-vscode/src/keyboard/KeyboardCommandHandler.ts
Due: eslint

cleanup
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModalLayer.ts
Due: eslint

more
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
Due: eslint

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/
  format-recorded-tests: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
  check-recorded-test-marks: any of: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/
