Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
exclude: /vendor/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: patches/.*\.patch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        # Trailing whitespace breaks yaml files if you use a multiline string
        # with a line that has trailing white space. Many of our recorded
        # tests use strings with trailing white space to represent the final
        # document contents. For example
        # packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/ruby/changeCondition.yml
        exclude: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        files: \.(ts|tsx)$
        language: system
        entry: pnpm exec eslint
        args: [--fix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: system
        entry: pnpm exec prettier
        args: [--write, --list-different, --ignore-unknown]
  - repo: local
    hooks:
      - id: format-recorded-tests
        name: format-recorded-tests
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts
  - repo: local
    hooks:
      - id: check-recorded-test-marks
        name: check-recorded-test-marks
        files: ^packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/.*/[^/]*\.yml$
        language: system
        entry: pnpm exec tsx --conditions=cursorless:bundler packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks
  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
      - id: flynt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.260"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/wenkokke/talonfmt
    rev: 1.9.5
    hooks:
      - id: talonfmt
        args: ["--in-place"]

assert tests and other tweaks
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeArg3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeArg4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeCondition3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeCondition4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeState.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeState2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeState3.yml
  queries/nix.scm
Due: format-recorded-tests, check-recorded-test-marks

Remove inside comment stuff for now
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeArg2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/nix/changeInsideComment.yml
  queries/nix.scm
Due: format-recorded-tests, check-recorded-test-marks

Clean up my-ts-node.js (#2031)
  packages/common/scripts/my-ts-node.js
Due: none

Move vscode-common's TestHelpers interface to its own file. (#2032)
  packages/vscode-common/src/TestHelpers.ts
  packages/vscode-common/src/getExtensionApi.ts
  packages/vscode-common/src/index.ts
Due: eslint

Expand `"type"` to include generic type arguments / parameters (#2023)
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType10.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType11.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType12.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType13.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType14.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType15.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType16.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType17.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType18.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType19.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType20.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearType.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearTypeNear.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearTypeNear2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearTypeUrge.yml
  queries/typescript.core.scm
Due: format-recorded-tests, check-recorded-test-marks

Factor out root layer of modal keyboard interface
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModalLayer.ts
Due: eslint

Support mapping from key to VSCode command in Cursorless keyboard mode
  changelog/2023-11-modalKeyboardVscodeCommands.md
  docs/user/experimental/keyboard/modal.md
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsTargeted.ts
  packages/cursorless-vscode/src/keyboard/defaultKeymaps.ts
Due: eslint

Allow modal layer to return typed value
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModalLayer.ts
Due: eslint

Some flailing on keyboard
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModalLayer.ts
  packages/cursorless-vscode/src/keyboard/defaultKeymaps.ts
Due: eslint

Keyboard state machine video diff
  packages/cursorless-vscode/src/keyboard/KeyHandler.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModal.ts
  packages/cursorless-vscode/src/keyboard/KeyboardCommandsModalLayer.ts
  packages/cursorless-vscode/src/keyboard/KeyboardStateMachine.ts
  packages/cursorless-vscode/src/keyboard/getSectionKeyMap.ts
  packages/cursorless-vscode/src/keyboard/isPrefixOfKey.ts
Due: eslint

Update to new format
  cursorless-talon/src/snippets.py
  cursorless-talon/src/snippets_community.talon
Due: none

cleanup
  cursorless-talon/src/snippets_community.talon
Due: none

update
  cursorless-talon/src/snippets.py
Due: none

Moved processTargets/targetUtil to processTargets/targets/util.
  .vscode/settings.json
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/InteriorTarget.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SurroundingPairTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
  packages/cursorless-engine/src/processTargets/targets/UntypedTarget.ts
  packages/cursorless-engine/src/processTargets/targets/util/createContinuousRange.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/DelimitedSequenceInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/insertionRemovalBehavior.types.ts
Due: eslint

Fix merge error in UntypedTarget.ts
  packages/cursorless-engine/src/processTargets/targets/UntypedTarget.ts
Due: eslint

Fix merge error in UntypedTarget.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
Due: eslint

Move PlainTarget constructors from TokenInsertionRemovalBehavior.ts to PlainTarget.ts.
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SurroundingPairTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
  packages/cursorless-engine/src/processTargets/targets/UntypedTarget.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
Due: eslint

Remove index import.
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
Due: eslint

Remove tryConstructTarget into barrel, move constructors to their files.
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
  packages/cursorless-engine/src/processTargets/targets/util/tryConstructTarget.ts
  packages/cursorless-engine/src/util/tryConstructTarget.ts
Due: eslint

Remove index import.
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
Due: eslint

oops
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
Due: eslint

Remove index import.
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
Due: eslint

Remove index import.
  packages/cursorless-engine/src/processTargets/targets/ImplicitTarget.ts
  packages/cursorless-engine/src/processTargets/targets/InteriorTarget.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellTarget.ts
  packages/cursorless-engine/src/processTargets/targets/RawSelectionTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SurroundingPairTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
Due: eslint

Remove index import.
  packages/cursorless-engine/src/cursorlessEngine.ts
Due: eslint

Remove index import.
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CharacterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/IdentifierScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/RegexScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/ScopeHandlerFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TokenScopeHandler.ts
Due: eslint

Remove index import.
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SentenceScopeHandler/SentenceScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/WordScopeHandler/WordScopeHandler.ts
Due: eslint

lint fixes
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/util/createContinuousRangeUntypedTarget.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/TokenInsertionRemovalBehavior.ts
Due: eslint

whitespace fixes
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
Due: eslint

Create the createContinuousRangeOrUntypedTarget function and use it from many target types.
  packages/cursorless-engine/src/processTargets/targetUtil/createContinuousRange.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ImplicitTarget.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/PlainTarget.ts
  packages/cursorless-engine/src/processTargets/targets/RawSelectionTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SubTokenWordTarget.ts
  packages/cursorless-engine/src/processTargets/targets/SurroundingPairTarget.ts
  packages/cursorless-engine/src/processTargets/targets/TokenTarget.ts
Due: eslint

Migrate java scopes
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/java.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeBranch3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeCondition.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeCondition2.yml
  queries/java.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeIfState.yml
Due: format-recorded-tests, check-recorded-test-marks

added comments
  queries/java.scm
Due: none

Added ternary support
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeBranch4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeBranch5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeCondition3.yml
  queries/java.scm
Due: format-recorded-tests, check-recorded-test-marks

Added domain and iteration
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeEveryBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeEveryBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeEveryBranch3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeEveryCondition.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeEveryCondition2.yml
  queries/java.scm
Due: format-recorded-tests, check-recorded-test-marks

migrate name
  packages/cursorless-engine/src/languages/java.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeEveryName.yml
  queries/java.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

Added test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeName.yml
Due: format-recorded-tests, check-recorded-test-marks

Add test
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeValue.yml
Due: format-recorded-tests, check-recorded-test-marks

Migrate type
  packages/cursorless-engine/src/languages/java.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeType2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeType3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeType4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeType5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearTypeGust.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearTypeGust2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearTypeSoon.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearTypeSoon2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearTypeTrap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearTypeTrap2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/takeType4.yml
  queries/java.scm
Due: eslint, format-recorded-tests, check-recorded-test-marks

clean
  packages/cursorless-engine/src/languages/java.ts
Due: eslint
