Repository cursorless-dev/cursorless: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, format-recorded-tests, check-recorded-test-marks

eslint:
  name: eslint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

format-recorded-tests:
  name: format-recorded-tests
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts

check-recorded-test-marks:
  name: check-recorded-test-marks
  language: system
  entry: pnpm exec ./packages/common/scripts/my-ts-node.js packages/cursorless-engine/src/scripts/transformRecordedTests/index.ts --check-marks

Add type scope support for typescript enum (#2772)
  data/fixtures/scopes/typescript.core/type.enum.scope
  data/fixtures/scopes/typescript.core/type.enum2.scope
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/common/src/scopeSupportFacets/typescript.ts
  queries/typescript.core.scm
Due: eslint

Flash targets action (#2764)
  src/spoken_forms.json
Due: none

Flash targets action (#2764)
  cursorless-talon/src/spoken_forms.json
  data/fixtures/recorded/actions/flashToken.yml
  packages/common/src/types/command/ActionDescriptor.ts
  packages/cursorless-engine/src/CommandHistory.ts
  packages/cursorless-engine/src/actions/Actions.ts
  packages/cursorless-engine/src/actions/FlashTargets.ts
  packages/cursorless-engine/src/spokenForms/defaultSpokenFormMapCore.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Support tagged templates strings in JavaScript (#2769)
  data/fixtures/scopes/javascript.core/pairDelimiter.scope
  packages/common/src/scopeSupportFacets/javascript.ts
  queries/javascript.core.scm
Due: eslint

Update packages/cursorless-engine/src/actions/ToggleBreakpoint.ts
  packages/cursorless-engine/src/actions/ToggleBreakpoint.ts
Due: eslint

Added pair to the scope section of the cheatsheet (#2771)
  src/cheatsheet/sections/scopes.py
Due: none

Added pair to the scope section of the cheatsheet (#2771)
  cursorless-talon/src/cheatsheet/sections/scopes.py
Due: none

Use generalized ranges in breakpoint action (#2766)
  packages/common/src/types/TextEditor.ts
  packages/cursorless-engine/src/actions/ToggleBreakpoint.ts
  packages/cursorless-everywhere-talon-core/src/ide/TalonJsEditor.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeTextEditorImpl.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeToggleBreakpoint.ts
  packages/neovim-common/src/ide/neovim/NeovimTextEditorImpl.ts
Due: eslint

Fix bug with `"every token inside"` (#2768)
  data/fixtures/recorded/everyScope/changeEveryTokenInside.yml
  data/fixtures/recorded/everyScope/changeLastTokenInside.yml
  packages/cursorless-engine/src/processTargets/modifiers/EveryScopeStage.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

New snippet lib
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippetCommunity.ts
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/migrateSnippets.ts
  pnpm-lock.yaml
Due: eslint

Support grand grand scope (#2773)
  src/modifiers/simple_scope_modifier.py
Due: none

Support grand grand scope (#2773)
  cursorless-talon/src/modifiers/simple_scope_modifier.py
  data/fixtures/recorded/containingScope/changeGrandGrandState.yml
  packages/cursorless-engine/src/generateSpokenForm/primitiveTargetToSpokenForm.ts
  packages/cursorless-org-docs/src/docs/user/README.md
Due: eslint, format-recorded-tests, check-recorded-test-marks

Modifier fixtures
  cursorless-talon/src/cheatsheet/sections/modifiers.py
Due: none

Properly handle trailing commas in python arguments
  data/fixtures/scopes/python/argument.formal2.scope
  packages/cursorless-engine/src/languages/TreeSitterQuery/validateQueryCaptures.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BoundedScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/CollectionItemTextualScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/CollectionItemScopeHandler/createTargetScope.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/BaseTreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterIterationScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/TreeSitterScopeHandler/TreeSitterScopeHandler.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/getCollectionItemRemovalRange.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/util/isHintsEveryScope.ts
  queries/python.scm
Due: eslint

Exclude parametrized from name scope
  queries/javascript.core.scm
Due: none

Added test
  data/fixtures/scopes/typescript.core/name.variable.scope
Due: none

Properly expand to token when using `"end of this"`
  data/fixtures/recorded/implicitExpansion/bringAirToEndOfThis.yml
  packages/cursorless-engine/src/processTargets/TargetPipelineRunner.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

Automatically expand removal for Tree sitter targets
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/getSmartRemovalTarget.ts
Due: eslint

Update imports
  packages/cursorless-engine/src/processTargets/targets/ScopeTypeTarget.ts
Due: eslint

Order imports
  packages/cursorless-engine/src/processTargets/targets/util/insertionRemovalBehaviors/getSmartRemovalTarget.ts
Due: eslint

Clean up
  packages/cursorless-engine/src/actions/CutToClipboard.ts
  packages/cursorless-engine/src/actions/EditNew/EditNew.ts
  packages/cursorless-engine/src/actions/InsertEmptyLines.ts
  packages/cursorless-engine/src/processTargets/createContinuousRangeTarget.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/BoundedParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/DocumentTarget.ts
  packages/cursorless-engine/src/processTargets/targets/NotebookCellTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/typings/target.types.ts
  packages/cursorless-engine/src/util/targetUtils.ts
Due: eslint

Changed getRemovalHighlightRange to return a GeneralizedRange
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-engine/src/actions/CopyToClipboard.ts
  packages/cursorless-engine/src/actions/CutToClipboard.ts
  packages/cursorless-engine/src/actions/Highlight.ts
  packages/cursorless-engine/src/actions/ToggleBreakpoint.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/BoundedParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/scopeProviders/getTargetRanges.ts
  packages/cursorless-engine/src/typings/target.types.ts
  packages/cursorless-engine/src/util/targetUtils.ts
Due: eslint

Remove our own implementation of the match predicate
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
Due: eslint

Remove our own implementation of the match predicate (#2785)
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
Due: eslint

Use constant
  packages/cursorless-vscode/src/VscodeSnippets.ts
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Refactor
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Update packages/cursorless-vscode/src/migrateSnippets.ts
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Update packages/cursorless-org-docs/src/docs/user/experimental/snippets.md
  packages/cursorless-org-docs/src/docs/user/experimental/snippets.md
Due: none

indent
  packages/cursorless-vscode/src/migrateSnippets.ts
Due: eslint

Improve item collection definition for clojure (#2758)
  data/fixtures/recorded/languages/clojure/chuckItemZip.yml
  data/fixtures/recorded/languages/clojure/clearItemBat.yml
  data/fixtures/recorded/languages/clojure/clearItemFine.yml
  queries/clojure.scm
Due: format-recorded-tests, check-recorded-test-marks

Added voice command to migrate Cursorless snippet to community format (#2747)
  src/actions/generate_snippet.py
  src/cursorless.talon
Due: none

Added voice command to migrate Cursorless snippet to community format (#2747)
  cursorless-talon/src/actions/generate_snippet.py
  cursorless-talon/src/cursorless.talon
  packages/common/src/cursorlessCommandIds.ts
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/actions/GenerateSnippet/GenerateSnippetCommunity.ts
  packages/cursorless-neovim/src/registerCommands.ts
  packages/cursorless-org-docs/src/docs/user/experimental/snippets.md
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/VscodeSnippets.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/migrateSnippets.ts
  packages/cursorless-vscode/src/registerCommands.ts
  pnpm-lock.yaml
Due: eslint

Update packages/cursorless-engine/src/processTargets/TargetPipelineRunner.ts
  packages/cursorless-engine/src/processTargets/TargetPipelineRunner.ts
Due: eslint

Properly expand to token when using `"end of this"` (#2782)
  data/fixtures/recorded/implicitExpansion/bringAirToEndOfThis.yml
  packages/cursorless-engine/src/processTargets/TargetPipelineRunner.ts
Due: eslint, format-recorded-tests, check-recorded-test-marks

clean up
  packages/cursorless-engine/src/actions/CutToClipboard.ts
Due: eslint

Indent
  cursorless-talon/src/cheatsheet/sections/scopes.py
Due: none

Changed getRemovalHighlightRange to return a GeneralizedRange (#2784)
  packages/cursorless-engine/src/actions/BringMoveSwap.ts
  packages/cursorless-engine/src/actions/CopyToClipboard.ts
  packages/cursorless-engine/src/actions/CutToClipboard.ts
  packages/cursorless-engine/src/actions/Highlight.ts
  packages/cursorless-engine/src/actions/ToggleBreakpoint.ts
  packages/cursorless-engine/src/processTargets/targets/BaseTarget.ts
  packages/cursorless-engine/src/processTargets/targets/BoundedParagraphTarget.ts
  packages/cursorless-engine/src/processTargets/targets/LineTarget.ts
  packages/cursorless-engine/src/processTargets/targets/ParagraphTarget.ts
  packages/cursorless-engine/src/scopeProviders/getTargetRanges.ts
  packages/cursorless-engine/src/typings/target.types.ts
  packages/cursorless-engine/src/util/targetUtils.ts
Due: eslint

Exclude parameterized from name scope (#2781)
  data/fixtures/scopes/typescript.core/name.variable.scope
  queries/javascript.core.scm
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$, but not: /vendor/|^data/playground/
  format-recorded-tests: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
  check-recorded-test-marks: any of: ^data/fixtures/recorded/.*/[^/]*\.yml$, but not: /vendor/|^data/playground/
